# Banking APIs

```diff
In addition to minor styling updates, aligned Banking documentation to enhancements applied in the Candidate Standards
```

<%= partial "includes/additional/candidates/candidate_header.md" %>

This specification defines the APIs for Data Holders exposing Banking endpoints.

<table>
<tr><td><a href='../../../../includes/swagger/cds_banking_dp306.json'>Banking OpenAPI Specification (JSON)</a></td></tr>
<tr><td><a href='../../../../includes/swagger/cds_banking_dp306.yaml'>Banking OpenAPI Specification (YAML)</a></td></tr>
</table>

