---
swagger: "2.0"
info:
  description: API sets created by the Australian Consumer Data Standards to meet the needs of the Consumer Data Right
  version: 1.8.0
  title: Consumer Data Standards
  contact:
    name: Consumer Data Standards
    url: https://consumerdatastandards.org.au/
    email: cdr-data61@csiro.au
  license:
    name: MIT License
    url: https://opensource.org/licenses/MIT
host: data.holder.com.au
basePath: /cds-au/v1
schemes:
- https
consumes:
- application/json
produces:
- application/json
paths:
  /banking/accounts:
    get:
      tags:
      - Banking
      - Accounts
      summary: Get Accounts
      description: Obtain a list of accounts
      operationId: listAccounts
      parameters:
      - name: product-category
        in: query
        description: Used to filter results on the productCategory field applicable to accounts. Any one of the valid values for this field can be supplied. If absent then all accounts returned.
        required: false
        type: string
        enum:
        - BUSINESS_LOANS
        - CRED_AND_CHRG_CARDS
        - LEASES
        - MARGIN_LOANS
        - OVERDRAFTS
        - PERS_LOANS
        - REGULATED_TRUST_ACCOUNTS
        - RESIDENTIAL_MORTGAGES
        - TERM_DEPOSITS
        - TRADE_FINANCE
        - TRANS_AND_SAVINGS_ACCOUNTS
        - TRAVEL_CARDS
      - name: open-status
        in: query
        description: Used to filter results according to open/closed status. Values can be OPEN, CLOSED or ALL. If absent then ALL is assumed
        required: false
        type: string
        default: ALL
        enum:
        - ALL
        - CLOSED
        - OPEN
      - name: is-owned
        in: query
        description: Filters accounts based on whether they are owned by the authorised customer.  True for owned accounts, false for unowned accounts and absent for all accounts
        required: false
        type: boolean
        x-cds-type: Boolean
      - name: page
        in: query
        description: Page of results to request (standard pagination)
        required: false
        type: integer
        default: 1
        x-cds-type: PositiveInteger
      - name: page-size
        in: query
        description: Page size to request. Default is 25 (standard pagination)
        required: false
        type: integer
        default: 25
        x-cds-type: PositiveInteger
      - name: x-v
        in: header
        description: Version of the API end point requested by the client. Must be set to a positive integer. The data holder should respond with the highest supported version between [x-min-v](#request-headers) and [x-v](#request-headers). If the value of [x-min-v](#request-headers) is equal to or higher than the value of [x-v](#request-headers) then the [x-min-v](#request-headers) header should be treated as absent. If all versions requested are not supported then the data holder must respond with a 406 Not Acceptable. See [HTTP Headers](#request-headers)
        required: true
        type: string
      - name: x-min-v
        in: header
        description: Minimum version of the API end point requested by the client. Must be set to a positive integer if provided. The data holder should respond with the highest supported version between [x-min-v](#request-headers) and [x-v](#request-headers). If all versions requested are not supported then the data holder must respond with a 406 Not Acceptable.
        required: false
        type: string
      - name: x-fapi-interaction-id
        in: header
        description: An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.
        required: false
        type: string
      - name: x-fapi-auth-date
        in: header
        description: The time when the customer last logged in to the data recipient. Required for all resource calls (customer present and unattended). Not to be included for unauthenticated calls.
        required: false
        type: string
      - name: x-fapi-customer-ip-address
        in: header
        description: The customer's original IP address if the customer is currently logged in to the data recipient. The presence of this header indicates that the API is being called in a customer present context. Not to be included for unauthenticated calls.
        required: false
        type: string
      - name: x-cds-client-headers
        in: header
        description: The customer's original standard http headers [Base64](#common-field-types) encoded, including the original User Agent header, if the customer is currently logged in to the data recipient. Mandatory for customer present calls.  Not required for unattended or unauthenticated calls.
        required: false
        type: string
        x-cds-type: Base64
      responses:
        200:
          description: Success
          headers:
            x-v:
              type: string
              description: The [version](#response-headers) of the API end point that the data holder has responded with.
            x-fapi-interaction-id:
              type: string
              description: An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.
          schema:
            $ref: '#/definitions/ResponseBankingAccountList'
      x-scopes:
      - bank:accounts.basic:read
      x-version: "1"
  /banking/accounts/balances:
    get:
      tags:
      - Banking
      - Accounts
      summary: Get Bulk Balances
      description: Obtain balances for multiple, filtered accounts
      operationId: listBalancesBulk
      parameters:
      - name: product-category
        in: query
        description: Used to filter results on the productCategory field applicable to accounts. Any one of the valid values for this field can be supplied. If absent then all accounts returned.
        required: false
        type: string
        enum:
        - BUSINESS_LOANS
        - CRED_AND_CHRG_CARDS
        - LEASES
        - MARGIN_LOANS
        - OVERDRAFTS
        - PERS_LOANS
        - REGULATED_TRUST_ACCOUNTS
        - RESIDENTIAL_MORTGAGES
        - TERM_DEPOSITS
        - TRADE_FINANCE
        - TRANS_AND_SAVINGS_ACCOUNTS
        - TRAVEL_CARDS
      - name: open-status
        in: query
        description: Used to filter results according to open/closed status. Values can be OPEN, CLOSED or ALL. If absent then ALL is assumed
        required: false
        type: string
        default: ALL
        enum:
        - ALL
        - CLOSED
        - OPEN
      - name: is-owned
        in: query
        description: Filters accounts based on whether they are owned by the authorised customer.  True for owned accounts, false for unowned accounts and absent for all accounts
        required: false
        type: boolean
        x-cds-type: Boolean
      - name: page
        in: query
        description: Page of results to request (standard pagination)
        required: false
        type: integer
        default: 1
        x-cds-type: PositiveInteger
      - name: page-size
        in: query
        description: Page size to request. Default is 25 (standard pagination)
        required: false
        type: integer
        default: 25
        x-cds-type: PositiveInteger
      - name: x-v
        in: header
        description: Version of the API end point requested by the client. Must be set to a positive integer. The data holder should respond with the highest supported version between [x-min-v](#request-headers) and [x-v](#request-headers). If the value of [x-min-v](#request-headers) is equal to or higher than the value of [x-v](#request-headers) then the [x-min-v](#request-headers) header should be treated as absent. If all versions requested are not supported then the data holder must respond with a 406 Not Acceptable. See [HTTP Headers](#request-headers)
        required: true
        type: string
      - name: x-min-v
        in: header
        description: Minimum version of the API end point requested by the client. Must be set to a positive integer if provided. The data holder should respond with the highest supported version between [x-min-v](#request-headers) and [x-v](#request-headers). If all versions requested are not supported then the data holder must respond with a 406 Not Acceptable.
        required: false
        type: string
      - name: x-fapi-interaction-id
        in: header
        description: An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.
        required: false
        type: string
      - name: x-fapi-auth-date
        in: header
        description: The time when the customer last logged in to the data recipient. Required for all resource calls (customer present and unattended). Not to be included for unauthenticated calls.
        required: false
        type: string
      - name: x-fapi-customer-ip-address
        in: header
        description: The customer's original IP address if the customer is currently logged in to the data recipient. The presence of this header indicates that the API is being called in a customer present context. Not to be included for unauthenticated calls.
        required: false
        type: string
      - name: x-cds-client-headers
        in: header
        description: The customer's original standard http headers [Base64](#common-field-types) encoded, including the original User Agent header, if the customer is currently logged in to the data recipient. Mandatory for customer present calls.  Not required for unattended or unauthenticated calls.
        required: false
        type: string
        x-cds-type: Base64
      responses:
        200:
          description: Success
          headers:
            x-v:
              type: string
              description: The [version](#response-headers) of the API end point that the data holder has responded with.
            x-fapi-interaction-id:
              type: string
              description: An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.
          schema:
            $ref: '#/definitions/ResponseBankingAccountsBalanceList'
      x-scopes:
      - bank:accounts.basic:read
      x-version: "1"
    post:
      tags:
      - Banking
      - Accounts
      summary: Get Balances For Specific Accounts
      description: Obtain balances for a specified list of accounts
      operationId: listBalancesSpecificAccounts
      parameters:
      - in: body
        name: accountIds
        description: The list of account IDs to obtain balances for
        required: true
        schema:
          $ref: '#/definitions/RequestAccountIds'
      - name: page
        in: query
        description: Page of results to request (standard pagination)
        required: false
        type: integer
        default: 1
        x-cds-type: PositiveInteger
      - name: page-size
        in: query
        description: Page size to request. Default is 25 (standard pagination)
        required: false
        type: integer
        default: 25
        x-cds-type: PositiveInteger
      - name: x-v
        in: header
        description: Version of the API end point requested by the client. Must be set to a positive integer. The data holder should respond with the highest supported version between [x-min-v](#request-headers) and [x-v](#request-headers). If the value of [x-min-v](#request-headers) is equal to or higher than the value of [x-v](#request-headers) then the [x-min-v](#request-headers) header should be treated as absent. If all versions requested are not supported then the data holder must respond with a 406 Not Acceptable. See [HTTP Headers](#request-headers)
        required: true
        type: string
      - name: x-min-v
        in: header
        description: Minimum version of the API end point requested by the client. Must be set to a positive integer if provided. The data holder should respond with the highest supported version between [x-min-v](#request-headers) and [x-v](#request-headers). If all versions requested are not supported then the data holder must respond with a 406 Not Acceptable.
        required: false
        type: string
      - name: x-fapi-interaction-id
        in: header
        description: An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.
        required: false
        type: string
      - name: x-fapi-auth-date
        in: header
        description: The time when the customer last logged in to the data recipient. Required for all resource calls (customer present and unattended). Not to be included for unauthenticated calls.
        required: false
        type: string
      - name: x-fapi-customer-ip-address
        in: header
        description: The customer's original IP address if the customer is currently logged in to the data recipient. The presence of this header indicates that the API is being called in a customer present context. Not to be included for unauthenticated calls.
        required: false
        type: string
      - name: x-cds-client-headers
        in: header
        description: The customer's original standard http headers [Base64](#common-field-types) encoded, including the original User Agent header, if the customer is currently logged in to the data recipient. Mandatory for customer present calls.  Not required for unattended or unauthenticated calls.
        required: false
        type: string
        x-cds-type: Base64
      responses:
        200:
          description: Success
          headers:
            x-v:
              type: string
              description: The [version](#response-headers) of the API end point that the data holder has responded with.
            x-fapi-interaction-id:
              type: string
              description: An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.
          schema:
            $ref: '#/definitions/ResponseBankingAccountsBalanceList'
        422:
          description: The request was well formed but was unable to be processed due to business logic specific to the request.  For this API a 422 response must be given if any of the account IDs provided are invalid for the consent context
          headers:
            x-fapi-interaction-id:
              type: string
              description: An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.
          schema:
            $ref: '#/definitions/ResponseErrorList'
      x-scopes:
      - bank:accounts.basic:read
      x-version: "1"
  /banking/accounts/{accountId}/balance:
    get:
      tags:
      - Banking
      - Accounts
      summary: Get Account Balance
      description: Obtain the balance for a single specified account
      operationId: getBalance
      parameters:
      - name: accountId
        in: path
        description: ID of the specific account requested
        required: true
        type: string
        x-cds-type: ASCIIString
      - name: x-v
        in: header
        description: Version of the API end point requested by the client. Must be set to a positive integer. The data holder should respond with the highest supported version between [x-min-v](#request-headers) and [x-v](#request-headers). If the value of [x-min-v](#request-headers) is equal to or higher than the value of [x-v](#request-headers) then the [x-min-v](#request-headers) header should be treated as absent. If all versions requested are not supported then the data holder must respond with a 406 Not Acceptable. See [HTTP Headers](#request-headers)
        required: true
        type: string
      - name: x-min-v
        in: header
        description: Minimum version of the API end point requested by the client. Must be set to a positive integer if provided. The data holder should respond with the highest supported version between [x-min-v](#request-headers) and [x-v](#request-headers). If all versions requested are not supported then the data holder must respond with a 406 Not Acceptable.
        required: false
        type: string
      - name: x-fapi-interaction-id
        in: header
        description: An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.
        required: false
        type: string
      - name: x-fapi-auth-date
        in: header
        description: The time when the customer last logged in to the data recipient. Required for all resource calls (customer present and unattended). Not to be included for unauthenticated calls.
        required: false
        type: string
      - name: x-fapi-customer-ip-address
        in: header
        description: The customer's original IP address if the customer is currently logged in to the data recipient. The presence of this header indicates that the API is being called in a customer present context. Not to be included for unauthenticated calls.
        required: false
        type: string
      - name: x-cds-client-headers
        in: header
        description: The customer's original standard http headers [Base64](#common-field-types) encoded, including the original User Agent header, if the customer is currently logged in to the data recipient. Mandatory for customer present calls.  Not required for unattended or unauthenticated calls.
        required: false
        type: string
        x-cds-type: Base64
      responses:
        200:
          description: Success
          headers:
            x-v:
              type: string
              description: The [version](#response-headers) of the API end point that the data holder has responded with.
            x-fapi-interaction-id:
              type: string
              description: An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.
          schema:
            $ref: '#/definitions/ResponseBankingAccountsBalanceById'
      x-scopes:
      - bank:accounts.basic:read
      x-version: "1"
  /banking/accounts/{accountId}:
    get:
      tags:
      - Banking
      - Accounts
      summary: Get Account Detail
      description: Obtain detailed information on a single account
      operationId: getAccountDetail
      parameters:
      - name: accountId
        in: path
        description: A tokenised identifier for the account which is unique but not shareable
        required: true
        type: string
        x-cds-type: ASCIIString
      - name: x-v
        in: header
        description: Version of the API end point requested by the client. Must be set to a positive integer. The data holder should respond with the highest supported version between [x-min-v](#request-headers) and [x-v](#request-headers). If the value of [x-min-v](#request-headers) is equal to or higher than the value of [x-v](#request-headers) then the [x-min-v](#request-headers) header should be treated as absent. If all versions requested are not supported then the data holder must respond with a 406 Not Acceptable. See [HTTP Headers](#request-headers)
        required: true
        type: string
      - name: x-min-v
        in: header
        description: Minimum version of the API end point requested by the client. Must be set to a positive integer if provided. The data holder should respond with the highest supported version between [x-min-v](#request-headers) and [x-v](#request-headers). If all versions requested are not supported then the data holder must respond with a 406 Not Acceptable.
        required: false
        type: string
      - name: x-fapi-interaction-id
        in: header
        description: An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.
        required: false
        type: string
      - name: x-fapi-auth-date
        in: header
        description: The time when the customer last logged in to the data recipient. Required for all resource calls (customer present and unattended). Not to be included for unauthenticated calls.
        required: false
        type: string
      - name: x-fapi-customer-ip-address
        in: header
        description: The customer's original IP address if the customer is currently logged in to the data recipient. The presence of this header indicates that the API is being called in a customer present context. Not to be included for unauthenticated calls.
        required: false
        type: string
      - name: x-cds-client-headers
        in: header
        description: The customer's original standard http headers [Base64](#common-field-types) encoded, including the original User Agent header, if the customer is currently logged in to the data recipient. Mandatory for customer present calls.  Not required for unattended or unauthenticated calls.
        required: false
        type: string
        x-cds-type: Base64
      responses:
        200:
          description: Success
          headers:
            x-v:
              type: string
              description: The [version](#response-headers) of the API end point that the data holder has responded with.
            x-fapi-interaction-id:
              type: string
              description: An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.
          schema:
            $ref: '#/definitions/ResponseBankingAccountById'
      x-scopes:
      - bank:accounts.detail:read
      x-version: "1"
  /banking/accounts/{accountId}/transactions:
    get:
      tags:
      - Banking
      - Accounts
      summary: Get Transactions For Account
      description: |-
        Obtain transactions for a specific account.

        Some general notes that apply to all end points that retrieve transactions:

        - Where multiple transactions are returned, transactions should be ordered according to effective date in descending order
        - As the date and time for a transaction can alter depending on status and transaction type two separate date/times are included in the payload. There are still some scenarios where neither of these time stamps is available. For the purpose of filtering and ordering it is expected that the data holder will use the “effective” date/time which will be defined as:
          - Posted date/time if available, then
          - Execution date/time if available, then
          - A reasonable date/time nominated by the data holder using internal data structures
        - For transaction amounts it should be assumed that a negative value indicates a reduction of the available balance on the account while a positive value indicates an increase in the available balance on the account
        - For aggregated transactions (ie. groups of sub transactions reported as a single entry for the account) only the aggregated information, with as much consistent information accross the subsidiary transactions as possible, is required to be shared
      operationId: getTransactions
      parameters:
      - name: accountId
        in: path
        description: ID of the account to get transactions for.  Must have previously been returned by one of the account list end points.
        required: true
        type: string
        x-cds-type: ASCIIString
      - name: oldest-time
        in: query
        description: Constrain the transaction history request to transactions with effective time at or after this date/time. If absent defaults to newest-time minus 90 days.  Format is aligned to DateTimeString common type
        required: false
        type: string
        x-cds-type: DateTimeString
      - name: newest-time
        in: query
        description: Constrain the transaction history request to transactions with effective time at or before this date/time.  If absent defaults to today.  Format is aligned to DateTimeString common type
        required: false
        type: string
        x-cds-type: DateTimeString
      - name: min-amount
        in: query
        description: Filter transactions to only transactions with amounts higher or equal to than this amount
        required: false
        type: string
        x-cds-type: AmountString
      - name: max-amount
        in: query
        description: Filter transactions to only transactions with amounts less than or equal to than this amount
        required: false
        type: string
        x-cds-type: AmountString
      - name: text
        in: query
        description: Filter transactions to only transactions where this string value is found as a substring of either the reference or description fields. Format is arbitrary ASCII string. This parameter is optionally implemented by data holders. If it is not implemented then a response should be provided as normal without text filtering applied and an additional boolean field named isQueryParamUnsupported should be included in the meta object and set to true (whether the text parameter is supplied or not)
        required: false
        type: string
      - name: page
        in: query
        description: Page of results to request (standard pagination)
        required: false
        type: integer
        default: 1
        x-cds-type: PositiveInteger
      - name: page-size
        in: query
        description: Page size to request. Default is 25 (standard pagination)
        required: false
        type: integer
        default: 25
        x-cds-type: PositiveInteger
      - name: x-v
        in: header
        description: Version of the API end point requested by the client. Must be set to a positive integer. The data holder should respond with the highest supported version between [x-min-v](#request-headers) and [x-v](#request-headers). If the value of [x-min-v](#request-headers) is equal to or higher than the value of [x-v](#request-headers) then the [x-min-v](#request-headers) header should be treated as absent. If all versions requested are not supported then the data holder must respond with a 406 Not Acceptable. See [HTTP Headers](#request-headers)
        required: true
        type: string
      - name: x-min-v
        in: header
        description: Minimum version of the API end point requested by the client. Must be set to a positive integer if provided. The data holder should respond with the highest supported version between [x-min-v](#request-headers) and [x-v](#request-headers). If all versions requested are not supported then the data holder must respond with a 406 Not Acceptable.
        required: false
        type: string
      - name: x-fapi-interaction-id
        in: header
        description: An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.
        required: false
        type: string
      - name: x-fapi-auth-date
        in: header
        description: The time when the customer last logged in to the data recipient. Required for all resource calls (customer present and unattended). Not to be included for unauthenticated calls.
        required: false
        type: string
      - name: x-fapi-customer-ip-address
        in: header
        description: The customer's original IP address if the customer is currently logged in to the data recipient. The presence of this header indicates that the API is being called in a customer present context. Not to be included for unauthenticated calls.
        required: false
        type: string
      - name: x-cds-client-headers
        in: header
        description: The customer's original standard http headers [Base64](#common-field-types) encoded, including the original User Agent header, if the customer is currently logged in to the data recipient. Mandatory for customer present calls.  Not required for unattended or unauthenticated calls.
        required: false
        type: string
        x-cds-type: Base64
      responses:
        200:
          description: Success
          headers:
            x-v:
              type: string
              description: The [version](#response-headers) of the API end point that the data holder has responded with.
            x-fapi-interaction-id:
              type: string
              description: An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.
          schema:
            $ref: '#/definitions/ResponseBankingTransactionList'
      x-scopes:
      - bank:transactions:read
      x-version: "1"
  /banking/accounts/{accountId}/transactions/{transactionId}:
    get:
      tags:
      - Banking
      - Accounts
      summary: Get Transaction Detail
      description: Obtain detailed information on a transaction for a specific account
      operationId: getTransactionDetail
      parameters:
      - name: accountId
        in: path
        description: ID of the account to get transactions for.  Must have previously been returned by one of the account list end points
        required: true
        type: string
        x-cds-type: ASCIIString
      - name: transactionId
        in: path
        description: ID of the transaction obtained from a previous call to one of the other transaction end points
        required: true
        type: string
        x-cds-type: ASCIIString
      - name: x-v
        in: header
        description: Version of the API end point requested by the client. Must be set to a positive integer. The data holder should respond with the highest supported version between [x-min-v](#request-headers) and [x-v](#request-headers). If the value of [x-min-v](#request-headers) is equal to or higher than the value of [x-v](#request-headers) then the [x-min-v](#request-headers) header should be treated as absent. If all versions requested are not supported then the data holder must respond with a 406 Not Acceptable. See [HTTP Headers](#request-headers)
        required: true
        type: string
      - name: x-min-v
        in: header
        description: Minimum version of the API end point requested by the client. Must be set to a positive integer if provided. The data holder should respond with the highest supported version between [x-min-v](#request-headers) and [x-v](#request-headers). If all versions requested are not supported then the data holder must respond with a 406 Not Acceptable.
        required: false
        type: string
      - name: x-fapi-interaction-id
        in: header
        description: An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.
        required: false
        type: string
      - name: x-fapi-auth-date
        in: header
        description: The time when the customer last logged in to the data recipient. Required for all resource calls (customer present and unattended). Not to be included for unauthenticated calls.
        required: false
        type: string
      - name: x-fapi-customer-ip-address
        in: header
        description: The customer's original IP address if the customer is currently logged in to the data recipient. The presence of this header indicates that the API is being called in a customer present context. Not to be included for unauthenticated calls.
        required: false
        type: string
      - name: x-cds-client-headers
        in: header
        description: The customer's original standard http headers [Base64](#common-field-types) encoded, including the original User Agent header, if the customer is currently logged in to the data recipient. Mandatory for customer present calls.  Not required for unattended or unauthenticated calls.
        required: false
        type: string
        x-cds-type: Base64
      responses:
        200:
          description: Success
          headers:
            x-v:
              type: string
              description: The [version](#response-headers) of the API end point that the data holder has responded with.
            x-fapi-interaction-id:
              type: string
              description: An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.
          schema:
            $ref: '#/definitions/ResponseBankingTransactionById'
      x-scopes:
      - bank:transactions:read
      x-version: "1"
  /banking/accounts/{accountId}/direct-debits:
    get:
      tags:
      - Banking
      - Direct Debits
      summary: Get Direct Debits For Account
      description: Obtain direct debit authorisations for a specific account
      operationId: listDirectDebits
      parameters:
      - name: accountId
        in: path
        description: ID of the account to get direct debit authorisations for.  Must have previously been returned by one of the account list end points.
        required: true
        type: string
        x-cds-type: ASCIIString
      - name: page
        in: query
        description: Page of results to request (standard pagination)
        required: false
        type: integer
        default: 1
        x-cds-type: PositiveInteger
      - name: page-size
        in: query
        description: Page size to request. Default is 25 (standard pagination)
        required: false
        type: integer
        default: 25
        x-cds-type: PositiveInteger
      - name: x-v
        in: header
        description: Version of the API end point requested by the client. Must be set to a positive integer. The data holder should respond with the highest supported version between [x-min-v](#request-headers) and [x-v](#request-headers). If the value of [x-min-v](#request-headers) is equal to or higher than the value of [x-v](#request-headers) then the [x-min-v](#request-headers) header should be treated as absent. If all versions requested are not supported then the data holder must respond with a 406 Not Acceptable. See [HTTP Headers](#request-headers)
        required: true
        type: string
      - name: x-min-v
        in: header
        description: Minimum version of the API end point requested by the client. Must be set to a positive integer if provided. The data holder should respond with the highest supported version between [x-min-v](#request-headers) and [x-v](#request-headers). If all versions requested are not supported then the data holder must respond with a 406 Not Acceptable.
        required: false
        type: string
      - name: x-fapi-interaction-id
        in: header
        description: An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.
        required: false
        type: string
      - name: x-fapi-auth-date
        in: header
        description: The time when the customer last logged in to the data recipient. Required for all resource calls (customer present and unattended). Not to be included for unauthenticated calls.
        required: false
        type: string
      - name: x-fapi-customer-ip-address
        in: header
        description: The customer's original IP address if the customer is currently logged in to the data recipient. The presence of this header indicates that the API is being called in a customer present context. Not to be included for unauthenticated calls.
        required: false
        type: string
      - name: x-cds-client-headers
        in: header
        description: The customer's original standard http headers [Base64](#common-field-types) encoded, including the original User Agent header, if the customer is currently logged in to the data recipient. Mandatory for customer present calls.  Not required for unattended or unauthenticated calls.
        required: false
        type: string
        x-cds-type: Base64
      responses:
        200:
          description: Success
          headers:
            x-v:
              type: string
              description: The [version](#response-headers) of the API end point that the data holder has responded with.
            x-fapi-interaction-id:
              type: string
              description: An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.
          schema:
            $ref: '#/definitions/ResponseBankingDirectDebitAuthorisationList'
      x-scopes:
      - bank:regular_payments:read
      x-version: "1"
  /banking/accounts/direct-debits:
    get:
      tags:
      - Banking
      - Direct Debits
      summary: Get Bulk Direct Debits
      description: Obtain direct debit authorisations for multiple, filtered accounts
      operationId: listDirectDebitsBulk
      parameters:
      - name: product-category
        in: query
        description: Used to filter results on the productCategory field applicable to accounts. Any one of the valid values for this field can be supplied. If absent then all accounts returned.
        required: false
        type: string
        enum:
        - BUSINESS_LOANS
        - CRED_AND_CHRG_CARDS
        - LEASES
        - MARGIN_LOANS
        - OVERDRAFTS
        - PERS_LOANS
        - REGULATED_TRUST_ACCOUNTS
        - RESIDENTIAL_MORTGAGES
        - TERM_DEPOSITS
        - TRADE_FINANCE
        - TRANS_AND_SAVINGS_ACCOUNTS
        - TRAVEL_CARDS
      - name: open-status
        in: query
        description: Used to filter results according to open/closed status. Values can be OPEN, CLOSED or ALL. If absent then ALL is assumed
        required: false
        type: string
        default: ALL
        enum:
        - ALL
        - CLOSED
        - OPEN
      - name: is-owned
        in: query
        description: Filters accounts based on whether they are owned by the authorised customer.  True for owned accounts, false for unowned accounts and absent for all accounts
        required: false
        type: boolean
        x-cds-type: Boolean
      - name: page
        in: query
        description: Page of results to request (standard pagination)
        required: false
        type: integer
        default: 1
        x-cds-type: PositiveInteger
      - name: page-size
        in: query
        description: Page size to request. Default is 25 (standard pagination)
        required: false
        type: integer
        default: 25
        x-cds-type: PositiveInteger
      - name: x-v
        in: header
        description: Version of the API end point requested by the client. Must be set to a positive integer. The data holder should respond with the highest supported version between [x-min-v](#request-headers) and [x-v](#request-headers). If the value of [x-min-v](#request-headers) is equal to or higher than the value of [x-v](#request-headers) then the [x-min-v](#request-headers) header should be treated as absent. If all versions requested are not supported then the data holder must respond with a 406 Not Acceptable. See [HTTP Headers](#request-headers)
        required: true
        type: string
      - name: x-min-v
        in: header
        description: Minimum version of the API end point requested by the client. Must be set to a positive integer if provided. The data holder should respond with the highest supported version between [x-min-v](#request-headers) and [x-v](#request-headers). If all versions requested are not supported then the data holder must respond with a 406 Not Acceptable.
        required: false
        type: string
      - name: x-fapi-interaction-id
        in: header
        description: An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.
        required: false
        type: string
      - name: x-fapi-auth-date
        in: header
        description: The time when the customer last logged in to the data recipient. Required for all resource calls (customer present and unattended). Not to be included for unauthenticated calls.
        required: false
        type: string
      - name: x-fapi-customer-ip-address
        in: header
        description: The customer's original IP address if the customer is currently logged in to the data recipient. The presence of this header indicates that the API is being called in a customer present context. Not to be included for unauthenticated calls.
        required: false
        type: string
      - name: x-cds-client-headers
        in: header
        description: The customer's original standard http headers [Base64](#common-field-types) encoded, including the original User Agent header, if the customer is currently logged in to the data recipient. Mandatory for customer present calls.  Not required for unattended or unauthenticated calls.
        required: false
        type: string
        x-cds-type: Base64
      responses:
        200:
          description: Success
          headers:
            x-v:
              type: string
              description: The [version](#response-headers) of the API end point that the data holder has responded with.
            x-fapi-interaction-id:
              type: string
              description: An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.
          schema:
            $ref: '#/definitions/ResponseBankingDirectDebitAuthorisationList'
      x-scopes:
      - bank:regular_payments:read
      x-version: "1"
    post:
      tags:
      - Banking
      - Direct Debits
      summary: Get Direct Debits For Specific Accounts
      description: Obtain direct debit authorisations for a specified list of accounts
      operationId: listDirectDebitsSpecificAccounts
      parameters:
      - in: body
        name: accountIds
        description: Array of specific accountIds to obtain authorisations for
        required: true
        schema:
          $ref: '#/definitions/RequestAccountIds'
      - name: page
        in: query
        description: Page of results to request (standard pagination)
        required: false
        type: integer
        default: 1
        x-cds-type: PositiveInteger
      - name: page-size
        in: query
        description: Page size to request. Default is 25 (standard pagination)
        required: false
        type: integer
        default: 25
        x-cds-type: PositiveInteger
      - name: x-v
        in: header
        description: Version of the API end point requested by the client. Must be set to a positive integer. The data holder should respond with the highest supported version between [x-min-v](#request-headers) and [x-v](#request-headers). If the value of [x-min-v](#request-headers) is equal to or higher than the value of [x-v](#request-headers) then the [x-min-v](#request-headers) header should be treated as absent. If all versions requested are not supported then the data holder must respond with a 406 Not Acceptable. See [HTTP Headers](#request-headers)
        required: true
        type: string
      - name: x-min-v
        in: header
        description: Minimum version of the API end point requested by the client. Must be set to a positive integer if provided. The data holder should respond with the highest supported version between [x-min-v](#request-headers) and [x-v](#request-headers). If all versions requested are not supported then the data holder must respond with a 406 Not Acceptable.
        required: false
        type: string
      - name: x-fapi-interaction-id
        in: header
        description: An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.
        required: false
        type: string
      - name: x-fapi-auth-date
        in: header
        description: The time when the customer last logged in to the data recipient. Required for all resource calls (customer present and unattended). Not to be included for unauthenticated calls.
        required: false
        type: string
      - name: x-fapi-customer-ip-address
        in: header
        description: The customer's original IP address if the customer is currently logged in to the data recipient. The presence of this header indicates that the API is being called in a customer present context. Not to be included for unauthenticated calls.
        required: false
        type: string
      - name: x-cds-client-headers
        in: header
        description: The customer's original standard http headers [Base64](#common-field-types) encoded, including the original User Agent header, if the customer is currently logged in to the data recipient. Mandatory for customer present calls.  Not required for unattended or unauthenticated calls.
        required: false
        type: string
        x-cds-type: Base64
      responses:
        200:
          description: Success
          headers:
            x-v:
              type: string
              description: The [version](#response-headers) of the API end point that the data holder has responded with.
            x-fapi-interaction-id:
              type: string
              description: An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.
          schema:
            $ref: '#/definitions/ResponseBankingDirectDebitAuthorisationList'
        422:
          description: The request was well formed but was unable to be processed due to business logic specific to the request.  For this API a 422 response must be given if any of the account IDs provided are invalid for the consent context
          headers:
            x-fapi-interaction-id:
              type: string
              description: An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.
          schema:
            $ref: '#/definitions/ResponseErrorList'
      x-scopes:
      - bank:regular_payments:read
      x-version: "1"
  /banking/accounts/{accountId}/payments/scheduled:
    get:
      tags:
      - Banking
      - Scheduled Payments
      summary: Get Scheduled Payments for Account
      description: Obtain scheduled, outgoing payments for a specific account
      operationId: listScheduledPayments
      parameters:
      - name: accountId
        in: path
        description: ID of the account to get scheduled payments for. Must have previously been returned by one of the account list end points. The account specified is the source account for the payment
        required: true
        type: string
        x-cds-type: ASCIIString
      - name: page
        in: query
        description: Page of results to request (standard pagination)
        required: false
        type: integer
        default: 1
        x-cds-type: PositiveInteger
      - name: page-size
        in: query
        description: Page size to request. Default is 25 (standard pagination)
        required: false
        type: integer
        default: 25
        x-cds-type: PositiveInteger
      - name: x-v
        in: header
        description: Version of the API end point requested by the client. Must be set to a positive integer. The data holder should respond with the highest supported version between [x-min-v](#request-headers) and [x-v](#request-headers). If the value of [x-min-v](#request-headers) is equal to or higher than the value of [x-v](#request-headers) then the [x-min-v](#request-headers) header should be treated as absent. If all versions requested are not supported then the data holder must respond with a 406 Not Acceptable. See [HTTP Headers](#request-headers)
        required: true
        type: string
      - name: x-min-v
        in: header
        description: Minimum version of the API end point requested by the client. Must be set to a positive integer if provided. The data holder should respond with the highest supported version between [x-min-v](#request-headers) and [x-v](#request-headers). If all versions requested are not supported then the data holder must respond with a 406 Not Acceptable.
        required: false
        type: string
      - name: x-fapi-interaction-id
        in: header
        description: An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.
        required: false
        type: string
      - name: x-fapi-auth-date
        in: header
        description: The time when the customer last logged in to the data recipient. Required for all resource calls (customer present and unattended). Not to be included for unauthenticated calls.
        required: false
        type: string
      - name: x-fapi-customer-ip-address
        in: header
        description: The customer's original IP address if the customer is currently logged in to the data recipient. The presence of this header indicates that the API is being called in a customer present context. Not to be included for unauthenticated calls.
        required: false
        type: string
      - name: x-cds-client-headers
        in: header
        description: The customer's original standard http headers [Base64](#common-field-types) encoded, including the original User Agent header, if the customer is currently logged in to the data recipient. Mandatory for customer present calls.  Not required for unattended or unauthenticated calls.
        required: false
        type: string
        x-cds-type: Base64
      responses:
        200:
          description: Success
          headers:
            x-v:
              type: string
              description: The [version](#response-headers) of the API end point that the data holder has responded with.
            x-fapi-interaction-id:
              type: string
              description: An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.
          schema:
            $ref: '#/definitions/ResponseBankingScheduledPaymentsList'
      x-scopes:
      - bank:regular_payments:read
      x-version: "1"
  /banking/payments/scheduled:
    get:
      tags:
      - Banking
      - Scheduled Payments
      summary: Get Scheduled Payments Bulk
      description: Obtain scheduled payments for multiple, filtered accounts that are the source of funds for the payments
      operationId: listScheduledPaymentsBulk
      parameters:
      - name: product-category
        in: query
        description: Used to filter results on the productCategory field applicable to accounts. Any one of the valid values for this field can be supplied. If absent then all accounts returned.
        required: false
        type: string
        enum:
        - BUSINESS_LOANS
        - CRED_AND_CHRG_CARDS
        - LEASES
        - MARGIN_LOANS
        - OVERDRAFTS
        - PERS_LOANS
        - REGULATED_TRUST_ACCOUNTS
        - RESIDENTIAL_MORTGAGES
        - TERM_DEPOSITS
        - TRADE_FINANCE
        - TRANS_AND_SAVINGS_ACCOUNTS
        - TRAVEL_CARDS
      - name: open-status
        in: query
        description: Used to filter results according to open/closed status. Values can be OPEN, CLOSED or ALL. If absent then ALL is assumed
        required: false
        type: string
        default: ALL
        enum:
        - ALL
        - CLOSED
        - OPEN
      - name: is-owned
        in: query
        description: Filters accounts based on whether they are owned by the authorised customer.  True for owned accounts, false for unowned accounts and absent for all accounts
        required: false
        type: boolean
        x-cds-type: Boolean
      - name: page
        in: query
        description: Page of results to request (standard pagination)
        required: false
        type: integer
        default: 1
        x-cds-type: PositiveInteger
      - name: page-size
        in: query
        description: Page size to request. Default is 25 (standard pagination)
        required: false
        type: integer
        default: 25
        x-cds-type: PositiveInteger
      - name: x-v
        in: header
        description: Version of the API end point requested by the client. Must be set to a positive integer. The data holder should respond with the highest supported version between [x-min-v](#request-headers) and [x-v](#request-headers). If the value of [x-min-v](#request-headers) is equal to or higher than the value of [x-v](#request-headers) then the [x-min-v](#request-headers) header should be treated as absent. If all versions requested are not supported then the data holder must respond with a 406 Not Acceptable. See [HTTP Headers](#request-headers)
        required: true
        type: string
      - name: x-min-v
        in: header
        description: Minimum version of the API end point requested by the client. Must be set to a positive integer if provided. The data holder should respond with the highest supported version between [x-min-v](#request-headers) and [x-v](#request-headers). If all versions requested are not supported then the data holder must respond with a 406 Not Acceptable.
        required: false
        type: string
      - name: x-fapi-interaction-id
        in: header
        description: An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.
        required: false
        type: string
      - name: x-fapi-auth-date
        in: header
        description: The time when the customer last logged in to the data recipient. Required for all resource calls (customer present and unattended). Not to be included for unauthenticated calls.
        required: false
        type: string
      - name: x-fapi-customer-ip-address
        in: header
        description: The customer's original IP address if the customer is currently logged in to the data recipient. The presence of this header indicates that the API is being called in a customer present context. Not to be included for unauthenticated calls.
        required: false
        type: string
      - name: x-cds-client-headers
        in: header
        description: The customer's original standard http headers [Base64](#common-field-types) encoded, including the original User Agent header, if the customer is currently logged in to the data recipient. Mandatory for customer present calls.  Not required for unattended or unauthenticated calls.
        required: false
        type: string
        x-cds-type: Base64
      responses:
        200:
          description: Success
          headers:
            x-v:
              type: string
              description: The [version](#response-headers) of the API end point that the data holder has responded with.
            x-fapi-interaction-id:
              type: string
              description: An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.
          schema:
            $ref: '#/definitions/ResponseBankingScheduledPaymentsList'
      x-scopes:
      - bank:regular_payments:read
      x-version: "1"
    post:
      tags:
      - Banking
      - Scheduled Payments
      summary: Get Scheduled Payments For Specific Accounts
      description: Obtain scheduled payments for a specified list of accounts
      operationId: listScheduledPaymentsSpecificAccounts
      parameters:
      - in: body
        name: accountIds
        description: Array of specific accountIds to obtain scheduled payments for.  The accounts specified are the source of funds for the payments returned
        required: true
        schema:
          $ref: '#/definitions/RequestAccountIds'
      - name: page
        in: query
        description: Page of results to request (standard pagination)
        required: false
        type: integer
        default: 1
        x-cds-type: PositiveInteger
      - name: page-size
        in: query
        description: Page size to request. Default is 25 (standard pagination)
        required: false
        type: integer
        default: 25
        x-cds-type: PositiveInteger
      - name: x-v
        in: header
        description: Version of the API end point requested by the client. Must be set to a positive integer. The data holder should respond with the highest supported version between [x-min-v](#request-headers) and [x-v](#request-headers). If the value of [x-min-v](#request-headers) is equal to or higher than the value of [x-v](#request-headers) then the [x-min-v](#request-headers) header should be treated as absent. If all versions requested are not supported then the data holder must respond with a 406 Not Acceptable. See [HTTP Headers](#request-headers)
        required: true
        type: string
      - name: x-min-v
        in: header
        description: Minimum version of the API end point requested by the client. Must be set to a positive integer if provided. The data holder should respond with the highest supported version between [x-min-v](#request-headers) and [x-v](#request-headers). If all versions requested are not supported then the data holder must respond with a 406 Not Acceptable.
        required: false
        type: string
      - name: x-fapi-interaction-id
        in: header
        description: An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.
        required: false
        type: string
      - name: x-fapi-auth-date
        in: header
        description: The time when the customer last logged in to the data recipient. Required for all resource calls (customer present and unattended). Not to be included for unauthenticated calls.
        required: false
        type: string
      - name: x-fapi-customer-ip-address
        in: header
        description: The customer's original IP address if the customer is currently logged in to the data recipient. The presence of this header indicates that the API is being called in a customer present context. Not to be included for unauthenticated calls.
        required: false
        type: string
      - name: x-cds-client-headers
        in: header
        description: The customer's original standard http headers [Base64](#common-field-types) encoded, including the original User Agent header, if the customer is currently logged in to the data recipient. Mandatory for customer present calls.  Not required for unattended or unauthenticated calls.
        required: false
        type: string
        x-cds-type: Base64
      responses:
        200:
          description: Success
          headers:
            x-v:
              type: string
              description: The [version](#response-headers) of the API end point that the data holder has responded with.
            x-fapi-interaction-id:
              type: string
              description: An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.
          schema:
            $ref: '#/definitions/ResponseBankingScheduledPaymentsList'
        422:
          description: The request was well formed but was unable to be processed due to business logic specific to the request.  For this API a 422 response must be given if any of the account IDs provided are invalid for the consent context
          headers:
            x-fapi-interaction-id:
              type: string
              description: An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.
          schema:
            $ref: '#/definitions/ResponseErrorList'
      x-scopes:
      - bank:regular_payments:read
      x-version: "1"
  /banking/payees:
    get:
      tags:
      - Banking
      - Payees
      summary: Get Payees
      description: Obtain a list of pre-registered payees
      operationId: listPayees
      parameters:
      - name: type
        in: query
        description: Filter on the payee type field.  In addition to normal type field values, ALL can be specified to retrieve all payees.  If absent the assumed value is ALL
        required: false
        type: string
        default: ALL
        enum:
        - ALL
        - BILLER
        - DOMESTIC
        - INTERNATIONAL
      - name: page
        in: query
        description: Page of results to request (standard pagination)
        required: false
        type: integer
        default: 1
        x-cds-type: PositiveInteger
      - name: page-size
        in: query
        description: Page size to request. Default is 25 (standard pagination)
        required: false
        type: integer
        default: 25
        x-cds-type: PositiveInteger
      - name: x-v
        in: header
        description: Version of the API end point requested by the client. Must be set to a positive integer. The data holder should respond with the highest supported version between [x-min-v](#request-headers) and [x-v](#request-headers). If the value of [x-min-v](#request-headers) is equal to or higher than the value of [x-v](#request-headers) then the [x-min-v](#request-headers) header should be treated as absent. If all versions requested are not supported then the data holder must respond with a 406 Not Acceptable. See [HTTP Headers](#request-headers)
        required: true
        type: string
      - name: x-min-v
        in: header
        description: Minimum version of the API end point requested by the client. Must be set to a positive integer if provided. The data holder should respond with the highest supported version between [x-min-v](#request-headers) and [x-v](#request-headers). If all versions requested are not supported then the data holder must respond with a 406 Not Acceptable.
        required: false
        type: string
      - name: x-fapi-interaction-id
        in: header
        description: An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.
        required: false
        type: string
      - name: x-fapi-auth-date
        in: header
        description: The time when the customer last logged in to the data recipient. Required for all resource calls (customer present and unattended). Not to be included for unauthenticated calls.
        required: false
        type: string
      - name: x-fapi-customer-ip-address
        in: header
        description: The customer's original IP address if the customer is currently logged in to the data recipient. The presence of this header indicates that the API is being called in a customer present context. Not to be included for unauthenticated calls.
        required: false
        type: string
      - name: x-cds-client-headers
        in: header
        description: The customer's original standard http headers [Base64](#common-field-types) encoded, including the original User Agent header, if the customer is currently logged in to the data recipient. Mandatory for customer present calls.  Not required for unattended or unauthenticated calls.
        required: false
        type: string
        x-cds-type: Base64
      responses:
        200:
          description: Success
          headers:
            x-v:
              type: string
              description: The [version](#response-headers) of the API end point that the data holder has responded with.
            x-fapi-interaction-id:
              type: string
              description: An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.
          schema:
            $ref: '#/definitions/ResponseBankingPayeeList'
      x-scopes:
      - bank:payees:read
      x-version: "1"
  /banking/payees/{payeeId}:
    get:
      tags:
      - Banking
      - Payees
      summary: Get Payee Detail
      description: |-
        Obtain detailed information on a single payee.

        Note that the payee sub-structure should be selected to represent the payment destination only rather than any known characteristics of the payment recipient
      operationId: getPayeeDetail
      parameters:
      - name: payeeId
        in: path
        description: The ID used to locate the details of a particular payee
        required: true
        type: string
        x-cds-type: ASCIIString
      - name: x-v
        in: header
        description: Version of the API end point requested by the client. Must be set to a positive integer. The data holder should respond with the highest supported version between [x-min-v](#request-headers) and [x-v](#request-headers). If the value of [x-min-v](#request-headers) is equal to or higher than the value of [x-v](#request-headers) then the [x-min-v](#request-headers) header should be treated as absent. If all versions requested are not supported then the data holder must respond with a 406 Not Acceptable. See [HTTP Headers](#request-headers)
        required: true
        type: string
      - name: x-min-v
        in: header
        description: Minimum version of the API end point requested by the client. Must be set to a positive integer if provided. The data holder should respond with the highest supported version between [x-min-v](#request-headers) and [x-v](#request-headers). If all versions requested are not supported then the data holder must respond with a 406 Not Acceptable.
        required: false
        type: string
      - name: x-fapi-interaction-id
        in: header
        description: An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.
        required: false
        type: string
      - name: x-fapi-auth-date
        in: header
        description: The time when the customer last logged in to the data recipient. Required for all resource calls (customer present and unattended). Not to be included for unauthenticated calls.
        required: false
        type: string
      - name: x-fapi-customer-ip-address
        in: header
        description: The customer's original IP address if the customer is currently logged in to the data recipient. The presence of this header indicates that the API is being called in a customer present context. Not to be included for unauthenticated calls.
        required: false
        type: string
      - name: x-cds-client-headers
        in: header
        description: The customer's original standard http headers [Base64](#common-field-types) encoded, including the original User Agent header, if the customer is currently logged in to the data recipient. Mandatory for customer present calls.  Not required for unattended or unauthenticated calls.
        required: false
        type: string
        x-cds-type: Base64
      responses:
        200:
          description: Success
          headers:
            x-v:
              type: string
              description: The [version](#response-headers) of the API end point that the data holder has responded with.
            x-fapi-interaction-id:
              type: string
              description: An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.
          schema:
            $ref: '#/definitions/ResponseBankingPayeeById'
      x-scopes:
      - bank:payees:read
      x-version: "1"
  /banking/products:
    get:
      tags:
      - Banking
      - Products
      summary: Get Products
      description: |-
        Obtain a list of products that are currently openly offered to the market

        Note that the results returned by this end point are expected to be ordered in descending order according to ``lastUpdated``.

        ### Conventions
        In the product reference payloads there are a number of recurring conventions that are explained here, in one place.

        #### Arrays Of Features

        In the product detail payload there are a number of arrays articulating generic features, constraints, prices, etc. The intent of these arrays is as follows:

        - Each element in an array has the same structure so that clients can reliably interpret the payloads
        - Each element as a type element that is an enumeration of the specific aspect of a product being described, such as types of fees.
        - Each element has a field name [additionalValue](#productfeaturetypedoc).  This is a generic field with contents that will vary based on the type of object being described. The contents of this field for the ADDITIONAL_CARDS feature is the number of cards allowed while the contents of this field for the MAX_LIMIT constraint would be the maximum credit limit allowed for the product.
        - An element in these arrays of the same type may appear more than once. For instance, a product may offer two separate loyalty programs that the customer can select from. A fixed term mortgage may have different rates for different term lengths.
        - An element in these arrays may contain an additionalInfo and additionalInfoUri field. The additionalInfo field is used to provide displayable text clarifying the purpose of the element in some way when the product is presented to a customer. The additionalInfoUri provides a link to externally hosted information specifically relevant to that feature of the product.
        - Depending on the type of data being represented there may be additional specific fields.

        #### URIs To More Information

        As the complexities and nuances of a financial product can not easily be fully expressed in a data structure without a high degree of complexity it is necessary to provide additional reference information that a potential customer can access so that they are fully informed of the features and implications of the product. The payloads for product reference therefore contain numerous fields that are provided to allow the product holder to describe the product more fully using a web page hosted on their online channels.

        These URIs do not need to all link to different pages. If desired, they can all link to a single hosted page and use difference HTML anchors to focus on a specific topic such as eligibility or fees.

        #### Linkage To Accounts
        From the moment that a customer applies for a product and an account is created the account and the product that spawned it will diverge.  Rates and features of the product may change and a discount may be negotiated for the account.

        For this reason, while productCategory is a common field between accounts and products, there is no specific ID that can be used to link an account to a product within the regime.

        Similarly, many of the fields and objects in the product payload will appear in the account detail payload but the structures and semantics are not identical as one refers to a product that can potentially be originated and one refers to an account that actual has been instantiated and created along with the associated decisions inherent in that process.

        #### Dates
        It is expected that data consumers needing this data will call relatively frequently to ensure the data they have is representative of the current offering from a bank.  To minimise the volume and frequency of these calls the ability to set a lastUpdated field with the date and time of the last update to this product is included.  A call for a list of products can then be filtered to only return products that have been updated since the last time that data was obtained using the updated-since query parameter.

        In addition, the concept of effective date and time has also been included.  This allows for a product to be marked for obsolescence, or introduction, from a certain time without the need for an update to show that a product has been changed.  The inclusion of these dates also removes the need to represent deleted products in the payload.  Products that are no long offered can be marked not effective for a few weeks before they are then removed from the product set as an option entirely.

        NOTE: This version must be implemented by **February 2021**

        Obsolete versions: [v1](includes/obsolete/get-products-v1.html) [v2](includes/obsolete/get-products-v2.html)
      operationId: listProducts
      parameters:
      - name: effective
        in: query
        description: Allows for the filtering of products based on whether the current time is within the period of time defined as effective by the effectiveFrom and effectiveTo fields. Valid values are ‘CURRENT’, ‘FUTURE’ and ‘ALL’. If absent defaults to 'CURRENT'
        required: false
        type: string
        default: CURRENT
        enum:
        - ALL
        - CURRENT
        - FUTURE
      - name: updated-since
        in: query
        description: Only include products that have been updated after the specified date and time. If absent defaults to include all products
        required: false
        type: string
        x-cds-type: DateTimeString
      - name: brand
        in: query
        description: Filter results based on a specific brand
        required: false
        type: string
      - name: product-category
        in: query
        description: Used to filter results on the productCategory field applicable to accounts. Any one of the valid values for this field can be supplied. If absent then all accounts returned.
        required: false
        type: string
        enum:
        - BUSINESS_LOANS
        - CRED_AND_CHRG_CARDS
        - LEASES
        - MARGIN_LOANS
        - OVERDRAFTS
        - PERS_LOANS
        - REGULATED_TRUST_ACCOUNTS
        - RESIDENTIAL_MORTGAGES
        - TERM_DEPOSITS
        - TRADE_FINANCE
        - TRANS_AND_SAVINGS_ACCOUNTS
        - TRAVEL_CARDS
      - name: page
        in: query
        description: Page of results to request (standard pagination)
        required: false
        type: integer
        default: 1
        x-cds-type: PositiveInteger
      - name: page-size
        in: query
        description: Page size to request. Default is 25 (standard pagination)
        required: false
        type: integer
        default: 25
        x-cds-type: PositiveInteger
      - name: x-v
        in: header
        description: Version of the API end point requested by the client. Must be set to a positive integer. The data holder should respond with the highest supported version between [x-min-v](#request-headers) and [x-v](#request-headers). If the value of [x-min-v](#request-headers) is equal to or higher than the value of [x-v](#request-headers) then the [x-min-v](#request-headers) header should be treated as absent. If all versions requested are not supported then the data holder must respond with a 406 Not Acceptable. See [HTTP Headers](#request-headers)
        required: true
        type: string
      - name: x-min-v
        in: header
        description: Minimum version of the API end point requested by the client. Must be set to a positive integer if provided. The data holder should respond with the highest supported version between [x-min-v](#request-headers) and [x-v](#request-headers). If all versions requested are not supported then the data holder must respond with a 406 Not Acceptable.
        required: false
        type: string
      responses:
        200:
          description: Success
          headers:
            x-v:
              type: string
              description: The [version](#response-headers) of the API end point that the data holder has responded with.
          schema:
            $ref: '#/definitions/ResponseBankingProductList'
      x-version: "3"
  /banking/products/{productId}:
    get:
      tags:
      - Banking
      - Products
      summary: Get Product Detail
      description: |-
        Obtain detailed information on a single product offered openly to the market.

        NOTE: This version must be implemented by **February 2021**

        Obsolete versions: [v1](includes/obsolete/get-product-detail-v1.html) [v2](includes/obsolete/get-product-detail-v2.html)
      operationId: getProductDetail
      parameters:
      - name: productId
        in: path
        description: ID of the specific product requested
        required: true
        type: string
        x-cds-type: ASCIIString
      - name: x-v
        in: header
        description: Version of the API end point requested by the client. Must be set to a positive integer. The data holder should respond with the highest supported version between [x-min-v](#request-headers) and [x-v](#request-headers). If the value of [x-min-v](#request-headers) is equal to or higher than the value of [x-v](#request-headers) then the [x-min-v](#request-headers) header should be treated as absent. If all versions requested are not supported then the data holder must respond with a 406 Not Acceptable. See [HTTP Headers](#request-headers)
        required: true
        type: string
      - name: x-min-v
        in: header
        description: Minimum version of the API end point requested by the client. Must be set to a positive integer if provided. The data holder should respond with the highest supported version between [x-min-v](#request-headers) and [x-v](#request-headers). If all versions requested are not supported then the data holder must respond with a 406 Not Acceptable.
        required: false
        type: string
      responses:
        200:
          description: Success
          headers:
            x-v:
              type: string
              description: The [version](#response-headers) of the API end point that the data holder has responded with.
          schema:
            $ref: '#/definitions/ResponseBankingProductById'
      x-version: "3"
  /common/customer:
    get:
      tags:
      - Common
      - Customer
      summary: Get Customer
      description: Obtain basic information on the customer that has authorised the current session
      operationId: getCustomer
      parameters:
      - name: x-v
        in: header
        description: Version of the API end point requested by the client. Must be set to a positive integer. The data holder should respond with the highest supported version between [x-min-v](#request-headers) and [x-v](#request-headers). If the value of [x-min-v](#request-headers) is equal to or higher than the value of [x-v](#request-headers) then the [x-min-v](#request-headers) header should be treated as absent. If all versions requested are not supported then the data holder must respond with a 406 Not Acceptable. See [HTTP Headers](#request-headers)
        required: true
        type: string
      - name: x-min-v
        in: header
        description: Minimum version of the API end point requested by the client. Must be set to a positive integer if provided. The data holder should respond with the highest supported version between [x-min-v](#request-headers) and [x-v](#request-headers). If all versions requested are not supported then the data holder must respond with a 406 Not Acceptable.
        required: false
        type: string
      - name: x-fapi-interaction-id
        in: header
        description: An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.
        required: false
        type: string
      - name: x-fapi-auth-date
        in: header
        description: The time when the customer last logged in to the data recipient. Required for all resource calls (customer present and unattended). Not to be included for unauthenticated calls.
        required: false
        type: string
      - name: x-fapi-customer-ip-address
        in: header
        description: The customer's original IP address if the customer is currently logged in to the data recipient. The presence of this header indicates that the API is being called in a customer present context. Not to be included for unauthenticated calls.
        required: false
        type: string
      - name: x-cds-client-headers
        in: header
        description: The customer's original standard http headers [Base64](#common-field-types) encoded, including the original User Agent header, if the customer is currently logged in to the data recipient. Mandatory for customer present calls.  Not required for unattended or unauthenticated calls.
        required: false
        type: string
        x-cds-type: Base64
      responses:
        200:
          description: Success
          headers:
            x-v:
              type: string
              description: The [version](#response-headers) of the API end point that the data holder has responded with.
            x-fapi-interaction-id:
              type: string
              description: An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.
          schema:
            $ref: '#/definitions/ResponseCommonCustomer'
      x-scopes:
      - common:customer.basic:read
      x-version: "1"
  /common/customer/detail:
    get:
      tags:
      - Common
      - Customer
      summary: Get Customer Detail
      description: Obtain detailed information on the authorised customer within the current session.
      operationId: getCustomerDetail
      parameters:
      - name: x-v
        in: header
        description: Version of the API end point requested by the client. Must be set to a positive integer. The data holder should respond with the highest supported version between [x-min-v](#request-headers) and [x-v](#request-headers). If the value of [x-min-v](#request-headers) is equal to or higher than the value of [x-v](#request-headers) then the [x-min-v](#request-headers) header should be treated as absent. If all versions requested are not supported then the data holder must respond with a 406 Not Acceptable. See [HTTP Headers](#request-headers)
        required: true
        type: string
      - name: x-min-v
        in: header
        description: Minimum version of the API end point requested by the client. Must be set to a positive integer if provided. The data holder should respond with the highest supported version between [x-min-v](#request-headers) and [x-v](#request-headers). If all versions requested are not supported then the data holder must respond with a 406 Not Acceptable.
        required: false
        type: string
      - name: x-fapi-interaction-id
        in: header
        description: An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.
        required: false
        type: string
      - name: x-fapi-auth-date
        in: header
        description: The time when the customer last logged in to the data recipient. Required for all resource calls (customer present and unattended). Not to be included for unauthenticated calls.
        required: false
        type: string
      - name: x-fapi-customer-ip-address
        in: header
        description: The customer's original IP address if the customer is currently logged in to the data recipient. The presence of this header indicates that the API is being called in a customer present context. Not to be included for unauthenticated calls.
        required: false
        type: string
      - name: x-cds-client-headers
        in: header
        description: The customer's original standard http headers [Base64](#common-field-types) encoded, including the original User Agent header, if the customer is currently logged in to the data recipient. Mandatory for customer present calls.  Not required for unattended or unauthenticated calls.
        required: false
        type: string
        x-cds-type: Base64
      responses:
        200:
          description: Success
          headers:
            x-v:
              type: string
              description: The [version](#response-headers) of the API end point that the data holder has responded with.
            x-fapi-interaction-id:
              type: string
              description: An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.
          schema:
            $ref: '#/definitions/ResponseCommonCustomerDetail'
      x-scopes:
      - common:customer.detail:read
      x-version: "1"
  /discovery/status:
    get:
      tags:
      - Common
      - Discovery
      summary: Get Status
      description: Obtain a health check status for the implementation
      operationId: getStatus
      parameters:
      - name: x-v
        in: header
        description: Version of the API end point requested by the client. Must be set to a positive integer. The data holder should respond with the highest supported version between [x-min-v](#request-headers) and [x-v](#request-headers). If the value of [x-min-v](#request-headers) is equal to or higher than the value of [x-v](#request-headers) then the [x-min-v](#request-headers) header should be treated as absent. If all versions requested are not supported then the data holder must respond with a 406 Not Acceptable. See [HTTP Headers](#request-headers)
        required: true
        type: string
      - name: x-min-v
        in: header
        description: Minimum version of the API end point requested by the client. Must be set to a positive integer if provided. The data holder should respond with the highest supported version between [x-min-v](#request-headers) and [x-v](#request-headers). If all versions requested are not supported then the data holder must respond with a 406 Not Acceptable.
        required: false
        type: string
      responses:
        200:
          description: Success
          headers:
            x-v:
              type: string
              description: The [version](#response-headers) of the API end point that the data holder has responded with.
          schema:
            $ref: '#/definitions/ResponseCommonDiscoveryStatus'
      x-version: "1"
  /discovery/outages:
    get:
      tags:
      - Common
      - Discovery
      summary: Get Outages
      description: Obtain a list of scheduled outages for the implementation
      operationId: getOutages
      parameters:
      - name: x-v
        in: header
        description: Version of the API end point requested by the client. Must be set to a positive integer. The data holder should respond with the highest supported version between [x-min-v](#request-headers) and [x-v](#request-headers). If the value of [x-min-v](#request-headers) is equal to or higher than the value of [x-v](#request-headers) then the [x-min-v](#request-headers) header should be treated as absent. If all versions requested are not supported then the data holder must respond with a 406 Not Acceptable. See [HTTP Headers](#request-headers)
        required: true
        type: string
      - name: x-min-v
        in: header
        description: Minimum version of the API end point requested by the client. Must be set to a positive integer if provided. The data holder should respond with the highest supported version between [x-min-v](#request-headers) and [x-v](#request-headers). If all versions requested are not supported then the data holder must respond with a 406 Not Acceptable.
        required: false
        type: string
      responses:
        200:
          description: Success
          headers:
            x-v:
              type: string
              description: The [version](#response-headers) of the API end point that the data holder has responded with.
          schema:
            $ref: '#/definitions/ResponseDiscoveryOutagesList'
      x-version: "1"
definitions:
  RequestAccountIds:
    type: object
    required:
    - data
    properties:
      data:
        $ref: '#/definitions/RequestAccountIds_data'
      meta:
        $ref: '#/definitions/Meta'
  ResponseBankingProductList:
    type: object
    required:
    - data
    - links
    - meta
    properties:
      data:
        $ref: '#/definitions/ResponseBankingProductList_data'
      links:
        $ref: '#/definitions/LinksPaginated'
      meta:
        $ref: '#/definitions/MetaPaginated'
  BankingProductV3:
    type: object
    required:
    - brand
    - description
    - isTailored
    - lastUpdated
    - name
    - productCategory
    - productId
    properties:
      productId:
        type: string
        description: A data holder specific unique identifier for this product. This identifier must be unique to a product but does not otherwise need to adhere to ID permanence guidelines.
        x-cds-type: ASCIIString
      effectiveFrom:
        type: string
        description: The date and time from which this product is effective (ie. is available for origination).  Used to enable the articulation of products to the regime before they are available for customers to originate
        x-cds-type: DateTimeString
      effectiveTo:
        type: string
        description: The date and time at which this product will be retired and will no longer be offered.  Used to enable the managed deprecation of products
        x-cds-type: DateTimeString
      lastUpdated:
        type: string
        description: The last date and time that the information for this product was changed (or the creation date for the product if it has never been altered)
        x-cds-type: DateTimeString
      productCategory:
        $ref: '#/definitions/BankingProductCategory'
      name:
        type: string
        description: The display name of the product
      description:
        type: string
        description: A description of the product
      brand:
        type: string
        description: A label of the brand for the product. Able to be used for filtering. For data holders with single brands this value is still required
      brandName:
        type: string
        description: An optional display name of the brand
      applicationUri:
        type: string
        description: A link to an application web page where this product can be applied for.
        x-cds-type: URIString
      isTailored:
        type: boolean
        description: Indicates whether the product is specifically tailored to a circumstance.  In this case fees and prices are significantly negotiated depending on context. While all products are open to a degree of tailoring this flag indicates that tailoring is expected and thus that the provision of specific fees and rates is not applicable
        x-cds-type: Boolean
      additionalInformation:
        $ref: '#/definitions/BankingProductV3_additionalInformation'
      cardArt:
        type: array
        description: An array of card art images
        items:
          $ref: '#/definitions/BankingProductV3_cardArt'
  ResponseBankingProductById:
    type: object
    required:
    - data
    - links
    properties:
      data:
        $ref: '#/definitions/BankingProductDetailV3'
      links:
        $ref: '#/definitions/Links'
      meta:
        $ref: '#/definitions/Meta'
  BankingProductDetailV3:
    allOf:
    - $ref: '#/definitions/BankingProductV3'
    - type: object
      properties:
        bundles:
          type: array
          description: An array of bundles that this product participates in.  Each bundle is described by free form information but also by a list of product IDs of the other products that are included in the bundle.  It is assumed that the current product is included in the bundle also
          items:
            $ref: '#/definitions/BankingProductBundle'
        features:
          type: array
          description: Array of features available for the product
          items:
            $ref: '#/definitions/BankingProductFeature'
        constraints:
          type: array
          description: Constraints on the application for or operation of the product such as minimum balances or limit thresholds
          items:
            $ref: '#/definitions/BankingProductConstraint'
        eligibility:
          type: array
          description: Eligibility criteria for the product
          items:
            $ref: '#/definitions/BankingProductEligibility'
        fees:
          type: array
          description: Fees applicable for the product
          items:
            $ref: '#/definitions/BankingProductFee'
        depositRates:
          type: array
          description: Interest rates available for deposits
          items:
            $ref: '#/definitions/BankingProductDepositRate'
        lendingRates:
          type: array
          description: Interest rates charged against lending balances
          items:
            $ref: '#/definitions/BankingProductLendingRateV2'
  BankingProductBundle:
    type: object
    required:
    - description
    - name
    properties:
      name:
        type: string
        description: Name of the bundle
      description:
        type: string
        description: Description of the bundle
      additionalInfo:
        type: string
        description: Display text providing more information on the bundle
      additionalInfoUri:
        type: string
        description: Link to a web page with more information on the bundle criteria and benefits
        x-cds-type: URIString
      productIds:
        type: array
[...]
