{
  "swagger": "2.0",
  "info": {
  	"title": "Consumer Data Standards Administration End Points",
  	"description": "Data Holder Consumer Data Standards Administration End Points",
  	"version": "0.1.0",
  	"license": {
  	  "name": "MIT Licence",
  	  "url": "https://opensource.org/licenses/MIT"
  	}
  },
  "host": "data.provider.com.au",
  "basePath": "/cds-au/v1",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
  	"/admin/registry/metadata": {
  	  "post": {
    		"summary": "Metadata Update",
    		"description": "Indicate that a critical update to the metadata for Accredited Data Recipients has been made and should be obtained",
    		"operationId": "metadataUpdate",
        "tags": [
          "Admin APIs",
          "Registry"
        ],
    		"parameters": [
        {
    			"in": "body",
          "name": "action",
    			"required": true,
    			"schema": {
    			  "$ref": "#/definitions/RequestMetaDataUpdate"
    			}
    		}
        ],
        "responses": {
    		  "200": {
            "description": "Success"
    		  },
    		  "x-version": "1"
    		}
  	  }
    },
    "/admin/metrics": {
  	  "get": {
    		"summary": "Get Metrics",
    		"description": "This end point allows the ACCC to obtain operational statistics from the Data Holder on the operation of their CDR compliant implementation. The statistics obtainable from this end point are determined by the non-functional requirements for the CDR regime.",
    		"operationId": "getMetrics",
    		"tags": [
    		  "Admin APIs",
    		  "Metrics"
    		],
    		"parameters": [
        {
          "name": "period",
          "in": "query",
          "type": "string",
          "description": "The period of metrics to be requested. Values can be CURRENT (meaning immediate metrics), CURRENT_DAY (meaning metrics for current day), HISTORIC (meaning metrics for previous days or months) or ALL. If absent the default is ALL",
          "enum": [
            "CURRENT",
            "CURRENT_DAY",
            "HISTORIC",
            "ALL"
          ],
          "default": "ALL"
    		}
    		],
    		"responses": {
    		  "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ResponseMetricsList"
            }
    		  },
    		  "x-version": "1"
    		}
  	  }
  	}
  },
  "definitions": {
    "RequestMetaDataUpdate": {
      "type": "object",
      "required": [
        "data"
      ],
      "properties": {
        "data": {
          "type": "object",
          "required": [
            "action"
          ],
          "properties": {
            "action": {
            "type": "string",
            "description": "The action to take for the meta data. At the moment the only option is REFRESH which requires the holder to call the ACCC to refresh meta data as soon as practicable",
            "enum": [
              "REFRESH"
            ],
            "default": "REFRESH"
            }
          }
        },
        "meta": {
          "$ref": "#/definitions/Meta"
        }
      }
    },
    "ResponseMetricsList": {
      "type": "object",
      "required": [
        "data"
      ],
      "properties": {
        "data": {
          "type": "object",
          "required": [
            "requestTime",
            "links"
          ],
          "x-conditional": [
            "availability",
            "performance",
            "invocations",
            "averageResponse",
            "sessionCount",
            "tps",
            "errors",
            "rejections",
            "customerCount",
            "recipientCount"
          ],
          "properties": {
            "requestTime" : {
              "type": "string",
              "description": "The date and time that the metrics in this payload were requested.",
              "x-cds-type": "DateTimeString"
            },
            "availability": {
              "$ref": "#/definitions/AvailabilityMetrics"
            },
            "performance": {
              "$ref": "#/definitions/PerformanceMetrics"
            },
            "invocations": {
              "$ref": "#/definitions/InvocationMetrics"
            },
            "averageResponse": {
              "$ref": "#/definitions/AverageResponseMetrics"
            },
            "sessionCount": {
              "$ref": "#/definitions/SessionCountMetrics"
            },
            "averageTps": {
              "$ref": "#/definitions/AverageTPSMetrics"
            },
            "peakTps": {
              "$ref": "#/definitions/PeakTPSMetrics"
            },
            "errors": {
              "$ref": "#/definitions/ErrorMetrics"
            },
            "rejections": {
              "$ref": "#/definitions/RejectionMetrics"
            },
            "customerCount": {
              "type": "integer",
              "description": "Number of customers with active authorisations at the time of the call"
            },
            "recipientCount": {
              "type": "integer",
              "description": "Number of data recipients with active authorisations at the time of the call"
            },
            "links": {
              "$ref": "#/definitions/Links"
            },
            "meta": {
              "$ref": "#/definitions/Meta"
            }
          }
        }
      }
    },
    "AvailabilityMetrics": {
      "type": "object",
      "description": "Percentage availability of the CDR platform over time",
      "x-conditional": [
        "currentMonth",
        "previousMonths"
      ],
      "properties": {
        "currentMonth": {
          "type": "number",
          "description": "Percentage availability of the CDR platform so far for the current calendar month. 0.0 means 0%. 1.0 means 100%."
        },
        "previousMonths": {
          "description": "Percentage availability of the CDR platform for previous calendar months. The first element indicates the last month and so on. A maximum of twelve entries is required if available. 0.0 means 0%. 1.0 means 100%.",
          "type": "array",
          "items": {
            "type": "number"
          }
        }
      }
    },
    "PerformanceMetrics": {
      "type": "object",
      "description": "Percentage of calls within the performance thresholds",
      "allOf": [ {
          "$ref": "#/definitions/DayNumberMetricsType"
        }
      ]
    },
    "InvocationMetrics": {
      "description": "Number of API calls in each performance tier over time",
      "type": "object",
      "x-conditional": [
        "unauthenticated",
        "highPriority",
        "lowPriority",
        "unattended",
        "largePayload"
      ],
      "properties": {
        "unauthenticated": {
          "description": "API call counts for the unauthenticated tier",
          "allOf": [ {
              "$ref": "#/definitions/DayNumberMetricsType"
            }
          ]
        },
        "highPriority": {
          "description": "API call counts for the high priority tier",
          "allOf": [ {
              "$ref": "#/definitions/DayNumberMetricsType"
            }
          ]

        },
        "lowPriority": {
          "description": "API call counts for the low priority tier",
          "allOf": [ {
              "$ref": "#/definitions/DayNumberMetricsType"
            }
          ]
        },
        "unattended": {
          "description": "API call counts for the unattended tier",
          "allOf": [ {
              "$ref": "#/definitions/DayNumberMetricsType"
            }
          ]
        },
        "largePayload": {
          "description": "API call counts for the large payload tier",
          "allOf": [ {
              "$ref": "#/definitions/DayNumberMetricsType"
            }
          ]
        }
      }
    },
    "AverageResponseMetrics": {
      "description": "Average response time in seconds, at millisecond resolution, within each performance tier",
      "type": "object",
      "x-conditional": [
        "unauthenticated",
        "highPriority",
        "lowPriority",
        "unattended",
        "largePayload"
      ],
      "properties": {
        "unauthenticated": {
          "description": "Average response time for the unauthenticated tier",
          "allOf": [ {
              "$ref": "#/definitions/DayNumberMetricsType"
            }
          ]
        },
        "highPriority": {
          "description": "Average response time for the high priority tier",
          "allOf": [ {
              "$ref": "#/definitions/DayNumberMetricsType"
            }
          ]
        },
        "lowPriority": {
          "description": "Average response time for the low priority tier",
          "allOf": [ {
              "$ref": "#/definitions/DayNumberMetricsType"
            }
          ]
        },
        "unattended": {
          "description": "Average response time for the unattended tier",
          "allOf": [ {
              "$ref": "#/definitions/DayNumberMetricsType"
            }
          ]
        },
        "largePayload": {
          "description": "Average response time for the large payload tier",
          "allOf": [ {
              "$ref": "#/definitions/DayNumberMetricsType"
            }
          ]
        }
      }
    },
    "SessionCountMetrics": {
      "description": "Session counts over time. Note that a session is defined as the provisioning of an Access Token.",
      "allOf": [ {
          "$ref": "#/definitions/DayNumberMetricsType"
        }
      ]
    },
    "AverageTPSMetrics": {
      "description": "Transactions per second over time",
      "allOf": [ {
          "$ref": "#/definitions/DayNumberMetricsType"
        }
      ]
    },
    "PeakTPSMetrics": {
      "description": "Maximum record transactions per second over time",
      "allOf": [ {
          "$ref": "#/definitions/DayNumberMetricsType"
        }
      ]
    },
    "ErrorMetrics": {
      "description": "Number of calls resulting in error due to server execution over time",
      "allOf": [ {
          "$ref": "#/definitions/DayNumberMetricsType"
        }
      ]
    },
    "RejectionMetrics": {
      "description": "Number of calls rejected due to traffic thresholds over time",
      "allOf": [ {
          "$ref": "#/definitions/DayNumberMetricsType"
        }
      ]
    },
    "DayNumberMetricsType": {
      "type": "object",
      "x-conditional": [
        "currentDay",
        "previousDays"
      ],
      "properties": {
        "currentDay": {
          "type": "number"
        },
        "previousDays": {
          "type": "array",
          "items": {
            "type": "number"
          }
        }
      }
    },
    "Links": {
      "type": "object",
      "required": [
        "self"
      ],
      "properties": {
        "self": {
          "type": "string",
          "description": "Fully qualified link to this API call",
          "x-cds-type": "URIString"
        }
      }
    },
    "Meta": {
      "type": "object"
    }
  }
}
