{
  "openapi": "3.0.3",
  "info":
  {
    "contact":
    {
      "email": "contact@consumerdatastandards.gov.au",
      "name": "Consumer Data Standards",
      "url": "https://consumerdatastandards.gov.au"
    },
    "description": "Consumer Data Standards Telco APIs",
    "license":
    {
      "name": "MIT License",
      "url": "https://opensource.org/licenses/MIT"
    },
    "title": "CDR Telco API",
    "version": "1.22.0"
  },
  "servers": [
  {
    "url": "https://data.holder.com.au/cds-au/v1"
  }],
  "components":
  {
    "schemas":
    {
      "TelcoProductListResponse":
      {
        "type": "object",
        "required": [
          "data",
          "links",
          "meta"
        ],
        "properties":
        {
          "data":
          {
            "type": "object",
            "required": [
              "plans"
            ],
            "properties":
            {
              "plans":
              {
                "description": "Array of Products",
                "type": "array",
                "items":
                {
                  "$ref": "#/components/schemas/TelcoProduct"
                }
              }
            }
          },
          "links":
          {
            "$ref": "#/components/schemas/LinksPaginated"
          },
          "meta":
          {
            "$ref": "#/components/schemas/MetaPaginated"
          }
        }
      },
      "TelcoProductResponse":
      {
        "type": "object",
        "required": [
          "data",
          "links"
        ],
        "properties":
        {
          "data":
          {
            "$ref": "#/components/schemas/TelcoProductDetail"
          },
          "links":
          {
            "$ref": "#/components/schemas/Links"
          },
          "meta":
          {
            "$ref": "#/components/schemas/Meta"
          }
        }
      },
      "TelcoUsageListResponse":
      {
        "type": "object",
        "required": [
          "data",
          "links",
          "meta"
        ],
        "properties":
        {
          "data":
          {
            "type": "object",
            "required": [
              "accounts"
            ],
            "properties":
            {
              "accounts":
              {
                "description": "Array of services for the account",
                "type": "array",
                "items":
                {
                  "$ref": "#/components/schemas/TelcoAccountUsage"
                }
              }
            }
          },
          "links":
          {
            "$ref": "#/components/schemas/LinksPaginated"
          },
          "meta":
          {
            "$ref": "#/components/schemas/MetaPaginated"
          }
        }
      },
      "TelcoUsageResponse":
      {
        "type": "object",
        "required": [
          "data",
          "links",
          "meta"
        ],
        "properties":
        {
          "data":
          {
            "$ref": "#/components/schemas/TelcoAccountUsage"
          },
          "links":
          {
            "$ref": "#/components/schemas/LinksPaginated"
          },
          "meta":
          {
            "$ref": "#/components/schemas/MetaPaginated"
          }
        }
      },
      "TelcoAccountListResponse":
      {
        "type": "object",
        "required": [
          "data",
          "links",
          "meta"
        ],
        "properties":
        {
          "data":
          {
            "type": "object",
            "required": [
              "accounts"
            ],
            "properties":
            {
              "accounts":
              {
                "description": "Array of accounts",
                "type": "array",
                "items":
                {
                  "$ref": "#/components/schemas/TelcoAccount"
                }
              }
            }
          },
          "links":
          {
            "$ref": "#/components/schemas/LinksPaginated"
          },
          "meta":
          {
            "$ref": "#/components/schemas/MetaPaginated"
          }
        }
      },
      "TelcoAccountDetailResponse":
      {
        "type": "object",
        "required": [
          "data",
          "links",
          "meta"
        ],
        "properties":
        {
          "data":
          {
            "$ref": "#/components/schemas/TelcoAccountDetail"
          },
          "links":
          {
            "$ref": "#/components/schemas/Links"
          },
          "meta":
          {
            "$ref": "#/components/schemas/Meta"
          }
        }
      },
      "TelcoPaymentScheduleResponse":
      {
        "type": "object",
        "required": [
          "data",
          "links",
          "meta"
        ],
        "properties":
        {
          "data":
          {
            "type": "object",
            "required": [
              "paymentSchedules"
            ],
            "properties":
            {
              "paymentSchedules":
              {
                "description": "Array may be empty if no payment schedule exist",
                "type": "array",
                "items":
                {
                  "$ref": "#/components/schemas/TelcoPaymentSchedule"
                }
              }
            }
          },
          "links":
          {
            "$ref": "#/components/schemas/Links"
          },
          "meta":
          {
            "$ref": "#/components/schemas/Meta"
          }
        }
      },
      "TelcoConcessionsResponse":
      {
        "type": "object",
        "required": [
          "data",
          "links",
          "meta"
        ],
        "properties":
        {
          "data":
          {
            "type": "object",
            "required": [
              "concessions"
            ],
            "properties":
            {
              "concessions":
              {
                "description": "Array may be empty if no concessions exist",
                "type": "array",
                "items":
                {
                  "$ref": "#/components/schemas/TelcoConcession"
                }
              }
            }
          },
          "links":
          {
            "$ref": "#/components/schemas/Links"
          },
          "meta":
          {
            "$ref": "#/components/schemas/Meta"
          }
        }
      },
      "TelcoBalanceListResponse":
      {
        "type": "object",
        "required": [
          "data",
          "links",
          "meta"
        ],
        "properties":
        {
          "data":
          {
            "type": "object",
            "required": [
              "balances"
            ],
            "properties":
            {
              "balances":
              {
                "description": "Array of account balances",
                "type": "array",
                "items":
                {
                  "type": "object",
                  "required": [
                    "accountId",
                    "balance"
                  ],
                  "properties":
                  {
                    "accountId":
                    {
                      "description": "The ID of the account",
                      "type": "string"
                    },
                    "balance":
                    {
                      "$ref": "#/components/schemas/TelcoBalance"
                    }
                  }
                }
              }
            }
          },
          "links":
          {
            "$ref": "#/components/schemas/LinksPaginated"
          },
          "meta":
          {
            "$ref": "#/components/schemas/MetaPaginated"
          }
        }
      },
      "TelcoBalanceResponse":
      {
        "type": "object",
        "required": [
          "data",
          "links",
          "meta"
        ],
        "properties":
        {
          "data":
          {
            "type": "object",
            "required": [
              "balance"
            ],
            "properties":
            {
              "accountId":
              {
                "description": "The ID of the account",
                "type": "string"
              },
              "balance":
              {
                "$ref": "#/components/schemas/TelcoBalance"
              }
            }

          },
          "links":
          {
            "$ref": "#/components/schemas/Links"
          },
          "meta":
          {
            "$ref": "#/components/schemas/Meta"
          }
        }
      },
      "TelcoInvoiceListResponse":
      {
        "type": "object",
        "required": [
          "data",
          "links",
          "meta"
        ],
        "properties":
        {
          "data":
          {
            "type": "object",
            "required": [
              "invoices"
            ],
            "properties":
            {
              "invoices":
              {
                "description": "Array of invoices sorted by issue date in descending order",
                "type": "array",
                "items":
                {
                  "$ref": "#/components/schemas/TelcoInvoice"
                }
              }
            }
          },
          "links":
          {
            "$ref": "#/components/schemas/LinksPaginated"
          },
          "meta":
          {
            "$ref": "#/components/schemas/MetaPaginated"
          }
        }
      },
      "TelcoTransactionListResponse":
      {
        "type": "object",
        "required": [
          "data",
          "links",
          "meta"
        ],
        "properties":
        {
          "data":
          {
            "type": "object",
            "required": [
              "transactions"
            ],
            "properties":
            {
              "transactions":
              {
                "description": "Array of transactions sorted by date and time in descending order",
                "type": "array",
                "items":
                {
                  "$ref": "#/components/schemas/TelcoBillingTransaction"
                }
              }
            }
          },
          "links":
          {
            "$ref": "#/components/schemas/LinksPaginated"
          },
          "meta":
          {
            "$ref": "#/components/schemas/MetaPaginated"
          }
        }
      },
      "ErrorListResponse":
      {
        "type": "object",
        "required": [
          "errors"
        ],
        "x-conditional": ["meta"],
        "properties":
        {
          "errors":
          {
            "type": "array",
            "items":
            {
              "type": "object",
              "required": [
                "code",
                "title",
                "detail"
              ],
              "properties":
              {
                "code":
                {
                  "type": "string",
                  "description": "The code of the error encountered. Where the error is specific to the respondent, an application-specific error code, expressed as a string value. If the error is application-specific, the URN code that the specific error extends must be provided in the meta object. Otherwise, the value is the error code URN."
                },
                "title":
                {
                  "type": "string",
                  "description": "A short, human-readable summary of the problem that MUST NOT change from occurrence to occurrence of the problem represented by the error code."
                },
                "detail":
                {
                  "type": "string",
                  "description": "A human-readable explanation specific to this occurrence of the problem."
                },
                "meta":
                {
                  "type": "object",
                  "x-conditional": ["urn"],
                  "description": "Additional data for customised error codes",
                  "properties":
                  {
                    "urn":
                    {
                      "type": "string",
                      "description": "The CDR error code URN which the application-specific error code extends. Mandatory if the error `code` is an application-specific error rather than a standardised error code."
                    }
                  }
                }
              }
            }
          }
        }
      },
      "TelcoProduct":
      {
        "type": "object",
        "required": [
          "productId",
          "name",
          "type",
          "usage",
          "brand",
          "brandName",
          "pricing"
        ],
        "x-conditional": ["contract"],
        "properties":
        {
          "productId":
          {
            "type": "string",
            "x-cds-type": "ASCIIString",
            "description": "The ID of the specific product"
          },
          "effectiveFrom":
          {
            "type": "string",
            "x-cds-type": "DateTimeString",
            "description": "The date and time from which this product is effective (ie. is available for origination). Used to enable the articulation of products to the regime before they are available for customers to originate"
          },
          "effectiveTo":
          {
            "type": "string",
            "x-cds-type": "DateTimeString",
            "description": "The date and time at which this product will be retired and will no longer be offered. Used to enable the managed deprecation of plans"
          },
          "lastUpdated":
          {
            "type": "string",
            "x-cds-type": "DateTimeString",
            "description": "The last date and time that the information for this plan was changed (or the creation date for the plan if it has never been altered)"
          },
          "displayName":
          {
            "type": "string",
            "description": "The display name of the product"
          },
          "description":
          {
            "type": "string",
            "description": "A description of the product"
          },
          "type":
          {
            "type": "string",
            "description": "The type of product",
            "enum": ["MOBILE",
              "BROADBAND"
            ]
          },
          "purpose":
          {
            "type": "string",
            "description": "The purpose type of the product. If absent, then the value PERSONAL is assumed",
            "enum": [
              "PERSONAL",
              "BUSINESS",
              "ALL"
            ]
          },
          "billingType":
          {
            "type": "string",
            "description": "The type of product",
            "enum": ["PRE_PAID",
              "POST_PAID",
              "UPFRONT_PAID",
              "OTHER"
            ]
          },
          "contract":
          {
            "$ref": "#/components/schemas/TelcoContract"
          },
          "bundle":
          {
            "type": "boolean",
            "description": "Required if part of a bundle. If not present FALSE is assumed"
          },
          "brand":
          {
            "type": "string",
            "description": "The ID of the brand under which this product is offered"
          },
          "brandName":
          {
            "type": "string",
            "description": "The display name of the brand under which this product is offered"
          },
          "pricing":
          {
            "description": "List of pricing details for the product plan",
            "type": "array",
            "items":
            {
              "type": "object",
              "required": ["name",
                "description",
                "chargeAmount"
              ],
              "properties":
              {
                "name":
                {
                  "type": "string",
                  "description": "The display name of the pricing"
                },
                "description":
                {
                  "type": "string",
                  "description": "The description of the pricing"
                },
                "period":
                {
                  "type": "string",
                  "x-cds-type": "ExternalRef",
                  "description": "The duration that occurs on a pricing schedule indicates the frequency. Formatted according to [ISO 8601 Durations](https://en.wikipedia.org/wiki/ISO_8601#Durations) (excludes recurrence syntax)"
                },
                "chargeAmount":
                {
                  "type": "string",
                  "x-cds-type": "AmountString",
                  "description": "The amount charged for the duration period"
                }
              }
            }
          },
          "thirdPartyAgentId":
          {
            "type": "string",
            "description": "The ID of the Third Party through which this product may be originated"
          },
          "thirdPartyAgentName":
          {
            "type": "string",
            "description": "The display name of the Third Party through which this product may be originated"
          },
          "applicationUri":
          {
            "type": "string",
            "x-cds-type": "URIString",
            "description": "A link to an application web page where this plan can be applied for"
          },
          "additionalInformation":
          {
            "type": "object",
            "description": "Object that contains links to additional information on specific topics",
            "properties":
            {
              "overviewUri":
              {
                "type": "string",
                "x-cds-type": "URIString",
                "description": "A link to a general overview of the plan"
              },
              "termsUri":
              {
                "type": "string",
                "x-cds-type": "URIString",
                "description": "A link to terms and conditions for the plan"
              },
              "eligibilityUri":
              {
                "type": "string",
                "x-cds-type": "URIString",
                "description": "A link to detail on eligibility criteria for the plan"
              },
              "pricingUri":
              {
                "type": "string",
                "x-cds-type": "URIString",
                "description": "A link to detail on pricing for the plan"
              },
              "bundleUri":
              {
                "type": "string",
                "x-cds-type": "URIString",
                "description": "A link to detail on bundles that this plan can be a part of"
              }
            }
          }
        }
      },
      "TelcoProductDetail":
      {
        "allOf": [
        {
          "$ref": "#/components/schemas/TelcoProduct"
        },
        {
          "type": "object",
          "properties":
          {
            "bundles":
            {
              "description": "Bundles the product can be part of",
              "type": "array",
              "items":
              {
                "type": "object",
                "required": ["displayName"],
                "properties":
                {
                  "displayName":
                  {
                    "type": "string",
                    "description": "The display name of the product bundle"
                  },
                  "description":
                  {
                    "type": "string",
                    "description": "The description of the product bundle"
                  },
                  "bundleUri":
                  {
                    "type": "string",
                    "x-cds-type": "URIString",
                    "description": "The URI of the product bundle"
                  },
                  "features":
                  {
                    "description": "Optional list of features of the bundle",
                    "type": "array",
                    "items":
                    {
                      "type": "object",
                      "required": ["displayName"],
                      "properties":
                      {
                        "displayName":
                        {
                          "type": "string",
                          "description": "The display name of the feature"
                        },
                        "description":
                        {
                          "type": "string",
                          "description": "The description of the feature"
                        },
                        "category":
                        {
                          "type": "string",
                          "description": "The type of the feature",
                          "enum": ["DATA",
                            "VOICE",
                            "MESSAGING",
                            "HANDSET",
                            "DEVICE",
                            "NETWORK",
                            "ENTERTAINMENT",
                            "SUBSCRIPTION",
                            "SOFTWARE",
                            "OTHER"
                          ]
                        }
                      }
                    }
                  }
                }
              }
            },
            "plans":
            {
              "description": "Plans associated to the product",
              "type": "array",
              "items":
              {
                "type": "object",
                "required": ["displayName"],
                "properties":
                {
                  "displayName":
                  {
                    "type": "string",
                    "description": "The display name of the product plan"
                  },
                  "description":
                  {
                    "type": "string",
                    "description": "The display name of the product plan"
                  },
                  "planUri":
                  {
                    "type": "string",
                    "x-cds-type": "URIString",
                    "description": "The URI of the product plan"
                  },
                  "features":
                  {
                    "description": "Optional list of features of the plan",
                    "type": "array",
                    "items":
                    {
                      "type": "object",
                      "required": ["displayName"],
                      "properties":
                      {
                        "displayName":
                        {
                          "type": "string",
                          "description": "The display name of the feature"
                        },
                        "description":
                        {
                          "type": "string",
                          "description": "The description of the feature"
                        }
                      }
                    }
                  }
                }
              }
            },
            "discounts":
            {
              "description": "Discounts associated to the product",
              "type": "array",
              "items":
              {
                "type": "object",
                "required": ["displayName"],
                "properties":
                {
                  "displayName":
                  {
                    "type": "string",
                    "description": "The display name of the product plan"
                  },
                  "description":
                  {
                    "type": "string",
                    "description": "The description name of the product plan"
                  },
                  "discountUri":
                  {
                    "type": "string",
                    "x-cds-type": "URIString",
                    "description": "The URI of the discount"
                  },
                  "features":
                  {
                    "description": "Optional list of features of the discount",
                    "type": "array",
                    "items":
                    {
                      "type": "object",
                      "required": ["displayName"],
                      "properties":
                      {
                        "displayName":
                        {
                          "type": "string",
                          "description": "The display name of the discount feature"
                        },
                        "description":
                        {
                          "type": "string",
                          "description": "The description of the discount feature"
                        }
                      }
                    }
                  }
                }
              }
            },
            "incentives":
            {
              "description": "Incentives associated to the product",
              "type": "array",
              "items":
              {
                "type": "object",
                "required": ["displayName"],
                "properties":
                {
                  "displayName":
                  {
                    "type": "string",
                    "description": "The display name of the incentive"
                  },
                  "description":
                  {
                    "type": "string",
                    "description": "The description of the incentive"
                  },
                  "incentiveUri":
                  {
                    "type": "string",
                    "x-cds-type": "URIString",
                    "description": "The URI of the incentive"
                  },
                  "features":
                  {
                    "description": "Optional list of features of the incentive",
                    "type": "array",
                    "items":
                    {
                      "type": "object",
                      "required": ["displayName"],
                      "properties":
                      {
                        "displayName":
                        {
                          "type": "string",
                          "description": "The display name of the incentive feature"
                        },
                        "description":
                        {
                          "type": "string",
                          "description": "The description of the incentive feature"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }]
      },
      "TelcoContract":
      {
        "type": "object",
        "description": "Summary of the contract details. Required if a contract is required",
        "required": [
          "name",
          "duration"
        ],
        "properties":
        {
          "name":
          {
            "type": "string",
            "description": "Name of the contract"
          },
          "description":
          {
            "type": "string",
            "description": "Description if the contract"
          },
          "duration":
          {
            "type": "number",
            "description": "Minimum contract duration in months"
          },
          "contractURI":
          {
            "type": "string",
            "description": "URI of the contract conditions",
            "x-cds-type": "URIString"
          }
        }
      },
      "TelcoServiceDetail":
      {
        "required": [
          "serviceId"
        ],
        "properties":
        {
          "serviceId":
          {
            "type": "string",
            "description": "The tokenised ID of the service for use in the CDR APIs.  Created according to the CDR rules for ID permanence"
          }
        }
      },
      "TelcoAccountUsage":
      {
        "type": "object",
        "required": [
          "serviceId"
        ],
        "x-conditional": [],
        "properties":
        {
          "accountId":
          {
            "description": "Tokenised ID of the account. In accordance with CDR ID permanence requirements",
            "type": "string"
          },
          "services":
          {
            "description": "List of services that are part of the account",
            "type": "array",
            "items":
            {
              "type": "object",
              "required": [
                "service"
              ],
              "properties":
              {
                "service":
                {
                  "$ref": "#/components/schemas/TelcoServiceUsage"

                }
              }
            }
          }
        }
      },
      "TelcoServiceUsage":
      {
        "type": "object",
        "required": [
          "serviceId"
        ],
        "x-conditional": [],
        "properties":
        {
          "serviceId":
          {
            "description": "Tokenised ID of the service.  To be created in accordance with CDR ID permanence requirements",
            "type": "string"
          },
          "displayName":
          {
            "description": "Optional description of the service used for display purposes",
            "type": "string"
          },
          "phoneNumber":
          {
            "description": "Required if the service includes a phone number",
            "type": "string"
          },
          "startDate":
          {
            "description": "Date when the balance period started",
            "type": "string",
            "x-cds-type": "DateTimeString"
          },
          "endDate":
          {
            "description": "Date when the balance period ends",
            "type": "string",
            "x-cds-type": "DateTimeString"
          },
          "usage":
          {
            "$ref": "#/components/schemas/TelcoUsage"
          }
        }
      },
      "TelcoAccountBase":
      {
        "type": "object",
        "required": [
          "accountId", "creationDate", "lastUpdateDateTime"
        ],
        "x-conditional": [
          "accountNumber"
        ],
        "properties":
        {
          "accountId":
          {
            "description": "The ID of the account. To be created in accordance with CDR ID permanence requirements",
            "type": "string"
          },
          "accountNumber":
          {
            "description": "Masked identifier of the account as defined by the data holder. This must be the value presented on physical statements (required if it exists) and must not be used for the value of the accountId",
            "type": "string"
          },
          "displayName":
          {
            "description": "An optional display name for the account if one exists or can be derived. The content of this field is at the discretion of the data holder",
            "type": "string"
          },
          "creationDate":
          {
            "description": "The date that the account was created or opened. Mandatory if openStatus is OPEN",
            "type": "string",
            "x-cds-type": "DateString"
          },
          "lastUpdated":
          {
            "description": "The date and time which the account was last updated",
            "type": "string",
            "x-cds-type": "DateString"
          },
          "brand":
          {
            "description": "The retail name of the brand",
            "type": "string"
          },
          "openStatus":
          {
            "type": "string",
            "description": "Open or closed status for the account. If not present then OPEN is assumed",
            "default": "OPEN",
            "enum": [
              "CLOSED",
              "OPEN"
            ]
          }
        }
      },
      "TelcoAccount":
      {
        "allOf": [
        {
          "$ref": "#/components/schemas/TelcoAccountBase"
        },
        {
          "description": "The array of plans containing services and associated plan details",
          "type": "object",
          "required": [
            "plans"
          ],
          "x-conditional": [
            "planOverview"
          ],
          "properties":
          {
            "plans":
            {
              "description": "The array of plans containing service and associated plan details",
              "type": "array",
              "items":
              {
                "type": "object",
                "required": [
                  "serviceIds"
                ],
                "x-conditional": [
                  "planOverview"
                ],
                "properties":
                {
                  "nickname":
                  {
                    "description": "Optional display name for the plan provided by the customer to help differentiate multiple plans",
                    "type": "string"
                  },
                  "type":
                  {
                    "description": "The type of the plan",
                    "type": "string",
                    "enum": [
                      "MOBILE",
                      "BROADBAND"
                    ]
                  },
                  "serviceIds":
                  {
                    "description": "An array of serviceId’s representing a unique service identifier such as a mobile (MSISDN) or internet service (e.g NBN or ADSL) If there are no serviceIds allocated to this plan then an empty array would be expected",
                    "type": "array",
                    "items":
                    {
                      "type": "string"
                    }
                  },
                  "planOverview":
                  {
                    "description": "Mandatory if openStatus is OPEN",
                    "type": "object",
                    "required": [
                      "startDate"
                    ],
                    "properties":
                    {
                      "displayName":
                      {
                        "description": "The name of the plan if one exists",
                        "type": "string"
                      },
                      "startDate":
                      {
                        "description": "The start date of the applicability of this plan",
                        "type": "string",
                        "x-cds-type": "DateString"
                      },
                      "endDate":
                      {
                        "description": "The end date of the applicability of this plan",
                        "type": "string",
                        "x-cds-type": "DateString"
                      }
                    }
                  }
                }
              }
            }
          }
        }]
      },
      "TelcoAccountDetail":
      {
        "allOf": [
        {
          "$ref": "#/components/schemas/TelcoAccountBase"
        },
        {
          "description": "The array of plans containing services and associated plan details",
          "type": "object",
          "required": [
            "plans"
          ],
          "x-conditional": [
            "planOverview, planDetail"
          ],
          "properties":
          {
            "plans":
            {
              "description": "The array of plans containing services and associated plan details",
              "type": "array",
              "items":
              {
                "type": "object",
                "required": [
                  "serviceIds"
                ],
                "x-conditional": [
                  "planOverview",
                  "planDetail"
                ],
                "properties":
                {
                  "nickname":
                  {
                    "description": "Optional display name for the plan provided by the customer to help differentiate multiple plans",
                    "type": "string"
                  },
                  "serviceIds":
                  {
                    "description": "An array of serviceId’s representing a unique service identifier such as a mobile (MSISDN) or internet service (e.g NBN or ADSL) If there are no serviceIds allocated to this plan then an empty array would be expected",
                    "type": "array",
                    "items":
                    {
                      "type": "string"
                    }
                  },
                  "planOverview":
                  {
                    "description": "Mandatory if openStatus is OPEN",
                    "type": "object",
                    "required": [
                      "startDate"
                    ],
                    "properties":
                    {
                      "displayName":
                      {
                        "description": "The name of the plan if one exists",
                        "type": "string"
                      },
                      "startDate":
                      {
                        "description": "The start date of the applicability of this plan",
                        "type": "string",
                        "x-cds-type": "DateString"
                      },
                      "endDate":
                      {
                        "description": "The end date of the applicability of this plan",
                        "type": "string",
                        "x-cds-type": "DateString"
                      }
                    }
                  },
                  "planDetail":
                  {
                    "description": "Detail on the plan applicable to this account. Mandatory if openStatus is OPEN",
                    "type": "object",
                    "required": [
                      "fuelType"
                    ],
                    "x-conditional": [],
                    "properties":
                    {
                      "charges":
                      {
                        "description": "Charges included in the plan",
                        "type": "array",
                        "items":
                        {
                          "type": "object",
                          "required": ["displayName", "minimumValue"],
                          "properties":
                          {
                            "displayName":
                            {
                              "type": "string",
                              "description": "Display name of the charge"
                            },
                            "description":
                            {
                              "type": "string",
                              "description": "Description of the charge"
                            },
                            "minimumValue":
                            {
                              "type": "string",
                              "x-cds-type": "AmountString",
                              "description": "Minimum value of the charge if the charge is a range or the absolute value of the charge if no range is specified"
                            },
                            "maximumValue":
                            {
                              "type": "string",
                              "x-cds-type": "AmountString",
                              "description": "The upper limit of the charge if the charge could occur in a range"
                            },
                            "period":
                            {
                              "type": "string",
                              "x-cds-type": "ExternalRef",
                              "description": "The charges that occur on a schedule indicates the frequency. Formatted according to [ISO 8601 Durations](https://en.wikipedia.org/wiki/ISO_8601#Durations) (excludes recurrence syntax)"
                            }
                          }
                        }
                      }
                    }
                  },
                  "authorisedContacts":
                  {
                    "description": "An array of additional contacts that are authorised to act on this account",
                    "type": "array",
                    "items":
                    {
                      "type": "object",
                      "required": [
                        "lastName"
                      ],
                      "properties":
                      {
                        "firstName":
                        {
                          "description": "For people with single names this field need not be present. The single name should be in the lastName field",
                          "type": "string"
                        },
                        "lastName":
                        {
                          "description": "For people with single names the single name should be in this field",
                          "type": "string"
                        },
                        "middleNames":
                        {
                          "description": "Field is mandatory but array may be empty",
                          "type": "array",
                          "items":
                          {
                            "type": "string"
                          }
                        },
                        "prefix":
                        {
                          "description": "Also known as title or salutation. The prefix to the name (e.g. Mr, Mrs, Ms, Miss, Sir, etc)",
                          "type": "string"
                        },
                        "suffix":
                        {
                          "description": "Used for a trailing suffix to the name (e.g. Jr)",
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }]
      },
      "TelcoPaymentSchedule":
      {
        "type": "object",
        "required": [
          "paymentScheduleUType"
        ],
        "x-conditional": [
          "cardDebit",
          "directDebit",
          "manualPayment",
          "digitalWallet"
        ],
        "properties":
        {
          "amount":
          {
            "description": "Optional payment amount indicating that a constant payment amount is scheduled to be paid (used in bill smooting scenarios)",
            "type": "string",
            "x-cds-type": "AmountString"
          },
          "paymentScheduleUType":
          {
            "description": "The type of object present in this response",
            "type": "string",
            "enum": [
              "cardDebit",
              "directDebit",
              "manualPayment",
              "digitalWallet"
            ]
          },
          "cardDebit":
          {
            "description": "Represents a regular credit card payment schedule. Mandatory if paymentScheduleUType is set to cardDebit",
            "type": "object",
            "required": [
              "cardScheme",
              "paymentFrequency",
              "calculationType"
            ],
            "properties":
            {
              "cardScheme":
              {
                "description": "The type of credit card held on file",
                "type": "string",
                "enum": [
                  "VISA",
                  "MASTERCARD",
                  "AMEX",
                  "DINERS",
                  "OTHER",
                  "UNKNOWN"
                ]
              },
              "paymentFrequency":
              {
                "description": "The frequency that payments will occur.  Formatted according to [ISO 8601 Durations](https://en.wikipedia.org/wiki/ISO_8601#Durations) (excludes recurrence syntax)",
                "type": "string",
                "x-cds-type": "ExternalRef"
              },
              "calculationType":
              {
                "description": "The mechanism by which the payment amount is calculated.  Explanation of values are as follows:<br/><ul><li>**STATIC** - Indicates a consistent, static amount, per payment</li><li>**BALANCE** - Indicates that the outstanding balance for the account is paid per period</li><li>**CALCULATED** - Indicates that the payment amount is variable and calculated using a pre-defined algorithm</li></ul>",
                "type": "string",
                "enum": [
                  "STATIC",
                  "BALANCE",
                  "CALCULATED"
                ]
              }
            }
          },
          "directDebit":
          {
            "description": "Represents a regular direct debit from a specified bank account. Mandatory if paymentScheduleUType is set to directDebit",
            "type": "object",
            "required": [
              "paymentFrequency",
              "calculationType"
            ],
            "x-conditional": [
              "bsb",
              "accountNumber"
            ],
            "properties":
            {
              "isTokenised":
              {
                "description": "Flag indicating that the account details are tokenised and cannot be shared.  False if absent",
                "type": "boolean"
              },
              "bsb":
              {
                "description": "The unmasked BSB for the account to be debited. Is expected to be formatted as digits only with leading zeros included and no punctuation or spaces.  Is required if isTokenised is absent or false",
                "type": "string"
              },
              "accountNumber":
              {
                "description": "The unmasked account number for the account to be debited. Is expected to be formatted as digits only with leading zeros included and no punctuation or spaces.  Is required if isTokenised is absent or false",
                "type": "string"
              },
              "paymentFrequency":
              {
                "description": "The frequency that payments will occur.  Formatted according to [ISO 8601 Durations](https://en.wikipedia.org/wiki/ISO_8601#Durations) (excludes recurrence syntax)",
                "type": "string",
                "x-cds-type": "ExternalRef"
              },
              "calculationType":
              {
                "description": "The mechanism by which the payment amount is calculated.  Explanation of values are as follows:<br/><ul><li>**STATIC** - Indicates a consistent, static amount, per payment</li><li>**BALANCE** - Indicates that the outstanding balance for the account is paid per period</li><li>**CALCULATED** - Indicates that the payment amount is variable and calculated using a pre-defined algorithm</li></ul>",
                "type": "string",
                "enum": [
                  "STATIC",
                  "BALANCE",
                  "CALCULATED"
                ]
              }
            }
          },
          "digitalWallet":
          {
            "description": "Represents a regular payment from a digital wallet. Mandatory if paymentScheduleUType is set to digitalWallet",
            "type": "object",
            "required": [
              "name",
              "identifier",
              "type",
              "provider",
              "paymentFrequency",
              "calculationType"
            ],
            "properties":
            {
              "name":
              {
                "type": "string",
                "description": "The name assigned to the digital wallet by the owner of the wallet, else the display name provided by the digital wallet provider"
              },
              "identifier":
              {
                "type": "string",
                "description": "The identifier of the digital wallet (dependent on type)"
              },
              "type":
              {
                "type": "string",
                "description": "The type of the digital wallet identifier",
                "enum": [
                  "EMAIL",
                  "CONTACT_NAME",
                  "TELEPHONE"
                ]
              },
              "provider":
              {
                "type": "string",
                "description": "The provider of the digital wallet",
                "enum": [
                  "PAYPAL_AU",
                  "OTHER"
                ]
              },
              "paymentFrequency":
              {
                "description": "The frequency that payments will occur.  Formatted according to [ISO 8601 Durations](https://en.wikipedia.org/wiki/ISO_8601#Durations) (excludes recurrence syntax)",
                "type": "string",
                "x-cds-type": "ExternalRef"
              },
              "calculationType":
              {
                "description": "The mechanism by which the payment amount is calculated.  Explanation of values are as follows:<br/><ul><li>**STATIC** - Indicates a consistent, static amount, per payment</li><li>**BALANCE** - Indicates that the outstanding balance for the account is paid per period</li><li>**CALCULATED** - Indicates that the payment amount is variable and calculated using a pre-defined algorithm</li></ul>",
                "type": "string",
                "enum": [
                  "STATIC",
                  "BALANCE",
                  "CALCULATED"
                ]
              }
            }
          },
          "manualPayment":
          {
            "description": "Represents a manual payment schedule where the customer pays in response to a delivered statement. Mandatory if paymentScheduleUType is set to manualPayment",
            "type": "object",
            "required": [
              "billFrequency"
            ],
            "properties":
            {
              "billFrequency":
              {
                "description": "The frequency with which a bill will be issued.  Formatted according to [ISO 8601 Durations](https://en.wikipedia.org/wiki/ISO_8601#Durations) (excludes recurrence syntax)",
                "type": "string",
                "x-cds-type": "ExternalRef"
              }
            }
          }
        }
      },
      "TelcoConcession":
      {
        "type": "object",
        "required": [
          "type",
          "startDate",
          "displayName"
        ],
        "x-conditional": [
          "discountFrequency",
          "amount",
          "percentage"
        ],
        "properties":
        {
          "type":
          {
            "description": "The concession type",
            "type": "string",
            "default": "CONCESSION",
            "enum": [
              "CONCESSION",
              "REBATE",
              "GRANT"
            ]
          },
          "displayName":
          {
            "description": "The display name of the concession",
            "type": "string"
          },
          "additionalInfo":
          {
            "description": "Display text providing more information on the concession",
            "type": "string"
          },
          "additionalInfoUri":
          {
            "description": "Optional link to additional information regarding the concession",
            "type": "string",
            "x-cds-type": "URIString"
          },
          "startDate":
          {
            "description": "Start date for the application of the concession",
            "type": "string",
            "x-cds-type": "DateString"
          },
          "endDate":
          {
            "description": "Optional end date for the application of the concession",
            "type": "string",
            "x-cds-type": "DateString"
          },
          "discountFrequency":
          {
            "description": "Conditional attribute for frequency at which a concession is applied. Required if type is FIXED_AMOUNT or FIXED_PERCENTAGE. Formatted according to [ISO 8601 Durations](https://en.wikipedia.org/wiki/ISO_8601#Durations) (excludes recurrence syntax)",
            "type": "string",
            "x-cds-type": "ExternalRef"
          },
          "amount":
          {
            "description": "Conditional attribute for the amount of discount for the concession- required if type is FIXED_AMOUNT",
            "type": "string",
            "x-cds-type": "AmountString"
          },
          "percentage":
          {
            "description": "Conditional attribute for the percentage of discount of concession - required if type is FIXED_PERCENTAGE",
            "type": "string",
            "x-cds-type": "RateString"
          },
          "appliedTo":
          {
            "description": "Array of ENUM's to specify what the concession applies to. Multiple ENUM values can be provided. If absent, USAGE is assumed",
            "type": "array",
            "items":
            {
              "type": "string",
              "enum": [
                "INVOICE",
                "USAGE"
              ]
            }
          }
        }
      },
      "TelcoInvoice":
      {
        "type": "object",
        "required": [
          "accountId",
          "invoiceNumber",
          "issueDate",
          "balanceAtIssue",
          "services",
          "paymentStatus"
        ],
        "x-conditional": [
          "period"
        ],
        "properties":
        {
          "accountId":
          {
            "description": "The ID of the account for which the invoice was issued. accountId must comply in accordance with CDR ID permanence",
            "type": "string"
          },
          "invoiceNumber":
          {
            "description": "The number assigned to this invoice by the telco Retailer",
            "type": "string"
          },
          "issueDate":
          {
            "description": "The date that the invoice was actually issued (as opposed to generated or calculated)",
            "type": "string",
            "x-cds-type": "DateString"
          },
          "dueDate":
          {
            "description": "The date that the invoice is due to be paid",
            "type": "string",
            "x-cds-type": "DateString"
          },
          "period":
          {
            "description": "Object containing the start and end date for the period covered by the invoice. Mandatory if any usage based charges are included in the invoice",
            "type": "object",
            "required": [
              "startDate",
              "endDate"
            ],
            "properties":
            {
              "startDate":
              {
                "description": "The start date of the period covered by this invoice",
                "type": "string",
                "x-cds-type": "DateString"
              },
              "endDate":
              {
                "description": "The end date of the period covered by this invoice",
                "type": "string",
                "x-cds-type": "DateString"
              }
            }
          },
          "invoiceAmount":
          {
            "description": "The net amount due for this invoice regardless of previous balance",
            "type": "string",
            "x-cds-type": "AmountString"
          },
          "gstAmount":
          {
            "description": "The total GST amount for this invoice.  If absent then zero is assumed",
            "type": "string",
            "x-cds-type": "AmountString"
          },
          "payOnTimeDiscount":
          {
            "description": "A discount for on time payment",
            "type": "object",
            "required": [
              "discountAmount",
              "date"
            ],
            "properties":
            {
              "discountAmount":
              {
                "description": "The amount that will be discounted if the invoice is paid by the date specified",
                "type": "string",
                "x-cds-type": "AmountString"
              },
              "gstAmount":
              {
                "description": "The GST amount that will be discounted if the invoice is paid by the date specified.  If absent then zero is assumed",
                "type": "string",
                "x-cds-type": "AmountString"
              },
              "date":
              {
                "description": "The date by which the invoice must be paid to receive the pay on time discount",
                "type": "string",
                "x-cds-type": "DateString"
              }
            }
          },
          "balanceAtIssue":
          {
            "description": "The account balance at the time the invoice was issued",
            "type": "string",
            "x-cds-type": "AmountString"
          },
          "services":
          {
            "description": "An array of service IDs to which this invoice applies. May be empty if the invoice contains no usage related charges",
            "type": "array",
            "items":
            {
              "type": "string"
            }
          },
          "accountCharges":
          {
            "description": "An array of service IDs to which this invoice applies. May be empty if the invoice contains no usage related charges",
            "$ref": "#/components/schemas/TelcoInvoiceAccountCharges"
          },
          "accountUsage":
          {
            "description": "Usage summary for the invoice. May be empty if the invoice contains no usage data",
            "$ref": "#/components/schemas/TelcoUsage"
          },
          "paymentStatus":
          {
            "description": "Indicator of the payment status for the invoice",
            "type": "string",
            "enum": [
              "PAID",
              "PARTIALLY_PAID",
              "NOT_PAID"
            ]
          }
        }
      },
      "TelcoUsage":
      {
        "description": "Object containing usage summary",
        "type": "object",
        "required": [
          "data"
        ],
        "x-conditional": [
          "voice", "messaging"
        ],
        "properties":
        {
          "data":
          {
            "description": "Summary of data usage",
            "type": "object",
            "required": [
              "upload",
              "download",
              "roaming",
              "amount"
            ],
            "properties":
            {
              "upload":
              {
                "description": "Amount of data uploaded in megabytes (MB)",
                "type": "number"
              },
              "download":
              {
                "description": "Amount of data downloaded in megabytes (MB)",
                "type": "number"
              },
              "sessions":
              {
                "description": "Number of data sessions",
                "type": "number"
              },
              "amount":
              {
                "description": "Cost amount of data usage",
                "type": "string",
                "x-cds-type": "AmountString"
              },
              "roaming":
              {
                "description": "Roaming Data Usage",
                "type": "object",
                "x-conditional": [
                  "download", "amount"
                ],
                "properties":
                {
                  "download":
                  {
                    "description": "Amount of data used while roaming in megabytes (MB)",
                    "type": "number"
                  },
                  "amount":
                  {
                    "description": "Amount value of data roaming charges",
                    "type": "string",
                    "x-cds-type": "AmountString"
                  }
                }
              }
            }
          },
          "voice":
          {
            "description": "Summary of voice calls. Required if voice calls are included in product plan",
            "type": "object",
            "required": [
              "national",
              "international",
              "roaming",
              "amount"
            ],
            "properties":
            {
              "national":
              {
                "description": "National voice calls",
                "type": "object",
                "required": ["duration", "number", "amount"],
                "x-conditional": [],
                "properties":
                {
                  "duration":
                  {
                    "description": "Total duration (hours, minutes, and seconds) of national voice calls. Not limited to 24hrs",
                    "type": "string",
                    "x-cds-type": "TimeString"
                  },
                  "number":
                  {
                    "description": "Number of national voice calls",
                    "type": "number"
                  },
                  "amount":
                  {
                    "description": "Cost amount of national calls",
                    "type": "string",
                    "x-cds-type": "AmountString"
                  }
                }
              },
              "international":
              {
                "description": "International voice calls",
                "type": "object",
                "required": ["duration", "number", "amount"],
                "x-conditional": [],
                "properties":
                {
                  "duration":
                  {
                    "description": "Total duration (hours, minutes, and seconds) of international voice calls. Not limited to 24hrs",
                    "type": "string",
                    "x-cds-type": "TimeString"
                  },
                  "number":
                  {
                    "description": "Number of international voice calls",
                    "type": "number"
                  },
                  "amount":
                  {
                    "description": "Cost amount of international voice calls",
                    "type": "string",
                    "x-cds-type": "AmountString"
                  }
                }
              },
              "roaming":
              {
                "description": "Roaming voice calls",
                "type": "object",
                "required": ["duration", "number", "amount"],
                "x-conditional": [],
                "properties":
                {
                  "duration":
                  {
                    "description": "Total duration (hours, minutes, and seconds) of roaming voice calls. Not limited to 24hrs",
                    "type": "string",
                    "x-cds-type": "TimeString"
                  },
                  "number":
                  {
                    "description": "Number of roaming voice calls",
                    "type": "number"
                  },
                  "amount":
                  {
                    "description": "Cost amount of roaming voice calls",
                    "type": "string",
                    "x-cds-type": "AmountString"
                  }
                }
              }
            }
          },
          "messaging":
          {
            "description": "Summary of messaging. Required if messaging services is included in the product plan",
            "type": "object",
            "required": [
              "sms",
              "mms"
            ],
            "properties":
            {
              "sms":
              {
                "description": "Summary of SMS usage",
                "type": "object",
                "required": ["national", "international", "roaming", "amount"],
                "x-conditional": [],
                "properties":
                {
                  "national":
                  {
                    "description": "Number of national SMS messages sent. Including premium SMS services",
                    "type": "number"
                  },
                  "international":
                  {
                    "description": "Number of international SMS messages sent. Including premium SMS services",
                    "type": "number"
                  },
                  "roaming":
                  {
                    "description": "Number of roaming SMS messages sent. Including premium SMS services",
                    "type": "number"
                  },
                  "amount":
                  {
                    "description": "Cost amount of SMS messages. Including premium SMS services",
                    "type": "string",
                    "x-cds-type": "AmountString"
                  }
                }
              },
              "mms":
              {
                "description": "Summary of MMS usage",
                "type": "object",
                "required": ["national", "international", "roaming", "amount"],
                "x-conditional": [],
                "properties":
                {
                  "national":
                  {
                    "description": "Number of national MMS messages sent",
                    "type": "number"
                  },
                  "international":
                  {
                    "description": "Number of international MMS messages sent",
                    "type": "number"
                  },
                  "roaming":
                  {
                    "description": "Number of roaming MMS messages sent. Including premium MMS services",
                    "type": "number"
                  },
                  "amount":
                  {
                    "description": "Cost amount of MMS messages",
                    "type": "string",
                    "x-cds-type": "AmountString"
                  }
                }
              }
            }
          }
        }
      },
      "TelcoInvoiceAccountCharges":
      {
        "description": "Object contain charges and credits related to usage",
        "type": "object",
        "required": [
          "totalUsageCharges",
          "totalOnceOffCharges",
          "totalDiscounts"
        ],
        "properties":
        {
          "totalUsageCharges":
          {
            "description": "The aggregate total of usage charges for the period covered by the invoice (exclusive of GST)",
            "type": "string",
            "x-cds-type": "AmountString"
          },
          "totalOnceOffCharges":
          {
            "description": "The aggregate total of any once off charges arising from usage for the period covered by the invoice (exclusive of GST)",
            "type": "string",
            "x-cds-type": "AmountString"
          },
          "totalDiscounts":
          {
            "description": "The aggregate total of account level discounts or credits for the period covered by the invoice",
            "type": "string",
            "x-cds-type": "AmountString"
          },
          "otherCharges":
          {
            "description": "Optional array of charges that may be part of the invoice (for example services fees) (exclusive of GST)",
            "type": "object",
            "required": [
              "amount",
              "description"
            ],
            "properties":
            {
              "amount":
              {
                "description": "The aggregate total of charges for this item (exclusive of GST)",
                "type": "string",
                "x-cds-type": "AmountString"
              },
              "description":
              {
                "description": "A free text description of the charge",
                "type": "string",
                "x-cds-type": "AmountString"
              },
              "type":
              {
                "description": "A free text description of the charge",
                "type": "string",
                "enum": [
                  "SERVICE",
                  "EQUIPMENT",
                  "NETWORK",
                  "HANDSET",
                  "DEVICE",
                  "ENTERTAINMENT",
                  "SUBSCRIPTION",
                  "SOFTWARE",
                  "OTHER"
                ]
              }
            }
          },
          "totalGst":
          {
            "description": "The total GST for all account level charges.  If absent then zero is assumed",
            "type": "string",
            "x-cds-type": "AmountString"
          }
        }
      },
      "TelcoBillingTransaction":
      {
        "type": "object",
        "required": [
          "accountId",
          "executionDateTime",
          "transactionUType"
        ],
        "x-conditional": [
          "usage",
          "onceOff",
          "payment"
        ],
        "properties":
        {
          "accountId":
          {
            "description": "The ID of the account for which the transaction occurred. accountId must comply in accordance with CDR ID permanence",
            "type": "string"
          },
          "executionDateTime":
          {
            "description": "The date and time that the transaction occurred",
            "type": "string",
            "x-cds-type": "DateTimeString"
          },
          "gst":
          {
            "description": "The GST incurred in the transaction.  Should not be included for credits or payments.  If absent zero is assumed",
            "type": "string",
            "x-cds-type": "AmountString"
          },
          "transactionUType":
          {
            "description": "Indicator of the type of transaction object present in this record",
            "type": "string",
            "enum": [
              "account",
              "onceOff",
              "otherCharges",
              "payment"
            ]
          },
          "account":
          {
            "description": "Represents an account bill charge.  Mandatory if transactionUType is equal to account",
            "$ref": "#/components/schemas/TelcoBillingAccountTransaction"
          },
          "onceOff":
          {
            "description": "Represents a once off charge or credit.  Mandatory if transactionUType is equal to onceOff",
            "$ref": "#/components/schemas/TelcoBillingOnceOffTransaction"
          },
          "otherCharges":
          {
            "description": "Represents charge other than usage and once off.  Mandatory if transactionUType is equal to otherCharge",
            "$ref": "#/components/schemas/TelcoBillingOtherTransaction"
          },
          "payment":
          {
            "description": "Represents a payment to the account.  Mandatory if transactionUType is equal to payment",
            "$ref": "#/components/schemas/TelcoBillingPaymentTransaction"
          }
        }
      },
      "TelcoBillingAccountTransaction":
      {
        "type": "object",
        "required": [
          "startDate",
          "endDate",
          "amount"
        ],
        "properties":
        {
          "serviceIds":
          {
            "description": "Array list of services IDs to which this transaction applies if any",
            "type": "string"
          },
          "invoiceNumber":
          {
            "description": "The number of the invoice in which this transaction is included if it has been issued",
            "type": "string"
          },
          "description":
          {
            "description": "Optional description of the transaction that can be used for display purposes",
            "type": "string"
          },
          "startDate":
          {
            "description": "Date and time when the usage period starts",
            "type": "string",
            "x-cds-type": "DateTimeString"
          },
          "endDate":
          {
            "description": "Date and time when the usage period ends",
            "type": "string",
            "x-cds-type": "DateTimeString"
          },
          "amount":
          {
            "description": "The amount charged or credited for this transaction prior to any adjustments being applied.  A negative value indicates a credit",
            "type": "string",
            "x-cds-type": "AmountString"
          },
          "adjustments":
          {
            "description": "Optional array of adjustments arising for this transaction",
            "type": "array",
            "items":
            {
              "type": "object",
              "required": [
                "amount",
                "description"
              ],
              "properties":
              {
                "amount":
                {
                  "description": "The amount of the adjustment",
                  "type": "string",
                  "x-cds-type": "AmountString"
                },
                "description":
                {
                  "description": "A free text description of the adjustment",
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "TelcoBillingOnceOffTransaction":
      {
        "type": "object",
        "required": [
          "amount",
          "description"
        ],
        "properties":
        {
          "serviceId":
          {
            "description": "The ID of the service to which this transaction applies if any",
            "type": "string"
          },
          "invoiceNumber":
          {
            "description": "The number of the invoice in which this transaction is included if it has been issued",
            "type": "string"
          },
          "amount":
          {
            "description": "The amount of the charge or credit.  A positive value indicates a charge and a negative value indicates a credit",
            "type": "string",
            "x-cds-type": "AmountString"
          },
          "description":
          {
            "description": "A free text description of the item",
            "type": "string"
          }
        }
      },
      "TelcoBillingOtherTransaction":
      {
        "type": "object",
        "required": [
          "amount",
          "description"
        ],
        "properties":
        {
          "serviceId":
          {
            "description": "The ID of the service to which this transaction applies if any",
            "type": "string"
          },
          "invoiceNumber":
          {
            "description": "The number of the invoice in which this transaction is included if it has been issued",
            "type": "string"
          },
          "startDate":
          {
            "description": "Optional start date for the application of the charge",
            "type": "string",
            "x-cds-type": "DateString"
          },
          "endDate":
          {
            "description": "Optional end date for the application of the charge",
            "type": "string",
            "x-cds-type": "DateString"
          },
          "type":
          {
            "description": "Type of charge. Assumed to be OTHER if absent",
            "type": "string",
            "enum": [
              "SERVICE",
              "NETWORK",
              "EQUIPMENT",
              "METERING",
              "OTHER"
            ]
          },
          "amount":
          {
            "description": "The amount of the charge",
            "type": "string",
            "x-cds-type": "AmountString"
          },
          "description":
          {
            "description": "A free text description of the item",
            "type": "string"
          },
          "adjustments":
          {
            "description": "Optional array of adjustments arising for this transaction",
            "type": "array",
            "items":
            {
              "type": "object",
              "required": [
                "amount",
                "description"
              ],
              "properties":
              {
                "amount":
                {
                  "description": "The amount of the adjustment",
                  "type": "string",
                  "x-cds-type": "AmountString"
                },
                "description":
                {
                  "description": "A free text description of the adjustment",
                  "type": "string"
                }
              }
            }
          }

        }
      },
      "TelcoBillingPaymentTransaction":
      {
        "type": "object",
        "required": [
          "amount",
          "method"
        ],
        "properties":
        {
          "amount":
          {
            "description": "The amount paid",
            "type": "string",
            "x-cds-type": "AmountString"
          },
          "method":
          {
            "description": "The method of payment",
            "type": "string",
            "enum": [
              "DIRECT_DEBIT",
              "CARD",
              "TRANSFER",
              "BPAY",
              "CASH",
              "CHEQUE",
              "VOUCHER",
              "OTHER"
            ]
          }
        }
      },
      "TelcoBalance":
      {
        "description": "Object containing Telco account balance",
        "type": "object",
        "required": [
          "services"
        ],
        "x-conditional": [
          "services"
        ],
        "properties":
        {
          "services":
          {
            "description": "Summary of balance for a Telco service",
            "type": "array",
            "items":
            {
              "$ref": "#/components/schemas/TelcoServiceBalance"
            }
          }
        }
      },
      "TelcoServiceBalance":
      {
        "description": "Telco balances for a service",
        "type": "object",
        "required": [
          "serviceId", "startDate", "planType", "totalBalance", "balances"
        ],
        "x-conditional": [
          "phoneNumber"
        ],
        "properties":
        {
          "serviceId":
          {
            "description": "The serviceId representing a unique service identifier such as a mobile (MSISDN) or internet service (e.g NBN or ADSL)",
            "type": "string"
          },
          "displayName":
          {
            "description": "Optional description of the service used for display purposes",
            "type": "string"
          },
          "phoneNumber":
          {
            "description": "Required if the service includes a phone number",
            "type": "string"
          },
          "startDate":
          {
            "description": "Date when the balance period started",
            "type": "string",
            "x-cds-type": "DateTimeString"
          },
          "endDate":
          {
            "description": "Date when the balance period ends",
            "type": "string",
            "x-cds-type": "DateTimeString"
          },
          "totalBalance":
          {
            "description": "The current amount owing for the account as a whole",
            "type": "string",
            "x-cds-type": "AmountString"
          },
          "balances":
          {
            "description": "The serviceId representing a unique service identifier such as a mobile (MSISDN) or internet service (e.g NBN or ADSL)",
            "type": "object",
            "required": [
              "data, voice, messaging"
            ],
            "properties":
            {
              "data":
              {
                "description": "Summary of data balances",
                "type": "object",
                "x-conditional": ["description", "national", "international", "amount"],
                "properties":
                {
                  "planType":
                  {
                    "$ref": "#/components/schemas/TelcoPlanType"
                  },
                  "description":
                  {
                    "description": "An overview of plan limits. Required unless planType is UNSUPPORTED",
                    "type": "string"
                  },
                  "upload":
                  {
                    "description": "Remaining upload data in megabytes (MB). Required unless planType is UNSUPPORTED or UNMETERED",
                    "type": "number"
                  },
                  "download":
                  {
                    "description": "Remaining download data in megabytes (MB). Required unless planType is UNSUPPORTED or UNMETERED",
                    "type": "number"
                  },
                  "amount":
                  {
                    "description": "Remaining value amount of data available. Required unless planType is UNSUPPORTED or UNMETERED",
                    "type": "string",
                    "x-cds-type": "AmountString"
                  },
                  "roaming":
                  {
                    "description": "Balance of data roaming charges. Required unless planType is UNSUPPORTED",
                    "type": "object",
                    "x-conditional": [
                      "download", "amount"
                    ],
                    "properties":
                    {
                      "download":
                      {
                        "description": "Amount of data used overseas in megabytes (MB). Required unless planType is UNSUPPORTED",
                        "type": "number"
                      },
                      "amount":
                      {
                        "description": "Amount value of data roaming charges. Required unless planType is UNSUPPORTED",
                        "type": "string",
                        "x-cds-type": "AmountString"
                      }
                    }
                  }
                }
              },
              "voice":
              {
                "description": "Summary of voice balances. Required if voice calls are included in product plan",
                "type": "object",
                "properties":
                {
                  "planType":
                  {
                    "$ref": "#/components/schemas/TelcoPlanType"
                  },
                  "national":
                  {
                    "description": "National voice calls",
                    "type": "object",
                    "x-conditional": ["description", "duration", "number", "amount"],
                    "properties":
                    {
                      "description":
                      {
                        "description": "An overview of plan limits. Required unless planType is UNSUPPORTED",
                        "type": "string"
                      },
                      "duration":
                      {
                        "description": "Total duration (hours, minutes, and seconds) of national voice calls. Not limited to 24hrs. Required unless planType is UNSUPPORTED or UNMETERED",
                        "type": "string",
                        "x-cds-type": "TimeString"
                      },
                      "number":
                      {
                        "description": "Number of national voice calls. Required unless planType is UNSUPPORTED or UNMETERED",
                        "type": "number"
                      },
                      "amount":
                      {
                        "description": "Amount balance of national calls. Required unless planType is UNSUPPORTED or UNMETERED",
                        "type": "string",
                        "x-cds-type": "AmountString"
                      }
                    }
                  },
                  "international":
                  {
                    "description": "National voice calls",
                    "type": "object",
                    "x-conditional": ["description", "national", "international", "amount"],
                    "properties":
                    {
                      "description":
                      {
                        "description": "An overview of plan limits. Required unless planType is UNSUPPORTED",
                        "type": "string"
                      },
                      "duration":
                      {
                        "description": "Total duration (hours, minutes, and seconds) of international voice calls available. Not limited to 24hrs. Required unless planType is UNSUPPORTED or UNMETERED",
                        "type": "string",
                        "x-cds-type": "TimeString"
                      },
                      "number":
                      {
                        "description": "Number of international voice calls available Required unless planType is UNSUPPORTED or UNMETERED",
                        "type": "number"
                      },
                      "amount":
                      {
                        "description": "Amount value of international calls available. Required unless planType is UNSUPPORTED or UNMETERED",
                        "type": "string",
                        "x-cds-type": "AmountString"
                      }
                    }
                  }
                }
              },
              "messaging":
              {
                "description": "Summary of messaging. Required if messaging services is included in the product plan",
                "type": "object",
                "required": [
                  "sms",
                  "mms"
                ],
                "properties":
                {
                  "planType":
                  {
                    "$ref": "#/components/schemas/TelcoPlanType"
                  },
                  "sms":
                  {
                    "description": "Required if the service plan supports SMS messaging",
                    "type": "object",
                    "x-conditional": ["description", "national", "international", "amount"],
                    "properties":
                    {
                      "description":
                      {
                        "description": "An overview of plan limits. Required unless planType is UNSUPPORTED",
                        "type": "string"
                      },
                      "national":
                      {
                        "description": "Number of national SMS messages remaining. Required unless planType is UNSUPPORTED or UNMETERED",
                        "type": "number"
                      },
                      "international":
                      {
                        "description": "Number of international SMS messages remaining. Required unless planType is UNSUPPORTED or UNMETERED",
                        "type": "number"
                      },
                      "amount":
                      {
                        "description": "Amount value of SMS messages remaining. Required unless planType is UNSUPPORTED or UNMETERED",
                        "type": "string",
                        "x-cds-type": "AmountString"
                      }
                    }
                  },
                  "mms":
                  {
                    "description": "Summary of MMS usage",
                    "type": "object",
                    "x-conditional": ["description", "national", "international", "amount"],
                    "properties":
                    {
                      "description":
                      {
                        "description": "An overview of plan limits. Required unless planType is UNSUPPORTED",
                        "type": "string"
                      },
                      "national":
                      {
                        "description": "Number of national MMS messages remaining. Required unless planType is UNSUPPORTED or UNMETERED",
                        "type": "number"
                      },
                      "international":
                      {
                        "description": "Number of international MMS messages remaining. Required unless planType is UNSUPPORTED or UNMETERED",
                        "type": "number"
                      },
                      "amount":
                      {
                        "description": "Amount value of MMS messages remaining. Required unless planType is UNSUPPORTED or UNMETERED",
                        "type": "string",
                        "x-cds-type": "AmountString"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "TelcoPlanType":
      {
        "description": "Plan type for this feature. METERED: A plan is charged by usage for the feature. UNMETERED: A plan with no limits for a feature. LIMITED: Where plan limit inclusions apply. UNSUPPORTED: Feature is not supported",
        "type": "string",
        "enum": [
          "METERED",
          "UNMETERED",
          "LIMITED",
          "UNSUPPORTED"
        ]
      },
      "CommonPhysicalAddress":
      {
        "required": [
          "addressUType"
        ],
        "type": "object",
        "properties":
        {
          "addressUType":
          {
            "type": "string",
            "description": "The type of address object present",
            "enum": [
              "paf",
              "simple"
            ]
          },
          "simple":
          {
            "$ref": "#/components/schemas/CommonSimpleAddress"
          },
          "paf":
          {
            "$ref": "#/components/schemas/CommonPAFAddress"
          }
        },
        "x-conditional": [
          "simple",
          "paf"
        ]
      },
      "CommonSimpleAddress":
      {
        "description": "Required if addressUType is set to simple",
        "required": [
          "addressLine1",
          "city",
          "state"
        ],
        "type": "object",
        "properties":
        {
          "mailingName":
          {
            "type": "string",
            "description": "Name of the individual or business formatted for inclusion in an address used for physical mail"
          },
          "addressLine1":
          {
            "type": "string",
            "description": "First line of the standard address object"
          },
          "addressLine2":
          {
            "type": "string",
            "description": "Second line of the standard address object"
          },
          "addressLine3":
          {
            "type": "string",
            "description": "Third line of the standard address object"
          },
          "postcode":
          {
            "type": "string",
            "description": "Mandatory for Australian addresses"
          },
          "city":
          {
            "type": "string",
            "description": "Name of the city or locality"
          },
          "state":
          {
            "type": "string",
            "description": "Free text if the country is not Australia. If country is Australia then must be one of the values defined by the [State Type Abbreviation](https://auspost.com.au/content/dam/auspost_corp/media/documents/australia-post-data-guide.pdf) in the PAF file format. NSW, QLD, VIC, NT, WA, SA, TAS, ACT, AAT"
          },
          "country":
          {
            "type": "string",
            "description": "A valid [ISO 3166 Alpha-3](https://www.iso.org/iso-3166-country-codes.html) country code. Australia (AUS) is assumed if country is not present.",
            "default": "AUS",
            "x-cds-type": "ExternalRef"
          }
        },
        "x-conditional": [
          "postcode"
        ]
      },
      "CommonPAFAddress":
      {
        "description": "Australian address formatted according to the file format defined by the [PAF file format](https://auspost.com.au/content/dam/auspost_corp/media/documents/australia-post-data-guide.pdf). Required if addressUType is set to paf",
        "required": [
          "localityName",
          "postcode",
          "state"
        ],
        "type": "object",
        "properties":
        {
          "dpid":
          {
            "type": "string",
            "description": "Unique identifier for an address as defined by Australia Post.  Also known as Delivery Point Identifier"
          },
          "thoroughfareNumber1":
          {
            "type": "integer",
            "description": "Thoroughfare number for a property (first number in a property ranged address)",
            "x-cds-type": "PositiveInteger"
          },
          "thoroughfareNumber1Suffix":
          {
            "type": "string",
            "description": "Suffix for the thoroughfare number. Only relevant is thoroughfareNumber1 is populated"
          },
          "thoroughfareNumber2":
          {
            "type": "integer",
            "description": "Second thoroughfare number (only used if the property has a ranged address eg 23-25)",
            "x-cds-type": "PositiveInteger"
          },
          "thoroughfareNumber2Suffix":
          {
            "type": "string",
            "description": "Suffix for the second thoroughfare number. Only relevant is thoroughfareNumber2 is populated"
          },
          "flatUnitType":
          {
            "type": "string",
            "description": "Type of flat or unit for the address"
          },
          "flatUnitNumber":
          {
            "type": "string",
            "description": "Unit number (including suffix, if applicable)"
          },
          "floorLevelType":
          {
            "type": "string",
            "description": "Type of floor or level for the address"
          },
          "floorLevelNumber":
          {
            "type": "string",
            "description": "Floor or level number (including alpha characters)"
          },
          "lotNumber":
          {
            "type": "string",
            "description": "Allotment number for the address"
          },
          "buildingName1":
          {
            "type": "string",
            "description": "Building/Property name 1"
          },
          "buildingName2":
          {
            "type": "string",
            "description": "Building/Property name 2"
          },
          "streetName":
          {
            "type": "string",
            "description": "The name of the street"
          },
          "streetType":
          {
            "type": "string",
            "description": "The street type. Valid enumeration defined by Australia Post PAF code file"
          },
          "streetSuffix":
          {
            "type": "string",
            "description": "The street type suffix. Valid enumeration defined by Australia Post PAF code file"
          },
          "postalDeliveryType":
          {
            "type": "string",
            "description": "Postal delivery type. (eg. PO BOX). Valid enumeration defined by Australia Post PAF code file"
          },
          "postalDeliveryNumber":
          {
            "type": "integer",
            "description": "Postal delivery number if the address is a postal delivery type",
            "x-cds-type": "PositiveInteger"
          },
          "postalDeliveryNumberPrefix":
          {
            "type": "string",
            "description": "Postal delivery number prefix related to the postal delivery number"
          },
          "postalDeliveryNumberSuffix":
          {
            "type": "string",
            "description": "Postal delivery number suffix related to the postal delivery number"
          },
          "localityName":
          {
            "type": "string",
            "description": "Full name of locality"
          },
          "postcode":
          {
            "type": "string",
            "description": "Postcode for the locality"
          },
          "state":
          {
            "type": "string",
            "description": "State in which the address belongs. Valid enumeration defined by Australia Post PAF code file [State Type Abbreviation](https://auspost.com.au/content/dam/auspost_corp/media/documents/australia-post-data-guide.pdf). NSW, QLD, VIC, NT, WA, SA, TAS, ACT, AAT"
          }
        }
      },
      "Links":
      {
        "type": "object",
        "required": ["self"],
        "properties":
        {
          "self":
          {
            "type": "string",
            "description": "Fully qualified link that generated the current response document",
            "x-cds-type": "URIString"
          }
        }
      },
      "Meta":
      {
        "type": "object"
      },
      "LinksPaginated":
      {
        "type": "object",
        "required": ["self"],
        "x-conditional": [
          "first",
          "prev",
          "next",
          "last"
        ],
        "properties":
        {
          "self":
          {
            "type": "string",
            "description": "Fully qualified link that generated the current response document",
            "x-cds-type": "URIString"
          },
          "first":
          {
            "type": "string",
            "description": "URI to the first page of this set. Mandatory if this response is not the first page",
            "x-cds-type": "URIString"
          },
          "prev":
          {
            "type": "string",
            "description": "URI to the previous page of this set. Mandatory if this response is not the first page",
            "x-cds-type": "URIString"
          },
          "next":
          {
            "type": "string",
            "description": "URI to the next page of this set. Mandatory if this response is not the last page",
            "x-cds-type": "URIString"
          },
          "last":
          {
            "type": "string",
            "description": "URI to the last page of this set. Mandatory if this response is not the last page",
            "x-cds-type": "URIString"
          }
        }
      },
      "MetaPaginated":
      {
        "type": "object",
        "required": ["totalPages", "totalRecords"],
        "properties":
        {
          "totalRecords":
          {
            "type": "integer",
            "description": "The total number of records in the full set. See [pagination](#pagination).",
            "x-cds-type": "NaturalNumber"
          },
          "totalPages":
          {
            "type": "integer",
            "description": "The total number of pages in the full set. See [pagination](#pagination).",
            "x-cds-type": "NaturalNumber"
          }
        }
      }
    },
    "parameters":
    {
      "serviceId":
      {
        "name": "serviceId",
        "description": "ID of the specific service requested.  This is a tokenised ID returned from thhe account.",
        "in": "path",
        "required": true,
        "schema":
        {
          "type": "string"
        }
      },
      "accountId":
      {
        "name": "accountId",
        "description": "ID of a specific account to obtain data for.  This is a tokenised ID previous obtained from the Account List end point.",
        "in": "path",
        "required": true,
        "schema":
        {
          "type": "string"
        }
      },
      "accountIds":
      {
        "name": "accountIds",
[...]
