{
  "openapi": "3.0.3",
  "info": {
    "title": "CDR Register API (modified for NBL)",
    "version": "1.33.1",
    "description": "Specifications for Register endpoints made available to participants.",
    "contact": {
      "name": "Data Standards Body",
      "email": "contact@dsb.gov.au",
      "url": "https://dsb.gov.au/"
    }
  },
  "servers": [
    {
      "description": "Production TLS",
      "url": "https://api.cdr.gov.au"
    }
  ],
  "tags": [
    {
      "name": "Register Operations",
      "x-shortName": "Operations",
      "description": "Register Operations endpoints"
    },
    {
      "name": "Register Data Holder discovery",
      "x-shortName": "Data Holder discovery",
      "description": "Register Data Holder discovery endpoints"
    },
    {
      "name": "Register Data Recipient discovery",
      "x-shortName": "Data Recipient discovery",
      "description": "Register Data Recipient discovery endpoints"
    }
  ],
  "paths": {
    "/cdr-register/v1/{industry}/data-holders/brands": {
      "get": {
        "servers": [
          {
            "description": "Production MTLS",
            "url": "https://secure.api.cdr.gov.au"
          }
        ],
        "tags": [
          "Register Data Holder discovery"
        ],
        "summary": "Get Data Holder Brands",
        "description": "Allows Data Recipients to discover Data Holder Brands available in the CDR ecosystem.\n\nObsolete versions: [v1](../../../../includes/obsolete/get-data-holder-brands-v1.html), [v2](../../../../includes/obsolete/get-data-holder-brands-v2.html).",
        "operationId": "getDataHolderBrands",
        "parameters": [
          {
            "$ref": "#/components/parameters/PathIndustry"
          },
          {
            "$ref": "#/components/parameters/HeaderAuthorization"
          },
          {
            "$ref": "#/components/parameters/HeaderXV"
          },
          {
            "$ref": "#/components/parameters/HeaderXMinV"
          },
          {
            "$ref": "#/components/parameters/QueryUpdatedSince"
          },
          {
            "$ref": "#/components/parameters/QueryPage"
          },
          {
            "$ref": "#/components/parameters/QueryPageSize"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/getDataHolderBrands200"
          },
          "400": {
            "$ref": "#/components/responses/registerGeneric400"
          },
          "401": {
            "$ref": "#/components/responses/registerGeneric401"
          },
          "406": {
            "$ref": "#/components/responses/registerGeneric406"
          }
        },
        "x-version": "3",
        "x-scopes": [
          "cdr-register:read"
        ]
      }
    },
    "/cdr-register/v1/{industry}/data-holders/brands/summary": {
      "get": {
        "tags": [
          "Register Data Holder discovery"
        ],
        "summary": "Get Data Holder Brands Summary",
        "description": "Endpoint used by participants to discover public details of Data Holder Brands from the CDR Register\n\nObsolete versions: [v1](../../../../includes/obsolete/get-data-holder-brands-summary-v1.html).",
        "operationId": "getDataHolderBrandsSummary",
        "parameters": [
          {
            "$ref": "#/components/parameters/PathIndustry"
          },
          {
            "$ref": "#/components/parameters/HeaderXV"
          },
          {
            "$ref": "#/components/parameters/HeaderXMinV"
          },
          {
            "$ref": "#/components/parameters/HeaderIfNoneMatch"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/getDataHolderBrandsSummary200"
          },
          "304": {
            "$ref": "#/components/responses/registerGeneric304"
          },
          "400": {
            "$ref": "#/components/responses/registerGeneric400"
          },
          "404": {
            "$ref": "#/components/responses/getDataHolderBrandsSummary404"
          },
          "406": {
            "$ref": "#/components/responses/registerGeneric406"
          }
        },
        "x-version": "2"
      }
    },
    "/cdr-register/v1/{industry}/data-holders/status": {
      "get": {
        "tags": [
          "Register Data Holder discovery"
        ],
        "summary": "Get Data Holder Statuses",
        "description": "Endpoint used by participants to discover the statuses for Data Holders from the CDR Register\n\nObsolete versions: [v1](../../../../includes/obsolete/get-data-holder-statuses-v1.html).",
        "operationId": "getDataHolderStatuses",
        "parameters": [
          {
            "$ref": "#/components/parameters/PathIndustry"
          },
          {
            "$ref": "#/components/parameters/HeaderXV"
          },
          {
            "$ref": "#/components/parameters/HeaderXMinV"
          },
          {
            "$ref": "#/components/parameters/HeaderIfNoneMatch"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/getDataHolderStatuses200"
          },
          "304": {
            "$ref": "#/components/responses/registerGeneric304"
          },
          "400": {
            "$ref": "#/components/responses/registerGeneric400"
          },
          "406": {
            "$ref": "#/components/responses/registerGeneric406"
          }
        },
        "x-version": "2"
      }
    }
  },
  "components": {
    "parameters": {
      "HeaderAuthorization": {
        "name": "Authorization",
        "in": "header",
        "description": "An Authorisation Token as per **[[RFC6750]](#nref-RFC6750)**.",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-cds-type": "ExternalRef"
      },
      "HeaderXV": {
        "name": "x-v",
        "in": "header",
        "description": "Version of the API endpoint requested by the client. Must be set to a positive integer. The endpoint should respond with the highest supported version between [_x-min-v_](#request-headers) and [_x-v_](#request-headers). If the value of [_x-min-v_](#request-headers) is equal to or higher than the value of [_x-v_](#request-headers) then the [_x-min-v_](#request-headers) header should be treated as absent. If all versions requested are not supported then the endpoint **MUST** respond with a `406 Not Acceptable`. See [HTTP Headers](#request-headers).",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "HeaderXMinV": {
        "name": "x-min-v",
        "in": "header",
        "description": "Minimum version of the API endpoint requested by the client. Must be set to a positive integer if provided. The endpoint should respond with the highest supported version between [_x-min-v_](#request-headers) and [_x-v_](#request-headers). If all versions requested are not supported then the endpoint **MUST** respond with a `406 Not Acceptable`.",
        "schema": {
          "type": "string"
        }
      },
      "PathIndustry": {
        "name": "industry",
        "in": "path",
        "description": "The industry the participant is retrieving data for (Banking, etc.)",
        "required": true,
        "schema": {
          "$ref": "#/components/schemas/IndustryEnum"
        }
      },
      "HeaderIfNoneMatch": {
        "name": "If-None-Match",
        "in": "header",
        "description": "Makes the request method conditional on a recipient cache or origin server not having any current representation of the target resource with an entity-tag that does not match any of those listed in the field-value.",
        "schema": {
          "type": "string"
        },
        "x-cds-type": "ASCIIString"
      },
      "QueryUpdatedSince": {
        "name": "updated-since",
        "in": "query",
        "description": "Query filter returns results updated since the specified date-time.",
        "schema": {
          "type": "string"
        },
        "x-cds-type": "DateTimeString"
      },
      "QueryPage": {
        "name": "page",
        "in": "query",
        "description": "Page of results to request (standard pagination).",
        "schema": {
          "type": "integer",
          "default": 1
        },
        "x-cds-type": "PositiveInteger"
      },
      "QueryPageSize": {
        "name": "page-size",
        "in": "query",
        "description": "Page size to request. Default is 25 (standard pagination).",
        "schema": {
          "type": "integer",
          "default": 25
        },
        "x-cds-type": "PositiveInteger"
      }
    },
    "headers": {
      "XV": {
        "description": "The [payload version](#response-headers) that the endpoint has responded with.",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "Etag": {
        "description": "Entity tag that uniquely represents the requested resource.",
        "schema": {
          "type": "string"
        },
        "x-cds-type": "ASCIIString"
      }
    },
    "responses": {
      "getDataHolderBrands200": {
        "description": "Successful response",
        "headers": {
          "x-v": {
            "$ref": "#/components/headers/XV"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ResponseRegisterDataHolderBrandList"
            }
          }
        }
      },
      "getDataHolderBrandsSummary200": {
        "description": "Successful response",
        "headers": {
          "x-v": {
            "$ref": "#/components/headers/XV"
          },
          "Etag": {
            "$ref": "#/components/headers/Etag"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ResponseDataHoldersBrandSummaryList"
            }
          }
        }
      },
      "getDataHolderBrandsSummary404": {
        "description": "Industry Not Found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ResponseErrorListV2"
            }
          }
        }
      },
      "getDataHolderStatuses200": {
        "description": "Successful response",
        "headers": {
          "x-v": {
            "$ref": "#/components/headers/XV"
          },
          "Etag": {
            "$ref": "#/components/headers/Etag"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/DataHoldersStatusList"
            }
          }
        }
      },
      "registerGeneric304": {
        "description": "Not Modified - The current representation of the target resource matches with the entity-tag provided in the _If-None-Match_ request header",
        "headers": {
          "Etag": {
            "$ref": "#/components/headers/Etag"
          }
        }
      },
      "registerGeneric400": {
        "description": "Missing Required Header / Invalid Version / Invalid Path Parameter",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ResponseErrorListV2"
            }
          }
        }
      },
      "registerGeneric401": {
        "description": "Invalid Bearer Token",
        "headers": {
          "WWW-Authenticate": {
            "description": "The Response Header Field as per **[[RFC6750]](#nref-RFC6750)**.",
            "schema": {
              "type": "string"
            },
            "x-cds-type": "ExternalRef"
          }
        }
      },
      "registerGeneric406": {
        "description": "Unsupported Version",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ResponseErrorListV2"
            }
          }
        }
      }
    },
    "schemas": {
      "ResponseRegisterDataHolderBrandList": {
        "required": [
          "data",
          "links",
          "meta"
        ],
        "type": "object",
        "properties": {
          "data": {
            "uniqueItems": true,
            "type": "array",
            "description": "Response data for the query.",
            "items": {
              "$ref": "#/components/schemas/RegisterDataHolderBrand"
            }
          },
          "links": {
            "$ref": "#/components/schemas/LinksPaginated"
          },
          "meta": {
            "$ref": "#/components/schemas/MetaPaginated"
          }
        },
        "description": "Response containing a list of CDR Register Data Holder Brand objects."
      },
      "RegisterDataHolderBrand": {
        "required": [
          "authDetails",
          "brandName",
          "dataHolderBrandId",
          "endpointDetail",
          "industries",
          "lastUpdated",
          "legalEntity",
          "logoUri",
          "status"
        ],
        "type": "object",
        "properties": {
          "dataHolderBrandId": {
            "maxLength": 36,
            "type": "string",
            "description": "Unique id of the Data Holder Brand issued by the CDR Register."
          },
          "brandName": {
            "maxLength": 200,
            "type": "string",
            "description": "The name of Data Holder Brand."
          },
          "industries": {
            "uniqueItems": true,
            "type": "array",
            "description": "The industries the Data Holder Brand belongs to.",
            "items": {
              "$ref": "#/components/schemas/IndustriesEnum"
            }
          },
          "logoUri": {
            "maxLength": 1000,
            "type": "string",
            "description": "Brand logo URI.",
            "x-cds-type": "URIString"
          },
          "legalEntity": {
            "$ref": "#/components/schemas/LegalEntityDetail"
          },
          "status": {
            "type": "string",
            "enum": [
              "ACTIVE",
              "INACTIVE",
              "REMOVED"
            ]
          },
          "endpointDetail": {
            "$ref": "#/components/schemas/RegisterDataHolderBrandServiceEndpoint"
          },
          "authDetails": {
            "uniqueItems": true,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RegisterDataHolderAuth"
            }
          },
          "lastUpdated": {
            "type": "string",
            "description": "The date/time that the Data Holder Brand data was last updated in the Register.",
            "x-cds-type": "DateTimeString"
          }
        }
      },
      "ResponseDataHoldersBrandSummaryList": {
        "required": [
          "data",
          "links",
          "meta"
        ],
        "type": "object",
        "properties": {
          "data": {
            "uniqueItems": true,
            "type": "array",
            "description": "Response data for the query.",
            "items": {
              "$ref": "#/components/schemas/DataHolderBrandSummary"
            }
          },
          "links": {
            "$ref": "#/components/schemas/Links"
          },
          "meta": {
            "$ref": "#/components/schemas/Meta"
          }
        }
      },
      "DataHolderBrandSummary": {
        "required": [
          "brandName",
          "publicBaseUri",
          "logoUri",
          "industries",
          "lastUpdated"
        ],
        "type": "object",
        "properties": {
          "dataHolderBrandId": {
            "maxLength": 36,
            "type": "string",
            "x-conditional": true,
            "description": "Unique id of the Data Holder Brand issued by the CDR Register."
          },
          "interimId": {
            "maxLength": 36,
            "type": "string",
            "x-conditional": true,
            "description": "Interim id of the Data Holder Brand issued by the CDR Register. This is to be used to uniquely identify the record when _dataHolderBrandId_ is not populated and is not to be reused."
          },
          "brandName": {
            "maxLength": 200,
            "type": "string",
            "description": "The name of Data Holder Brand."
          },
          "publicBaseUri": {
            "maxLength": 1000,
            "type": "string",
            "description": "Base URI for the Data Holder's Consumer Data Standard public endpoints.",
            "x-cds-type": "URIString"
          },
          "logoUri": {
            "maxLength": 1000,
            "type": "string",
            "description": "Brand logo URI.",
            "x-cds-type": "URIString"
          },
          "industries": {
            "uniqueItems": true,
            "type": "array",
            "description": "The industries the Data Holder Brand belongs to.",
            "items": {
              "$ref": "#/components/schemas/IndustriesEnum"
            }
          },
          "lastUpdated": {
            "type": "string",
            "description": "The date/time that the Data Holder Brand data was last updated in the Register.",
            "x-cds-type": "DateTimeString"
          },
          "abn": {
            "maxLength": 11,
            "type": "string",
            "description": "Australian Business Number for the organisation."
          },
          "acn": {
            "maxLength": 9,
            "type": "string",
            "description": "Australian Company Number for the organisation."
          },
          "arbn": {
            "maxLength": 9,
            "type": "string",
            "description": "Australian Registered Body Number. ARBNs are issued to registrable Australian bodies and foreign companies."
          }
        }
      },
      "IndustryEnum": {
        "type": "string",
        "enum": [
          "banking",
          "energy",
          "non-bank-lending",
          "telco",
          "all"
        ]
      },
      "IndustriesEnum": {
        "type": "string",
        "enum": [
          "banking",
          "energy",
          "non-bank-lending",
          "telco"
        ]
      },
      "DataHoldersStatusList": {
        "required": [
          "data",
          "links",
          "meta"
        ],
        "type": "object",
        "properties": {
          "data": {
            "uniqueItems": true,
            "type": "array",
            "description": "Response data for the query.",
            "items": {
              "$ref": "#/components/schemas/DataHolderStatus"
            }
          },
          "links": {
            "$ref": "#/components/schemas/Links"
          },
          "meta": {
            "$ref": "#/components/schemas/Meta"
          }
        }
      },
      "DataHolderStatus": {
        "required": [
          "legalEntityId",
          "status"
        ],
        "type": "object",
        "properties": {
          "legalEntityId": {
            "maxLength": 36,
            "type": "string",
            "description": "Unique id of the Data Holder Legal Entity issued by the CDR Register."
          },
          "status": {
            "type": "string",
            "description": "Data Holder status in the CDR Register.",
            "enum": [
              "ACTIVE",
              "REMOVED"
            ]
          }
        }
      },
      "LegalEntityDetail": {
        "required": [
          "legalEntityId",
          "legalEntityName",
          "logoUri",
          "status"
        ],
        "type": "object",
        "properties": {
          "legalEntityId": {
            "maxLength": 36,
            "type": "string",
            "description": "Unique id of the organisation issued by the CDR Register."
          },
          "legalEntityName": {
            "maxLength": 36,
            "type": "string",
            "description": "Unique legal name of the organisation."
          },
          "logoUri": {
            "maxLength": 1000,
            "type": "string",
            "description": "Legal Entity logo URI.",
            "x-cds-type": "URIString"
          },
          "registrationNumber": {
            "type": "string",
            "description": "Unique registration number (if the company is registered outside Australia)."
          },
          "registrationDate": {
            "type": "string",
            "description": "Date of registration (if the company is registered outside Australia).",
            "x-cds-type": "DateString"
          },
          "registeredCountry": {
            "maxLength": 100,
            "type": "string",
            "description": "Country of registration (if the company is registered outside Australia)."
          },
          "abn": {
            "maxLength": 11,
            "type": "string",
            "description": "Australian Business Number for the organisation."
          },
          "acn": {
            "maxLength": 9,
            "type": "string",
            "description": "Australian Company Number for the organisation."
          },
          "arbn": {
            "maxLength": 9,
            "type": "string",
            "description": "Australian Registered Body Number. ARBNs are issued to registrable Australian bodies and foreign companies."
          },
          "anzsicDivision": {
            "maxLength": 100,
            "type": "string",
            "x-cds-type": "ExternalRef",
            "description": "ANZSIC division of the organisation. **[[ANZSIC-2006]](#iref-ANZSIC-2006)**."
          },
          "organisationType": {
            "type": "string",
            "description": "Legal organisation type.",
            "enum": [
              "SOLE_TRADER",
              "COMPANY",
              "PARTNERSHIP",
              "TRUST",
              "GOVERNMENT_ENTITY",
              "OTHER"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "ACTIVE",
              "REMOVED"
            ]
          }
        },
        "description": "The data that is common to all organisations, regardless of the type (e.g., company, trust, partnership, government)."
      },
      "RegisterDataHolderBrandServiceEndpoint": {
        "required": [
          "infosecBaseUri",
          "publicBaseUri",
          "resourceBaseUri",
          "version",
          "websiteUri"
        ],
        "type": "object",
        "properties": {
          "version": {
            "type": "string",
            "description": "The major version of the high level standards. This is not the version of the endpoint or the payload being requested but the version of the overall standards being applied. This version number will be \"`v`\" followed by the major version of the standards as a positive integer (e.g., `v1`, `v12` or `v76`)."
          },
          "publicBaseUri": {
            "maxLength": 1000,
            "type": "string",
            "description": "Base URI for the Data Holder's Consumer Data Standard public endpoints.",
            "x-cds-type": "URIString"
          },
          "resourceBaseUri": {
            "maxLength": 1000,
            "type": "string",
            "description": "Base URI for the Data Holder's Consumer Data Standard resource endpoints.",
            "x-cds-type": "URIString"
          },
          "infosecBaseUri": {
            "maxLength": 1000,
            "type": "string",
            "description": "Base URI for the Data Holder's Consumer Data Standard information security endpoints.",
            "x-cds-type": "URIString"
          },
          "extensionBaseUri": {
            "maxLength": 1000,
            "type": "string",
            "description": "Base URI for the Data Holder extension endpoints to the Consumer Data Standard (optional).",
            "x-cds-type": "URIString"
          },
          "websiteUri": {
            "maxLength": 1000,
            "type": "string",
            "description": "Publicly available website or web resource URI.",
            "x-cds-type": "URIString"
          }
        },
        "description": "Endpoints related to Data Holder Brand services."
      },
      "RegisterDataHolderAuth": {
        "required": [
          "jwksEndpoint",
          "registerUType"
        ],
        "type": "object",
        "properties": {
          "registerUType": {
            "type": "string",
            "description": "The type of authentication and authorisation mechanism in use.",
            "enum": [
              "SIGNED-JWT"
            ]
          },
          "jwksEndpoint": {
            "maxLength": 1000,
            "type": "string",
            "description": "JWKS endpoint used for authentication by the Data Holder with the Data Recipient.",
            "x-cds-type": "URIString"
          }
        },
        "description": "Defines the mechanism used and associated endpoints for Data Holder to Data Recipient authentication."
      },
      "LinksPaginated": {
        "required": [
          "self"
        ],
        "type": "object",
        "properties": {
          "first": {
            "type": "string",
            "x-cds-type": "URIString",
            "description": "URI to the first page of this set. Mandatory if this response is not the first page."
          },
          "last": {
            "type": "string",
            "x-cds-type": "URIString",
            "description": "URI to the last page of this set. Mandatory if this response is not the last page."
          },
          "next": {
            "type": "string",
            "x-cds-type": "URIString",
            "description": "URI to the next page of this set. Mandatory if this response is not the last page."
          },
          "prev": {
            "type": "string",
            "x-cds-type": "URIString",
            "description": "URI to the previous page of this set. Mandatory if this response is not the first page."
          },
          "self": {
            "type": "string",
            "x-cds-type": "URIString",
            "description": "Fully qualified link to this API call."
          }
        }
      },
      "MetaPaginated": {
        "required": [
          "totalPages",
          "totalRecords"
        ],
        "type": "object",
        "properties": {
          "totalPages": {
            "type": "integer",
            "description": "The total number of pages in the full set.",
            "x-cds-type": "NaturalNumber"
          },
          "totalRecords": {
            "type": "integer",
            "description": "The total number of records in the full set.",
            "x-cds-type": "NaturalNumber"
          }
        }
      },
      "Links": {
        "required": [
          "self"
        ],
        "type": "object",
        "properties": {
          "self": {
            "type": "string",
            "x-cds-type": "URIString",
            "description": "Fully qualified link to this API call."
          }
        }
      },
      "Meta": {
        "type": "object"
      },
      "ResponseErrorListV2": {
        "type": "object",
        "required": [
          "errors"
        ],
        "properties": {
          "errors": {
            "description": "List of errors.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ErrorV2"
            }
          }
        }
      },
      "ErrorV2": {
        "type": "object",
        "required": [
          "code",
          "title",
          "detail"
        ],
        "x-conditional": [
          "meta"
        ],
        "properties": {
          "code": {
            "type": "string",
            "description": "The code of the error encountered. Where the error is specific to the respondent, an application-specific error code, expressed as a string value. If the error is application-specific, the URN code that the specific error extends must be provided in the _meta_ object. Otherwise, the value is the error code URN."
          },
          "title": {
            "type": "string",
            "description": "A short, human-readable summary of the problem that **MUST NOT** change from occurrence to occurrence of the problem represented by the error code."
          },
          "detail": {
            "type": "string",
            "description": "A human-readable explanation specific to this occurrence of the problem."
          },
          "meta": {
            "type": "object",
            "x-conditional": [
              "urn"
            ],
            "description": "Additional data for customised error codes.",
            "properties": {
              "urn": {
                "type": "string",
                "description": "The CDR error code URN which the application-specific error code extends. Mandatory if the error _code_ is an application-specific error rather than a standardised error code."
              }
            }
          }
        }
      }
    }
  }
}
