{
  "openapi": "3.0.3",
  "info": {
    "title": "CDR Banking API",
    "description": "Consumer Data Standards APIs created by the Data Standards Body (DSB), with the Data Standards Chair as the decision maker to meet the needs of the Consumer Data Right.",
    "contact": {
      "name": "Consumer Data Standards",
      "url": "https://consumerdatastandards.gov.au",
      "email": "contact@consumerdatastandards.gov.au"
    },
    "license": {
      "name": "MIT License",
      "url": "https://opensource.org/licenses/MIT"
    },
    "version": "1.33.0"
  },
  "servers": [
    {
      "url": "https://data.holder.com.au/cds-au/v1"
    }
  ],
  "paths": {
    "/banking/accounts": {
      "get": {
        "tags": [
          "Banking",
          "Accounts"
        ],
        "summary": "Get Accounts",
        "description": "Obtain a list of accounts.\n\nObsolete versions: [v1](../../../../includes/obsolete/get-accounts-v1.html), [v2](../../../../includes/obsolete/get-accounts-v2.html).",
        "operationId": "listAccounts",
        "parameters": [
          {
            "name": "product-category",
            "in": "query",
            "description": "Used to filter results on the _productCategory_ field applicable to accounts. Any one of the valid values for this field can be supplied. If absent then all accounts returned.",
            "schema": {
              "type": "string",
              "enum": [
                "BUSINESS_LOANS",
                "BUY_NOW_PAY_LATER",
                "CRED_AND_CHRG_CARDS",
                "LEASES",
                "MARGIN_LOANS",
                "OVERDRAFTS",
                "PERS_LOANS",
                "REGULATED_TRUST_ACCOUNTS",
                "RESIDENTIAL_MORTGAGES",
                "TERM_DEPOSITS",
                "TRADE_FINANCE",
                "TRANS_AND_SAVINGS_ACCOUNTS",
                "TRAVEL_CARDS"
              ]
            }
          },
          {
            "name": "open-status",
            "in": "query",
            "description": "Used to filter results according to open/closed status. Values can be `OPEN`, `CLOSED` or `ALL`. If absent then `ALL` is assumed.",
            "schema": {
              "type": "string",
              "default": "ALL",
              "enum": [
                "ALL",
                "CLOSED",
                "OPEN"
              ]
            }
          },
          {
            "name": "is-owned",
            "in": "query",
            "description": "Filters accounts based on whether they are owned by the authorised customer. `true` for owned accounts, `false` for unowned accounts and absent for all accounts.",
            "schema": {
              "type": "boolean",
              "x-cds-type": "Boolean"
            },
            "x-cds-type": "Boolean"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page of results to request (standard pagination).",
            "schema": {
              "type": "integer",
              "default": 1,
              "x-cds-type": "PositiveInteger"
            },
            "x-cds-type": "PositiveInteger"
          },
          {
            "name": "page-size",
            "in": "query",
            "description": "Page size to request. Default is 25 (standard pagination).",
            "schema": {
              "type": "integer",
              "default": 25,
              "x-cds-type": "PositiveInteger"
            },
            "x-cds-type": "PositiveInteger"
          },
          {
            "name": "x-v",
            "in": "header",
            "description": "Version of the API endpoint requested by the client. Must be set to a positive integer. The data holder should respond with the highest supported version between [_x-min-v_](#request-headers) and [_x-v_](#request-headers). If the value of [_x-min-v_](#request-headers) is equal to or higher than the value of [_x-v_](#request-headers) then the [_x-min-v_](#request-headers) header should be treated as absent. If all versions requested are not supported then the data holder must respond with a `406 Not Acceptable`. See [HTTP Headers](#request-headers).",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-min-v",
            "in": "header",
            "description": "Minimum version of the API endpoint requested by the client. Must be set to a positive integer if provided. The data holder should respond with the highest supported version between [_x-min-v_](#request-headers) and [_x-v_](#request-headers). If all versions requested are not supported then the data holder must respond with a `406 Not Acceptable`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-fapi-interaction-id",
            "in": "header",
            "description": "An **[[RFC4122]](#nref-RFC4122)** UUID used as a correlation id. If provided, the data holder must play back this value in the _x-fapi-interaction-id_ response header. If not provided a **[[RFC4122]](#nref-RFC4122)** UUID value is required to be provided in the response header to track the interaction.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-fapi-auth-date",
            "in": "header",
            "description": "The time when the customer last logged in to the Data Recipient Software Product as described in **[[FAPI-1.0-Baseline]](#nref-FAPI-1-0-Baseline)**. Required for all resource calls (customer present and unattended). Not required for unauthenticated calls.",
            "schema": {
              "type": "string",
              "x-conditional": true
            },
            "x-conditional": true
          },
          {
            "name": "x-fapi-customer-ip-address",
            "in": "header",
            "description": "The customer's original IP address if the customer is currently logged in to the Data Recipient Software Product. The presence of this header indicates that the API is being called in a customer present context. Not to be included for unauthenticated calls.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-cds-client-headers",
            "in": "header",
            "description": "The customer's original standard http headers [Base64](#common-field-types) encoded, including the original User-Agent header, if the customer is currently logged in to the Data Recipient Software Product. Mandatory for customer present calls. Not required for unattended or unauthenticated calls.",
            "schema": {
              "type": "string",
              "x-conditional": true,
              "x-cds-type": "Base64"
            },
            "x-conditional": true,
            "x-cds-type": "Base64"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "x-v": {
                "description": "The [version](#response-headers) of the API endpoint that the data holder has responded with.",
                "schema": {
                  "type": "string"
                }
              },
              "x-fapi-interaction-id": {
                "description": "An **[[RFC4122]](#nref-RFC4122)** UUID used as a correlation id. If provided, the data holder must play back this value in the _x-fapi-interaction-id_ response header. If not provided a **[[RFC4122]](#nref-RFC4122)** UUID value is required to be provided in the response header to track the interaction.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseBankingAccountListV3"
                }
              }
            }
          },
          "400": {
            "description": "The following error codes MUST be supported:<br/><ul class=\"error-code-list\"><li>[400 - Invalid Field](#error-400-field-invalid)</li><li>[400 - Missing Required Field](#error-400-field-missing)</li><li>[400 - Invalid Version](#error-400-header-invalid-version)</li><li>[400 - Invalid Page Size](#error-400-field-invalid-page-size)</li></ul>",
            "headers": {
              "x-fapi-interaction-id": {
                "description": "An **[[RFC4122]](#nref-RFC4122)** UUID used as a correlation id. If provided, the data holder must play back this value in the _x-fapi-interaction-id_ response header. If not provided a **[[RFC4122]](#nref-RFC4122)** UUID value is required to be provided in the response header to track the interaction.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseErrorListV2"
                }
              }
            }
          },
          "406": {
            "description": "The following error codes MUST be supported:<br/><ul class=\"error-code-list\"><li>[406 - Unsupported Version](#error-406-header-unsupported-version)</li></ul>",
            "headers": {
              "x-fapi-interaction-id": {
                "description": "An **[[RFC4122]](#nref-RFC4122)** UUID used as a correlation id. If provided, the data holder must play back this value in the _x-fapi-interaction-id_ response header. If not provided a **[[RFC4122]](#nref-RFC4122)** UUID value is required to be provided in the response header to track the interaction.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseErrorListV2"
                }
              }
            }
          },
          "422": {
            "description": "The following error codes MUST be supported:<br/><ul class=\"error-code-list\"><li>[422 - Invalid Page](#error-422-field-invalid-page)</li></ul>",
            "headers": {
              "x-fapi-interaction-id": {
                "description": "An **[[RFC4122]](#nref-RFC4122)** UUID used as a correlation id. If provided, the data holder must play back this value in the _x-fapi-interaction-id_ response header. If not provided a **[[RFC4122]](#nref-RFC4122)** UUID value is required to be provided in the response header to track the interaction.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseErrorListV2"
                }
              }
            }
          }
        },
        "x-scopes": [
          "bank:accounts.basic:read"
        ],
        "x-version": "3"
      }
    },
    "/banking/accounts/balances": {
      "get": {
        "tags": [
          "Banking",
          "Accounts"
        ],
        "summary": "Get Bulk Balances",
        "description": "Obtain balances for multiple, filtered accounts.\n\nObsolete versions: [v1](../../../../includes/obsolete/get-bulk-balances-v1.html).",
        "operationId": "listBalancesBulk",
        "parameters": [
          {
            "name": "product-category",
            "in": "query",
            "description": "Used to filter results on the _productCategory_ field applicable to accounts. Any one of the valid values for this field can be supplied. If absent then all accounts returned.",
            "schema": {
              "type": "string",
              "enum": [
                "BUSINESS_LOANS",
                "BUY_NOW_PAY_LATER",
                "CRED_AND_CHRG_CARDS",
                "LEASES",
                "MARGIN_LOANS",
                "OVERDRAFTS",
                "PERS_LOANS",
                "REGULATED_TRUST_ACCOUNTS",
                "RESIDENTIAL_MORTGAGES",
                "TERM_DEPOSITS",
                "TRADE_FINANCE",
                "TRANS_AND_SAVINGS_ACCOUNTS",
                "TRAVEL_CARDS"
              ]
            }
          },
          {
            "name": "open-status",
            "in": "query",
            "description": "Used to filter results according to open/closed status. Values can be `OPEN`, `CLOSED` or `ALL`. If absent then `ALL` is assumed.",
            "schema": {
              "type": "string",
              "default": "ALL",
              "enum": [
                "ALL",
                "CLOSED",
                "OPEN"
              ]
            }
          },
          {
            "name": "is-owned",
            "in": "query",
            "description": "Filters accounts based on whether they are owned by the authorised customer. `true` for owned accounts, `false` for unowned accounts and absent for all accounts.",
            "schema": {
              "type": "boolean",
              "x-cds-type": "Boolean"
            },
            "x-cds-type": "Boolean"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page of results to request (standard pagination).",
            "schema": {
              "type": "integer",
              "default": 1,
              "x-cds-type": "PositiveInteger"
            },
            "x-cds-type": "PositiveInteger"
          },
          {
            "name": "page-size",
            "in": "query",
            "description": "Page size to request. Default is 25 (standard pagination).",
            "schema": {
              "type": "integer",
              "default": 25,
              "x-cds-type": "PositiveInteger"
            },
            "x-cds-type": "PositiveInteger"
          },
          {
            "name": "x-v",
            "in": "header",
            "description": "Version of the API endpoint requested by the client. Must be set to a positive integer. The data holder should respond with the highest supported version between [_x-min-v_](#request-headers) and [_x-v_](#request-headers). If the value of [_x-min-v_](#request-headers) is equal to or higher than the value of [_x-v_](#request-headers) then the [_x-min-v_](#request-headers) header should be treated as absent. If all versions requested are not supported then the data holder must respond with a `406 Not Acceptable`. See [HTTP Headers](#request-headers).",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-min-v",
            "in": "header",
            "description": "Minimum version of the API endpoint requested by the client. Must be set to a positive integer if provided. The data holder should respond with the highest supported version between [_x-min-v_](#request-headers) and [_x-v_](#request-headers). If all versions requested are not supported then the data holder must respond with a `406 Not Acceptable`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-fapi-interaction-id",
            "in": "header",
            "description": "An **[[RFC4122]](#nref-RFC4122)** UUID used as a correlation id. If provided, the data holder must play back this value in the _x-fapi-interaction-id_ response header. If not provided a **[[RFC4122]](#nref-RFC4122)** UUID value is required to be provided in the response header to track the interaction.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-fapi-auth-date",
            "in": "header",
            "description": "The time when the customer last logged in to the Data Recipient Software Product as described in **[[FAPI-1.0-Baseline]](#nref-FAPI-1-0-Baseline)**. Required for all resource calls (customer present and unattended). Not required for unauthenticated calls.",
            "schema": {
              "type": "string",
              "x-conditional": true
            },
            "x-conditional": true
          },
          {
            "name": "x-fapi-customer-ip-address",
            "in": "header",
            "description": "The customer's original IP address if the customer is currently logged in to the Data Recipient Software Product. The presence of this header indicates that the API is being called in a customer present context. Not to be included for unauthenticated calls.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-cds-client-headers",
            "in": "header",
            "description": "The customer's original standard http headers [Base64](#common-field-types) encoded, including the original User-Agent header, if the customer is currently logged in to the Data Recipient Software Product. Mandatory for customer present calls. Not required for unattended or unauthenticated calls.",
            "schema": {
              "type": "string",
              "x-conditional": true,
              "x-cds-type": "Base64"
            },
            "x-conditional": true,
            "x-cds-type": "Base64"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "x-v": {
                "description": "The [version](#response-headers) of the API endpoint that the data holder has responded with.",
                "schema": {
                  "type": "string"
                }
              },
              "x-fapi-interaction-id": {
                "description": "An **[[RFC4122]](#nref-RFC4122)** UUID used as a correlation id. If provided, the data holder must play back this value in the _x-fapi-interaction-id_ response header. If not provided a **[[RFC4122]](#nref-RFC4122)** UUID value is required to be provided in the response header to track the interaction.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseBankingAccountsBalanceList"
                }
              }
            }
          },
          "400": {
            "description": "The following error codes MUST be supported:<br/><ul class=\"error-code-list\"><li>[400 - Invalid Field](#error-400-field-invalid)</li><li>[400 - Missing Required Field](#error-400-field-missing)</li><li>[400 - Invalid Version](#error-400-header-invalid-version)</li><li>[400 - Invalid Page Size](#error-400-field-invalid-page-size)</li></ul>",
            "headers": {
              "x-fapi-interaction-id": {
                "description": "An **[[RFC4122]](#nref-RFC4122)** UUID used as a correlation id. If provided, the data holder must play back this value in the _x-fapi-interaction-id_ response header. If not provided a **[[RFC4122]](#nref-RFC4122)** UUID value is required to be provided in the response header to track the interaction.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseErrorListV2"
                }
              }
            }
          },
          "406": {
            "description": "The following error codes MUST be supported:<br/><ul class=\"error-code-list\"><li>[406 - Unsupported Version](#error-406-header-unsupported-version)</li></ul>",
            "headers": {
              "x-fapi-interaction-id": {
                "description": "An **[[RFC4122]](#nref-RFC4122)** UUID used as a correlation id. If provided, the data holder must play back this value in the _x-fapi-interaction-id_ response header. If not provided a **[[RFC4122]](#nref-RFC4122)** UUID value is required to be provided in the response header to track the interaction.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseErrorListV2"
                }
              }
            }
          },
          "422": {
            "description": "The following error codes MUST be supported:<br/><ul class=\"error-code-list\"><li>[422 - Invalid Page](#error-422-field-invalid-page)</li></ul>",
            "headers": {
              "x-fapi-interaction-id": {
                "description": "An **[[RFC4122]](#nref-RFC4122)** UUID used as a correlation id. If provided, the data holder must play back this value in the _x-fapi-interaction-id_ response header. If not provided a **[[RFC4122]](#nref-RFC4122)** UUID value is required to be provided in the response header to track the interaction.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseErrorListV2"
                }
              }
            }
          }
        },
        "x-scopes": [
          "bank:accounts.basic:read"
        ],
        "x-version": "2"
      },
      "post": {
        "tags": [
          "Banking",
          "Accounts"
        ],
        "summary": "Get Balances For Specific Accounts",
        "description": "Obtain balances for a specified list of accounts.",
        "operationId": "listBalancesSpecificAccounts",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page of results to request (standard pagination).",
            "schema": {
              "type": "integer",
              "default": 1,
              "x-cds-type": "PositiveInteger"
            },
            "x-cds-type": "PositiveInteger"
          },
          {
            "name": "page-size",
            "in": "query",
            "description": "Page size to request. Default is 25 (standard pagination).",
            "schema": {
              "type": "integer",
              "default": 25,
              "x-cds-type": "PositiveInteger"
            },
            "x-cds-type": "PositiveInteger"
          },
          {
            "name": "x-v",
            "in": "header",
            "description": "Version of the API endpoint requested by the client. Must be set to a positive integer. The data holder should respond with the highest supported version between [_x-min-v_](#request-headers) and [_x-v_](#request-headers). If the value of [_x-min-v_](#request-headers) is equal to or higher than the value of [_x-v_](#request-headers) then the [_x-min-v_](#request-headers) header should be treated as absent. If all versions requested are not supported then the data holder must respond with a `406 Not Acceptable`. See [HTTP Headers](#request-headers).",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-min-v",
            "in": "header",
            "description": "Minimum version of the API endpoint requested by the client. Must be set to a positive integer if provided. The data holder should respond with the highest supported version between [_x-min-v_](#request-headers) and [_x-v_](#request-headers). If all versions requested are not supported then the data holder must respond with a `406 Not Acceptable`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-fapi-interaction-id",
            "in": "header",
            "description": "An **[[RFC4122]](#nref-RFC4122)** UUID used as a correlation id. If provided, the data holder must play back this value in the _x-fapi-interaction-id_ response header. If not provided a **[[RFC4122]](#nref-RFC4122)** UUID value is required to be provided in the response header to track the interaction.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-fapi-auth-date",
            "in": "header",
            "description": "The time when the customer last logged in to the Data Recipient Software Product as described in **[[FAPI-1.0-Baseline]](#nref-FAPI-1-0-Baseline)**. Required for all resource calls (customer present and unattended). Not required for unauthenticated calls.",
            "schema": {
              "type": "string",
              "x-conditional": true
            },
            "x-conditional": true
          },
          {
            "name": "x-fapi-customer-ip-address",
            "in": "header",
            "description": "The customer's original IP address if the customer is currently logged in to the Data Recipient Software Product. The presence of this header indicates that the API is being called in a customer present context. Not to be included for unauthenticated calls.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-cds-client-headers",
            "in": "header",
            "description": "The customer's original standard http headers [Base64](#common-field-types) encoded, including the original User-Agent header, if the customer is currently logged in to the Data Recipient Software Product. Mandatory for customer present calls. Not required for unattended or unauthenticated calls.",
            "schema": {
              "type": "string",
              "x-conditional": true,
              "x-cds-type": "Base64"
            },
            "x-conditional": true,
            "x-cds-type": "Base64"
          }
        ],
        "requestBody": {
          "description": "The list of _accountId_ values to obtain balances for.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestAccountIds"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "x-v": {
                "description": "The [version](#response-headers) of the API endpoint that the data holder has responded with.",
                "schema": {
                  "type": "string"
                }
              },
              "x-fapi-interaction-id": {
                "description": "An **[[RFC4122]](#nref-RFC4122)** UUID used as a correlation id. If provided, the data holder must play back this value in the _x-fapi-interaction-id_ response header. If not provided a **[[RFC4122]](#nref-RFC4122)** UUID value is required to be provided in the response header to track the interaction.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseBankingAccountsBalanceList"
                }
              }
            }
          },
          "400": {
            "description": "The following error codes MUST be supported:<br/><ul class=\"error-code-list\"><li>[400 - Invalid Field](#error-400-field-invalid)</li><li>[400 - Missing Required Field](#error-400-field-missing)</li><li>[400 - Invalid Version](#error-400-header-invalid-version)</li><li>[400 - Invalid Page Size](#error-400-field-invalid-page-size)</li></ul>",
            "headers": {
              "x-fapi-interaction-id": {
                "description": "An **[[RFC4122]](#nref-RFC4122)** UUID used as a correlation id. If provided, the data holder must play back this value in the _x-fapi-interaction-id_ response header. If not provided a **[[RFC4122]](#nref-RFC4122)** UUID value is required to be provided in the response header to track the interaction.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseErrorListV2"
                }
              }
            }
          },
          "406": {
            "description": "The following error codes MUST be supported:<br/><ul class=\"error-code-list\"><li>[406 - Unsupported Version](#error-406-header-unsupported-version)</li></ul>",
            "headers": {
              "x-fapi-interaction-id": {
                "description": "An **[[RFC4122]](#nref-RFC4122)** UUID used as a correlation id. If provided, the data holder must play back this value in the _x-fapi-interaction-id_ response header. If not provided a **[[RFC4122]](#nref-RFC4122)** UUID value is required to be provided in the response header to track the interaction.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseErrorListV2"
                }
              }
            }
          },
          "422": {
            "description": "The following error codes MUST be supported:<br/><ul class=\"error-code-list\"><li>[422 - Invalid Page](#error-422-field-invalid-page)</li><li>[422 - Unavailable Banking Account](#error-422-authorisation-unavailable-banking-account)</li><li>[422 - Invalid Banking Account](#error-422-authorisation-invalid-banking-account)</li></ul>",
            "headers": {
              "x-fapi-interaction-id": {
                "description": "An **[[RFC4122]](#nref-RFC4122)** UUID used as a correlation id. If provided, the data holder must play back this value in the _x-fapi-interaction-id_ response header. If not provided a **[[RFC4122]](#nref-RFC4122)** UUID value is required to be provided in the response header to track the interaction.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseErrorListV2"
                }
              }
            }
          }
        },
        "x-scopes": [
          "bank:accounts.basic:read"
        ],
        "x-version": "1",
        "x-codegen-request-body-name": "accountIds"
      }
    },
    "/banking/accounts/{accountId}/balance": {
      "get": {
        "tags": [
          "Banking",
          "Accounts"
        ],
        "summary": "Get Account Balance",
        "description": "Obtain the balance for a single specified account.",
        "operationId": "getBalance",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "ID of the specific account requested.",
            "required": true,
            "schema": {
              "type": "string",
              "x-cds-type": "ASCIIString"
            },
            "x-cds-type": "ASCIIString"
          },
          {
            "name": "x-v",
            "in": "header",
            "description": "Version of the API endpoint requested by the client. Must be set to a positive integer. The data holder should respond with the highest supported version between [_x-min-v_](#request-headers) and [_x-v_](#request-headers). If the value of [_x-min-v_](#request-headers) is equal to or higher than the value of [_x-v_](#request-headers) then the [_x-min-v_](#request-headers) header should be treated as absent. If all versions requested are not supported then the data holder must respond with a `406 Not Acceptable`. See [HTTP Headers](#request-headers).",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-min-v",
            "in": "header",
            "description": "Minimum version of the API endpoint requested by the client. Must be set to a positive integer if provided. The data holder should respond with the highest supported version between [_x-min-v_](#request-headers) and [_x-v_](#request-headers). If all versions requested are not supported then the data holder must respond with a `406 Not Acceptable`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-fapi-interaction-id",
            "in": "header",
            "description": "An **[[RFC4122]](#nref-RFC4122)** UUID used as a correlation id. If provided, the data holder must play back this value in the _x-fapi-interaction-id_ response header. If not provided a **[[RFC4122]](#nref-RFC4122)** UUID value is required to be provided in the response header to track the interaction.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-fapi-auth-date",
            "in": "header",
            "description": "The time when the customer last logged in to the Data Recipient Software Product as described in **[[FAPI-1.0-Baseline]](#nref-FAPI-1-0-Baseline)**. Required for all resource calls (customer present and unattended). Not required for unauthenticated calls.",
            "schema": {
              "type": "string",
              "x-conditional": true
            },
            "x-conditional": true
          },
          {
            "name": "x-fapi-customer-ip-address",
            "in": "header",
            "description": "The customer's original IP address if the customer is currently logged in to the Data Recipient Software Product. The presence of this header indicates that the API is being called in a customer present context. Not to be included for unauthenticated calls.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-cds-client-headers",
            "in": "header",
            "description": "The customer's original standard http headers [Base64](#common-field-types) encoded, including the original User-Agent header, if the customer is currently logged in to the Data Recipient Software Product. Mandatory for customer present calls. Not required for unattended or unauthenticated calls.",
            "schema": {
              "type": "string",
              "x-conditional": true,
              "x-cds-type": "Base64"
            },
            "x-conditional": true,
            "x-cds-type": "Base64"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "x-v": {
                "description": "The [version](#response-headers) of the API endpoint that the data holder has responded with.",
                "schema": {
                  "type": "string"
                }
              },
              "x-fapi-interaction-id": {
                "description": "An **[[RFC4122]](#nref-RFC4122)** UUID used as a correlation id. If provided, the data holder must play back this value in the _x-fapi-interaction-id_ response header. If not provided a **[[RFC4122]](#nref-RFC4122)** UUID value is required to be provided in the response header to track the interaction.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseBankingAccountsBalanceById"
                }
              }
            }
          },
          "400": {
            "description": "The following error codes MUST be supported:<br/><ul class=\"error-code-list\"><li>[400 - Invalid Field](#error-400-field-invalid)</li><li>[400 - Missing Required Field](#error-400-field-missing)</li><li>[400 - Invalid Version](#error-400-header-invalid-version)</li></ul>",
            "headers": {
              "x-fapi-interaction-id": {
                "description": "An **[[RFC4122]](#nref-RFC4122)** UUID used as a correlation id. If provided, the data holder must play back this value in the _x-fapi-interaction-id_ response header. If not provided a **[[RFC4122]](#nref-RFC4122)** UUID value is required to be provided in the response header to track the interaction.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseErrorListV2"
                }
              }
            }
          },
          "404": {
            "description": "The following error codes MUST be supported:<br/><ul class=\"error-code-list\"><li>[404 - Unavailable Banking Account](#error-404-authorisation-unavailable-banking-account)</li><li>[404 - Invalid Banking Account](#error-404-authorisation-invalid-banking-account)</li></ul>",
            "headers": {
              "x-fapi-interaction-id": {
                "description": "An **[[RFC4122]](#nref-RFC4122)** UUID used as a correlation id. If provided, the data holder must play back this value in the _x-fapi-interaction-id_ response header. If not provided a **[[RFC4122]](#nref-RFC4122)** UUID value is required to be provided in the response header to track the interaction.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseErrorListV2"
                }
              }
            }
          },
          "406": {
            "description": "The following error codes MUST be supported:<br/><ul class=\"error-code-list\"><li>[406 - Unsupported Version](#error-406-header-unsupported-version)</li></ul>",
            "headers": {
              "x-fapi-interaction-id": {
                "description": "An **[[RFC4122]](#nref-RFC4122)** UUID used as a correlation id. If provided, the data holder must play back this value in the _x-fapi-interaction-id_ response header. If not provided a **[[RFC4122]](#nref-RFC4122)** UUID value is required to be provided in the response header to track the interaction.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseErrorListV2"
                }
              }
            }
          }
        },
        "x-scopes": [
          "bank:accounts.basic:read"
        ],
        "x-version": "1"
      }
    },
    "/banking/accounts/{accountId}": {
      "get": {
        "tags": [
          "Banking",
          "Accounts"
        ],
        "summary": "Get Account Detail",
        "description": "Obtain detailed information on a single account.\n\nObsolete versions: [v1](../../../../includes/obsolete/get-account-detail-v1.html), [v2](../../../../includes/obsolete/get-account-detail-v2.html), [v3](../../../../includes/obsolete/get-account-detail-v3.html).",
        "operationId": "getAccountDetail",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "A tokenised identifier for the account which is unique but not shareable.",
            "required": true,
            "schema": {
              "type": "string",
              "x-cds-type": "ASCIIString"
            },
            "x-cds-type": "ASCIIString"
          },
          {
            "name": "x-v",
            "in": "header",
            "description": "Version of the API endpoint requested by the client. Must be set to a positive integer. The data holder should respond with the highest supported version between [_x-min-v_](#request-headers) and [_x-v_](#request-headers). If the value of [_x-min-v_](#request-headers) is equal to or higher than the value of [_x-v_](#request-headers) then the [_x-min-v_](#request-headers) header should be treated as absent. If all versions requested are not supported then the data holder must respond with a `406 Not Acceptable`. See [HTTP Headers](#request-headers).",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-min-v",
            "in": "header",
            "description": "Minimum version of the API endpoint requested by the client. Must be set to a positive integer if provided. The data holder should respond with the highest supported version between [_x-min-v_](#request-headers) and [_x-v_](#request-headers). If all versions requested are not supported then the data holder must respond with a `406 Not Acceptable`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-fapi-interaction-id",
            "in": "header",
            "description": "An **[[RFC4122]](#nref-RFC4122)** UUID used as a correlation id. If provided, the data holder must play back this value in the _x-fapi-interaction-id_ response header. If not provided a **[[RFC4122]](#nref-RFC4122)** UUID value is required to be provided in the response header to track the interaction.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-fapi-auth-date",
            "in": "header",
            "description": "The time when the customer last logged in to the Data Recipient Software Product as described in **[[FAPI-1.0-Baseline]](#nref-FAPI-1-0-Baseline)**. Required for all resource calls (customer present and unattended). Not required for unauthenticated calls.",
            "schema": {
              "type": "string",
              "x-conditional": true
            },
            "x-conditional": true
          },
          {
            "name": "x-fapi-customer-ip-address",
            "in": "header",
            "description": "The customer's original IP address if the customer is currently logged in to the Data Recipient Software Product. The presence of this header indicates that the API is being called in a customer present context. Not to be included for unauthenticated calls.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-cds-client-headers",
            "in": "header",
            "description": "The customer's original standard http headers [Base64](#common-field-types) encoded, including the original User-Agent header, if the customer is currently logged in to the Data Recipient Software Product. Mandatory for customer present calls. Not required for unattended or unauthenticated calls.",
            "schema": {
              "type": "string",
              "x-conditional": true,
              "x-cds-type": "Base64"
            },
            "x-conditional": true,
            "x-cds-type": "Base64"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "x-v": {
                "description": "The [version](#response-headers) of the API endpoint that the data holder has responded with.",
                "schema": {
                  "type": "string"
                }
              },
              "x-fapi-interaction-id": {
                "description": "An **[[RFC4122]](#nref-RFC4122)** UUID used as a correlation id. If provided, the data holder must play back this value in the _x-fapi-interaction-id_ response header. If not provided a **[[RFC4122]](#nref-RFC4122)** UUID value is required to be provided in the response header to track the interaction.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseBankingAccountByIdV4"
                }
              }
            }
          },
          "400": {
            "description": "The following error codes MUST be supported:<br/><ul class=\"error-code-list\"><li>[400 - Invalid Field](#error-400-field-invalid)</li><li>[400 - Missing Required Field](#error-400-field-missing)</li><li>[400 - Invalid Version](#error-400-header-invalid-version)</li></ul>",
            "headers": {
              "x-fapi-interaction-id": {
                "description": "An **[[RFC4122]](#nref-RFC4122)** UUID used as a correlation id. If provided, the data holder must play back this value in the _x-fapi-interaction-id_ response header. If not provided a **[[RFC4122]](#nref-RFC4122)** UUID value is required to be provided in the response header to track the interaction.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseErrorListV2"
                }
              }
            }
          },
          "404": {
            "description": "The following error codes MUST be supported:<br/><ul class=\"error-code-list\"><li>[404 - Unavailable Banking Account](#error-404-authorisation-unavailable-banking-account)</li><li>[404 - Invalid Banking Account](#error-404-authorisation-invalid-banking-account)</li></ul>",
            "headers": {
              "x-fapi-interaction-id": {
                "description": "An **[[RFC4122]](#nref-RFC4122)** UUID used as a correlation id. If provided, the data holder must play back this value in the _x-fapi-interaction-id_ response header. If not provided a **[[RFC4122]](#nref-RFC4122)** UUID value is required to be provided in the response header to track the interaction.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseErrorListV2"
                }
              }
            }
          },
          "406": {
            "description": "The following error codes MUST be supported:<br/><ul class=\"error-code-list\"><li>[406 - Unsupported Version](#error-406-header-unsupported-version)</li></ul>",
            "headers": {
              "x-fapi-interaction-id": {
                "description": "An **[[RFC4122]](#nref-RFC4122)** UUID used as a correlation id. If provided, the data holder must play back this value in the _x-fapi-interaction-id_ response header. If not provided a **[[RFC4122]](#nref-RFC4122)** UUID value is required to be provided in the response header to track the interaction.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseErrorListV2"
                }
              }
            }
          }
        },
        "x-scopes": [
          "bank:accounts.detail:read"
        ],
        "x-version": "4"
      }
    },
    "/banking/accounts/{accountId}/transactions": {
      "get": {
        "tags": [
          "Banking",
          "Accounts"
        ],
        "summary": "Get Transactions For Account",
        "description": "Obtain transactions for a specific account.\n\nSome general notes that apply to all endpoints that retrieve transactions:\n\n- Where multiple transactions are returned, transactions should be ordered according to effective date in descending order\n- As the date and time for a transaction can alter depending on status and transaction type two separate date/times are included in the payload. There are still some scenarios where neither of these time stamps is available. For the purpose of filtering and ordering it is expected that the data holder will use the \"effective\" date/time which will be defined as:\n  - Posted date/time if available, then\n  - Execution date/time if available, then\n  - A reasonable date/time nominated by the data holder using internal data structures\n- For transaction amounts it should be assumed that a negative value indicates a reduction of the available balance on the account while a positive value indicates an increase in the available balance on the account\n- For aggregated transactions (i.e. groups of sub transactions reported as a single entry for the account) only the aggregated information, with as much consistent information across the subsidiary transactions as possible, is required to be shared.",
        "operationId": "getTransactions",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "ID of the account to get transactions for. Must have previously been returned by one of the account list endpoints.",
            "required": true,
            "schema": {
              "type": "string",
              "x-cds-type": "ASCIIString"
            },
            "x-cds-type": "ASCIIString"
          },
          {
            "name": "oldest-time",
            "in": "query",
            "description": "Constrain the transaction history request to transactions with effective time at or after this date/time. If absent defaults to newest-time minus 90 days. Format is aligned to [DateTimeString](#common-field-types) common type.",
            "schema": {
              "type": "string",
              "x-cds-type": "DateTimeString"
            },
            "x-cds-type": "DateTimeString"
          },
          {
            "name": "newest-time",
            "in": "query",
            "description": "Constrain the transaction history request to transactions with effective time at or before this date/time. If absent defaults to today. Format is aligned to [DateTimeString](#common-field-types) common type.",
            "schema": {
              "type": "string",
              "x-cds-type": "DateTimeString"
            },
            "x-cds-type": "DateTimeString"
          },
          {
            "name": "min-amount",
            "in": "query",
            "description": "Filter transactions to only transactions with amounts higher than or equal to this amount.",
            "schema": {
              "type": "string",
              "x-cds-type": "AmountString"
            },
            "x-cds-type": "AmountString"
          },
          {
            "name": "max-amount",
            "in": "query",
            "description": "Filter transactions to only transactions with amounts less than or equal to this amount.",
            "schema": {
              "type": "string",
              "x-cds-type": "AmountString"
            },
            "x-cds-type": "AmountString"
          },
          {
            "name": "text",
            "in": "query",
            "description": "Filter transactions to only transactions where this string value is found as a substring of either the reference or description fields. Format is arbitrary ASCII string. This parameter is optionally implemented by data holders. If it is not implemented then a response should be provided as normal without text filtering applied and an additional boolean field named _isQueryParamUnsupported_ should be included in the meta object and set to `true` (whether the text parameter is supplied or not).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page of results to request (standard pagination).",
            "schema": {
              "type": "integer",
              "default": 1,
              "x-cds-type": "PositiveInteger"
            },
            "x-cds-type": "PositiveInteger"
          },
          {
            "name": "page-size",
            "in": "query",
            "description": "Page size to request. Default is 25 (standard pagination).",
            "schema": {
              "type": "integer",
              "default": 25,
              "x-cds-type": "PositiveInteger"
            },
            "x-cds-type": "PositiveInteger"
          },
          {
            "name": "x-v",
            "in": "header",
            "description": "Version of the API endpoint requested by the client. Must be set to a positive integer. The data holder should respond with the highest supported version between [_x-min-v_](#request-headers) and [_x-v_](#request-headers). If the value of [_x-min-v_](#request-headers) is equal to or higher than the value of [_x-v_](#request-headers) then the [_x-min-v_](#request-headers) header should be treated as absent. If all versions requested are not supported then the data holder must respond with a `406 Not Acceptable`. See [HTTP Headers](#request-headers).",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-min-v",
            "in": "header",
            "description": "Minimum version of the API endpoint requested by the client. Must be set to a positive integer if provided. The data holder should respond with the highest supported version between [_x-min-v_](#request-headers) and [_x-v_](#request-headers). If all versions requested are not supported then the data holder must respond with a `406 Not Acceptable`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-fapi-interaction-id",
            "in": "header",
            "description": "An **[[RFC4122]](#nref-RFC4122)** UUID used as a correlation id. If provided, the data holder must play back this value in the _x-fapi-interaction-id_ response header. If not provided a **[[RFC4122]](#nref-RFC4122)** UUID value is required to be provided in the response header to track the interaction.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-fapi-auth-date",
            "in": "header",
            "description": "The time when the customer last logged in to the Data Recipient Software Product as described in **[[FAPI-1.0-Baseline]](#nref-FAPI-1-0-Baseline)**. Required for all resource calls (customer present and unattended). Not required for unauthenticated calls.",
            "schema": {
              "type": "string",
              "x-conditional": true
            },
            "x-conditional": true
          },
          {
            "name": "x-fapi-customer-ip-address",
            "in": "header",
            "description": "The customer's original IP address if the customer is currently logged in to the Data Recipient Software Product. The presence of this header indicates that the API is being called in a customer present context. Not to be included for unauthenticated calls.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-cds-client-headers",
            "in": "header",
            "description": "The customer's original standard http headers [Base64](#common-field-types) encoded, including the original User-Agent header, if the customer is currently logged in to the Data Recipient Software Product. Mandatory for customer present calls. Not required for unattended or unauthenticated calls.",
            "schema": {
              "type": "string",
              "x-conditional": true,
              "x-cds-type": "Base64"
            },
            "x-conditional": true,
            "x-cds-type": "Base64"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "x-v": {
                "description": "The [version](#response-headers) of the API endpoint that the data holder has responded with.",
                "schema": {
                  "type": "string"
                }
              },
              "x-fapi-interaction-id": {
                "description": "An **[[RFC4122]](#nref-RFC4122)** UUID used as a correlation id. If provided, the data holder must play back this value in the _x-fapi-interaction-id_ response header. If not provided a **[[RFC4122]](#nref-RFC4122)** UUID value is required to be provided in the response header to track the interaction.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseBankingTransactionList"
                }
              }
            }
          },
          "400": {
            "description": "The following error codes MUST be supported:<br/><ul class=\"error-code-list\"><li>[400 - Invalid Field](#error-400-field-invalid)</li><li>[400 - Missing Required Field](#error-400-field-missing)</li><li>[400 - Invalid Version](#error-400-header-invalid-version)</li><li>[400 - Invalid Page Size](#error-400-field-invalid-page-size)</li><li>[400 - Invalid Date](#error-400-field-invalid-date-time)</li></ul>",
            "headers": {
              "x-fapi-interaction-id": {
                "description": "An **[[RFC4122]](#nref-RFC4122)** UUID used as a correlation id. If provided, the data holder must play back this value in the _x-fapi-interaction-id_ response header. If not provided a **[[RFC4122]](#nref-RFC4122)** UUID value is required to be provided in the response header to track the interaction.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseErrorListV2"
                }
              }
            }
          },
          "404": {
            "description": "The following error codes MUST be supported:<br/><ul class=\"error-code-list\"><li>[404 - Unavailable Banking Account](#error-404-authorisation-unavailable-banking-account)</li><li>[404 - Invalid Banking Account](#error-404-authorisation-invalid-banking-account)</li></ul>",
            "headers": {
              "x-fapi-interaction-id": {
                "description": "An **[[RFC4122]](#nref-RFC4122)** UUID used as a correlation id. If provided, the data holder must play back this value in the _x-fapi-interaction-id_ response header. If not provided a **[[RFC4122]](#nref-RFC4122)** UUID value is required to be provided in the response header to track the interaction.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseErrorListV2"
                }
              }
            }
          },
          "406": {
            "description": "The following error codes MUST be supported:<br/><ul class=\"error-code-list\"><li>[406 - Unsupported Version](#error-406-header-unsupported-version)</li></ul>",
            "headers": {
              "x-fapi-interaction-id": {
                "description": "An **[[RFC4122]](#nref-RFC4122)** UUID used as a correlation id. If provided, the data holder must play back this value in the _x-fapi-interaction-id_ response header. If not provided a **[[RFC4122]](#nref-RFC4122)** UUID value is required to be provided in the response header to track the interaction.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseErrorListV2"
                }
              }
            }
          },
          "422": {
            "description": "The following error codes MUST be supported:<br/><ul class=\"error-code-list\"><li>[422 - Invalid Page](#error-422-field-invalid-page)</li></ul>",
            "headers": {
              "x-fapi-interaction-id": {
                "description": "An **[[RFC4122]](#nref-RFC4122)** UUID used as a correlation id. If provided, the data holder must play back this value in the _x-fapi-interaction-id_ response header. If not provided a **[[RFC4122]](#nref-RFC4122)** UUID value is required to be provided in the response header to track the interaction.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseErrorListV2"
                }
              }
            }
          }
        },
        "x-scopes": [
          "bank:transactions:read"
        ],
        "x-version": "1"
      }
    },
    "/banking/accounts/{accountId}/transactions/{transactionId}": {
      "get": {
        "tags": [
          "Banking",
          "Accounts"
        ],
        "summary": "Get Transaction Detail",
        "description": "Obtain detailed information on a transaction for a specific account.",
        "operationId": "getTransactionDetail",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "ID of the account to get transactions for. Must have previously been returned by one of the account list endpoints.",
            "required": true,
            "schema": {
              "type": "string",
              "x-cds-type": "ASCIIString"
            },
            "x-cds-type": "ASCIIString"
          },
          {
            "name": "transactionId",
            "in": "path",
            "description": "ID of the transaction obtained from a previous call to one of the other transaction endpoints.",
            "required": true,
            "schema": {
              "type": "string",
              "x-cds-type": "ASCIIString"
            },
            "x-cds-type": "ASCIIString"
          },
          {
            "name": "x-v",
            "in": "header",
            "description": "Version of the API endpoint requested by the client. Must be set to a positive integer. The data holder should respond with the highest supported version between [_x-min-v_](#request-headers) and [_x-v_](#request-headers). If the value of [_x-min-v_](#request-headers) is equal to or higher than the value of [_x-v_](#request-headers) then the [_x-min-v_](#request-headers) header should be treated as absent. If all versions requested are not supported then the data holder must respond with a `406 Not Acceptable`. See [HTTP Headers](#request-headers).",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-min-v",
            "in": "header",
            "description": "Minimum version of the API endpoint requested by the client. Must be set to a positive integer if provided. The data holder should respond with the highest supported version between [_x-min-v_](#request-headers) and [_x-v_](#request-headers). If all versions requested are not supported then the data holder must respond with a `406 Not Acceptable`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-fapi-interaction-id",
            "in": "header",
            "description": "An **[[RFC4122]](#nref-RFC4122)** UUID used as a correlation id. If provided, the data holder must play back this value in the _x-fapi-interaction-id_ response header. If not provided a **[[RFC4122]](#nref-RFC4122)** UUID value is required to be provided in the response header to track the interaction.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-fapi-auth-date",
            "in": "header",
            "description": "The time when the customer last logged in to the Data Recipient Software Product as described in **[[FAPI-1.0-Baseline]](#nref-FAPI-1-0-Baseline)**. Required for all resource calls (customer present and unattended). Not required for unauthenticated calls.",
            "schema": {
              "type": "string",
              "x-conditional": true
            },
            "x-conditional": true
          },
          {
            "name": "x-fapi-customer-ip-address",
            "in": "header",
            "description": "The customer's original IP address if the customer is currently logged in to the Data Recipient Software Product. The presence of this header indicates that the API is being called in a customer present context. Not to be included for unauthenticated calls.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-cds-client-headers",
            "in": "header",
            "description": "The customer's original standard http headers [Base64](#common-field-types) encoded, including the original User-Agent header, if the customer is currently logged in to the Data Recipient Software Product. Mandatory for customer present calls. Not required for unattended or unauthenticated calls.",
            "schema": {
              "type": "string",
              "x-conditional": true,
              "x-cds-type": "Base64"
            },
            "x-conditional": true,
            "x-cds-type": "Base64"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "x-v": {
                "description": "The [version](#response-headers) of the API endpoint that the data holder has responded with.",
                "schema": {
                  "type": "string"
                }
              },
              "x-fapi-interaction-id": {
                "description": "An **[[RFC4122]](#nref-RFC4122)** UUID used as a correlation id. If provided, the data holder must play back this value in the _x-fapi-interaction-id_ response header. If not provided a **[[RFC4122]](#nref-RFC4122)** UUID value is required to be provided in the response header to track the interaction.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseBankingTransactionById"
                }
              }
            }
          },
          "400": {
            "description": "The following error codes MUST be supported:<br/><ul class=\"error-code-list\"><li>[400 - Invalid Field](#error-400-field-invalid)</li><li>[400 - Missing Required Field](#error-400-field-missing)</li><li>[400 - Invalid Version](#error-400-header-invalid-version)</li><li>[400 - Invalid Date](#error-400-field-invalid-date-time)</li></ul>",
            "headers": {
              "x-fapi-interaction-id": {
                "description": "An **[[RFC4122]](#nref-RFC4122)** UUID used as a correlation id. If provided, the data holder must play back this value in the _x-fapi-interaction-id_ response header. If not provided a **[[RFC4122]](#nref-RFC4122)** UUID value is required to be provided in the response header to track the interaction.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseErrorListV2"
                }
              }
            }
          },
          "404": {
            "description": "The following error codes MUST be supported:<br/><ul class=\"error-code-list\"><li>[404 - Unavailable Banking Account](#error-404-authorisation-unavailable-banking-account)</li><li>[404 - Invalid Banking Account](#error-404-authorisation-invalid-banking-account)</li><li>[404 - Unavailable Resource](#error-404-resource-unavailable)</li><li>[404 - Invalid Resource](#error-404-resource-invalid)</li></ul>",
            "headers": {
              "x-fapi-interaction-id": {
                "description": "An **[[RFC4122]](#nref-RFC4122)** UUID used as a correlation id. If provided, the data holder must play back this value in the _x-fapi-interaction-id_ response header. If not provided a **[[RFC4122]](#nref-RFC4122)** UUID value is required to be provided in the response header to track the interaction.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseErrorListV2"
                }
              }
            }
          },
          "406": {
            "description": "The following error codes MUST be supported:<br/><ul class=\"error-code-list\"><li>[406 - Unsupported Version](#error-406-header-unsupported-version)</li></ul>",
            "headers": {
              "x-fapi-interaction-id": {
                "description": "An **[[RFC4122]](#nref-RFC4122)** UUID used as a correlation id. If provided, the data holder must play back this value in the _x-fapi-interaction-id_ response header. If not provided a **[[RFC4122]](#nref-RFC4122)** UUID value is required to be provided in the response header to track the interaction.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseErrorListV2"
                }
              }
            }
          }
        },
        "x-scopes": [
          "bank:transactions:read"
        ],
        "x-version": "1"
      }
    },
    "/banking/accounts/{accountId}/direct-debits": {
      "get": {
        "tags": [
          "Banking",
          "Direct Debits"
        ],
        "summary": "Get Direct Debits For Account",
        "description": "Obtain direct debit authorisations for a specific account.",
        "operationId": "listDirectDebits",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "ID of the account to get direct debit authorisations for. Must have previously been returned by one of the account list endpoints.",
            "required": true,
            "schema": {
              "type": "string",
              "x-cds-type": "ASCIIString"
            },
            "x-cds-type": "ASCIIString"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page of results to request (standard pagination).",
            "schema": {
              "type": "integer",
              "default": 1,
              "x-cds-type": "PositiveInteger"
            },
            "x-cds-type": "PositiveInteger"
          },
          {
            "name": "page-size",
            "in": "query",
            "description": "Page size to request. Default is 25 (standard pagination).",
            "schema": {
              "type": "integer",
              "default": 25,
              "x-cds-type": "PositiveInteger"
            },
            "x-cds-type": "PositiveInteger"
          },
          {
            "name": "x-v",
            "in": "header",
            "description": "Version of the API endpoint requested by the client. Must be set to a positive integer. The data holder should respond with the highest supported version between [_x-min-v_](#request-headers) and [_x-v_](#request-headers). If the value of [_x-min-v_](#request-headers) is equal to or higher than the value of [_x-v_](#request-headers) then the [_x-min-v_](#request-headers) header should be treated as absent. If all versions requested are not supported then the data holder must respond with a `406 Not Acceptable`. See [HTTP Headers](#request-headers).",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-min-v",
            "in": "header",
            "description": "Minimum version of the API endpoint requested by the client. Must be set to a positive integer if provided. The data holder should respond with the highest supported version between [_x-min-v_](#request-headers) and [_x-v_](#request-headers). If all versions requested are not supported then the data holder must respond with a `406 Not Acceptable`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-fapi-interaction-id",
            "in": "header",
            "description": "An **[[RFC4122]](#nref-RFC4122)** UUID used as a correlation id. If provided, the data holder must play back this value in the _x-fapi-interaction-id_ response header. If not provided a **[[RFC4122]](#nref-RFC4122)** UUID value is required to be provided in the response header to track the interaction.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-fapi-auth-date",
            "in": "header",
            "description": "The time when the customer last logged in to the Data Recipient Software Product as described in **[[FAPI-1.0-Baseline]](#nref-FAPI-1-0-Baseline)**. Required for all resource calls (customer present and unattended). Not required for unauthenticated calls.",
            "schema": {
              "type": "string",
              "x-conditional": true
            },
            "x-conditional": true
          },
          {
            "name": "x-fapi-customer-ip-address",
            "in": "header",
            "description": "The customer's original IP address if the customer is currently logged in to the Data Recipient Software Product. The presence of this header indicates that the API is being called in a customer present context. Not to be included for unauthenticated calls.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-cds-client-headers",
            "in": "header",
            "description": "The customer's original standard http headers [Base64](#common-field-types) encoded, including the original User-Agent header, if the customer is currently logged in to the Data Recipient Software Product. Mandatory for customer present calls. Not required for unattended or unauthenticated calls.",
            "schema": {
              "type": "string",
              "x-conditional": true,
              "x-cds-type": "Base64"
            },
            "x-conditional": true,
            "x-cds-type": "Base64"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "x-v": {
                "description": "The [version](#response-headers) of the API endpoint that the data holder has responded with.",
                "schema": {
                  "type": "string"
                }
              },
              "x-fapi-interaction-id": {
                "description": "An **[[RFC4122]](#nref-RFC4122)** UUID used as a correlation id. If provided, the data holder must play back this value in the _x-fapi-interaction-id_ response header. If not provided a **[[RFC4122]](#nref-RFC4122)** UUID value is required to be provided in the response header to track the interaction.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseBankingDirectDebitAuthorisationList"
                }
              }
            }
          },
          "400": {
            "description": "The following error codes MUST be supported:<br/><ul class=\"error-code-list\"><li>[400 - Invalid Field](#error-400-field-invalid)</li><li>[400 - Missing Required Field](#error-400-field-missing)</li><li>[400 - Invalid Version](#error-400-header-invalid-version)</li><li>[400 - Invalid Page Size](#error-400-field-invalid-page-size)</li></ul>",
            "headers": {
              "x-fapi-interaction-id": {
                "description": "An **[[RFC4122]](#nref-RFC4122)** UUID used as a correlation id. If provided, the data holder must play back this value in the _x-fapi-interaction-id_ response header. If not provided a **[[RFC4122]](#nref-RFC4122)** UUID value is required to be provided in the response header to track the interaction.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseErrorListV2"
                }
              }
            }
          },
          "404": {
            "description": "The following error codes MUST be supported:<br/><ul class=\"error-code-list\"><li>[404 - Unavailable Banking Account](#error-404-authorisation-unavailable-banking-account)</li><li>[404 - Invalid Banking Account](#error-404-authorisation-invalid-banking-account)</li></ul>",
            "headers": {
              "x-fapi-interaction-id": {
                "description": "An **[[RFC4122]](#nref-RFC4122)** UUID used as a correlation id. If provided, the data holder must play back this value in the _x-fapi-interaction-id_ response header. If not provided a **[[RFC4122]](#nref-RFC4122)** UUID value is required to be provided in the response header to track the interaction.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseErrorListV2"
                }
              }
            }
          },
          "406": {
            "description": "The following error codes MUST be supported:<br/><ul class=\"error-code-list\"><li>[406 - Unsupported Version](#error-406-header-unsupported-version)</li></ul>",
            "headers": {
              "x-fapi-interaction-id": {
                "description": "An **[[RFC4122]](#nref-RFC4122)** UUID used as a correlation id. If provided, the data holder must play back this value in the _x-fapi-interaction-id_ response header. If not provided a **[[RFC4122]](#nref-RFC4122)** UUID value is required to be provided in the response header to track the interaction.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseErrorListV2"
                }
              }
            }
          },
          "422": {
            "description": "The following error codes MUST be supported:<br/><ul class=\"error-code-list\"><li>[422 - Invalid Page](#error-422-field-invalid-page)</li></ul>",
            "headers": {
              "x-fapi-interaction-id": {
                "description": "An **[[RFC4122]](#nref-RFC4122)** UUID used as a correlation id. If provided, the data holder must play back this value in the _x-fapi-interaction-id_ response header. If not provided a **[[RFC4122]](#nref-RFC4122)** UUID value is required to be provided in the response header to track the interaction.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseErrorListV2"
                }
              }
            }
          }
        },
        "x-scopes": [
          "bank:regular_payments:read"
        ],
        "x-version": "1"
      }
    },
    "/banking/accounts/direct-debits": {
      "get": {
        "tags": [
          "Banking",
          "Direct Debits"
        ],
        "summary": "Get Bulk Direct Debits",
        "description": "Obtain direct debit authorisations for multiple, filtered accounts.\n\nObsolete versions: [v1](../../../../includes/obsolete/get-bulk-direct-debits-v1.html).",
        "operationId": "listDirectDebitsBulk",
        "parameters": [
          {
            "name": "product-category",
            "in": "query",
            "description": "Used to filter results on the _productCategory_ field applicable to accounts. Any one of the valid values for this field can be supplied. If absent then all accounts returned.",
            "schema": {
              "type": "string",
              "enum": [
                "BUSINESS_LOANS",
                "BUY_NOW_PAY_LATER",
                "CRED_AND_CHRG_CARDS",
                "LEASES",
                "MARGIN_LOANS",
                "OVERDRAFTS",
                "PERS_LOANS",
                "REGULATED_TRUST_ACCOUNTS",
                "RESIDENTIAL_MORTGAGES",
                "TERM_DEPOSITS",
                "TRADE_FINANCE",
                "TRANS_AND_SAVINGS_ACCOUNTS",
                "TRAVEL_CARDS"
              ]
            }
          },
          {
            "name": "open-status",
            "in": "query",
            "description": "Used to filter results according to open/closed status. Values can be `OPEN`, `CLOSED` or `ALL`. If absent then `ALL` is assumed.",
            "schema": {
              "type": "string",
              "default": "ALL",
              "enum": [
                "ALL",
                "CLOSED",
                "OPEN"
              ]
            }
          },
          {
            "name": "is-owned",
            "in": "query",
            "description": "Filters accounts based on whether they are owned by the authorised customer. `true` for owned accounts, `false` for unowned accounts and absent for all accounts.",
            "schema": {
              "type": "boolean",
              "x-cds-type": "Boolean"
            },
            "x-cds-type": "Boolean"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page of results to request (standard pagination).",
            "schema": {
              "type": "integer",
              "default": 1,
              "x-cds-type": "PositiveInteger"
            },
            "x-cds-type": "PositiveInteger"
          },
          {
            "name": "page-size",
            "in": "query",
            "description": "Page size to request. Default is 25 (standard pagination).",
            "schema": {
              "type": "integer",
              "default": 25,
              "x-cds-type": "PositiveInteger"
            },
            "x-cds-type": "PositiveInteger"
          },
          {
            "name": "x-v",
            "in": "header",
            "description": "Version of the API endpoint requested by the client. Must be set to a positive integer. The data holder should respond with the highest supported version between [_x-min-v_](#request-headers) and [_x-v_](#request-headers). If the value of [_x-min-v_](#request-headers) is equal to or higher than the value of [_x-v_](#request-headers) then the [_x-min-v_](#request-headers) header should be treated as absent. If all versions requested are not supported then the data holder must respond with a `406 Not Acceptable`. See [HTTP Headers](#request-headers).",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-min-v",
            "in": "header",
            "description": "Minimum version of the API endpoint requested by the client. Must be set to a positive integer if provided. The data holder should respond with the highest supported version between [_x-min-v_](#request-headers) and [_x-v_](#request-headers). If all versions requested are not supported then the data holder must respond with a `406 Not Acceptable`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-fapi-interaction-id",
            "in": "header",
            "description": "An **[[RFC4122]](#nref-RFC4122)** UUID used as a correlation id. If provided, the data holder must play back this value in the _x-fapi-interaction-id_ response header. If not provided a **[[RFC4122]](#nref-RFC4122)** UUID value is required to be provided in the response header to track the interaction.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-fapi-auth-date",
            "in": "header",
            "description": "The time when the customer last logged in to the Data Recipient Software Product as described in **[[FAPI-1.0-Baseline]](#nref-FAPI-1-0-Baseline)**. Required for all resource calls (customer present and unattended). Not required for unauthenticated calls.",
            "schema": {
              "type": "string",
              "x-conditional": true
            },
            "x-conditional": true
          },
          {
            "name": "x-fapi-customer-ip-address",
            "in": "header",
            "description": "The customer's original IP address if the customer is currently logged in to the Data Recipient Software Product. The presence of this header indicates that the API is being called in a customer present context. Not to be included for unauthenticated calls.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-cds-client-headers",
            "in": "header",
            "description": "The customer's original standard http headers [Base64](#common-field-types) encoded, including the original User-Agent header, if the customer is currently logged in to the Data Recipient Software Product. Mandatory for customer present calls. Not required for unattended or unauthenticated calls.",
            "schema": {
              "type": "string",
              "x-conditional": true,
              "x-cds-type": "Base64"
            },
            "x-conditional": true,
            "x-cds-type": "Base64"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "x-v": {
                "description": "The [version](#response-headers) of the API endpoint that the data holder has responded with.",
                "schema": {
                  "type": "string"
                }
              },
              "x-fapi-interaction-id": {
                "description": "An **[[RFC4122]](#nref-RFC4122)** UUID used as a correlation id. If provided, the data holder must play back this value in the _x-fapi-interaction-id_ response header. If not provided a **[[RFC4122]](#nref-RFC4122)** UUID value is required to be provided in the response header to track the interaction.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseBankingDirectDebitAuthorisationList"
                }
              }
            }
          },
          "400": {
            "description": "The following error codes MUST be supported:<br/><ul class=\"error-code-list\"><li>[400 - Invalid Field](#error-400-field-invalid)</li><li>[400 - Missing Required Field](#error-400-field-missing)</li><li>[400 - Invalid Version](#error-400-header-invalid-version)</li><li>[400 - Invalid Page Size](#error-400-field-invalid-page-size)</li></ul>",
            "headers": {
              "x-fapi-interaction-id": {
                "description": "An **[[RFC4122]](#nref-RFC4122)** UUID used as a correlation id. If provided, the data holder must play back this value in the _x-fapi-interaction-id_ response header. If not provided a **[[RFC4122]](#nref-RFC4122)** UUID value is required to be provided in the response header to track the interaction.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseErrorListV2"
                }
              }
            }
          },
          "406": {
            "description": "The following error codes MUST be supported:<br/><ul class=\"error-code-list\"><li>[406 - Unsupported Version](#error-406-header-unsupported-version)</li></ul>",
            "headers": {
              "x-fapi-interaction-id": {
                "description": "An **[[RFC4122]](#nref-RFC4122)** UUID used as a correlation id. If provided, the data holder must play back this value in the _x-fapi-interaction-id_ response header. If not provided a **[[RFC4122]](#nref-RFC4122)** UUID value is required to be provided in the response header to track the interaction.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseErrorListV2"
                }
              }
            }
          },
          "422": {
            "description": "The following error codes MUST be supported:<br/><ul class=\"error-code-list\"><li>[422 - Invalid Page](#error-422-field-invalid-page)</li></ul>",
            "headers": {
              "x-fapi-interaction-id": {
                "description": "An **[[RFC4122]](#nref-RFC4122)** UUID used as a correlation id. If provided, the data holder must play back this value in the _x-fapi-interaction-id_ response header. If not provided a **[[RFC4122]](#nref-RFC4122)** UUID value is required to be provided in the response header to track the interaction.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseErrorListV2"
                }
              }
            }
          }
        },
        "x-scopes": [
          "bank:regular_payments:read"
        ],
        "x-version": "2"
      },
      "post": {
        "tags": [
          "Banking",
          "Direct Debits"
        ],
        "summary": "Get Direct Debits For Specific Accounts",
        "description": "Obtain direct debit authorisations for a specified list of accounts.",
        "operationId": "listDirectDebitsSpecificAccounts",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page of results to request (standard pagination).",
            "schema": {
              "type": "integer",
              "default": 1,
              "x-cds-type": "PositiveInteger"
            },
            "x-cds-type": "PositiveInteger"
          },
          {
            "name": "page-size",
            "in": "query",
            "description": "Page size to request. Default is 25 (standard pagination).",
            "schema": {
              "type": "integer",
              "default": 25,
              "x-cds-type": "PositiveInteger"
            },
            "x-cds-type": "PositiveInteger"
          },
          {
            "name": "x-v",
            "in": "header",
            "description": "Version of the API endpoint requested by the client. Must be set to a positive integer. The data holder should respond with the highest supported version between [_x-min-v_](#request-headers) and [_x-v_](#request-headers). If the value of [_x-min-v_](#request-headers) is equal to or higher than the value of [_x-v_](#request-headers) then the [_x-min-v_](#request-headers) header should be treated as absent. If all versions requested are not supported then the data holder must respond with a `406 Not Acceptable`. See [HTTP Headers](#request-headers).",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-min-v",
            "in": "header",
            "description": "Minimum version of the API endpoint requested by the client. Must be set to a positive integer if provided. The data holder should respond with the highest supported version between [_x-min-v_](#request-headers) and [_x-v_](#request-headers). If all versions requested are not supported then the data holder must respond with a `406 Not Acceptable`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-fapi-interaction-id",
            "in": "header",
            "description": "An **[[RFC4122]](#nref-RFC4122)** UUID used as a correlation id. If provided, the data holder must play back this value in the _x-fapi-interaction-id_ response header. If not provided a **[[RFC4122]](#nref-RFC4122)** UUID value is required to be provided in the response header to track the interaction.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-fapi-auth-date",
            "in": "header",
            "description": "The time when the customer last logged in to the Data Recipient Software Product as described in **[[FAPI-1.0-Baseline]](#nref-FAPI-1-0-Baseline)**. Required for all resource calls (customer present and unattended). Not required for unauthenticated calls.",
            "schema": {
              "type": "string",
              "x-conditional": true
            },
            "x-conditional": true
          },
          {
            "name": "x-fapi-customer-ip-address",
            "in": "header",
            "description": "The customer's original IP address if the customer is currently logged in to the Data Recipient Software Product. The presence of this header indicates that the API is being called in a customer present context. Not to be included for unauthenticated calls.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-cds-client-headers",
            "in": "header",
            "description": "The customer's original standard http headers [Base64](#common-field-types) encoded, including the original User-Agent header, if the customer is currently logged in to the Data Recipient Software Product. Mandatory for customer present calls. Not required for unattended or unauthenticated calls.",
            "schema": {
              "type": "string",
              "x-conditional": true,
              "x-cds-type": "Base64"
            },
            "x-conditional": true,
            "x-cds-type": "Base64"
          }
        ],
        "requestBody": {
          "description": "Array of _accountId_ values to obtain authorisations for.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestAccountIds"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "x-v": {
                "description": "The [version](#response-headers) of the API endpoint that the data holder has responded with.",
                "schema": {
                  "type": "string"
                }
              },
              "x-fapi-interaction-id": {
                "description": "An **[[RFC4122]](#nref-RFC4122)** UUID used as a correlation id. If provided, the data holder must play back this value in the _x-fapi-interaction-id_ response header. If not provided a **[[RFC4122]](#nref-RFC4122)** UUID value is required to be provided in the response header to track the interaction.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseBankingDirectDebitAuthorisationList"
                }
              }
            }
          },
          "400": {
            "description": "The following error codes MUST be supported:<br/><ul class=\"error-code-list\"><li>[400 - Invalid Field](#error-400-field-invalid)</li><li>[400 - Missing Required Field](#error-400-field-missing)</li><li>[400 - Invalid Version](#error-400-header-invalid-version)</li><li>[400 - Invalid Page Size](#error-400-field-invalid-page-size)</li></ul>",
            "headers": {
              "x-fapi-interaction-id": {
                "description": "An **[[RFC4122]](#nref-RFC4122)** UUID used as a correlation id. If provided, the data holder must play back this value in the _x-fapi-interaction-id_ response header. If not provided a **[[RFC4122]](#nref-RFC4122)** UUID value is required to be provided in the response header to track the interaction.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseErrorListV2"
                }
              }
            }
          },
          "406": {
            "description": "The following error codes MUST be supported:<br/><ul class=\"error-code-list\"><li>[406 - Unsupported Version](#error-406-header-unsupported-version)</li></ul>",
            "headers": {
              "x-fapi-interaction-id": {
                "description": "An **[[RFC4122]](#nref-RFC4122)** UUID used as a correlation id. If provided, the data holder must play back this value in the _x-fapi-interaction-id_ response header. If not provided a **[[RFC4122]](#nref-RFC4122)** UUID value is required to be provided in the response header to track the interaction.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseErrorListV2"
                }
              }
            }
          },
          "422": {
            "description": "The following error codes MUST be supported:<br/><ul class=\"error-code-list\"><li>[422 - Invalid Page](#error-422-field-invalid-page)</li><li>[422 - Unavailable Banking Account](#error-422-authorisation-unavailable-banking-account)</li><li>[422 - Invalid Banking Account](#error-422-authorisation-invalid-banking-account)</li></ul>",
            "headers": {
              "x-fapi-interaction-id": {
[...]
