{
  "openapi": "3.0.3",
  "info": {
    "title": "CDR Register API",
    "version": "1.36.0",
    "description": "Specifications for Register endpoints made available to participants.",
    "contact": {
      "name": "Data Standards Body",
      "email": "contact@dsb.gov.au",
      "url": "https://dsb.gov.au/"
    }
  },
  "servers": [
    {
      "description": "Production TLS",
      "url": "https://api.cdr.gov.au"
    }
  ],
  "tags": [
    {
      "name": "Register Operations",
      "x-shortName": "Operations",
      "description": "Register Operations endpoints"
    },
    {
      "name": "Register Data Holder discovery",
      "x-shortName": "Data Holder discovery",
      "description": "Register Data Holder discovery endpoints"
    },
    {
      "name": "Register Data Recipient discovery",
      "x-shortName": "Data Recipient discovery",
      "description": "Register Data Recipient discovery endpoints"
    }
  ],
  "paths": {
    "/idp/.well-known/openid-configuration": {
      "get": {
        "tags": [
          "Register Operations"
        ],
        "summary": "Get OpenId Provider Config",
        "description": "Endpoint used by participants to discover the CDR Register OpenID configuration and obtain information needed to interact with it, including its OAuth 2.0 endpoint locations.\n\nThis endpoint does not require [CORS](#cors).",
        "operationId": "getRegisterOpenIdProviderConfig",
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetRegisterOpenIdProviderConfig200"
          }
        }
      }
    },
    "/cdr-register/v1/jwks": {
      "get": {
        "tags": [
          "Register Operations"
        ],
        "summary": "Get JWKS",
        "description": "JWKS endpoint containing the public keys used by the CDR Register to validate the signature of issued SSAs and authenticate outbound calls to participants in the CDR.\n\nThis endpoint does not require [CORS](#cors).",
        "operationId": "getRegisterJwks",
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetRegisterJwks200"
          }
        }
      }
    },
    "/cdr-register/v1/{industry}/data-holders/brands": {
      "get": {
        "servers": [
          {
            "description": "Production MTLS",
            "url": "https://secure.api.cdr.gov.au"
          }
        ],
        "tags": [
          "Register Data Holder discovery"
        ],
        "summary": "Get Data Holder Brands",
        "description": "Allows Data Recipients to discover Data Holder Brands available in the CDR ecosystem.\n\nObsolete versions: [v1](includes/obsolete/get-data-holder-brands-v1.html), [v2](includes/obsolete/get-data-holder-brands-v2.html).",
        "operationId": "getDataHolderBrands",
        "parameters": [
          {
            "$ref": "#/components/parameters/PathIndustry"
          },
          {
            "$ref": "#/components/parameters/HeaderAuthorization"
          },
          {
            "$ref": "#/components/parameters/HeaderXV"
          },
          {
            "$ref": "#/components/parameters/HeaderXMinV"
          },
          {
            "$ref": "#/components/parameters/QueryUpdatedSince"
          },
          {
            "$ref": "#/components/parameters/QueryPage"
          },
          {
            "$ref": "#/components/parameters/QueryPageSize"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetDataHolderBrands200"
          },
          "400": {
            "$ref": "#/components/responses/RegisterGeneric400"
          },
          "401": {
            "$ref": "#/components/responses/RegisterGeneric401"
          },
          "406": {
            "$ref": "#/components/responses/RegisterGeneric406"
          }
        },
        "x-version": "3",
        "x-scopes": [
          "cdr-register:read"
        ]
      }
    },
    "/cdr-register/v1/{industry}/data-holders/brands/summary": {
      "get": {
        "tags": [
          "Register Data Holder discovery"
        ],
        "summary": "Get Data Holder Brands Summary",
        "description": "Endpoint used by participants to discover public details of Data Holder Brands from the CDR Register.\n\nObsolete versions: [v1](includes/obsolete/get-data-holder-brands-summary-v1.html).",
        "operationId": "getDataHolderBrandsSummary",
        "parameters": [
          {
            "$ref": "#/components/parameters/PathIndustry"
          },
          {
            "$ref": "#/components/parameters/HeaderXV"
          },
          {
            "$ref": "#/components/parameters/HeaderXMinV"
          },
          {
            "$ref": "#/components/parameters/HeaderIfNoneMatch"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetDataHolderBrandsSummary200"
          },
          "304": {
            "$ref": "#/components/responses/RegisterGeneric304"
          },
          "400": {
            "$ref": "#/components/responses/RegisterGeneric400"
          },
          "404": {
            "$ref": "#/components/responses/GetDataHolderBrandsSummary404"
          },
          "406": {
            "$ref": "#/components/responses/RegisterGeneric406"
          }
        },
        "x-version": "2"
      }
    },
    "/cdr-register/v1/{industry}/data-recipients/brands/{dataRecipientBrandId}/software-products/{softwareProductId}/ssa": {
      "get": {
        "servers": [
          {
            "description": "Production MTLS",
            "url": "https://secure.api.cdr.gov.au"
          }
        ],
        "tags": [
          "Register Operations"
        ],
        "summary": "Get Software Statement Assertion (SSA)",
        "description": "Get a Software Statement Assertion (SSA) for a software product on the CDR Register to be used for Dynamic Client Registration with a Data Holder Brand.\n\nObsolete versions: [v1](includes/obsolete/get-software-statement-assertion-v1.html), [v2](includes/obsolete/get-software-statement-assertion-v2.html), [v3](includes/obsolete/get-software-statement-assertion-v3.html).",
        "operationId": "getSoftwareStatementAssertion",
        "parameters": [
          {
            "$ref": "#/components/parameters/PathIndustryRecipients"
          },
          {
            "$ref": "#/components/parameters/HeaderXV"
          },
          {
            "$ref": "#/components/parameters/HeaderXMinV"
          },
          {
            "name": "dataRecipientBrandId",
            "in": "path",
            "description": "Unique id for the Accredited Data Recipient Brand that the Software Product is associated with in the CDR Register.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "softwareProductId",
            "in": "path",
            "description": "Unique id for the Accredited Data Recipient Software Product in the CDR Register.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/HeaderAuthorization"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetSoftwareStatementAssertion200"
          },
          "400": {
            "$ref": "#/components/responses/RegisterGeneric400"
          },
          "401": {
            "$ref": "#/components/responses/RegisterGeneric401"
          },
          "403": {
            "description": "Invalid BrandId",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseErrorListV2"
                }
              }
            }
          },
          "404": {
            "description": "Invalid Software Product",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseErrorListV2"
                }
              }
            }
          },
          "406": {
            "$ref": "#/components/responses/RegisterGeneric406"
          },
          "422": {
            "description": "SSA validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseErrorListV2"
                }
              }
            }
          }
        },
        "x-version": "4",
        "x-scopes": [
          "cdr-register:read"
        ]
      }
    },
    "/cdr-register/v1/{industry}/data-holders/status": {
      "get": {
        "tags": [
          "Register Data Holder discovery"
        ],
        "summary": "Get Data Holder Statuses",
        "description": "Endpoint used by participants to discover the statuses for Data Holders from the CDR Register.\n\nObsolete versions: [v1](includes/obsolete/get-data-holder-statuses-v1.html).",
        "operationId": "getDataHolderStatuses",
        "parameters": [
          {
            "$ref": "#/components/parameters/PathIndustry"
          },
          {
            "$ref": "#/components/parameters/HeaderXV"
          },
          {
            "$ref": "#/components/parameters/HeaderXMinV"
          },
          {
            "$ref": "#/components/parameters/HeaderIfNoneMatch"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetDataHolderStatuses200"
          },
          "304": {
            "$ref": "#/components/responses/RegisterGeneric304"
          },
          "400": {
            "$ref": "#/components/responses/RegisterGeneric400"
          },
          "406": {
            "$ref": "#/components/responses/RegisterGeneric406"
          }
        },
        "x-version": "2"
      }
    },
    "/cdr-register/v1/{industry}/data-recipients/brands/software-products/status": {
      "get": {
        "tags": [
          "Register Data Recipient discovery"
        ],
        "summary": "Get Software Products Statuses",
        "description": "Endpoint used by participants to discover the statuses for software products from the CDR Register.\n\nObsolete versions: [v1](includes/obsolete/get-software-product-statuses-v1.html), [v2](includes/obsolete/get-software-product-statuses-v2.html).",
        "operationId": "getSoftwareProductsStatuses",
        "parameters": [
          {
            "$ref": "#/components/parameters/PathIndustryRecipients"
          },
          {
            "$ref": "#/components/parameters/HeaderXV"
          },
          {
            "$ref": "#/components/parameters/HeaderXMinV"
          },
          {
            "$ref": "#/components/parameters/HeaderIfNoneMatch"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetSoftwareProductsStatuses200"
          },
          "304": {
            "$ref": "#/components/responses/RegisterGeneric304"
          },
          "400": {
            "$ref": "#/components/responses/RegisterGeneric400"
          },
          "406": {
            "$ref": "#/components/responses/RegisterGeneric406"
          }
        },
        "x-version": "3"
      }
    },
    "/cdr-register/v1/{industry}/data-recipients/status": {
      "get": {
        "tags": [
          "Register Data Recipient discovery"
        ],
        "summary": "Get Data Recipients Statuses",
        "description": "Endpoint used by participants to discover the statuses for Data Recipients from the CDR Register.\n\nObsolete versions: [v1](includes/obsolete/get-data-recipient-statuses-v1.html), [v2](includes/obsolete/get-data-recipient-statuses-v2.html).",
        "operationId": "getDataRecipientsStatuses",
        "parameters": [
          {
            "$ref": "#/components/parameters/PathIndustryRecipients"
          },
          {
            "$ref": "#/components/parameters/HeaderXV"
          },
          {
            "$ref": "#/components/parameters/HeaderXMinV"
          },
          {
            "$ref": "#/components/parameters/HeaderIfNoneMatch"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetDataRecipientsStatuses200"
          },
          "304": {
            "$ref": "#/components/responses/RegisterGeneric304"
          },
          "400": {
            "$ref": "#/components/responses/RegisterGeneric400"
          },
          "406": {
            "$ref": "#/components/responses/RegisterGeneric406"
          }
        },
        "x-version": "3"
      }
    },
    "/cdr-register/v1/{industry}/data-recipients": {
      "get": {
        "tags": [
          "Register Data Recipient discovery"
        ],
        "summary": "Get Data Recipients",
        "description": "Endpoint used by participants to discover data recipients and associated brands and software products, available in the CDR ecosystem.\n\nObsolete versions: [v2](includes/obsolete/get-data-recipients-v2.html), [v3](includes/obsolete/get-data-recipients-v3.html).",
        "operationId": "getDataRecipients",
        "parameters": [
          {
            "$ref": "#/components/parameters/PathIndustryRecipients"
          },
          {
            "$ref": "#/components/parameters/HeaderXV"
          },
          {
            "$ref": "#/components/parameters/HeaderXMinV"
          },
          {
            "$ref": "#/components/parameters/HeaderIfNoneMatch"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetDataRecipients200"
          },
          "304": {
            "$ref": "#/components/responses/RegisterGeneric304"
          },
          "400": {
            "$ref": "#/components/responses/RegisterGeneric400"
          },
          "406": {
            "$ref": "#/components/responses/RegisterGeneric406"
          }
        },
        "x-version": "4"
      }
    }
  },
  "components": {
    "parameters": {
      "HeaderAuthorization": {
        "name": "Authorization",
        "in": "header",
        "description": "An Authorisation Token as per **[[RFC6750]](#nref-RFC6750)**.",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-cds-type": "ExternalRef"
      },
      "HeaderXV": {
        "name": "x-v",
        "in": "header",
        "description": "Version of the API endpoint requested by the client. Must be set to a positive integer. The endpoint should respond with the highest supported version between [_x-min-v_](#request-headers) and [_x-v_](#request-headers). If the value of [_x-min-v_](#request-headers) is equal to or higher than the value of [_x-v_](#request-headers) then the [_x-min-v_](#request-headers) header should be treated as absent. If all versions requested are not supported then the endpoint **MUST** respond with a `406 Not Acceptable`. See [HTTP Headers](#request-headers).",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "HeaderXMinV": {
        "name": "x-min-v",
        "in": "header",
        "description": "Minimum version of the API endpoint requested by the client. Must be set to a positive integer if provided. The endpoint should respond with the highest supported version between [_x-min-v_](#request-headers) and [_x-v_](#request-headers). If all versions requested are not supported then the endpoint **MUST** respond with a `406 Not Acceptable`.",
        "schema": {
          "type": "string"
        }
      },
      "PathIndustry": {
        "name": "industry",
        "in": "path",
        "description": "The industry the participant is retrieving data for (Banking, etc.)",
        "required": true,
        "schema": {
          "$ref": "#/components/schemas/IndustryEnumV2"
        }
      },
      "PathIndustryRecipients": {
        "name": "industry",
        "in": "path",
        "description": "Filters the response to participants associated with an industry.",
        "required": true,
        "schema": {
          "$ref": "#/components/schemas/IndustryEnumRecipients"
        }
      },
      "HeaderIfNoneMatch": {
        "name": "If-None-Match",
        "in": "header",
        "description": "Makes the request method conditional on a recipient cache or origin server not having any current representation of the target resource with an entity-tag that does not match any of those listed in the field-value.",
        "schema": {
          "type": "string"
        },
        "x-cds-type": "ASCIIString"
      },
      "QueryUpdatedSince": {
        "name": "updated-since",
        "in": "query",
        "description": "Query filter returns results updated since the specified date-time.",
        "schema": {
          "type": "string"
        },
        "x-cds-type": "DateTimeString"
      },
      "QueryPage": {
        "name": "page",
        "in": "query",
        "description": "Page of results to request (standard pagination).",
        "schema": {
          "type": "integer",
          "default": 1
        },
        "x-cds-type": "PositiveInteger"
      },
      "QueryPageSize": {
        "name": "page-size",
        "in": "query",
        "description": "Page size to request. Default is 25 (standard pagination).",
        "schema": {
          "type": "integer",
          "default": 25
        },
        "x-cds-type": "PositiveInteger"
      }
    },
    "headers": {
      "XV": {
        "description": "The [payload version](#response-headers) that the endpoint has responded with.",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "Etag": {
        "description": "Entity tag that uniquely represents the requested resource.",
        "schema": {
          "type": "string"
        },
        "x-cds-type": "ASCIIString"
      }
    },
    "responses": {
      "GetRegisterOpenIdProviderConfig200": {
        "description": "The OpenID Provider Configuration Metadata values",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ResponseOpenIDProviderConfigMetadata"
            }
          }
        }
      },
      "GetRegisterJwks200": {
        "description": "A JSON object that represents a set of JWKs",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ResponseJWKS"
            }
          }
        }
      },
      "GetDataHolderBrands200": {
        "description": "Successful response",
        "headers": {
          "x-v": {
            "$ref": "#/components/headers/XV"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ResponseRegisterDataHolderBrandListV2"
            }
          }
        }
      },
      "GetDataHolderBrandsSummary200": {
        "description": "Successful response",
        "headers": {
          "x-v": {
            "$ref": "#/components/headers/XV"
          },
          "Etag": {
            "$ref": "#/components/headers/Etag"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ResponseDataHoldersBrandSummaryList"
            }
          }
        }
      },
      "GetDataHolderBrandsSummary404": {
        "description": "Industry Not Found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ResponseErrorListV2"
            }
          }
        }
      },
      "GetSoftwareStatementAssertion200": {
        "description": "Successful response",
        "headers": {
          "x-v": {
            "description": "The [payload version](#response-headers) that the endpoint has responded with.",
            "schema": {
              "type": "string",
              "default": "1"
            }
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "type": "string"
            }
          }
        }
      },
      "GetDataHolderStatuses200": {
        "description": "Successful response",
        "headers": {
          "x-v": {
            "$ref": "#/components/headers/XV"
          },
          "Etag": {
            "$ref": "#/components/headers/Etag"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/DataHoldersStatusList"
            }
          }
        }
      },
      "GetSoftwareProductsStatuses200": {
        "description": "Successful response",
        "headers": {
          "x-v": {
            "$ref": "#/components/headers/XV"
          },
          "Etag": {
            "$ref": "#/components/headers/Etag"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/SoftwareProductsStatusList"
            }
          }
        }
      },
      "GetDataRecipientsStatuses200": {
        "description": "Successful response",
        "headers": {
          "x-v": {
            "$ref": "#/components/headers/XV"
          },
          "Etag": {
            "$ref": "#/components/headers/Etag"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/DataRecipientsStatusList"
            }
          }
        }
      },
      "GetDataRecipients200": {
        "description": "Successful response",
        "headers": {
          "x-v": {
            "$ref": "#/components/headers/XV"
          },
          "Etag": {
            "$ref": "#/components/headers/Etag"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ResponseRegisterDataRecipientList"
            }
          }
        }
      },
      "RegisterGeneric304": {
        "description": "Not Modified - The current representation of the target resource matches with the entity-tag provided in the _If-None-Match_ request header",
        "headers": {
          "Etag": {
            "$ref": "#/components/headers/Etag"
          }
        }
      },
      "RegisterGeneric400": {
        "description": "Missing Required Header / Invalid Version / Invalid Path Parameter",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ResponseErrorListV2"
            }
          }
        }
      },
      "RegisterGeneric401": {
        "description": "Invalid Bearer Token",
        "headers": {
          "WWW-Authenticate": {
            "description": "The Response Header Field as per **[[RFC6750]](#nref-RFC6750)**.",
            "schema": {
              "type": "string"
            },
            "x-cds-type": "ExternalRef"
          }
        }
      },
      "RegisterGeneric406": {
        "description": "Unsupported Version",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ResponseErrorListV2"
            }
          }
        }
      }
    },
    "schemas": {
      "ResponseOpenIDProviderConfigMetadata": {
        "required": [
          "claims_supported",
          "code_challenge_methods_supported",
          "grant_types_supported",
          "id_token_signing_alg_values_supported",
          "issuer",
          "jwks_uri",
          "response_types_supported",
          "scopes_supported",
          "subject_types_supported",
          "tls_client_certificate_bound_access_tokens",
          "token_endpoint",
          "token_endpoint_auth_methods_supported",
          "token_endpoint_auth_signing_alg_values_supported"
        ],
        "type": "object",
        "properties": {
          "issuer": {
            "type": "string",
            "description": "URL using the https scheme with no query or fragment component that the CDR Register asserts as its Issuer Identifier.",
            "x-cds-type": "URIString"
          },
          "jwks_uri": {
            "type": "string",
            "description": "URL of the CDR Register's JSON Web Key Set **[[JWK]](#nref-JWK)** document. This contains the signing key(s) used to validate access tokens issued from the CDR Register. Note that this differs from the JWKS endpoint used to validate SSAs and CDR Register client authentication.",
            "x-cds-type": "URIString"
          },
          "token_endpoint": {
            "type": "string",
            "description": "URL of the CDR Register's OAuth 2.0 Token Endpoint.",
            "x-cds-type": "URIString"
          },
          "claims_supported": {
            "type": "array",
            "description": "JSON array containing a list of the Claim Names of the Claims that the CDR Register supplies values for.",
            "items": {
              "type": "string"
            }
          },
          "id_token_signing_alg_values_supported": {
            "type": "array",
            "description": "JSON array containing a list of the JWS signing algorithms (alg values) supported by the CDR Register for the ID Token to encode the Claims in a JWT. Given the CDR Register does not issue ID tokens, this field can be safely ignored.",
            "items": {
              "type": "string"
            }
          },
          "subject_types_supported": {
            "type": "array",
            "description": "JSON array containing a list of the Subject Identifier types that the CDR Register supports. Given the CDR Register does not issue ID tokens, this field can be safely ignored.",
            "items": {
              "type": "string"
            }
          },
          "code_challenge_methods_supported": {
            "type": "array",
            "description": "JSON array containing a list of Proof Key for Code Exchange (PKCE) **[[RFC7636]](#nref-RFC7636)** code challenge methods supported by this authorization server. Given the CDR Register does not support PKCE, this field can be safely ignored.",
            "items": {
              "type": "string"
            }
          },
          "scopes_supported": {
            "type": "array",
            "description": "JSON array containing a list of the OAuth 2.0 **[[RFC6749]](#nref-RFC6749)** scope values that the CDR Register supports.",
            "items": {
              "type": "string"
            }
          },
          "response_types_supported": {
            "type": "array",
            "description": "JSON array containing a list of the OAuth 2.0 _response_type_ values that the CDR Register supports.",
            "items": {
              "type": "string"
            }
          },
          "grant_types_supported": {
            "type": "array",
            "description": "JSON array containing a list of the OAuth 2.0 Grant Type values that the CDR Register supports.",
            "items": {
              "type": "string"
            }
          },
          "token_endpoint_auth_methods_supported": {
            "type": "array",
            "description": "JSON array containing a list of Client Authentication methods supported by this Token Endpoint.",
            "items": {
              "type": "string"
            }
          },
          "tls_client_certificate_bound_access_tokens": {
            "type": "boolean",
            "description": "Boolean value indicating server support for mutual TLS client certificate bound access tokens."
          },
          "token_endpoint_auth_signing_alg_values_supported": {
            "type": "array",
            "description": "JSON array containing a list of the JWS signing algorithms (_alg_ values) supported by the token endpoint for the signature on the JWT **[[JWT]](#nref-JWT)** used to authenticate the client at the token endpoint for the `private_key_jwt` authentication method.",
            "items": {
              "type": "string"
            }
          }
        },
        "description": "Response containing the Open ID Provider Configuration Metadata."
      },
      "ResponseJWKS": {
        "required": [
          "keys"
        ],
        "type": "object",
        "properties": {
          "keys": {
            "type": "array",
            "description": "The value of the _keys_ parameter is an array of JWK values.",
            "items": {
              "$ref": "#/components/schemas/JWK"
            }
          }
        },
        "description": "Response containing the JSON Web Key Set."
      },
      "JWK": {
        "required": [
          "alg",
          "e",
          "key_ops",
          "kid",
          "kty",
          "n"
        ],
        "type": "object",
        "properties": {
          "alg": {
            "type": "string",
            "description": "The _alg_ (algorithm) parameter identifies the algorithm intended for use with the key.",
            "x-cds-type": "ExternalRef"
          },
          "e": {
            "type": "string",
            "description": "The _e_ RSA public exponent parameter.",
            "x-cds-type": "ExternalRef"
          },
          "key_ops": {
            "type": "array",
            "description": "The _key_ops_ (key operations) parameter identifies the operation(s) for which the key is intended to be used.",
            "items": {
              "type": "string",
              "x-cds-type": "ExternalRef"
            }
          },
          "kid": {
            "type": "string",
            "description": "The _kid_ (key ID) parameter is partially used to match a specific key. Note the _kid_ parameter is not guaranteed to be unique and additional parameters should be used to progressively identify a key within a set.",
            "x-cds-type": "ExternalRef"
          },
          "kty": {
            "type": "string",
            "description": "The _kty_ (key type) parameter identifies the cryptographic algorithm family used with the key.",
            "x-cds-type": "ExternalRef"
          },
          "n": {
            "type": "string",
            "description": "The _n_ RSA public modulus parameter.",
            "x-cds-type": "ExternalRef"
          }
        },
        "description": "Object representing a JSON Web Key."
      },
      "ResponseRegisterDataHolderBrandListV2": {
        "required": [
          "data",
          "links",
          "meta"
        ],
        "type": "object",
        "properties": {
          "data": {
            "uniqueItems": true,
            "type": "array",
            "description": "Response data for the query.",
            "items": {
              "$ref": "#/components/schemas/RegisterDataHolderBrandV2"
            }
          },
          "links": {
            "$ref": "#/components/schemas/LinksPaginated"
          },
          "meta": {
            "$ref": "#/components/schemas/MetaPaginated"
          }
        },
        "description": "Response containing a list of CDR Register Data Holder Brand objects."
      },
      "RegisterDataHolderBrandV2": {
        "required": [
          "authDetails",
          "brandName",
          "dataHolderBrandId",
          "endpointDetail",
          "industries",
          "lastUpdated",
          "legalEntity",
          "logoUri",
          "status"
        ],
        "type": "object",
        "properties": {
          "dataHolderBrandId": {
            "maxLength": 36,
            "type": "string",
            "description": "Unique id of the Data Holder Brand issued by the CDR Register."
          },
          "brandName": {
            "maxLength": 200,
            "type": "string",
            "description": "The name of Data Holder Brand."
          },
          "industries": {
            "uniqueItems": true,
            "type": "array",
            "description": "The industries the Data Holder Brand belongs to.",
            "items": {
              "$ref": "#/components/schemas/IndustriesEnumV2"
            }
          },
          "logoUri": {
            "maxLength": 1000,
            "type": "string",
            "description": "Brand logo URI.",
            "x-cds-type": "URIString"
          },
          "legalEntity": {
            "$ref": "#/components/schemas/LegalEntityDetail"
          },
          "status": {
            "type": "string",
            "enum": [
              "ACTIVE",
              "INACTIVE",
              "REMOVED"
            ]
          },
          "endpointDetail": {
            "$ref": "#/components/schemas/RegisterDataHolderBrandServiceEndpoint"
          },
          "authDetails": {
            "uniqueItems": true,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RegisterDataHolderAuth"
            }
          },
          "lastUpdated": {
            "type": "string",
            "description": "The date/time that the Data Holder Brand data was last updated in the Register.",
            "x-cds-type": "DateTimeString"
          }
        }
      },
      "ResponseDataHoldersBrandSummaryList": {
        "required": [
          "data",
          "links",
          "meta"
        ],
        "type": "object",
        "properties": {
          "data": {
            "uniqueItems": true,
            "type": "array",
            "description": "Response data for the query.",
            "items": {
              "$ref": "#/components/schemas/DataHolderBrandSummaryV2"
            }
          },
          "links": {
            "$ref": "#/components/schemas/Links"
          },
          "meta": {
            "$ref": "#/components/schemas/Meta"
          }
        }
      },
      "DataHolderBrandSummaryV2": {
        "required": [
          "brandName",
          "publicBaseUri",
          "logoUri",
          "industries",
          "lastUpdated"
        ],
        "type": "object",
        "properties": {
          "dataHolderBrandId": {
            "maxLength": 36,
            "type": "string",
            "x-conditional": true,
            "description": "Unique id of the Data Holder Brand issued by the CDR Register."
          },
          "interimId": {
            "maxLength": 36,
            "type": "string",
            "x-conditional": true,
            "description": "Interim id of the Data Holder Brand issued by the CDR Register. This is to be used to uniquely identify the record when _dataHolderBrandId_ is not populated and is not to be reused."
          },
          "brandName": {
            "maxLength": 200,
            "type": "string",
            "description": "The name of Data Holder Brand."
          },
          "publicBaseUri": {
            "maxLength": 1000,
            "type": "string",
            "description": "Base URI for the Data Holder's Consumer Data Standard public endpoints.",
            "x-cds-type": "URIString"
          },
          "logoUri": {
            "maxLength": 1000,
            "type": "string",
            "description": "Brand logo URI.",
            "x-cds-type": "URIString"
          },
          "industries": {
            "uniqueItems": true,
            "type": "array",
            "description": "The industries the Data Holder Brand belongs to.",
            "items": {
              "$ref": "#/components/schemas/IndustriesEnumV2"
            }
          },
          "lastUpdated": {
            "type": "string",
            "description": "The date/time that the Data Holder Brand data was last updated in the Register.",
            "x-cds-type": "DateTimeString"
          },
          "abn": {
            "maxLength": 11,
            "type": "string",
            "description": "Australian Business Number for the organisation."
          },
          "acn": {
            "maxLength": 9,
            "type": "string",
            "description": "Australian Company Number for the organisation."
          },
          "arbn": {
            "maxLength": 9,
            "type": "string",
            "description": "Australian Registered Body Number. ARBNs are issued to registrable Australian bodies and foreign companies."
          }
        }
      },
      "IndustryEnumV2": {
        "type": "string",
        "enum": [
          "banking",
          "energy",
          "non-bank-lending",
          "telco",
          "all"
        ]
      },
      "IndustriesEnumV2": {
        "type": "string",
        "enum": [
          "banking",
          "energy",
          "non-bank-lending",
          "telco"
        ]
      },
      "IndustryEnumRecipients": {
        "type": "string",
        "enum": [
          "all"
        ]
      },
      "DataHoldersStatusList": {
        "required": [
          "data",
          "links",
          "meta"
        ],
        "type": "object",
        "properties": {
          "data": {
            "uniqueItems": true,
            "type": "array",
            "description": "Response data for the query.",
            "items": {
              "$ref": "#/components/schemas/DataHolderStatus"
            }
          },
          "links": {
            "$ref": "#/components/schemas/Links"
          },
          "meta": {
            "$ref": "#/components/schemas/Meta"
          }
        }
      },
      "DataHolderStatus": {
        "required": [
          "legalEntityId",
          "status"
        ],
        "type": "object",
        "properties": {
          "legalEntityId": {
            "maxLength": 36,
            "type": "string",
            "description": "Unique id of the Data Holder Legal Entity issued by the CDR Register."
          },
          "status": {
            "type": "string",
            "description": "Data Holder status in the CDR Register.",
            "enum": [
              "ACTIVE",
              "REMOVED"
            ]
          }
        }
      },
      "SoftwareProductsStatusList": {
        "required": [
          "data",
          "links",
          "meta"
        ],
        "type": "object",
        "properties": {
          "data": {
            "uniqueItems": true,
            "type": "array",
            "description": "Response data for the query.",
            "items": {
              "$ref": "#/components/schemas/SoftwareProductStatus"
            }
          },
          "links": {
            "$ref": "#/components/schemas/Links"
          },
          "meta": {
            "$ref": "#/components/schemas/Meta"
          }
        }
      },
      "SoftwareProductStatus": {
        "required": [
          "softwareProductId",
          "status"
        ],
        "type": "object",
        "properties": {
          "softwareProductId": {
            "maxLength": 36,
            "type": "string",
            "description": "Unique id of the software product issued by the CDR Register."
          },
          "status": {
            "type": "string",
            "description": "Software product status in the CDR Register.",
            "enum": [
              "ACTIVE",
              "INACTIVE",
              "REMOVED"
            ]
          }
        }
      },
      "DataRecipientsStatusList": {
        "required": [
          "data",
          "links",
          "meta"
        ],
        "type": "object",
        "properties": {
          "data": {
            "uniqueItems": true,
            "type": "array",
            "description": "Response data for the query.",
            "items": {
              "$ref": "#/components/schemas/DataRecipientStatus"
            }
          },
          "links": {
            "$ref": "#/components/schemas/Links"
          },
          "meta": {
            "$ref": "#/components/schemas/Meta"
          }
        }
      },
      "DataRecipientStatus": {
        "required": [
          "legalEntityId",
          "status"
        ],
        "type": "object",
        "properties": {
          "legalEntityId": {
            "maxLength": 36,
            "type": "string",
            "description": "Unique id of the Data Recipient Legal Entity issued by the CDR Register."
          },
          "status": {
            "type": "string",
            "description": "Data Recipient status in the CDR Register.",
            "enum": [
              "ACTIVE",
              "SUSPENDED",
              "REVOKED",
              "SURRENDERED"
            ]
          }
        }
      },
      "ResponseRegisterDataRecipientList": {
        "required": [
          "data",
          "links",
          "meta"
        ],
        "type": "object",
        "properties": {
          "data": {
            "uniqueItems": true,
            "type": "array",
            "description": "Response data for the query.",
            "items": {
              "$ref": "#/components/schemas/RegisterDataRecipient"
            }
          },
          "links": {
            "$ref": "#/components/schemas/Links"
          },
          "meta": {
            "$ref": "#/components/schemas/Meta"
          }
        },
        "description": "Response containing a list of Data Recipients in the CDR Register."
      },
      "RegisterDataRecipient": {
        "required": [
          "accreditationLevel",
          "accreditationNumber",
          "lastUpdated",
          "legalEntityId",
          "legalEntityName",
          "logoUri",
          "status"
        ],
        "type": "object",
        "properties": {
          "legalEntityId": {
            "maxLength": 36,
            "type": "string",
            "description": "Unique id of the Data Recipient Legal Entity issued by the CDR Register."
          },
          "legalEntityName": {
            "maxLength": 200,
            "type": "string",
            "description": "Legal name of the Data Recipient."
          },
          "accreditationNumber": {
            "maxLength": 100,
            "type": "string",
            "description": "CDR Register issued human readable unique number given to Data Recipients upon accreditation."
          },
          "accreditationLevel": {
            "type": "string",
            "description": "Accreditation level of the Data Recipient in the CDR Register.",
            "enum": [
              "UNRESTRICTED",
              "SPONSORED"
            ]
          },
          "logoUri": {
            "maxLength": 1000,
            "type": "string",
            "description": "Legal Entity logo URI.",
            "x-cds-type": "URIString"
          },
          "dataRecipientBrands": {
            "uniqueItems": true,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DataRecipientBrandMetaData"
            }
          },
          "status": {
            "type": "string",
            "description": "Data Recipient status in the CDR Register.",
            "enum": [
              "ACTIVE",
              "SUSPENDED",
              "REVOKED",
              "SURRENDERED"
            ]
          },
          "lastUpdated": {
            "type": "string",
            "description": "The date/time that the Legal Entity was last updated in the CDR Register.",
            "x-cds-type": "DateTimeString"
          }
        }
      },
      "DataRecipientBrandMetaData": {
        "required": [
          "brandName",
          "dataRecipientBrandId",
          "logoUri",
          "status"
        ],
        "type": "object",
        "properties": {
          "dataRecipientBrandId": {
            "maxLength": 36,
            "type": "string",
            "description": "Unique id of the Data Recipient brand issued by the CDR Register."
          },
          "brandName": {
            "maxLength": 200,
            "type": "string",
            "description": "Data Recipient Brand name."
          },
          "logoUri": {
            "maxLength": 1000,
            "type": "string",
            "description": "Data Recipient Brand logo URI.",
            "x-cds-type": "URIString"
          },
          "softwareProducts": {
            "uniqueItems": true,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SoftwareProductMetaData"
            }
          },
          "status": {
            "type": "string",
            "description": "Data Recipient Brand status in the CDR Register.",
            "enum": [
              "ACTIVE",
              "INACTIVE",
              "REMOVED"
            ]
          }
        },
        "description": "Metadata related to Data Recipient Brand."
      },
      "SoftwareProductMetaData": {
        "required": [
          "logoUri",
          "softwareProductId",
          "softwareProductName",
          "softwareProductDescription",
          "status"
        ],
        "type": "object",
        "properties": {
          "softwareProductId": {
            "maxLength": 36,
            "type": "string",
            "description": "Unique id of the Data Recipient software product issued by the CDR Register."
          },
          "softwareProductName": {
            "maxLength": 200,
            "type": "string",
            "description": "Name of the software product."
          },
          "softwareProductDescription": {
            "maxLength": 4000,
            "type": "string",
            "description": "Description of the software product."
          },
          "logoUri": {
            "maxLength": 1000,
            "type": "string",
            "description": "Software product logo URI.",
            "x-cds-type": "URIString"
          },
          "status": {
            "type": "string",
            "description": "Software Product status in the CDR Register.",
            "enum": [
              "ACTIVE",
              "INACTIVE",
              "REMOVED"
            ]
          }
        },
        "description": "Data Recipient Brand Software Products."
      },
      "LegalEntityDetail": {
        "required": [
          "legalEntityId",
          "legalEntityName",
          "logoUri",
          "status"
        ],
        "type": "object",
        "properties": {
          "legalEntityId": {
            "maxLength": 36,
            "type": "string",
            "description": "Unique id of the organisation issued by the CDR Register."
          },
          "legalEntityName": {
            "maxLength": 36,
            "type": "string",
            "description": "Unique legal name of the organisation."
          },
          "logoUri": {
            "maxLength": 1000,
            "type": "string",
            "description": "Legal Entity logo URI.",
            "x-cds-type": "URIString"
          },
          "registrationNumber": {
            "type": "string",
            "description": "Unique registration number (if the company is registered outside Australia)."
          },
          "registrationDate": {
            "type": "string",
            "description": "Date of registration (if the company is registered outside Australia).",
            "x-cds-type": "DateString"
          },
          "registeredCountry": {
            "maxLength": 100,
            "type": "string",
            "description": "Country of registration (if the company is registered outside Australia)."
          },
          "abn": {
            "maxLength": 11,
            "type": "string",
            "description": "Australian Business Number for the organisation."
          },
          "acn": {
            "maxLength": 9,
            "type": "string",
            "description": "Australian Company Number for the organisation."
          },
          "arbn": {
            "maxLength": 9,
            "type": "string",
            "description": "Australian Registered Body Number. ARBNs are issued to registrable Australian bodies and foreign companies."
          },
          "anzsicDivision": {
            "maxLength": 100,
            "type": "string",
            "x-cds-type": "ExternalRef",
            "description": "ANZSIC division of the organisation. **[[ANZSIC-2006]](#iref-ANZSIC-2006)**."
          },
          "organisationType": {
            "type": "string",
            "description": "Legal organisation type.",
            "enum": [
              "SOLE_TRADER",
              "COMPANY",
              "PARTNERSHIP",
              "TRUST",
              "GOVERNMENT_ENTITY",
              "OTHER"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "ACTIVE",
              "REMOVED"
            ]
          }
        },
        "description": "The data that is common to all organisations, regardless of the type (e.g., company, trust, partnership, government)."
      },
      "RegisterDataHolderBrandServiceEndpoint": {
        "required": [
          "infosecBaseUri",
          "publicBaseUri",
          "resourceBaseUri",
          "version",
          "websiteUri"
        ],
        "type": "object",
        "properties": {
          "version": {
            "type": "string",
            "description": "The major version of the high level standards. This is not the version of the endpoint or the payload being requested but the version of the overall standards being applied. This version number will be \"`v`\" followed by the major version of the standards as a positive integer (e.g., `v1`, `v12` or `v76`)."
          },
          "publicBaseUri": {
            "maxLength": 1000,
            "type": "string",
            "description": "Base URI for the Data Holder's Consumer Data Standard public endpoints.",
            "x-cds-type": "URIString"
          },
          "resourceBaseUri": {
            "maxLength": 1000,
            "type": "string",
            "description": "Base URI for the Data Holder's Consumer Data Standard resource endpoints.",
            "x-cds-type": "URIString"
          },
          "infosecBaseUri": {
            "maxLength": 1000,
            "type": "string",
            "description": "Base URI for the Data Holder's Consumer Data Standard information security endpoints.",
            "x-cds-type": "URIString"
          },
          "extensionBaseUri": {
            "maxLength": 1000,
            "type": "string",
            "description": "Base URI for the Data Holder extension endpoints to the Consumer Data Standard (optional).",
            "x-cds-type": "URIString"
          },
          "websiteUri": {
            "maxLength": 1000,
            "type": "string",
            "description": "Publicly available website or web resource URI.",
            "x-cds-type": "URIString"
          }
        },
        "description": "Endpoints related to Data Holder Brand services."
      },
      "RegisterDataHolderAuth": {
        "required": [
          "jwksEndpoint",
          "registerUType"
        ],
        "type": "object",
        "properties": {
          "registerUType": {
            "type": "string",
            "description": "The type of authentication and authorisation mechanism in use.",
            "enum": [
              "SIGNED-JWT"
            ]
          },
          "jwksEndpoint": {
            "maxLength": 1000,
            "type": "string",
            "description": "JWKS endpoint used for authentication by the Data Holder with the Data Recipient.",
            "x-cds-type": "URIString"
          }
        },
        "description": "Defines the mechanism used and associated endpoints for Data Holder to Data Recipient authentication."
      },
      "LinksPaginated": {
        "required": [
          "self"
        ],
        "type": "object",
        "properties": {
          "first": {
            "type": "string",
            "x-cds-type": "URIString",
            "description": "URI to the first page of this set. Mandatory if this response is not the first page."
          },
          "last": {
            "type": "string",
            "x-cds-type": "URIString",
            "description": "URI to the last page of this set. Mandatory if this response is not the last page."
          },
          "next": {
            "type": "string",
            "x-cds-type": "URIString",
            "description": "URI to the next page of this set. Mandatory if this response is not the last page."
          },
          "prev": {
            "type": "string",
            "x-cds-type": "URIString",
            "description": "URI to the previous page of this set. Mandatory if this response is not the first page."
          },
          "self": {
            "type": "string",
            "x-cds-type": "URIString",
            "description": "Fully qualified link to this API call."
          }
        }
      },
      "MetaPaginated": {
        "required": [
          "totalPages",
          "totalRecords"
        ],
        "type": "object",
        "properties": {
          "totalPages": {
            "type": "integer",
            "description": "The total number of pages in the full set.",
            "x-cds-type": "NaturalNumber"
          },
          "totalRecords": {
            "type": "integer",
            "description": "The total number of records in the full set.",
            "x-cds-type": "NaturalNumber"
          }
        }
      },
      "Links": {
        "required": [
          "self"
        ],
        "type": "object",
        "properties": {
          "self": {
            "type": "string",
            "x-cds-type": "URIString",
            "description": "Fully qualified link to this API call."
          }
        }
      },
      "Meta": {
        "type": "object"
      },
      "ResponseErrorListV2": {
        "type": "object",
        "required": [
          "errors"
        ],
        "properties": {
          "errors": {
            "description": "List of errors.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ErrorV2"
            }
          }
        }
      },
      "ErrorV2": {
        "type": "object",
        "required": [
          "code",
          "title",
          "detail"
        ],
        "x-conditional": [
          "meta"
        ],
        "properties": {
          "code": {
            "type": "string",
            "description": "The code of the error encountered. Where the error is specific to the respondent, an application-specific error code, expressed as a string value. If the error is application-specific, the URN code that the specific error extends must be provided in the _meta_ object. Otherwise, the value is the error code URN."
          },
          "title": {
            "type": "string",
            "description": "A short, human-readable summary of the problem that **MUST NOT** change from occurrence to occurrence of the problem represented by the error code."
          },
          "detail": {
            "type": "string",
            "description": "A human-readable explanation specific to this occurrence of the problem."
          },
          "meta": {
            "type": "object",
            "x-conditional": [
              "urn"
            ],
            "description": "Additional data for customised error codes.",
            "properties": {
              "urn": {
                "type": "string",
                "description": "The CDR error code URN which the application-specific error code extends. Mandatory if the error _code_ is an application-specific error rather than a standardised error code."
              }
            }
          }
        }
      }
    }
  }
}
