{
  "openapi": "3.0.3",
  "info": {
    "title": "CDR Admin API",
    "description": "Data Holder Consumer Data Standards Administration End Points created by the Data Standards Body (DSB), with the Data Standards Chair as the decision maker",
    "contact": {
      "name": "Consumer Data Standards Administration End Points",
      "url": "https://consumerdatastandards.gov.au",
      "email": "contact@consumerdatastandards.gov.au"
    },
    "license": {
      "name": "MIT License",
      "url": "https://opensource.org/licenses/MIT"
    },
    "version": "1.28.0"
  },
  "servers": [
    {
      "url": "https://data.holder.com.au/cds-au/v1"
    }
  ],
  "paths": {
    "/admin/register/metadata": {
      "post": {
        "tags": [
          "Admin",
          "Register"
        ],
        "summary": "Metadata Update",
        "description": "Indicate that a critical update to the metadata for Accredited Data Recipients has been made and should be obtained",
        "operationId": "metadataUpdate",
        "parameters": [
          {
            "name": "x-v",
            "in": "header",
            "description": "Version of the API end point requested by the client. Must be set to a positive integer. The data holder should respond with the highest supported version between [x-min-v](#request-headers) and [x-v](#request-headers). If the value of [x-min-v](#request-headers) is equal to or higher than the value of [x-v](#request-headers) then the [x-min-v](#request-headers) header should be treated as absent. If all versions requested are not supported then the data holder should respond with a 406 Not Acceptable. See [HTTP Headers](#request-headers)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-min-v",
            "in": "header",
            "description": "Minimum version of the API end point requested by the client. Must be set to a positive integer if provided. The data holder should respond with the highest supported version between [x-min-v](#request-headers) and [x-v](#request-headers). If all versions requested are not supported then the data holder should respond with a 406 Not Acceptable.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestMetaDataUpdate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "x-v": {
                "description": "The [version](#response-headers) of the API end point that the data holder has responded with.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "400": {
            "description": "The following error codes MUST be supported:<br/><ul class=\"error-code-list\"><li>[400 - Invalid Field](#error-400-field-invalid)</li><li>[400 - Missing Field](#error-400-field-missing)</li><li>[400 - Invalid Version](#error-400-header-invalid-version)</li></ul>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseErrorListV2"
                }
              }
            }
          },
          "406": {
            "description": "The following error codes MUST be supported:<br/><ul class=\"error-code-list\"><li>[406 - Unsupported Version](#error-406-header-unsupported-version)</li></ul>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseErrorListV2"
                }
              }
            }
          }
        },
        "x-scopes": [
          "admin:metadata:update"
        ],
        "x-restricted-access": "REGISTER",
        "x-version": "1",
        "x-codegen-request-body-name": "action"
      }
    },
    "/admin/metrics": {
      "get": {
        "tags": [
          "Admin",
          "Metrics"
        ],
        "summary": "Get Metrics",
        "description": "This end point allows the ACCC to obtain operational statistics from the Data Holder (at the Data Holder Brand level) on the operation of their CDR compliant implementation. The statistics obtainable from this end point are determined by the non-functional requirements for the CDR regime.\n\nThis end point is not required to be implemented by the Australian Energy Market Operator, the Australian Energy Regulator or the Department of State administered by the Minister of Victoria administering the National Electricity (Victoria) Act 2005 (Vic).\n\nNOTE: This version **MUST** be implemented by **May 13th 2024**\n\nObsolete versions: [v1](includes/obsolete/get-metrics-v1.html) [v2](includes/obsolete/get-metrics-v2.html).\n\nDeprecated versions:\n\n- [v3](includes/obsolete/get-metrics-v3.html) - Implementation not required for Data Holders going live on, or after, 1st November 2023.  Other Data Holders **MAY** retire this version from the earlier of **13th May 2024** or from the time the ACCC announce that they no longer call this version\n- [v4](includes/obsolete/get-metrics-v4.html) - This version, or v5, **MUST** be implemented by **November 1st 2023**\n\nIf the Data Holder supports private_key_jwt client authentication they MUST validate the scope.",
        "operationId": "getMetrics",
        "parameters": [
          {
            "name": "period",
            "in": "query",
            "description": "The period of metrics to be requested. Values can be CURRENT (meaning metrics for current period, dependent on the metric type), HISTORIC (meaning metrics for previous period, depending on the metric type) or ALL. If absent the default is ALL.",
            "schema": {
              "type": "string",
              "default": "ALL",
              "enum": [
                "CURRENT",
                "HISTORIC",
                "ALL"
              ]
            }
          },
          {
            "name": "x-v",
            "in": "header",
            "description": "Version of the API end point requested by the client. Must be set to a positive integer. The data holder should respond with the highest supported version between [x-min-v](#request-headers) and [x-v](#request-headers). If the value of [x-min-v](#request-headers) is equal to or higher than the value of [x-v](#request-headers) then the [x-min-v](#request-headers) header should be treated as absent. If all versions requested are not supported then the data holder should respond with a 406 Not Acceptable. See [HTTP Headers](#request-headers)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-min-v",
            "in": "header",
            "description": "Minimum version of the API end point requested by the client. Must be set to a positive integer if provided. The data holder should respond with the highest supported version between [x-min-v](#request-headers) and [x-v](#request-headers). If all versions requested are not supported then the data holder should respond with a 406 Not Acceptable.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "x-v": {
                "description": "The [version](#response-headers) of the API end point that the data holder has responded with.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMetricsListV5"
                }
              }
            }
          },
          "400": {
            "description": "The following error codes MUST be supported:<br/><ul class=\"error-code-list\"><li>[400 - Invalid Field](#error-400-field-invalid)</li><li>[400 - Missing Field](#error-400-field-missing)</li><li>[400 - Invalid Version](#error-400-header-invalid-version)</li></ul>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseErrorListV2"
                }
              }
            }
          },
          "406": {
            "description": "The following error codes MUST be supported:<br/><ul class=\"error-code-list\"><li>[406 - Unsupported Version](#error-406-header-unsupported-version)</li></ul>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseErrorListV2"
                }
              }
            }
          }
        },
        "x-scopes": [
          "admin:metrics.basic:read"
        ],
        "x-restricted-access": "REGISTER",
        "x-version": "5"
      }
    }
  },
  "components": {
    "schemas": {
      "RequestMetaDataUpdate": {
        "required": [
          "data"
        ],
        "type": "object",
        "properties": {
          "data": {
            "required": [
              "action"
            ],
            "type": "object",
            "properties": {
              "action": {
                "type": "string",
                "description": "The action to take for the meta data. At the moment the only option is REFRESH which requires the data holder to call the ACCC to refresh meta data as soon as practicable",
                "default": "REFRESH",
                "enum": [
                  "REFRESH"
                ]
              }
            }
          },
          "meta": {
            "$ref": "#/components/schemas/Meta"
          }
        }
      },
      "ResponseMetricsListV5": {
        "required": [
          "data",
          "links"
        ],
        "type": "object",
        "properties": {
          "data": {
            "required": [
              "availability",
              "averageResponse",
              "averageTps",
              "customerCount",
              "errors",
              "invocations",
              "peakTps",
              "performance",
              "recipientCount",
              "rejections",
              "requestTime",
              "sessionCount",
              "authorisations"
            ],
            "type": "object",
            "properties": {
              "requestTime": {
                "type": "string",
                "description": "The date and time that the metrics in this payload were requested.",
                "x-cds-type": "DateTimeString"
              },
              "availability": {
                "$ref": "#/components/schemas/AvailabilityMetricsV2"
              },
              "performance": {
                "$ref": "#/components/schemas/PerformanceMetricsV3"
              },
              "invocations": {
                "$ref": "#/components/schemas/InvocationMetricsV3"
              },
              "averageResponse": {
                "$ref": "#/components/schemas/AverageResponseMetricsV2"
              },
              "sessionCount": {
                "$ref": "#/components/schemas/SessionCountMetricsV2"
              },
              "averageTps": {
                "$ref": "#/components/schemas/AverageTPSMetricsV2"
              },
              "peakTps": {
                "$ref": "#/components/schemas/PeakTPSMetricsV2"
              },
              "errors": {
                "$ref": "#/components/schemas/ErrorMetricsV2"
              },
              "rejections": {
                "$ref": "#/components/schemas/RejectionMetricsV3"
              },
              "customerCount": {
                "type": "integer",
                "x-cds-type" : "NaturalNumber",
                "description": "Number of customers with active authorisations at the time of the call"
              },
              "recipientCount": {
                "type": "integer",
                "x-cds-type" : "NaturalNumber",
                "description": "Number of Data Recipient Software Products with active authorisations at the time of the call"
              },
              "secondaryHolder": {
                "$ref": "#/components/schemas/SecondaryHolderMetricsV2"
              },
              "authorisations": {
                "$ref": "#/components/schemas/AuthorisationMetricsV2"
              }
            },
            "x-conditional": [
              "secondaryHolder"
            ]
          },
          "links": {
            "$ref": "#/components/schemas/Links"
          },
          "meta": {
            "$ref": "#/components/schemas/Meta"
          }
        }
      },
      "AvailabilityMetricsV2": {
        "required": [
          "aggregate",
          "unauthenticated",
          "authenticated"
        ],
        "description": "Availability metrics",
        "type": "object",
        "properties": {
          "aggregate": {
            "type": "object",
            "properties": {
              "currentMonth": {
                "type" : "string",
                "x-cds-type" : "RateString",
                "description": "Percentage availability of the CDR platform so far for the current calendar month. 0.0 means 0%. 1.0 means 100%. Must be a positive value or zero"
              },
              "previousMonths": {
                "type": "array",
                "description": "Percentage availability of the CDR platform for previous calendar months. The first element indicates the last month and so on. A maximum of twelve entries is required if available. 0.0 means 0%. 1.0 means 100%. Values must be a positive or zero",
                "items": {
                  "type" : "string",
                  "x-cds-type" : "RateString"
                }
              }
            },
            "description": "Aggregated availability metrics",
            "x-conditional": [
              "currentMonth",
              "previousMonths"
            ]
          },
          "unauthenticated": {
            "type": "object",
            "properties": {
              "currentMonth": {
                "type" : "string",
                "x-cds-type" : "RateString",
                "description": "Percentage availability of the CDR platform so far for the current calendar month. 0.0 means 0%. 1.0 means 100%. Must be a positive value or zero"
              },
              "previousMonths": {
                "type": "array",
                "description": "Percentage availability of the CDR platform for previous calendar months. The first element indicates the last month and so on. A maximum of twelve entries is required if available. 0.0 means 0%. 1.0 means 100%. Values must be a positive or zero",
                "items": {
                  "type" : "string",
                  "x-cds-type" : "RateString"
                }
              }
            },
            "description": "Availability metrics for the unauthenticated aspects of the CDR regime",
            "x-conditional": [
              "currentMonth",
              "previousMonths"
            ]
          },
          "authenticated": {
            "type": "object",
            "properties": {
              "currentMonth": {
                "type" : "string",
                "x-cds-type" : "RateString",
                "description": "Percentage availability of the CDR platform so far for the current calendar month. 0.0 means 0%. 1.0 means 100%. Must be a positive value or zero"
              },
              "previousMonths": {
                "type": "array",
                "description": "Percentage availability of the CDR platform for previous calendar months. The first element indicates the last month and so on. A maximum of twelve entries is required if available. 0.0 means 0%. 1.0 means 100%. Values must be a positive or zero",
                "items": {
                  "type" : "string",
                  "x-cds-type" : "RateString"
                }
              }
            },
            "description": "Availability metrics for the authenticated aspects of the CDR regime",
            "x-conditional": [
              "currentMonth",
              "previousMonths"
            ]
          }
        }
      },
      "PerformanceMetricsV3": {
        "required": [
          "highPriority",
          "largePayload",
          "lowPriority",
          "unattended",
          "unauthenticated"
        ],
        "type": "object",
        "properties": {
          "aggregate": {
            "type": "object",
            "properties": {
              "currentDay": {
                "type" : "string",
                "x-cds-type" : "RateString",
                "description": "Percentage of calls within the performance threshold for the current day. 0.0 means 0%. 1.0 means 100%. Must be a positive value or zero"
              },
              "previousDays": {
                "type": "array",
                "description": "Percentage of calls within the performance threshold for previous days. The first element indicates yesterday and so on. A maximum of seven entries is required if available. 0.0 means 0%. 1.0 means 100%. Values must be a positive or zero",
                "items": {
                  "type" : "string",
                  "x-cds-type" : "RateString"
                }
              }
            },
            "description": "Percentage of calls within Primary Data Holder performance thresholds. Note that Secondary Data Holder performance <b>MUST</b> be excluded from this metric.",
            "x-conditional": [
              "currentDay",
              "previousDays"
            ]
          },
          "highPriority": {
            "type": "object",
            "properties": {
              "currentDay": {
                "type": "array",
                "description": "Array of contiguous hourly metrics for the current day.  Each element represents a 1 hour period starting from 12am-1am.  Timezone for determining 12am must be consistent but is at the discretion of the Data Holder",
                "items": {
                  "type" : "string",
                  "x-cds-type" : "RateString",
                  "description": "Percentage of calls within the performance threshold for the specified hour. 0.0 means 0%. 1.0 means 100%. Must be a positive value or zero"
                }
              },
              "previousDays": {
                "type": "array",
                "description": "Percentage of calls within the performance threshold for previous days. The first element indicates yesterday and so on. A maximum of seven entries is required if available. 0.0 means 0%. 1.0 means 100%. Values must be a positive or zero",
                "items": {
                  "type": "array",
                  "description": "Array of contiguous hourly metrics for the specified day.  Each element represents a 1 hour period starting from 12am-1am.  Timezone for determining 12am must be consistent but is at the discretion of the Data Holder",
                  "items": {
                    "type" : "string",
                    "x-cds-type" : "RateString",
                    "description": "Percentage of calls within the performance threshold for the specified hour. 0.0 means 0%. 1.0 means 100%. Must be a positive value or zero"
                  }
                }
              }
            },
            "description": "Percentage of high priority calls within the performance thresholds",
            "x-conditional": [
              "currentDay",
              "previousDays"
            ]
          },
          "largePayload": {
            "type": "object",
            "properties": {
              "currentDay": {
                "type": "array",
                "description": "Array of contiguous hourly metrics for the current day.  Each element represents a 1 hour period starting from 12am-1am.  Timezone for determining 12am must be consistent but is at the discretion of the Data Holder",
                "items": {
                  "type" : "string",
                  "x-cds-type" : "RateString",
                  "description": "Percentage of calls within the performance threshold for the specified hour. 0.0 means 0%. 1.0 means 100%. Must be a positive value or zero"
                }
              },
              "previousDays": {
                "type": "array",
                "description": "Percentage of calls within the performance threshold for previous days. The first element indicates yesterday and so on. A maximum of seven entries is required if available. 0.0 means 0%. 1.0 means 100%. Values must be a positive or zero",
                "items": {
                  "type": "array",
                  "description": "Array of contiguous hourly metrics for the specified day.  Each element represents a 1 hour period starting from 12am-1am.  Timezone for determining 12am must be consistent but is at the discretion of the Data Holder",
                  "items": {
                    "type" : "string",
                    "x-cds-type" : "RateString",
                    "description": "Percentage of calls within the performance threshold for the specified hour. 0.0 means 0%. 1.0 means 100%. Must be a positive value or zero"
                  }
                }
              }
            },
            "description": "Percentage of large payload calls within the performance thresholds",
            "x-conditional": [
              "currentDay",
              "previousDays"
            ]
          },
          "lowPriority": {
            "type": "object",
            "properties": {
              "currentDay": {
                "type": "array",
                "description": "Array of contiguous hourly metrics for the current day.  Each element represents a 1 hour period starting from 12am-1am.  Timezone for determining 12am must be consistent but is at the discretion of the Data Holder",
                "items": {
                  "type" : "string",
                  "x-cds-type" : "RateString",
                  "description": "Percentage of calls within the performance threshold for the specified hour. 0.0 means 0%. 1.0 means 100%. Must be a positive value or zero"
                }
              },
              "previousDays": {
                "type": "array",
                "description": "Percentage of calls within the performance threshold for previous days. The first element indicates yesterday and so on. A maximum of seven entries is required if available. 0.0 means 0%. 1.0 means 100%. Values must be a positive or zero",
                "items": {
                  "type": "array",
                  "description": "Array of contiguous hourly metrics for the specified day.  Each element represents a 1 hour period starting from 12am-1am.  Timezone for determining 12am must be consistent but is at the discretion of the Data Holder",
                  "items": {
                    "type" : "string",
                    "x-cds-type" : "RateString",
                    "description": "Percentage of calls within the performance threshold for the specified hour. 0.0 means 0%. 1.0 means 100%. Must be a positive value or zero"
                  }
                }
              }
            },
            "description": "Percentage of low priority calls within the performance thresholds",
            "x-conditional": [
              "currentDay",
              "previousDays"
            ]
          },
          "unattended": {
            "type": "object",
            "properties": {
              "currentDay": {
                "type": "array",
                "description": "Array of contiguous hourly metrics for the current day.  Each element represents a 1 hour period starting from 12am-1am.  Timezone for determining 12am must be consistent but is at the discretion of the Data Holder",
                "items": {
                  "type" : "string",
                  "x-cds-type" : "RateString",
                  "description": "Percentage of calls within the performance threshold for the specified hour. 0.0 means 0%. 1.0 means 100%. Must be a positive value or zero"
                }
              },
              "previousDays": {
                "type": "array",
                "description": "Percentage of calls within the performance threshold for previous days. The first element indicates yesterday and so on. A maximum of seven entries is required if available. 0.0 means 0%. 1.0 means 100%. Values must be a positive or zero",
                "items": {
                  "type": "array",
                  "description": "Array of contiguous hourly metrics for the specified day.  Each element represents a 1 hour period starting from 12am-1am.  Timezone for determining 12am must be consistent but is at the discretion of the Data Holder",
                  "items": {
                    "type" : "string",
                    "x-cds-type" : "RateString",
                    "description": "Percentage of calls within the performance threshold for the specified hour. 0.0 means 0%. 1.0 means 100%. Must be a positive value or zero"
                  }
                }
              }
            },
            "description": "Percentage of unattended calls within the performance thresholds",
            "x-conditional": [
              "currentDay",
              "previousDays"
            ]
          },
          "unauthenticated": {
            "type": "object",
            "properties": {
              "currentDay": {
                "type": "array",
                "description": "Array of contiguous hourly metrics for the current day.  Each element represents a 1 hour period starting from 12am-1am.  Timezone for determining 12am must be consistent but is at the discretion of the Data Holder",
                "items": {
                  "type" : "string",
                  "x-cds-type" : "RateString",
                  "description": "Percentage of calls within the performance threshold for the specified hour. 0.0 means 0%. 1.0 means 100%. Must be a positive value or zero"
                }
              },
              "previousDays": {
                "type": "array",
                "description": "Percentage of calls within the performance threshold for previous days. The first element indicates yesterday and so on. A maximum of seven entries is required if available. 0.0 means 0%. 1.0 means 100%. Values must be a positive or zero",
                "items": {
                  "type": "array",
                  "description": "Array of contiguous hourly metrics for the specified day.  Each element represents a 1 hour period starting from 12am-1am.  Timezone for determining 12am must be consistent but is at the discretion of the Data Holder",
                  "items": {
                    "type" : "string",
                    "x-cds-type" : "RateString",
                    "description": "Percentage of calls within the performance threshold for the specified hour. 0.0 means 0%. 1.0 means 100%. Must be a positive value or zero"
                  }
                }
              }
            },
            "description": "Percentage of unauthenticated calls within the performance thresholds",
            "x-conditional": [
              "currentDay",
              "previousDays"
            ]
          },
          "secondary": {
            "required": [
              "primary",
              "secondary"
            ],
            "type": "object",
            "properties": {
              "primary":{
                "type": "object",
                "properties": {
                  "currentDay": {
                    "type": "array",
                    "description": "Array of contiguous hourly metrics for the current day.  Each element represents a 1 hour period starting from 12am-1am.  Timezone for determining 12am must be consistent but is at the discretion of the Data Holder",
                    "items": {
                      "type" : "string",
                      "x-cds-type" : "RateString",
                      "description": "Percentage of calls within the performance threshold for the specified hour. 0.0 means 0%. 1.0 means 100%. Must be a positive value or zero"
                    }
                  },
                  "previousDays": {
                    "type": "array",
                    "description": "Percentage of calls within the performance threshold for previous days. The first element indicates yesterday and so on. A maximum of seven entries is required if available. 0.0 means 0%. 1.0 means 100%. Values must be a positive or zero",
                    "items": {
                      "type": "array",
                      "description": "Array of contiguous hourly metrics for the specified day.  Each element represents a 1 hour period starting from 12am-1am.  Timezone for determining 12am must be consistent but is at the discretion of the Data Holder",
                      "items": {
                        "type" : "string",
                        "x-cds-type" : "RateString",
                        "description": "Percentage of calls within the performance threshold for the specified hour. 0.0 means 0%. 1.0 means 100%. Must be a positive value or zero"
                      }
                    }
                  }
                },
                "description": "Percentage of Shared Responsibility calls within the performance thresholds for the primary data holder",
                "x-conditional": [
                  "currentDay",
                  "previousDays"
                ]
              },
              "secondary":{
                "type": "object",
                "properties": {
                  "currentDay": {
                    "type": "array",
                    "description": "Array of contiguous hourly metrics for the current day.  Each element represents a 1 hour period starting from 12am-1am.  Timezone for determining 12am must be consistent but is at the discretion of the Data Holder",
                    "items": {
                      "type" : "string",
                      "x-cds-type" : "RateString",
                      "description": "Percentage of calls within the performance threshold for the specified hour. 0.0 means 0%. 1.0 means 100%. Must be a positive value or zero"
                    }
                  },
                  "previousDays": {
                    "type": "array",
                    "description": "Percentage of calls within the performance threshold for previous days. The first element indicates yesterday and so on. A maximum of seven entries is required if available. 0.0 means 0%. 1.0 means 100%. Values must be a positive or zero",
                    "items": {
                      "type": "array",
                      "description": "Array of contiguous hourly metrics for the specified day.  Each element represents a 1 hour period starting from 12am-1am.  Timezone for determining 12am must be consistent but is at the discretion of the Data Holder",
                      "items": {
                        "type" : "string",
                        "x-cds-type" : "RateString",
                        "description": "Percentage of calls within the performance threshold for the specified hour. 0.0 means 0%. 1.0 means 100%. Must be a positive value or zero"
                      }
                    }
                  }
                },
                "description": "Percentage of Shared Responsibility calls within the performance thresholds for the secondary data holder",
                "x-conditional": [
                  "currentDay",
                  "previousDays"
                ]
              }
            },
            "description": "Percentage of Shared Responsibility calls within the performance thresholds. Mandatory for data holders designated for a Shared Responsibility Data Request data cluster"
          },
          "largeSecondary": {
            "required": [
              "primary",
              "secondary"
            ],
            "type": "object",
            "properties": {
              "primary":{
                "type": "object",
                "properties": {
                  "currentDay": {
                    "type": "array",
                    "description": "Array of contiguous hourly metrics for the current day.  Each element represents a 1 hour period starting from 12am-1am.  Timezone for determining 12am must be consistent but is at the discretion of the Data Holder",
                    "items": {
                      "type" : "string",
                      "x-cds-type" : "RateString",
                      "description": "Percentage of calls within the performance threshold for the specified hour. 0.0 means 0%. 1.0 means 100%. Must be a positive value or zero"
                    }
                  },
                  "previousDays": {
                    "type": "array",
                    "description": "Percentage of calls within the performance threshold for previous days. The first element indicates yesterday and so on. A maximum of seven entries is required if available. 0.0 means 0%. 1.0 means 100%. Values must be a positive or zero",
                    "items": {
                      "type": "array",
                      "description": "Array of contiguous hourly metrics for the specified day.  Each element represents a 1 hour period starting from 12am-1am.  Timezone for determining 12am must be consistent but is at the discretion of the Data Holder",
                      "items": {
                        "type" : "string",
                        "x-cds-type" : "RateString",
                        "description": "Percentage of calls within the performance threshold for the specified hour. 0.0 means 0%. 1.0 means 100%. Must be a positive value or zero"
                      }
                    }
                  }
                },
                "description": "Percentage of large Shared Responsibility calls within the performance thresholds for the secondary data holder",
                "x-conditional": [
                  "currentDay",
                  "previousDays"
                ]
              },
              "secondary":{
                "type": "object",
                "properties": {
                  "currentDay": {
                    "type": "array",
                    "description": "Array of contiguous hourly metrics for the current day.  Each element represents a 1 hour period starting from 12am-1am.  Timezone for determining 12am must be consistent but is at the discretion of the Data Holder",
                    "items": {
                      "type" : "string",
                      "x-cds-type" : "RateString",
                      "description": "Percentage of calls within the performance threshold for the specified hour. 0.0 means 0%. 1.0 means 100%. Must be a positive value or zero"
                    }
                  },
                  "previousDays": {
                    "type": "array",
                    "description": "Percentage of calls within the performance threshold for previous days. The first element indicates yesterday and so on. A maximum of seven entries is required if available. 0.0 means 0%. 1.0 means 100%. Values must be a positive or zero",
                    "items": {
                      "type": "array",
                      "description": "Array of contiguous hourly metrics for the specified day.  Each element represents a 1 hour period starting from 12am-1am.  Timezone for determining 12am must be consistent but is at the discretion of the Data Holder",
                      "items": {
                        "type" : "string",
                        "x-cds-type" : "RateString",
                        "description": "Percentage of calls within the performance threshold for the specified hour. 0.0 means 0%. 1.0 means 100%. Must be a positive value or zero"
                      }
                    }
                  }
                },
                "description": "Percentage of large Shared Responsibility calls within the performance thresholds for the secondary data holder",
                "x-conditional": [
                  "currentDay",
                  "previousDays"
                ]
              }
            },
            "description": "Percentage of large Shared Responsibility calls within the performance thresholds. Mandatory for data holders designated for a Shared Responsibility Data Request data cluster"
          }
        },
        "description": "Percentage of calls within the performance thresholds in each performance tier over time",
        "x-conditional": [
          "secondary",
          "largeSecondary"
        ]
      },
      "InvocationMetricsV3": {
        "required": [
          "highPriority",
          "largePayload",
          "lowPriority",
          "unattended",
          "unauthenticated"
        ],
        "type": "object",
        "properties": {
          "unauthenticated": {
            "type": "object",
            "properties": {
              "currentDay": {
                "type" : "integer",
                "x-cds-type" : "NaturalNumber",
                "description": "API call counts for current day"
              },
              "previousDays": {
                "type": "array",
                "description": "API call counts for previous days. The first element indicates yesterday and so on. A maximum of seven entries is required if available",
                "items": {
                  "type" : "integer",
                  "x-cds-type" : "NaturalNumber"
                }
              }
            },
            "description": "API call counts for the unauthenticated tier",
            "x-conditional": [
              "currentDay",
              "previousDays"
            ]
          },
          "highPriority": {
            "type": "object",
            "properties": {
              "currentDay": {
                "type" : "integer",
                "x-cds-type" : "NaturalNumber",
                "description": "API call counts for current day"
              },
              "previousDays": {
                "type": "array",
                "description": "API call counts for previous days. The first element indicates yesterday and so on. A maximum of seven entries is required if available",
                "items": {
                  "type" : "integer",
                  "x-cds-type" : "NaturalNumber"
                }
              }
            },
            "description": "API call counts for the high priority tier",
            "x-conditional": [
              "currentDay",
              "previousDays"
            ]
          },
          "lowPriority": {
            "type": "object",
            "properties": {
              "currentDay": {
                "type" : "integer",
                "x-cds-type" : "NaturalNumber",
                "description": "API call counts for current day"
              },
              "previousDays": {
                "type": "array",
                "description": "API call counts for previous days. The first element indicates yesterday and so on. A maximum of seven entries is required if available",
                "items": {
                  "type" : "integer",
                  "x-cds-type" : "NaturalNumber"
                }
              }
            },
            "description": "API call counts for the low priority tier",
            "x-conditional": [
              "currentDay",
              "previousDays"
            ]
          },
          "unattended": {
            "type": "object",
            "properties": {
              "currentDay": {
                "type" : "integer",
                "x-cds-type" : "NaturalNumber",
                "description": "API call counts for current day"
              },
              "previousDays": {
                "type": "array",
                "description": "API call counts for previous days. The first element indicates yesterday and so on. A maximum of seven entries is required if available",
                "items": {
                  "type" : "integer",
                  "x-cds-type" : "NaturalNumber"
                }
              }
            },
            "description": "API call counts for the unattended tier",
            "x-conditional": [
              "currentDay",
              "previousDays"
            ]
          },
          "largePayload": {
            "type": "object",
            "properties": {
              "currentDay": {
                "type" : "integer",
                "x-cds-type" : "NaturalNumber",
                "description": "API call counts for current day"
              },
              "previousDays": {
                "type": "array",
                "description": "API call counts for previous days. The first element indicates yesterday and so on. A maximum of seven entries is required if available",
                "items": {
                  "type" : "integer",
                  "x-cds-type" : "NaturalNumber"
                }
              }
            },
            "description": "API call counts for the large payload tier",
            "x-conditional": [
              "currentDay",
              "previousDays"
            ]
          },
          "secondary": {
            "type": "object",
            "properties": {
              "currentDay": {
                "type" : "integer",
                "x-cds-type" : "NaturalNumber",
                "description": "API call counts for current day"
              },
              "previousDays": {
                "type": "array",
                "description": "API call counts for previous days. The first element indicates yesterday and so on. A maximum of seven entries is required if available",
                "items": {
                  "type" : "integer",
                  "x-cds-type" : "NaturalNumber"
                }
              }
            },
            "description": "API call counts for the Shared Responsibility Data Requests tier.  Mandatory for data holders designated for a Shared Responsibility Data Request data cluster",
            "x-conditional": [
              "currentDay",
              "previousDays"
            ]
          },
          "largeSecondary": {
            "type": "object",
            "properties": {
              "currentDay": {
                "type" : "integer",
                "x-cds-type" : "NaturalNumber",
                "description": "API call counts for current day"
              },
              "previousDays": {
                "type": "array",
                "description": "API call counts for previous days. The first element indicates yesterday and so on. A maximum of seven entries is required if available",
                "items": {
                  "type" : "integer",
                  "x-cds-type" : "NaturalNumber"
                }
              }
            },
            "description": "API call counts for the large Shared Responsibility Data Requests tier.  Mandatory for data holders designated for a Shared Responsibility Data Request data cluster",
            "x-conditional": [
              "currentDay",
              "previousDays"
            ]
          }
        },
        "description": "Number of API calls in each performance tier over time",
        "x-conditional": [
          "secondary",
          "largeSecondary"
        ]
      },
      "AverageResponseMetricsV2": {
        "required": [
          "highPriority",
          "largePayload",
          "lowPriority",
          "unattended",
          "unauthenticated"
        ],
        "type": "object",
        "properties": {
          "unauthenticated": {
            "type": "object",
            "properties": {
              "currentDay": {
                "type": "number",
                "description": "Average response time for current day"
              },
              "previousDays": {
                "type": "array",
                "description": "Average response time for previous days. The first element indicates yesterday and so on. A maximum of seven entries is required if available.",
                "items": {
                  "type": "number"
                }
              }
            },
            "description": "Average response time for the unauthenticated tier",
            "x-conditional": [
              "currentDay",
              "previousDays"
            ]
          },
          "highPriority": {
            "type": "object",
            "properties": {
              "currentDay": {
                "type": "number",
                "description": "Average response time for current day"
              },
              "previousDays": {
                "type": "array",
                "description": "Average response time for previous days. The first element indicates yesterday and so on. A maximum of seven entries is required if available.",
                "items": {
                  "type": "number"
                }
              }
            },
            "description": "Average response time for the high priority tier",
            "x-conditional": [
              "currentDay",
              "previousDays"
            ]
          },
          "lowPriority": {
            "type": "object",
            "properties": {
              "currentDay": {
                "type": "number",
                "description": "Average response time for current day"
              },
              "previousDays": {
                "type": "array",
                "description": "Average response time for previous days. The first element indicates yesterday and so on. A maximum of seven entries is required if available.",
                "items": {
                  "type": "number"
                }
              }
            },
            "description": "Average response time for the low priority tier",
            "x-conditional": [
              "currentDay",
              "previousDays"
            ]
          },
          "unattended": {
            "type": "object",
            "properties": {
              "currentDay": {
                "type": "number",
                "description": "Average response time for current day"
              },
              "previousDays": {
                "type": "array",
                "description": "Average response time for previous days. The first element indicates yesterday and so on. A maximum of seven entries is required if available.",
                "items": {
                  "type": "number"
                }
              }
            },
            "description": "Average response time for the unattended tier",
            "x-conditional": [
              "currentDay",
              "previousDays"
            ]
          },
          "largePayload": {
            "type": "object",
            "properties": {
              "currentDay": {
                "type": "number",
                "description": "Average response time for current day"
              },
              "previousDays": {
                "type": "array",
                "description": "Average response time for previous days. The first element indicates yesterday and so on. A maximum of seven entries is required if available.",
                "items": {
                  "type": "number"
                }
              }
            },
            "description": "Average response time for the large payload tier",
            "x-conditional": [
              "currentDay",
              "previousDays"
            ]
          },
          "secondary": {
            "type": "object",
            "description": "Average response time for the secondary tier.  Mandatory for data holders designated for a Shared Responsibility Data Request data cluster",
            "required": [
              "primary",
              "secondary"
            ],
            "properties": {
              "primary": {
                "type": "object",
                "properties": {
                  "currentDay": {
                    "type": "number",
                    "description": "Average response time for current day"
                  },
                  "previousDays": {
                    "type": "array",
                    "description": "Average response time for previous days. The first element indicates yesterday and so on. A maximum of seven entries is required if available.",
                    "items": {
                      "type": "number"
                    }
                  }
                },
                "description": "Average response time as measured for the primary data holder",
                "x-conditional": [
                  "currentDay",
                  "previousDays"
                ]
              },
              "secondary": {
                "type": "object",
                "description": "Average response time as measured for the secondary data holder",
                "properties": {
                  "currentDay": {
                    "type": "number",
                    "description": "Average response time for current day"
                  },
                  "previousDays": {
                    "type": "array",
                    "description": "Average response time for previous days. The first element indicates yesterday and so on. A maximum of seven entries is required if available.",
                    "items": {
                      "type": "number"
                    }
                  }
                },
                "x-conditional": [
                  "currentDay",
                  "previousDays"
                ]
              }
            }
          },
          "largeSecondary": {
            "required": [
              "primary",
              "secondary"
            ],
            "type": "object",
            "properties": {
              "primary": {
                "type": "object",
                "properties": {
                  "currentDay": {
                    "type": "number",
                    "description": "Average response time for current day"
                  },
                  "previousDays": {
                    "type": "array",
                    "description": "Average response time for previous days. The first element indicates yesterday and so on. A maximum of seven entries is required if available.",
                    "items": {
                      "type": "number"
                    }
                  }
                },
                "description": "Average response time as measured for the primary data holder",
                "x-conditional": [
                  "currentDay",
                  "previousDays"
                ]
              },
              "secondary": {
                "type": "object",
                "properties": {
                  "currentDay": {
                    "type": "number",
                    "description": "Average response time for current day"
                  },
                  "previousDays": {
                    "type": "array",
                    "description": "Average response time for previous days. The first element indicates yesterday and so on. A maximum of seven entries is required if available.",
                    "items": {
                      "type": "number"
                    }
                  }
                },
                "description": "Average response time as measured for the secondary data holder",
                "x-conditional": [
                  "currentDay",
                  "previousDays"
                ]
              }
            },
            "description": "Average response time for the large payload tier.  Mandatory for data holders designated for a Shared Responsibility Data Request data cluster"
          }
        },
        "description": "Average response time in seconds, at millisecond resolution, within each performance tier",
        "x-conditional": [
          "secondary",
          "largeSecondary"
        ]
      },
      "SessionCountMetricsV2": {
        "type": "object",
        "properties": {
          "currentDay": {
            "type" : "integer",
            "x-cds-type" : "NaturalNumber",
            "description": "Session count for current day"
          },
          "previousDays": {
            "type": "array",
            "description": "Session count for previous days. The first element indicates yesterday and so on. A maximum of seven entries is required if available",
            "items": {
              "type" : "integer",
              "x-cds-type" : "NaturalNumber"
            }
          }
        },
        "description": "Session counts over time. Note that a session is defined as the provisioning of an Access Token.",
        "x-conditional": [
          "currentDay",
          "previousDays"
        ]
      },
      "AverageTPSMetricsV2": {
        "required": [
          "aggregate",
          "unauthenticated",
          "authenticated"
        ],
        "description": "Average transactions per second over time",
        "type": "object",
        "properties": {
          "aggregate": {
            "type": "object",
            "properties": {
              "currentDay": {
                "type": "number",
                "description": "Average TPS for current day. Must be a positive value or zero"
              },
              "previousDays": {
                "type": "array",
                "description": "Average TPS for previous days. The first element indicates yesterday and so on. A maximum of seven entries is required if available. Values must be a positive or zero",
                "items": {
                  "type": "number"
                }
              }
            },
            "description": "Aggregate average transactions per second over time for all endpoints",
            "x-conditional": [
              "currentDay",
              "previousDays"
            ]
          },
          "unauthenticated": {
            "type": "object",
            "properties": {
              "currentDay": {
                "type": "number",
                "description": "Average TPS for current day. Must be a positive value or zero"
              },
              "previousDays": {
                "type": "array",
                "description": "Average TPS for previous days. The first element indicates yesterday and so on. A maximum of seven entries is required if available. Values must be a positive or zero",
                "items": {
                  "type": "number"
                }
              }
            },
            "description": "Average transactions per second over time for unauthenticated endpoints",
            "x-conditional": [
              "currentDay",
              "previousDays"
            ]
          },
          "authenticated": {
            "type": "object",
            "properties": {
              "currentDay": {
                "type": "number",
                "description": "Average TPS for current day. Must be a positive value or zero"
              },
              "previousDays": {
                "type": "array",
                "description": "Average TPS for previous days. The first element indicates yesterday and so on. A maximum of seven entries is required if available. Values must be a positive or zero",
                "items": {
                  "type": "number"
                }
              }
            },
            "description": "Average transactions per second over time for authenticated endpoints",
            "x-conditional": [
              "currentDay",
              "previousDays"
            ]
          }
        }
      },
      "PeakTPSMetricsV2": {
        "required": [
          "aggregate",
          "unauthenticated",
          "authenticated"
        ],
        "description": "Peak transactions per second over time",
        "type": "object",
        "properties": {
          "aggregate": {
            "type": "object",
            "properties": {
              "currentDay": {
                "type": "number",
                "description": "Peak TPS for current day. Must be a positive value or zero"
              },
              "previousDays": {
                "type": "array",
                "description": "Peak TPS for previous days. The first element indicates yesterday and so on. A maximum of seven entries is required if available. Values must be a positive or zero",
                "items": {
                  "type": "number"
                }
              }
            },
            "description": "Aggregate peak transactions per second over time for all endpoints",
            "x-conditional": [
              "currentDay",
              "previousDays"
            ]
          },
          "unauthenticated": {
            "type": "object",
            "properties": {
              "currentDay": {
                "type": "number",
                "description": "Peak TPS for current day. Must be a positive value or zero"
              },
              "previousDays": {
                "type": "array",
                "description": "Peak TPS for previous days. The first element indicates yesterday and so on. A maximum of seven entries is required if available. Values must be a positive or zero",
                "items": {
                  "type": "number"
                }
              }
            },
            "description": "Peak transactions per second over time for unauthenticated endpoints",
            "x-conditional": [
              "currentDay",
              "previousDays"
            ]
          },
          "authenticated": {
            "type": "object",
            "properties": {
              "currentDay": {
                "type": "number",
                "description": "Peak TPS for current day. Must be a positive value or zero"
              },
              "previousDays": {
                "type": "array",
                "description": "Peak TPS for previous days. The first element indicates yesterday and so on. A maximum of seven entries is required if available. Values must be a positive or zero",
                "items": {
                  "type": "number"
                }
              }
            },
            "description": "Peak transactions per second over time for authenticated endpoints",
            "x-conditional": [
              "currentDay",
              "previousDays"
            ]
          }
        }
      },
      "ErrorMetricsV2": {
        "required": [
          "aggregate",
          "unauthenticated",
          "authenticated"
        ],
        "description": "Number of calls resulting in error due to server execution over time",
        "type": "object",
        "properties": {
          "aggregate": {
            "type": "object",
            "properties": {
              "currentDay": {
                "type" : "integer",
                "x-cds-type" : "NaturalNumber",
                "description": "Error counts for current day"
              },
              "previousDays": {
                "type": "array",
                "description": "Error counts for previous days. The first element indicates yesterday and so on. A maximum of seven entries is required if available",
                "items": {
                  "type" : "integer",
                  "x-cds-type" : "NaturalNumber"
                }
              }
            },
            "description": "Aggregate number of calls resulting in error due to server execution over time for all endpoints",
            "x-conditional": [
              "currentDay",
              "previousDays"
            ]
          },
          "unauthenticated": {
            "type": "object",
            "properties": {
              "currentDay": {
                "description": "Error counts, by HTTP error code, for current day",
                "type": "object",
                "properties": {
                  "500": {
                    "type" : "integer",
                    "x-cds-type" : "NaturalNumber",
                    "description": "Number of errors for HTTP error code 500.  Note that this field is an example of a single entry due to the lack of OAS support for the JSON Schema `patternProperties` syntax.  See the `additionalProperties` field in this schema for the generic property structure for error code counts"
                  }
                },
                "additionalProperties": {
                  "type" : "integer",
                  "x-cds-type" : "NaturalNumber",
                  "description": "Number of errors for a specific HTTP error code.  Note that the property name must be 3 digits represent the HTTP error code the error is for"
                }
              },
              "previousDays": {
                "type": "array",
                "description": "Error counts, by HTTP error code, for previous days. The first element indicates yesterday and so on. A maximum of seven entries is required if available",
                "items": {
                  "type": "object",
                  "properties": {
                    "500": {
                      "type" : "integer",
                      "x-cds-type" : "NaturalNumber",
                      "description": "Number of errors for HTTP error code 500.  Note that this field is an example of a single entry due to the lack of OAS support JSON Schema `patternProperties` syntax.  See the `additionalProperties` field in this schema for the generic property structure for error code counts"
                    }
                  },
                  "additionalProperties": {
                    "type" : "integer",
                    "x-cds-type" : "NaturalNumber",
                    "description": "Number of errors for a specific HTTP error code.  Note that the property name must be 3 digits represent the HTTP error code the error is for"
                  }
                }
              }
            },
            "description": "Number of calls resulting in error due to server execution over time for unauthenticated endpoints",
            "x-conditional": [
              "currentDay",
              "previousDays"
            ]
          },
          "authenticated": {
            "type": "object",
            "properties": {
              "currentDay": {
                "description": "Error counts, by HTTP error code, for current day",
                "type": "object",
                "properties": {
                  "500": {
                    "type" : "integer",
                    "x-cds-type" : "NaturalNumber",
                    "description": "Number of errors for HTTP error code 500.  Note that this field is an example of a single entry due to the lack of OAS support for the JSON Schema `patternProperties` syntax.  See the `additionalProperties` field in this schema for the generic property structure for error code counts"
                  }
                },
                "additionalProperties": {
                  "type" : "integer",
                  "x-cds-type" : "NaturalNumber",
                  "description": "Number of errors for a specific HTTP error code.  Note that the property name must be 3 digits represent the HTTP error code the error is for"
                }
              },
              "previousDays": {
                "type": "array",
                "description": "Error counts, by HTTP error code, for previous days. The first element indicates yesterday and so on. A maximum of seven entries is required if available",
                "items": {
                  "type": "object",
                  "properties": {
                    "500": {
                      "type" : "integer",
                      "x-cds-type" : "NaturalNumber",
                      "description": "Number of errors for HTTP error code 500.  Note that this field is an example of a single entry due to the lack of OAS support JSON Schema `patternProperties` syntax.  See the `additionalProperties` field in this schema for the generic property structure for error code counts"
                    }
                  },
                  "additionalProperties": {
                    "type" : "integer",
                    "x-cds-type" : "NaturalNumber",
                    "description": "Number of errors for a specific HTTP error code.  Note that the property name must be 3 digits represent the HTTP error code the error is for"
                  }
                }
              }
            },
            "description": "Number of calls resulting in error due to server execution over time for authenticated endpoints",
            "x-conditional": [
              "currentDay",
              "previousDays"
            ]
          }
        }
      },
      "RejectionMetricsV3": {
        "required": [
          "authenticated",
          "unauthenticated"
        ],
        "type": "object",
        "properties": {
          "authenticated": {
            "type": "object",
            "properties": {
              "currentDay": {
                "type" : "integer",
                "x-cds-type" : "NaturalNumber",
                "description": "Number of calls rejected for current day"
              },
              "previousDays": {
                "type": "array",
                "description": "Number of calls rejected for previous days. The first element indicates yesterday and so on. A maximum of seven entries is required if available.",
                "items": {
                  "type" : "integer",
                  "x-cds-type" : "NaturalNumber"
                }
              }
            },
            "description": "Rejection counts for all authenticated end points",
            "x-conditional": [
              "currentDay",
              "previousDays"
            ]
          },
          "unauthenticated": {
            "type": "object",
            "properties": {
              "currentDay": {
                "type" : "integer",
                "x-cds-type" : "NaturalNumber",
                "description": "Number of calls rejected for current day"
              },
              "previousDays": {
                "type": "array",
                "description": "Number of calls rejected for previous days. The first element indicates yesterday and so on. A maximum of seven entries is required if available.",
                "items": {
                  "type" : "integer",
                  "x-cds-type" : "NaturalNumber"
                }
              }
            },
            "description": "Rejection counts for all unauthenticated end points",
            "x-conditional": [
              "currentDay",
              "previousDays"
            ]
          }
        },
        "description": "Number of calls rejected due to traffic thresholds over time"
      },
      "SecondaryHolderMetricsV2": {
        "required": [
          "errors",
          "rejections"
        ],
        "type": "object",
        "properties": {
          "errors": {
            "type": "object",
            "properties": {
              "currentDay": {
                "type" : "integer",
                "x-cds-type" : "NaturalNumber",
                "description": "Number of errors for current day"
              },
              "previousDays": {
                "type": "array",
                "description": "Number of errors for previous days. The first element indicates yesterday and so on. A maximum of seven entries is required if available",
                "items": {
                  "type" : "integer",
                  "x-cds-type" : "NaturalNumber"
                }
              }
            },
            "description": "Number of calls resulting in error due to server execution over time",
            "x-conditional": [
              "currentDay",
              "previousDays"
            ]
          },
          "rejections": {
            "type": "object",
            "properties": {
              "currentDay": {
                "type" : "integer",
                "x-cds-type" : "NaturalNumber",
                "description": "Number of rejections for current day"
              },
              "previousDays": {
                "type": "array",
                "description": "Number of rejections for previous days. The first element indicates yesterday and so on. A maximum of seven entries is required if available",
                "items": {
                  "type" : "integer",
                  "x-cds-type" : "NaturalNumber"
                }
              }
            },
            "description": "Number of calls rejected due to traffic thresholds over time",
            "x-conditional": [
              "currentDay",
              "previousDays"
            ]
          }
        },
        "description": "Errors and rejections received by the primary data holder from the secondary data holder.  Mandatory for data holders designated for a Shared Responsibility Data Request data cluster"
      },
      "AuthorisationMetricsV2": {
        "required": [
          "activeAuthorisationCount",
          "newAuthorisationCount",
          "revokedAuthorisationCount",
          "amendedAuthorisationCount",
          "expiredAuthorisationCount",
          "abandonedConsentFlowCount",
          "abandonmentsByStage"
        ],
        "type": "object",
        "properties": {
          "activeAuthorisationCount": {
            "required": [
              "individual",
              "nonIndividual"
            ],
            "type": "object",
            "properties": {
              "individual": {
                "type": "integer",
                "x-cds-type" : "NaturalNumber",
                "description": "Active ongoing authorisation count for individual customers"
              },
              "nonIndividual": {
                "type": "integer",
                "x-cds-type" : "NaturalNumber",
                "description": "Active ongoing authorisation count for non-individual customers"
              }
            },
            "description": "The number of active ongoing authorisations"
          },
          "newAuthorisationCount": {
            "type": "object",
            "properties": {
              "currentDay": {
                "required": [
                  "onceOff",
                  "ongoing"
                ],
                "type": "object",
                "properties": {
                  "onceOff": {
                    "required": [
                      "individual",
                      "nonIndividual"
                    ],
                    "type": "object",
                    "properties": {
                      "individual": {
                        "type": "integer",
                        "x-cds-type" : "NaturalNumber",
                        "description": "New authorisation count for individual customers"
                      },
                      "nonIndividual": {
                        "type": "integer",
                        "x-cds-type" : "NaturalNumber",
                        "description": "New authorisation count for non-individual customers"
                      }
                    },
                    "description": "New authorisation count for once-off authorisations"
                  },
                  "ongoing": {
                    "required": [
                      "individual",
                      "nonIndividual"
                    ],
                    "type": "object",
                    "properties": {
                      "individual": {
                        "type": "integer",
                        "x-cds-type" : "NaturalNumber",
                        "description": "New authorisation count for individual customers"
                      },
                      "nonIndividual": {
                        "type": "integer",
                        "x-cds-type" : "NaturalNumber",
                        "description": "New authorisation count for non-individual customers"
                      }
                    },
                    "description": "New authorisation count for ongoing authorisations"
                  }
                },
                "description": "Number of new authorisations for the current day"
              },
              "previousDays": {
                "type": "array",
                "description": "Number of new authorisations for previous days. The first element indicates yesterday and so on. A maximum of seven entries is required if available",
                "items": {
                  "required": [
                    "onceOff",
                    "ongoing"
                  ],
                  "type": "object",
                  "properties": {
                    "onceOff": {
                      "required": [
                        "individual",
                        "nonIndividual"
                      ],
                      "type": "object",
                      "properties": {
                        "individual": {
                          "type": "integer",
                          "x-cds-type" : "NaturalNumber",
                          "description": "New authorisation count for individual customers"
                        },
                        "nonIndividual": {
                          "type": "integer",
                          "x-cds-type" : "NaturalNumber",
                          "description": "New authorisation count for non-individual customers"
                        }
                      },
                      "description": "New authorisation count for once-off authorisations"
                    },
                    "ongoing": {
                      "required": [
                        "individual",
                        "nonIndividual"
                      ],
                      "type": "object",
                      "properties": {
                        "individual": {
                          "type": "integer",
                          "x-cds-type" : "NaturalNumber",
                          "description": "New authorisation count for individual customers"
                        },
                        "nonIndividual": {
                          "type": "integer",
                          "x-cds-type" : "NaturalNumber",
                          "description": "New authorisation count for non-individual customers"
                        }
                      },
                      "description": "New authorisation count for ongoing authorisations"
                    }
                  }
                }
              }
            },
            "description": "The number of new authorisations",
            "x-conditional": [
              "currentDay",
              "previousDays"
            ]
          },
          "revokedAuthorisationCount": {
            "type": "object",
            "properties": {
              "currentDay": {
                "required": [
                  "individual",
                  "nonIndividual"
                ],
                "type": "object",
                "properties": {
                  "individual": {
                    "type": "integer",
                    "x-cds-type" : "NaturalNumber",
                    "description": "Revoked authorisation count for individual customers"
                  },
                  "nonIndividual": {
                    "type": "integer",
                    "x-cds-type" : "NaturalNumber",
                    "description": "Revoked authorisation count for non-individual customers"
                  }
                },
                "description": "Number of revoked authorisations for the current day"
              },
              "previousDays": {
                "type": "array",
                "description": "Number of revoked authorisations for previous days. The first element indicates yesterday and so on. A maximum of seven entries is required if available",
                "items": {
                    "required": [
                      "individual",
                      "nonIndividual"
                    ],
                    "type": "object",
                    "properties": {
                      "individual": {
                        "type": "integer",
                        "x-cds-type" : "NaturalNumber",
                        "description": "Revoked authorisation count for individual customers"
                      },
                      "nonIndividual": {
                        "type": "integer",
                        "x-cds-type" : "NaturalNumber",
                        "description": "Revoked authorisation count for non-individual customers"
                      }
                    }
                }
              }
            },
            "description": "The number of revoked authorisations",
            "x-conditional": [
              "currentDay",
              "previousDays"
            ]
          },
          "amendedAuthorisationCount": {
            "type": "object",
            "properties": {
              "currentDay": {
                "required": [
                  "individual",
                  "nonIndividual"
                ],
                "type": "object",
                "properties": {
                  "individual": {
                    "type": "integer",
                    "x-cds-type" : "NaturalNumber",
                    "description": "Amended authorisation count for individual customers"
                  },
                  "nonIndividual": {
                    "type": "integer",
                    "x-cds-type" : "NaturalNumber",
                    "description": "Amended authorisation count for non-individual customers"
                  }
                },
                "description": "Number of amended authorisations for the current day"
              },
              "previousDays": {
                "type": "array",
                "description": "Number of amended authorisations for previous days. The first element indicates yesterday and so on. A maximum of seven entries is required if available",
                "items": {
                    "required": [
                      "individual",
                      "nonIndividual"
                    ],
                    "type": "object",
                    "properties": {
                      "individual": {
                        "type": "integer",
                        "x-cds-type" : "NaturalNumber",
                        "description": "Amended authorisation count for individual customers"
                      },
                      "nonIndividual": {
                        "type": "integer",
                        "x-cds-type" : "NaturalNumber",
                        "description": "Amended authorisation count for non-individual customers"
                      }
                    }
                }
              }
            },
            "description": "The number of amended ongoing authorisations",
            "x-conditional": [
              "currentDay",
              "previousDays"
            ]
          },
          "expiredAuthorisationCount": {
            "type": "object",
            "properties": {
              "currentDay": {
                "required": [
                  "individual",
                  "nonIndividual"
                ],
                "type": "object",
                "properties": {
                  "individual": {
                    "type": "integer",
                    "x-cds-type" : "NaturalNumber",
                    "description": "Expired authorisation count for individual customers"
                  },
                  "nonIndividual": {
                    "type": "integer",
                    "x-cds-type" : "NaturalNumber",
                    "description": "Expired authorisation count for non-individual customers"
                  }
                },
                "description": "Number of expired authorisations for the current day"
              },
              "previousDays": {
                "type": "array",
                "description": "Number of expired authorisations for previous days. The first element indicates yesterday and so on. A maximum of seven entries is required if available",
                "items": {
                    "required": [
                      "individual",
                      "nonIndividual"
                    ],
                    "type": "object",
                    "properties": {
                      "individual": {
                        "type": "integer",
                        "x-cds-type" : "NaturalNumber",
                        "description": "Expired authorisation count for individual customers"
                      },
                      "nonIndividual": {
                        "type": "integer",
                        "x-cds-type" : "NaturalNumber",
                        "description": "Expired authorisation count for non-individual customers"
                      }
                    }
                }
              }
            },
            "description": "The number of expired ongoing authorisations",
            "x-conditional": [
              "currentDay",
              "previousDays"
            ]
          },
          "abandonedConsentFlowCount": {
            "type": "object",
            "properties": {
              "currentDay": {
                "type": "integer",
                "x-cds-type" : "NaturalNumber",
                "description": "Number of consents flows that were not successfully authorised for the current day"
              },
              "previousDays": {
                "type": "array",
                "description": "Number of consents flows that were not successfully authorised for previous days. The first element indicates yesterday and so on. A maximum of seven entries is required if available",
                "items": {
                  "type": "integer",
                  "x-cds-type" : "NaturalNumber"
                }
              }
            },
            "description": "The number of consents flows that were not successfully authorised",
            "x-conditional": [
              "currentDay",
              "previousDays"
            ]
          },
          "abandonmentsByStage": {
            "required": [
              "preIdentification",
              "preAuthentication",
              "preAccountSelection",
              "preAuthorisation",
              "rejected",
              "failedTokenExchange"
            ],
            "type": "object",
            "properties": {
              "preIdentification": {
                "type": "object",
                "properties": {
                  "currentDay": {
                    "type": "integer",
                    "x-cds-type" : "NaturalNumber",
                    "description": "Number of abandoned consent flows for this stage for the current day"
                  },
                  "previousDays": {
                    "type": "array",
                    "description": "Number of abandoned consent flows for this stage for previous days. The first element indicates yesterday and so on. A maximum of seven entries is required if available",
                    "items": {
                      "type": "integer",
                      "x-cds-type" : "NaturalNumber"
                    }
                  }
                },
                "description": "The number of authorisations that commenced with the data holder but the customer did not successfully identify their profile or user ID",
                "x-conditional": [
                  "currentDay",
                  "previousDays"
                ]
              },
              "preAuthentication": {
                "type": "object",
                "properties": {
                  "currentDay": {
                    "type": "integer",
                    "x-cds-type" : "NaturalNumber",
                    "description": "Number of abandoned consent flows for this stage for the current day"
                  },
                  "previousDays": {
                    "type": "array",
                    "description": "Number of abandoned consent flows for this stage for previous days. The first element indicates yesterday and so on. A maximum of seven entries is required if available",
                    "items": {
                      "type": "integer",
                      "x-cds-type" : "NaturalNumber"
                    }
                  }
                },
                "description": "The number of authorisations where the customer identified themselves (ie. they successfully identify the customer profile to use for the authorisation) but failed to provide a valid OTP or equivalent",
                "x-conditional": [
                  "currentDay",
                  "previousDays"
                ]
              },
              "preAccountSelection": {
                "type": "object",
                "properties": {
                  "currentDay": {
                    "type": "integer",
                    "x-cds-type" : "NaturalNumber",
                    "description": "Number of abandoned consent flows for this stage for the current day"
                  },
                  "previousDays": {
                    "type": "array",
                    "description": "Number of abandoned consent flows for this stage for previous days. The first element indicates yesterday and so on. A maximum of seven entries is required if available",
                    "items": {
                      "type": "integer",
                      "x-cds-type" : "NaturalNumber"
                    }
                  }
                },
                "description": "The number of authorisations where the customer successfully authenticated with a valid OTP or equivalent but abandoned the process before selecting accounts",
                "x-conditional": [
                  "currentDay",
                  "previousDays"
                ]
              },
              "preAuthorisation": {
                "type": "object",
                "properties": {
                  "currentDay": {
                    "type": "integer",
                    "x-cds-type" : "NaturalNumber",
                    "description": "Number of abandoned consent flows for this stage for the current day"
                  },
                  "previousDays": {
                    "type": "array",
                    "description": "Number of abandoned consent flows for this stage for previous days. The first element indicates yesterday and so on. A maximum of seven entries is required if available",
                    "items": {
                      "type": "integer",
                      "x-cds-type" : "NaturalNumber"
                    }
                  }
                },
                "description": "The number of authorisations where the customer has passed the account selection step but abandoned the process before approving or rejecting the consent being requested",
                "x-conditional": [
                  "currentDay",
                  "previousDays"
                ]
              },
              "rejected": {
                "type": "object",
                "properties": {
                  "currentDay": {
                    "type": "integer",
                    "x-cds-type" : "NaturalNumber",
                    "description": "Number of abandoned consent flows for this stage for the current day"
                  },
                  "previousDays": {
                    "type": "array",
                    "description": "Number of abandoned consent flows for this stage for previous days. The first element indicates yesterday and so on. A maximum of seven entries is required if available",
                    "items": {
                      "type": "integer",
                      "x-cds-type" : "NaturalNumber"
                    }
                  }
                },
                "description": "The number of authorisations where the customer actively rejected the authorisation rather than abandoning the process",
                "x-conditional": [
                  "currentDay",
                  "previousDays"
                ]
              },
              "failedTokenExchange": {
                "type": "object",
                "properties": {
                  "currentDay": {
                    "type": "integer",
                    "x-cds-type" : "NaturalNumber",
                    "description": "Number of abandoned consent flows for this stage for the current day"
                  },
                  "previousDays": {
                    "type": "array",
                    "description": "Number of abandoned consent flows for this stage for previous days. The first element indicates yesterday and so on. A maximum of seven entries is required if available",
                    "items": {
                      "type": "integer",
                      "x-cds-type" : "NaturalNumber"
                    }
                  }
                },
                "description": "The number of authorisations that completed the interactive flow with the consumer authorising the consent, but the ADR failed to - or was unable to - obtain a refresh or access token using the authorisation code",
                "x-conditional": [
                  "currentDay",
                  "previousDays"
                ]
              }
            },
            "description": "Customer abandonment count per stage of the consent flow.  Note that the aggregated abandonment count for all stages for a period should equal the count in `abandonedConsentFlowCount` for the same period (ie. each abandoned consent should assigned to one, and only one, stage)"
          }
        },
        "description": "Authorisation counts for the data holder"
      },
      "Links": {
        "required": [
          "self"
        ],
        "type": "object",
        "properties": {
          "self": {
            "type": "string",
            "description": "Fully qualified link to this API call",
            "x-cds-type": "URIString"
          }
        }
      },
      "Meta": {
        "type": "object"
      },
      "MetaError": {
        "type": "object",
        "properties": {
          "urn": {
            "type": "string",
            "description": "The CDR error code URN which the application-specific error code extends. Mandatory if the error `code` is an application-specific error rather than a standardised error code."
          }
        },
        "description": "Additional data for customised error codes",
        "x-conditional": [
          "urn"
        ]
      },
      "ResponseErrorListV2": {
        "required": [
          "errors"
        ],
        "type": "object",
        "properties": {
          "errors": {
            "type": "array",
            "description": "",
            "items": {
              "required": [
                "code",
                "detail",
                "title"
              ],
              "type": "object",
              "properties": {
                "code": {
                  "type": "string",
                  "description": "The code of the error encountered. Where the error is specific to the respondent, an application-specific error code, expressed as a string value. If the error is application-specific, the URN code that the specific error extends must be provided in the meta object. Otherwise, the value is the error code URN."
                },
                "title": {
                  "type": "string",
                  "description": "A short, human-readable summary of the problem that MUST NOT change from occurrence to occurrence of the problem represented by the error code."
                },
                "detail": {
                  "type": "string",
                  "description": "A human-readable explanation specific to this occurrence of the problem."
                },
                "meta": {
                  "$ref": "#/components/schemas/MetaError"
                }
              }
            }
          }
        },
        "x-conditional": [
          "meta"
        ]
      }
    },
    "parameters": {
      "RequestHeader_x-v": {
        "name": "x-v",
        "in": "header",
        "description": "Version of the API end point requested by the client. Must be set to a positive integer. The data holder should respond with the highest supported version between [x-min-v](#request-headers) and [x-v](#request-headers). If the value of [x-min-v](#request-headers) is equal to or higher than the value of [x-v](#request-headers) then the [x-min-v](#request-headers) header should be treated as absent. If all versions requested are not supported then the data holder should respond with a 406 Not Acceptable. See [HTTP Headers](#request-headers)",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "RequestHeader_x-min-v": {
        "name": "x-min-v",
        "in": "header",
        "description": "Minimum version of the API end point requested by the client. Must be set to a positive integer if provided. The data holder should respond with the highest supported version between [x-min-v](#request-headers) and [x-v](#request-headers). If all versions requested are not supported then the data holder should respond with a 406 Not Acceptable.",
        "schema": {
          "type": "string"
        }
      }
    }
  }
}
