{
  "openapi" : "3.0.3",
  "info" : {
    "contact" : {
      "email" : "contact@consumerdatastandards.gov.au",
      "name" : "Consumer Data Standards Administration End Points",
      "url" : "https://consumerdatastandards.gov.au"
    },
    "description" : "Data Holder Consumer Data Standards Administration End Points created by the Data Standards Body (DSB), with the Data Standards Chair as the decision maker",
    "license" : {
      "name" : "MIT License",
      "url" : "https://opensource.org/licenses/MIT"
    },
    "title" : "CDR Admin API",
    "version" : "1.18.0"
  },
  "servers" : [ {
    "url" : "https://data.holder.com.au/cds-au/v1"
  } ],
  "paths" : {
    "/admin/register/metadata" : {
      "post" : {
        "description" : "Indicate that a critical update to the metadata for Accredited Data Recipients has been made and should be obtained",
        "operationId" : "metadataUpdate",
        "parameters" : [ {
          "description" : "Version of the API end point requested by the client. Must be set to a positive integer. The data holder should respond with the highest supported version between [x-min-v](#request-headers) and [x-v](#request-headers). If the value of [x-min-v](#request-headers) is equal to or higher than the value of [x-v](#request-headers) then the [x-min-v](#request-headers) header should be treated as absent. If all versions requested are not supported then the data holder should respond with a 406 Not Acceptable. See [HTTP Headers](#request-headers)",
          "explode" : false,
          "in" : "header",
          "name" : "x-v",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "style" : "simple"
        }, {
          "description" : "Minimum version of the API end point requested by the client. Must be set to a positive integer if provided. The data holder should respond with the highest supported version between [x-min-v](#request-headers) and [x-v](#request-headers). If all versions requested are not supported then the data holder should respond with a 406 Not Acceptable.",
          "explode" : false,
          "in" : "header",
          "name" : "x-min-v",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/RequestMetaDataUpdate"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : { }
              }
            },
            "description" : "Success",
            "headers" : {
              "x-v" : {
                "description" : "The [version](#response-headers) of the API end point that the data holder has responded with.",
                "explode" : false,
                "schema" : {
                  "type" : "string"
                },
                "style" : "simple"
              }
            }
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ResponseErrorListV2"
                }
              }
            },
            "description" : "The following error codes MUST be supported:<br/><ul class=\"error-code-list\"><li>[400 - Invalid Field](#error-400-field-invalid)</li><li>[400 - Invalid Version](#error-400-header-invalid-version)</li></ul>"
          },
          "406" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ResponseErrorListV2"
                }
              }
            },
            "description" : "The following error codes MUST be supported:<br/><ul class=\"error-code-list\"><li>[406 - Unsupported Version](#error-406-header-unsupported-version)</li></ul>"
          }
        },
        "summary" : "Metadata Update",
        "tags" : [ "Admin", "Register" ],
        "x-scopes" : [ "admin:metadata:update" ],
        "x-restricted-access" : true,
        "x-version" : "1",
        "x-codegen-request-body-name" : "action"
      }
    },
    "/admin/metrics" : {
      "get" : {
        "description" : "This end point allows the ACCC to obtain operational statistics from the Data Holder on the operation of their CDR compliant implementation. The statistics obtainable from this end point are determined by the non-functional requirements for the CDR regime.\n\nThis end point is not required to be implemented by the Australian Energy Market Operator, the Australian Energy Regulator or the Department of State administered by the Minister of Victoria administering the National Electricity (Victoria) Act 2005 (Vic).\n\nNOTE: This version must be implemented by **October 1st 2022**\n\nObsolete versions: [v1](includes/obsolete/get-metrics-v1.html) [v2](includes/obsolete/get-metrics-v2.html).\n\nIf the Data Holder supports private_key_jwt client authentication they MUST validate the scope.",
        "operationId" : "getMetrics",
        "parameters" : [ {
          "description" : "The period of metrics to be requested. Values can be CURRENT (meaning metrics for current day), HISTORIC (meaning metrics for previous days or months) or ALL. If absent the default is ALL.",
          "explode" : true,
          "in" : "query",
          "name" : "period",
          "required" : false,
          "schema" : {
            "default" : "ALL",
            "enum" : [ "CURRENT", "HISTORIC", "ALL" ],
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Version of the API end point requested by the client. Must be set to a positive integer. The data holder should respond with the highest supported version between [x-min-v](#request-headers) and [x-v](#request-headers). If the value of [x-min-v](#request-headers) is equal to or higher than the value of [x-v](#request-headers) then the [x-min-v](#request-headers) header should be treated as absent. If all versions requested are not supported then the data holder should respond with a 406 Not Acceptable. See [HTTP Headers](#request-headers)",
          "explode" : false,
          "in" : "header",
          "name" : "x-v",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "style" : "simple"
        }, {
          "description" : "Minimum version of the API end point requested by the client. Must be set to a positive integer if provided. The data holder should respond with the highest supported version between [x-min-v](#request-headers) and [x-v](#request-headers). If all versions requested are not supported then the data holder should respond with a 406 Not Acceptable.",
          "explode" : false,
          "in" : "header",
          "name" : "x-min-v",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ResponseMetricsListV3"
                }
              }
            },
            "description" : "Success",
            "headers" : {
              "x-v" : {
                "description" : "The [version](#response-headers) of the API end point that the data holder has responded with.",
                "explode" : false,
                "schema" : {
                  "type" : "string"
                },
                "style" : "simple"
              }
            }
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ResponseErrorListV2"
                }
              }
            },
            "description" : "The following error codes MUST be supported:<br/><ul class=\"error-code-list\"><li>[400 - Invalid Field](#error-400-field-invalid)</li><li>[400 - Invalid Version](#error-400-header-invalid-version)</li></ul>"
          },
          "406" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ResponseErrorListV2"
                }
              }
            },
            "description" : "The following error codes MUST be supported:<br/><ul class=\"error-code-list\"><li>[406 - Unsupported Version](#error-406-header-unsupported-version)</li></ul>"
          }
        },
        "summary" : "Get Metrics",
        "tags" : [ "Admin", "Metrics" ],
        "x-scopes" : [ "admin:metrics.basic:read" ],
        "x-restricted-access" : true,
        "x-version" : "3"
      }
    }
  },
  "components" : {
    "parameters" : {
      "RequestHeader_x-v" : {
        "description" : "Version of the API end point requested by the client. Must be set to a positive integer. The data holder should respond with the highest supported version between [x-min-v](#request-headers) and [x-v](#request-headers). If the value of [x-min-v](#request-headers) is equal to or higher than the value of [x-v](#request-headers) then the [x-min-v](#request-headers) header should be treated as absent. If all versions requested are not supported then the data holder should respond with a 406 Not Acceptable. See [HTTP Headers](#request-headers)",
        "explode" : false,
        "in" : "header",
        "name" : "x-v",
        "required" : true,
        "schema" : {
          "type" : "string"
        },
        "style" : "simple"
      },
      "RequestHeader_x-min-v" : {
        "description" : "Minimum version of the API end point requested by the client. Must be set to a positive integer if provided. The data holder should respond with the highest supported version between [x-min-v](#request-headers) and [x-v](#request-headers). If all versions requested are not supported then the data holder should respond with a 406 Not Acceptable.",
        "explode" : false,
        "in" : "header",
        "name" : "x-min-v",
        "required" : false,
        "schema" : {
          "type" : "string"
        },
        "style" : "simple"
      }
    },
    "schemas" : {
      "RequestMetaDataUpdate" : {
        "properties" : {
          "data" : {
            "$ref" : "#/components/schemas/RequestMetaDataUpdate_data"
          },
          "meta" : {
            "$ref" : "#/components/schemas/Meta"
          }
        },
        "required" : [ "data" ],
        "type" : "object"
      },
      "ResponseMetricsListV3" : {
        "properties" : {
          "data" : {
            "$ref" : "#/components/schemas/ResponseMetricsListV3_data"
          },
          "links" : {
            "$ref" : "#/components/schemas/Links"
          },
          "meta" : {
            "$ref" : "#/components/schemas/Meta"
          }
        },
        "required" : [ "data", "links" ],
        "type" : "object"
      },
      "AvailabilityMetrics" : {
        "description" : "Percentage availability of the CDR platform over time",
        "properties" : {
          "currentMonth" : {
            "description" : "Percentage availability of the CDR platform so far for the current calendar month. 0.0 means 0%. 1.0 means 100%.",
            "type" : "number"
          },
          "previousMonths" : {
            "description" : "Percentage availability of the CDR platform for previous calendar months. The first element indicates the last month and so on. A maximum of twelve entries is required if available. 0.0 means 0%. 1.0 means 100%.",
            "items" : {
              "type" : "number"
            },
            "type" : "array"
          }
        },
        "type" : "object",
        "x-conditional" : [ "currentMonth", "previousMonths" ]
      },
      "PerformanceMetrics" : {
        "description" : "Percentage of calls within the performance thresholds",
        "properties" : {
          "currentDay" : {
            "description" : "Percentage of calls within the performance threshold for the current day. 0.0 means 0%. 1.0 means 100%",
            "type" : "number"
          },
          "previousDays" : {
            "description" : "Percentage of calls within the performance threshold for previous days. The first element indicates yesterday and so on. A maximum of seven entries is required if available. 0.0 means 0%. 1.0 means 100%",
            "items" : {
              "type" : "number"
            },
            "type" : "array"
          }
        },
        "type" : "object",
        "x-conditional" : [ "currentDay", "previousDays" ]
      },
      "InvocationMetricsV2" : {
        "description" : "Number of API calls in each performance tier over time",
        "properties" : {
          "unauthenticated" : {
            "$ref" : "#/components/schemas/InvocationMetricsV2_unauthenticated"
          },
          "highPriority" : {
            "$ref" : "#/components/schemas/InvocationMetricsV2_highPriority"
          },
          "lowPriority" : {
            "$ref" : "#/components/schemas/InvocationMetricsV2_lowPriority"
          },
          "unattended" : {
            "$ref" : "#/components/schemas/InvocationMetricsV2_unattended"
          },
          "largePayload" : {
            "$ref" : "#/components/schemas/InvocationMetricsV2_largePayload"
          },
          "secondary" : {
            "$ref" : "#/components/schemas/InvocationMetricsV2_secondary"
          },
          "largeSecondary" : {
            "$ref" : "#/components/schemas/InvocationMetricsV2_largeSecondary"
          }
        },
        "required" : [ "highPriority", "largePayload", "lowPriority", "unattended", "unauthenticated" ],
        "type" : "object",
        "x-conditional" : [ "secondary", "largeSecondary" ]
      },
      "AverageResponseMetricsV2" : {
        "description" : "Average response time in seconds, at millisecond resolution, within each performance tier",
        "properties" : {
          "unauthenticated" : {
            "$ref" : "#/components/schemas/AverageResponseMetricsV2_unauthenticated"
          },
          "highPriority" : {
            "$ref" : "#/components/schemas/AverageResponseMetricsV2_highPriority"
          },
          "lowPriority" : {
            "$ref" : "#/components/schemas/AverageResponseMetricsV2_lowPriority"
          },
          "unattended" : {
            "$ref" : "#/components/schemas/AverageResponseMetricsV2_unattended"
          },
          "largePayload" : {
            "$ref" : "#/components/schemas/AverageResponseMetricsV2_largePayload"
          },
          "secondary" : {
            "$ref" : "#/components/schemas/AverageResponseMetricsV2_secondary"
          },
          "largeSecondary" : {
            "$ref" : "#/components/schemas/AverageResponseMetricsV2_largeSecondary"
          }
        },
        "required" : [ "highPriority", "largePayload", "lowPriority", "unattended", "unauthenticated" ],
        "type" : "object",
        "x-conditional" : [ "secondary", "largeSecondary" ]
      },
      "SessionCountMetrics" : {
        "description" : "Session counts over time. Note that a session is defined as the provisioning of an Access Token.",
        "properties" : {
          "currentDay" : {
            "description" : "Session count for current day",
            "type" : "number"
          },
          "previousDays" : {
            "description" : "Session count for previous days. The first element indicates yesterday and so on. A maximum of seven entries is required if available",
            "items" : {
              "type" : "number"
            },
            "type" : "array"
          }
        },
        "type" : "object",
        "x-conditional" : [ "currentDay", "previousDays" ]
      },
      "AverageTPSMetrics" : {
        "description" : "Transactions per second over time",
        "properties" : {
          "currentDay" : {
            "description" : "Average TPS for current day",
            "type" : "number"
          },
          "previousDays" : {
            "description" : "Average TPS for previous days. The first element indicates yesterday and so on. A maximum of seven entries is required if available",
            "items" : {
              "type" : "number"
            },
            "type" : "array"
          }
        },
        "type" : "object",
        "x-conditional" : [ "currentDay", "previousDays" ]
      },
      "PeakTPSMetrics" : {
        "description" : "Maximum record transactions per second over time",
        "properties" : {
          "currentDay" : {
            "description" : "Peak TPS for current day",
            "type" : "number"
          },
          "previousDays" : {
            "description" : "Peak TPS for previous days. The first element indicates yesterday and so on. A maximum of seven entries is required if available",
            "items" : {
              "type" : "number"
            },
            "type" : "array"
          }
        },
        "type" : "object",
        "x-conditional" : [ "currentDay", "previousDays" ]
      },
      "ErrorMetrics" : {
        "description" : "Number of calls resulting in error due to server execution over time",
        "properties" : {
          "currentDay" : {
            "description" : "Number of errors for current day",
            "type" : "number"
          },
          "previousDays" : {
            "description" : "Number of errors for previous days. The first element indicates yesterday and so on. A maximum of seven entries is required if available",
            "items" : {
              "type" : "number"
            },
            "type" : "array"
          }
        },
        "type" : "object",
        "x-conditional" : [ "currentDay", "previousDays" ]
      },
      "RejectionMetricsV2" : {
        "description" : "Number of calls rejected due to traffic thresholds over time",
        "properties" : {
          "authenticated" : {
            "$ref" : "#/components/schemas/RejectionMetricsV2_authenticated"
          },
          "unauthenticated" : {
            "$ref" : "#/components/schemas/RejectionMetricsV2_unauthenticated"
          }
        },
        "required" : [ "authenticated", "unauthenticated" ],
        "type" : "object"
      },
      "SecondaryHolderMetrics" : {
        "description" : "Errors and rejections received by the primary data holder from the secondary data holder.  Mandatory for data holders designated for a Shared Responsibility Data Request data cluster",
        "properties" : {
          "errors" : {
            "$ref" : "#/components/schemas/SecondaryHolderMetrics_errors"
          },
          "rejections" : {
            "$ref" : "#/components/schemas/SecondaryHolderMetrics_rejections"
          }
        },
        "required" : [ "errors", "rejections" ],
        "type" : "object"
      },
      "Links" : {
        "properties" : {
          "self" : {
            "description" : "Fully qualified link to this API call",
            "type" : "string",
            "x-cds-type" : "URIString"
          }
        },
        "required" : [ "self" ],
        "type" : "object"
      },
      "Meta" : {
        "type" : "object"
      },
      "MetaError" : {
        "description" : "Additional data for customised error codes",
        "properties" : {
          "urn" : {
            "description" : "The CDR error code URN which the application-specific error code extends. Mandatory if the error `code` is an application-specific error rather than a standardised error code.",
            "type" : "string"
          }
        },
        "type" : "object",
        "x-conditional" : [ "urn" ]
      },
      "ResponseErrorListV2" : {
        "properties" : {
          "errors" : {
            "items" : {
              "$ref" : "#/components/schemas/ResponseErrorListV2_errors"
            },
            "type" : "array"
          }
        },
        "required" : [ "errors" ],
        "type" : "object",
        "x-conditional" : [ "meta" ]
      },
      "RequestMetaDataUpdate_data" : {
        "properties" : {
          "action" : {
            "default" : "REFRESH",
            "description" : "The action to take for the meta data. At the moment the only option is REFRESH which requires the data holder to call the ACCC to refresh meta data as soon as practicable",
            "enum" : [ "REFRESH" ],
            "type" : "string"
          }
        },
        "required" : [ "action" ],
        "type" : "object"
      },
      "ResponseMetricsListV3_data" : {
        "properties" : {
          "requestTime" : {
            "description" : "The date and time that the metrics in this payload were requested.",
            "type" : "string",
            "x-cds-type" : "DateTimeString"
          },
          "availability" : {
            "$ref" : "#/components/schemas/AvailabilityMetrics"
          },
          "performance" : {
            "$ref" : "#/components/schemas/PerformanceMetrics"
          },
          "invocations" : {
            "$ref" : "#/components/schemas/InvocationMetricsV2"
          },
          "averageResponse" : {
            "$ref" : "#/components/schemas/AverageResponseMetricsV2"
          },
          "sessionCount" : {
            "$ref" : "#/components/schemas/SessionCountMetrics"
          },
          "averageTps" : {
            "$ref" : "#/components/schemas/AverageTPSMetrics"
          },
          "peakTps" : {
            "$ref" : "#/components/schemas/PeakTPSMetrics"
          },
          "errors" : {
            "$ref" : "#/components/schemas/ErrorMetrics"
          },
          "rejections" : {
            "$ref" : "#/components/schemas/RejectionMetricsV2"
          },
          "customerCount" : {
            "description" : "Number of customers with active authorisations at the time of the call",
            "type" : "integer"
          },
          "recipientCount" : {
            "description" : "Number of Data Recipient Software Products with active authorisations at the time of the call",
            "type" : "integer"
          },
          "secondaryHolder" : {
            "$ref" : "#/components/schemas/SecondaryHolderMetrics"
          }
        },
        "required" : [ "availability", "averageResponse", "averageTps", "customerCount", "errors", "invocations", "peakTps", "performance", "recipientCount", "rejections", "requestTime", "sessionCount" ],
        "type" : "object",
        "x-conditional" : [ "secondaryHolder" ]
      },
      "InvocationMetricsV2_unauthenticated" : {
        "description" : "API call counts for the unauthenticated tier",
        "properties" : {
          "currentDay" : {
            "description" : "API call counts for current day",
            "type" : "number"
          },
          "previousDays" : {
            "description" : "API call counts for previous days. The first element indicates yesterday and so on. A maximum of seven entries is required if available",
            "items" : {
              "type" : "number"
            },
            "type" : "array"
          }
        },
        "type" : "object",
        "x-conditional" : [ "currentDay", "previousDays" ]
      },
      "InvocationMetricsV2_highPriority" : {
        "description" : "API call counts for the high priority tier",
        "properties" : {
          "currentDay" : {
            "description" : "API call counts for current day",
            "type" : "number"
          },
          "previousDays" : {
            "description" : "API call counts for previous days. The first element indicates yesterday and so on. A maximum of seven entries is required if available",
            "items" : {
              "type" : "number"
            },
            "type" : "array"
          }
        },
        "type" : "object",
        "x-conditional" : [ "currentDay", "previousDays" ]
      },
      "InvocationMetricsV2_lowPriority" : {
        "description" : "API call counts for the low priority tier",
        "properties" : {
          "currentDay" : {
            "description" : "API call counts for current day",
            "type" : "number"
          },
          "previousDays" : {
            "description" : "API call counts for previous days. The first element indicates yesterday and so on. A maximum of seven entries is required if available",
            "items" : {
              "type" : "number"
            },
            "type" : "array"
          }
        },
        "type" : "object",
        "x-conditional" : [ "currentDay", "previousDays" ]
      },
      "InvocationMetricsV2_unattended" : {
        "description" : "API call counts for the unattended tier",
        "properties" : {
          "currentDay" : {
            "description" : "API call counts for current day",
            "type" : "number"
          },
          "previousDays" : {
            "description" : "API call counts for previous days. The first element indicates yesterday and so on. A maximum of seven entries is required if available",
            "items" : {
              "type" : "number"
            },
            "type" : "array"
          }
        },
        "type" : "object",
        "x-conditional" : [ "currentDay", "previousDays" ]
      },
      "InvocationMetricsV2_largePayload" : {
        "description" : "API call counts for the large payload tier",
        "properties" : {
          "currentDay" : {
            "description" : "API call counts for current day",
            "type" : "number"
          },
          "previousDays" : {
            "description" : "API call counts for previous days. The first element indicates yesterday and so on. A maximum of seven entries is required if available",
            "items" : {
              "type" : "number"
            },
            "type" : "array"
          }
        },
        "type" : "object",
        "x-conditional" : [ "currentDay", "previousDays" ]
      },
      "InvocationMetricsV2_secondary" : {
        "description" : "API call counts for the Shared Responsibility Data Requests tier.  Mandatory for data holders designated for a Shared Responsibility Data Request data cluster",
        "properties" : {
          "currentDay" : {
            "description" : "API call counts for current day",
            "type" : "number"
          },
          "previousDays" : {
            "description" : "API call counts for previous days. The first element indicates yesterday and so on. A maximum of seven entries is required if available",
            "items" : {
              "type" : "number"
            },
            "type" : "array"
          }
        },
        "type" : "object",
        "x-conditional" : [ "currentDay", "previousDays" ]
      },
      "InvocationMetricsV2_largeSecondary" : {
        "description" : "API call counts for the large Shared Responsibility Data Requests tier.  Mandatory for data holders designated for a Shared Responsibility Data Request data cluster",
        "properties" : {
          "currentDay" : {
            "description" : "API call counts for current day",
            "type" : "number"
          },
          "previousDays" : {
            "description" : "API call counts for previous days. The first element indicates yesterday and so on. A maximum of seven entries is required if available",
            "items" : {
              "type" : "number"
            },
            "type" : "array"
          }
        },
        "type" : "object",
        "x-conditional" : [ "currentDay", "previousDays" ]
      },
      "AverageResponseMetricsV2_unauthenticated" : {
        "description" : "Average response time for the unauthenticated tier",
        "properties" : {
          "currentDay" : {
            "description" : "Average response time for current day",
            "type" : "number"
          },
          "previousDays" : {
            "description" : "Average response time for previous days. The first element indicates yesterday and so on. A maximum of seven entries is required if available.",
            "items" : {
              "type" : "number"
            },
            "type" : "array"
          }
        },
        "type" : "object",
        "x-conditional" : [ "currentDay", "previousDays" ]
      },
      "AverageResponseMetricsV2_highPriority" : {
        "description" : "Average response time for the high priority tier",
        "properties" : {
          "currentDay" : {
            "description" : "Average response time for current day",
            "type" : "number"
          },
          "previousDays" : {
            "description" : "Average response time for previous days. The first element indicates yesterday and so on. A maximum of seven entries is required if available.",
            "items" : {
              "type" : "number"
            },
            "type" : "array"
          }
        },
        "type" : "object",
        "x-conditional" : [ "currentDay", "previousDays" ]
      },
      "AverageResponseMetricsV2_lowPriority" : {
        "description" : "Average response time for the low priority tier",
        "properties" : {
          "currentDay" : {
            "description" : "Average response time for current day",
            "type" : "number"
          },
          "previousDays" : {
            "description" : "Average response time for previous days. The first element indicates yesterday and so on. A maximum of seven entries is required if available.",
            "items" : {
              "type" : "number"
            },
            "type" : "array"
          }
        },
        "type" : "object",
        "x-conditional" : [ "currentDay", "previousDays" ]
      },
      "AverageResponseMetricsV2_unattended" : {
        "description" : "Average response time for the unattended tier",
        "properties" : {
          "currentDay" : {
            "description" : "Average response time for current day",
            "type" : "number"
          },
          "previousDays" : {
            "description" : "Average response time for previous days. The first element indicates yesterday and so on. A maximum of seven entries is required if available.",
            "items" : {
              "type" : "number"
            },
            "type" : "array"
          }
        },
        "type" : "object",
        "x-conditional" : [ "currentDay", "previousDays" ]
      },
      "AverageResponseMetricsV2_largePayload" : {
        "description" : "Average response time for the large payload tier",
        "properties" : {
          "currentDay" : {
            "description" : "Average response time for current day",
            "type" : "number"
          },
          "previousDays" : {
            "description" : "Average response time for previous days. The first element indicates yesterday and so on. A maximum of seven entries is required if available.",
            "items" : {
              "type" : "number"
            },
            "type" : "array"
          }
        },
        "type" : "object",
        "x-conditional" : [ "currentDay", "previousDays" ]
      },
      "AverageResponseMetricsV2_secondary_primary" : {
        "description" : "Average response time as measured for the primary data holder",
        "properties" : {
          "currentDay" : {
            "description" : "Average response time for current day",
            "type" : "number"
          },
          "previousDays" : {
            "description" : "Average response time for previous days. The first element indicates yesterday and so on. A maximum of seven entries is required if available.",
            "items" : {
              "type" : "number"
            },
            "type" : "array"
          }
        },
        "type" : "object",
        "x-conditional" : [ "currentDay", "previousDays" ]
      },
      "AverageResponseMetricsV2_secondary_secondary" : {
        "description" : "Average response time as measured for the secondary data holder",
        "properties" : {
          "currentDay" : {
            "description" : "Average response time for current day",
            "type" : "number"
          },
          "previousDays" : {
            "description" : "Average response time for previous days. The first element indicates yesterday and so on. A maximum of seven entries is required if available.",
            "items" : {
              "type" : "number"
            },
            "type" : "array"
          }
        },
        "type" : "object",
        "x-conditional" : [ "currentDay", "previousDays" ]
      },
      "AverageResponseMetricsV2_secondary" : {
        "description" : "Average response time for the secondary tier.  Mandatory for data holders designated for a Shared Responsibility Data Request data cluster",
        "properties" : {
          "primary" : {
            "$ref" : "#/components/schemas/AverageResponseMetricsV2_secondary_primary"
          },
          "secondary" : {
            "$ref" : "#/components/schemas/AverageResponseMetricsV2_secondary_secondary"
          }
        },
        "required" : [ "primary", "secondary" ],
        "type" : "object"
      },
      "AverageResponseMetricsV2_largeSecondary" : {
        "description" : "Average response time for the large payload tier.  Mandatory for data holders designated for a Shared Responsibility Data Request data cluster",
        "properties" : {
          "primary" : {
            "$ref" : "#/components/schemas/AverageResponseMetricsV2_secondary_primary"
          },
          "secondary" : {
            "$ref" : "#/components/schemas/AverageResponseMetricsV2_secondary_secondary"
          }
        },
        "required" : [ "primary", "secondary" ],
        "type" : "object"
      },
      "RejectionMetricsV2_authenticated" : {
        "description" : "Rejection counts for all authenticated end points",
        "properties" : {
          "currentDay" : {
            "description" : "Number of calls rejected for current day",
            "type" : "number"
          },
          "previousDays" : {
            "description" : "Number of calls rejected for previous days. The first element indicates yesterday and so on. A maximum of seven entries is required if available.",
            "items" : {
              "type" : "number"
            },
            "type" : "array"
          }
        },
        "type" : "object",
        "x-conditional" : [ "currentDay", "previousDays" ]
      },
      "RejectionMetricsV2_unauthenticated" : {
        "description" : "Rejection counts for all uauthenticated end points",
        "properties" : {
          "currentDay" : {
            "description" : "Number of calls rejected for current day",
            "type" : "number"
          },
          "previousDays" : {
            "description" : "Number of calls rejected for previous days. The first element indicates yesterday and so on. A maximum of seven entries is required if available.",
            "items" : {
              "type" : "number"
            },
            "type" : "array"
          }
        },
        "type" : "object",
        "x-conditional" : [ "currentDay", "previousDays" ]
      },
      "SecondaryHolderMetrics_errors" : {
        "description" : "Number of calls resulting in error due to server execution over time",
        "properties" : {
          "currentDay" : {
            "description" : "Number of errors for current day",
            "type" : "number"
          },
          "previousDays" : {
            "description" : "Number of errors for previous days. The first element indicates yesterday and so on. A maximum of seven entries is required if available",
            "items" : {
              "type" : "number"
            },
            "type" : "array"
          }
        },
        "type" : "object",
        "x-conditional" : [ "currentDay", "previousDays" ]
      },
      "SecondaryHolderMetrics_rejections" : {
        "description" : "Number of calls resulting in a rejection due to server execution over time",
        "properties" : {
          "currentDay" : {
            "description" : "Number of rejections for current day",
            "type" : "number"
          },
          "previousDays" : {
            "description" : "Number of rejections for previous days. The first element indicates yesterday and so on. A maximum of seven entries is required if available",
            "items" : {
              "type" : "number"
            },
            "type" : "array"
          }
        },
        "type" : "object",
        "x-conditional" : [ "currentDay", "previousDays" ]
      },
      "ResponseErrorListV2_errors" : {
        "properties" : {
          "code" : {
            "description" : "The code of the error encountered. Where the error is specific to the respondent, an application-specific error code, expressed as a string value. If the error is application-specific, the URN code that the specific error extends must be provided in the meta object. Otherwise, the value is the error code URN.",
            "type" : "string"
          },
          "title" : {
            "description" : "A short, human-readable summary of the problem that MUST NOT change from occurrence to occurrence of the problem represented by the error code.",
            "type" : "string"
          },
          "detail" : {
            "description" : "A human-readable explanation specific to this occurrence of the problem.",
            "type" : "string"
          },
          "meta" : {
            "$ref" : "#/components/schemas/MetaError"
          }
        },
        "required" : [ "code", "detail", "title" ],
        "type" : "object"
      }
    }
  }
}