# Admin APIs

This provides an overview of CDS Administration Endpoints. Please note this API is intended for Data Holders/ Recipients only.


<br>
<table>
<tr><td><a href='./includes/swagger/cds_admin.json'>Admin OpenAPI Specification (JSON)</a></td></tr>
<tr><td><a href='./includes/swagger/cds_admin.yaml'>Admin OpenAPI Specification (YAML)</a></td></tr>
</table>

```diff
Corrected spelling mistake in description of 'RejectionMetricsV2.unauthenticated' field:
- Rejection counts for all uauthenticated end points 
+ Rejection counts for all unauthenticated end points

Updated description of 'period' parameter of Get Metrics API:
- Values can be CURRENT (meaning metrics for current day), HISTORIC (meaning metrics for previous days or months) or ALL...
+ Values can be CURRENT (meaning metrics for current period, dependent on the metric type), HISTORIC (meaning metrics for previous period, depending on the metric type) or ALL...

Updated description of 'SecondaryHolderMetrics.rejections':
- Number of calls resulting in a rejection due to server execution over time
+ Number of calls rejected due to traffic thresholds over time
```
<%= partial "includes/cds_admin.md" %>
