# Admin APIs

This provides an overview of CDS Administration Endpoints. Please note this API is intended for Data Holders/ Recipients only.


<br>
<table>
<tr><td><a href='./includes/swagger/cds_admin.json'>Admin OpenAPI Specification (JSON)</a></td></tr>
<tr><td><a href='./includes/swagger/cds_admin.yaml'>Admin OpenAPI Specification (YAML)</a></td></tr>
</table>

```diff
Adding v4 and v5 of the Get Metrics endpoint

v4 changes are:
• Aligned types to standard CDR types
• Separated availability and TPS metric into aggregated,
  authenticated and unauthenticed
• Error counts split by HTTP error code
• Added new authorisation metrics
• Added language to clarify that metrics are calculated at
  the Data Holder brand level for Data Holders with multiple
  brands

v5 changes are:
• Performance metrics broken down by performance tier
• Include hourly metrics for performance metrics to align to NFRs
• Inclusion of aggregate metric for performance metrics
• Addition of abandonmentsByStage object to authorisation metrics

```

<%= partial "includes/cds_admin.md" %>
