# Admin APIs

This provides an overview of CDS Administration Endpoints. Please note this API is intended for Data Holders/ Recipients only.


<br>
<table>
<tr><td><a href='./includes/swagger/cds_admin.json'>Admin OpenAPI Specification (JSON)</a></td></tr>
<tr><td><a href='./includes/swagger/cds_admin.yaml'>Admin OpenAPI Specification (YAML)</a></td></tr>
</table>

```diff
Corrected spelling mistake in description of `RejectionMetricsV2.unauthenticated` field:
- Rejection counts for all uauthenticated end points 
+ Rejection counts for all unauthenticated end points

```
<%= partial "includes/cds_admin.md" %>
