
# Banking APIs


This specification defines the APIs for Data Holders exposing Banking endpoints.

<br>
<table>
<tr><td><a href='./includes/swagger/cds_banking.json'>Banking OpenAPI Specification (JSON)</a></td></tr>
<tr><td><a href='./includes/swagger/cds_banking.yaml'>Banking OpenAPI Specification (YAML)</a></td></tr>
</table>

```diff
Updated description of `BankingAccountDetailV3.lendingRates` field
from:
- Fully described deposit rates for this account based on the equivalent structure in Product Reference
to:
+ Fully described lending rates for this account based on the equivalent structure in Product Reference

Corrected various spelling and grammatical mistakes
```

<%= partial "includes/cds_banking.md" %>
<%= partial "includes/banking/_product_categories.md" %>
<%= partial "includes/banking/_product_components.md" %>
