common
# Common APIs


This specification defines the Common APIs that apply to Data Holders multiple sectors.

<br>
<table>
<tr><td><a href='./includes/swagger/cds_common.json'>Common OpenAPI Specification (JSON)</a></td></tr>
<tr><td><a href='./includes/swagger/cds_common.yaml'>Common OpenAPI Specification (YAML)</a></td></tr>
</table>


```diff
Updated x-fapi-auth-date definitions to be aligned to the HTTP Headers section and Banking APIs
```
```diff
Replaced FAPI draft references with FAPI 1.0 Final references. References pertain to the x-fapi-auth-date header.
```

<%= partial "includes/cds_common.md" %>
