
# DCR APIs

This specification defines the APIs for Data Holders exposing Dynamic Client Registration endpoints.

<br>
<table>
<tr><td><a href='./includes/swagger/cds_dcr.json'>DCR OpenAPI Specification (JSON)</a></td></tr>
<tr><td><a href='./includes/swagger/cds_dcr.yaml'>DCR OpenAPI Specification (YAML)</a></td></tr>
</table>

```diff
Updated 'Non-normative Examples' to include JWT Body parameter for POST and PUT
```

<%= partial "includes/cds_dcr.md" %>
