# DCR APIs

This specification defines the APIs for Data Holders exposing Dynamic Client Registration endpoints.

<table>
<tr><td><a href='./includes/swagger/cds_dcr.json'>DCR OpenAPI Specification (JSON)</a></td></tr>
<tr><td><a href='./includes/swagger/cds_dcr.yaml'>DCR OpenAPI Specification (YAML)</a></td></tr>
</table>

```diff
+ Added an additional qualification 'only' when describing where id_token_encrypted_response_alg and id_token_encrypted_response_enc are to be used for OIDC Hybrid Flow. After transition to retirement, these values shall not be supported.
```
<%= partial "includes/cds_dcr.md" %>
