
# DCR APIs

This specification defines the APIs for Data Holders exposing Dynamic Client Registration endpoints.

<br>
<table>
<tr><td><a href='./includes/swagger/cds_dcr.json'>DCR OpenAPI Specification (JSON)</a></td></tr>
<tr><td><a href='./includes/swagger/cds_dcr.yaml'>DCR OpenAPI Specification (YAML)</a></td></tr>
</table>

<%= partial "includes/cds_dcr.md" %>
