
# Energy APIs


This specification defines the APIs for Data Holders exposing Energy endpoints.


<table>
<tr><td><a href='./includes/swagger/cds_energy.json'>Energy OpenAPI Specification (JSON)</a></td></tr>
<tr><td><a href='./includes/swagger/cds_energy.yaml'>Energy OpenAPI Specification (YAML)</a></td></tr>
</table>


```diff
Below are the changes to the Banking APIs section of the
standards.

The following minor corrections have been made:

* The `isTokenised` field has been corrected to be a boolean type

* Fields of common type `positiveInteger` have been corrected to be of 'integer' type in OAS

* The optional/mandatory status of meta objects has been aligned with standard practice for CDR

* `x-fapi-iteraction-id` has been removed from the publi Tariff endpoints

* Correct the bug where arrays of enums were not being listed with their enumeration values
```

<%= partial "includes/cds_energy.md" %>
