
# Energy APIs

This specification defines the APIs for Data Holders exposing Energy endpoints.

<table>
<tr><td><a href='./includes/swagger/cds_energy.json'>Energy OpenAPI Specification (JSON)</a></td></tr>
<tr><td><a href='./includes/swagger/cds_energy.yaml'>Energy OpenAPI Specification (YAML)</a></td></tr>
</table>

```diff
Changed type of the following time fields from timeString to ExternalRef referring to ISO 8601 Times specification:
    EnergyPlanControlledLoad.timeOfUseRates.timeOfUse.startTime
    EnergyPlanControlledLoad.timeOfUseRates.timeOfUse.endTime
    EnergyPlanSolarFeedInTariffV2.timeVaryingTariffs.timeVariations.startTime
    EnergyPlanSolarFeedInTariffV2.timeVaryingTariffs.timeVariations.endTime
    EnergyPlanTariffPeriod.timeOfUseRates.timeOfUse.startTime
    EnergyPlanTariffPeriod.timeOfUseRates.timeOfUse.endTime
    EnergyPlanTariffPeriod.demandCharges.startTime
    EnergyPlanTariffPeriod.demandCharges.endTime
```

<%= partial "includes/cds_energy.md" %>
