
# Energy Secondary DH APIs


This specification defines the APIs for Data Holders exposing Energy Secondary Data Holder endpoints.


<table>
<tr><td><a href='./includes/swagger/cds_energy_sdh.json'>Energy Secondary Data Holder OpenAPI Specification (JSON)</a></td></tr>
<tr><td><a href='./includes/swagger/cds_energy_sdh.yaml'>Energy Secondary Data Holder OpenAPI Specification (YAML)</a></td></tr>
</table>

```diff
This is a new section added to the standards to support implementation.

It does not represent a change to the standards. The swagger included are
based on the current energy swagger document with modifications aligned
to the statements in the Shared Responsibility section of the standards
```

<%= partial "includes/cds_energy_sdh.md" %>
