
# Energy Secondary DH APIs


This specification defines the APIs for Data Holders exposing Energy Secondary Data Holder endpoints.


<table>
<tr><td><a href='./includes/swagger/cds_energy_sdh.json'>Energy Secondary Data Holder OpenAPI Specification (JSON)</a></td></tr>
<tr><td><a href='./includes/swagger/cds_energy_sdh.yaml'>Energy Secondary Data Holder OpenAPI Specification (YAML)</a></td></tr>
</table>


```diff
Modified the description of `oldest-date` from:
- Constrain the request to records with effective date at or after this date. If absent defaults to newest-date minus 24 months days. Format is aligned to DateString common type
to:
+ Constrain the request to records with effective date at or after this date. If absent defaults to newest-date minus 24 months. Format is aligned to DateString common type

The `EnergyServicePointDetail.meters` and `EnergyServicePointDetail.meters.registers` fields have been made optional

`EnergyServicePointDetail.meters` and `EnergyServicePointDetail.meters.registers` have been converted into arrays

The `EnergyServicePointDetail.meters.registers.registerSuffix` field has been made optional

The location model in `EnergyServicePointDetail` has been modified to CommonPhysicalAddress model

Updated description of `EnergyServicePointDetail.meters` and `EnergyServicePointDetail.meters.registers` fields

`x-fapi-interaction-id` header has been made mandatory
```


<%= partial "includes/cds_energy_sdh.md" %>
