
# Energy APIs


This specification defines the APIs for Data Holders exposing Energy endpoints.


<table>
<tr><td><a href='./includes/swagger/cds_energy.json'>Energy OpenAPI Specification (JSON)</a></td></tr>
<tr><td><a href='./includes/swagger/cds_energy.yaml'>Energy OpenAPI Specification (YAML)</a></td></tr>
</table>


```diff
The following objects were added to EnergyBillingOtherTransaction model
+ calculationFactors
+ adjustments

The `EnergyServicePointDetail.meters.registers.registerSuffix` field has been made optional

The following changes were made to EnergyConcession model
* Made additionalInfo field conditional
+ type
+ discountFrequency
+ amount
+ percentage
+ appliedTo
- dailyDiscount
- monthlyDiscount
- yearlyDiscount
- percentageDiscount

`EnergyServicePointDetail.meters` and `EnergyServicePointDetail.meters.registers` have been converted into arrays
```

<%= partial "includes/cds_energy.md" %>
