
# Energy APIs


This specification defines the APIs for Data Holders exposing Energy endpoints.


<table>
<tr><td><a href='./includes/swagger/cds_energy.json'>Energy OpenAPI Specification (JSON)</a></td></tr>
<tr><td><a href='./includes/swagger/cds_energy.yaml'>Energy OpenAPI Specification (YAML)</a></td></tr>
</table>

```diff
Changed type of `EnergyDerRecord.availablePhasesCount` and `EnergyDerRecord.installedPhasesCount` fields
from:
- PositiveInteger
to:
+ NaturalNumber

Updated description of below fields in `EnergyDerRecord`
• `approvedCapacity` 
• `availablePhasesCount`
• `installedPhasesCount`
to include:
+ Value of 0 indicates no DER record exists for the given servicePointId

```

<%= partial "includes/cds_energy.md" %>
