
# Energy APIs


This specification defines the APIs for Data Holders exposing Energy endpoints.


<table>
<tr><td><a href='./includes/swagger/cds_energy.json'>Energy OpenAPI Specification (JSON)</a></td></tr>
<tr><td><a href='./includes/swagger/cds_energy.yaml'>Energy OpenAPI Specification (YAML)</a></td></tr>
</table>


```diff
The following objects were added to EnergyBillingOtherTransaction model
+ calculationFactors
+ adjustments

The `EnergyServicePointDetail.meters.registers.registerSuffix` field has been made optional

Modified the description of `oldest-date` from:
- Constrain the request to records with effective date at or after this date. If absent defaults to newest-date minus 24 months days. Format is aligned to DateString common type
to:
+ Constrain the request to records with effective date at or after this date. If absent defaults to newest-date minus 24 months. Format is aligned to DateString common type
```

<%= partial "includes/cds_energy.md" %>
