
# Energy APIs

This specification defines the APIs for Data Holders exposing Energy endpoints.

<table>
<tr><td><a href='./includes/swagger/cds_energy.json'>Energy OpenAPI Specification (JSON)</a></td></tr>
<tr><td><a href='./includes/swagger/cds_energy.yaml'>Energy OpenAPI Specification (YAML)</a></td></tr>
</table>

```diff
Converted `solarFeedInTariff.timeVaringTariffs` into an array 

Added following new mandatory field to `solarFeedInTariff.timeVaryingTariffs`:
+ displayName

Updated the following structures
from:
- EnergyPlanSolarFeedInTariffV2
- EnergyPlanContractV2
- EnergyPlanContractFullV2
- EnergyPlanDetailV2
- EnergyPlanResponseV2
- EnergyAccountDetailV3
- EnergyAccountDetailResponseV3
to:
+ EnergyPlanSolarFeedInTariffV3
+ EnergyPlanContractV3
+ EnergyPlanContractFullV3
+ EnergyPlanDetailV3
+ EnergyPlanResponseV3
+ EnergyAccountDetailV4
+ EnergyAccountDetailResponseV4
```

<%= partial "includes/cds_energy.md" %>
