# Register APIs

```diff
The statement:
- This following provides an overview of the Register APIs for Data Holders and Data Recipients to collect participant metadata.
changed to:
+ This following provides an overview of the Register APIs for Data Holders and Data Recipients to collect participant metadata exclusively for the banking sector.
```
This following provides an overview of the Register APIs for Data Holders and Data Recipients to collect participant metadata exclusively for the banking sector.
These endpoints are exposed by the Register and consumed by Data Holders and Data Recipients.

```diff
The phrase:
- ...Data Recipient Software Productss are required...
corrected to:
+ ...Data Recipient Software Products are required...
```
<aside class="warning">
  These endpoints are not implemented by Data Holders and Data Recipients. They are hosted by the Register for consumption by participants.
  Data Holders and Data Recipient Software Products are required to call these endpoints to obtain metadata that enables connection and registration between participants as well as obtaining the status of participants in the CDR.
  These statuses are provided authoritatively by the Register to allow participants to determine whether a connecting third-party is permitted to perform registration requests or data sharing requests.
</aside>


<br>
<table>
<tr><td><a href='./includes/swagger/cds_register.json'>Register Swagger (JSON)</a></td></tr>
<tr><td><a href='./includes/swagger/cds_register.yaml'>Register Swagger (YAML)</a></td></tr>
</table>

```diff
The following table row:
- | Get Data Recipient Software Statement Assertion | Data Recipient Brand or Software Product | Get SSA for a Software Product to be used in [Dynamic Client Registration](#dynamic-client-registration) | <i class="icon-check"></i> | | <i class="icon-check"></i> |
replaced with:
+ | Get Software Statement Assertion | Data Recipient Brand or Software Product | Get SSA for a Software Product to be used in [Dynamic Client Registration](#dynamic-client-registration) | <i class="icon-check"></i> | | <i class="icon-check"></i> |
```
```diff
The following table row:
- | Get Data Recipient Software Products Status | Data Holder Brand | Software Product Statuses to check validity of ADR [requests](#accredited-data-recipient-and-software-product-statuses) | | <i class="icon-check"></i> | |
replaced with:
+ | Get Data Holder Statuses | Data Recipient | Data Holder Statuses to check validity of Data Holder | | <i class="icon-check"></i> | |
+ | Get Software Products Status | Data Holder Brand | Software Product Statuses to check validity of ADR [requests](#accredited-data-recipient-and-software-product-statuses) | | <i class="icon-check"></i> | |
```
|API|Caller|Description|MTLS|TLS|Bearer Token|
|---|---|---|---|---|---|
| Get Register OpenId Provider Config | Data Recipient Brand or Software Product | Discovery of CDR Register OpenID Configuration | | <i class="icon-check"></i> | |
| Get Register JWKS | Data Holder | Validate SSA and CDR Register authentication JWT signatures | | <i class="icon-check"></i> | |
| Get Data Holder Brands | Data Recipient Brand or Software Product | Discovery of Data Holder Brands and their associated endpoints | <i class="icon-check"></i> | | <i class="icon-check"></i> |
| Get Software Statement Assertion | Data Recipient Brand or Software Product | Get SSA for a Software Product to be used in [Dynamic Client Registration](#dynamic-client-registration) | <i class="icon-check"></i> | | <i class="icon-check"></i> |
| Get Data Holder Statuses | Data Recipient | Data Holder Statuses to check validity of Data Holder | | <i class="icon-check"></i> | |
| Get Software Products Status | Data Holder Brand | Software Product Statuses to check validity of ADR [requests](#accredited-data-recipient-and-software-product-statuses) | | <i class="icon-check"></i> | |
| Get Data Recipient Statuses | Data Holder Brand | Data Recipient Statuses to check validity of ADR [requests](#accredited-data-recipient-and-software-product-statuses) | | <i class="icon-check"></i> | |
| Get Data Recipients | Data Holder Brand | Data Recipient, brand and product details to render Data Holder Consumer Dashboard | | <i class="icon-check"></i> | |


### Base URLs:

|||
|---|---|
|**Production TLS**|https://api.cdr.gov.au|
|**Production mTLS**|https://secure.api.cdr.gov.au|

```diff

Below are the changes to the Register APIs section of the
standards.


Added `/cdr-register/v1` as a prefix to paths for participant endpoints.


Modified the description of the `RegisterDataHolderAuth` object from:
- Provides details of authorisation endpoints for Data Holders
to:
+ Defines the mechanism used and associated endpoints for Data Holder to Data Recipient authentication


Modified the description of the `jwksEndpoint` field from:
- JWKS endpoint for private_key_jwt client authentication with Data Recipient
to:
+ JWKS endpoint used for authentication by the Data Holder with the Data Recipient


In the `ResponseOpenIDProviderConfigMetadata` model changed
field name from:
- request_object_signing_alg_values_supported
to:
+ token_endpoint_auth_signing_alg_values_supported
The description of this field changed from:
- JSON array containing a list of the JWS signing algorithms (alg values) supported by the CDR Register for Request Objects.
to:
+ JSON array containing a list of the JWS signing algorithms (alg values) supported by the token endpoint for the signature on the JWT [JWT] used to authenticate the client at the token endpoint for the \"private_key_jwt\" authentication method


Added the new endpoint `Get Data Holder Statuses`.


Bumped `Get Software Statement Assertion (SSA)` from v2 to v3. v3 includes:
  Aligned payloads to standard CDR structure
  Support for multiple industries
  Removal of the `x-v` header
  Uplift of error structure to latest CDR error structures
  Additional support scope: `cdr-register:read`


Bumped `Get Software Products Statuses` from v1 to v2. v2 includes:
  Aligned payloads to standard CDR structure
  Support for multiple industries
  Addition of the `x-min-v` request header
  Addition of the `If-None-Match` request header
  Addition of the `Etag` response header
  Support for HTTP response 304
  Uplift of error structure to latest CDR error structures


Bumped `Get Data Recipient Statuses` from v1 to v2. v2 includes:
  Aligned payloads to standard CDR structure
  Support for multiple industries
  Addition of the `x-min-v` request header
  Addition of the `If-None-Match` request header
  Addition of the `Etag` response header
  Support for HTTP response 304
  Uplift of error structure to latest CDR error structures


Bumped `Get Data Recipients` from v2 to v3. v3 includes:
  Aligned payloads to standard CDR structure
  Support for multiple industries
  Addition of the `x-min-v` request header
  Addition of the `If-None-Match` request header
  Addition of the `Etag` response header
  Support for HTTP response 304
  Uplift of error structure to latest CDR error structures


In the `SoftwareProductStatus` model changed the name of
the `softwareProductStatus` field to `status`.


In the `DataRecipientsStatusList` model changed the name of
the `dataRecipientId` to `legalEntityId`.


In the `DataRecipientsStatusList` model changed the name of
the `dataRecipientStatus` to `status`.


In the `RegisterDataRecipient` model removed the 'industry' field.


In the `RegisterDataRecipient` model added the 'accreditationLevel'
field.
```

<%= partial "includes/cds_register.md" %>
