# Register APIs

The following section provides an overview of the Register APIs for Data Holders and Data Recipients to collect participant metadata.
These endpoints are exposed by the Register and consumed by Data Holders and Data Recipients.

<aside class="warning">
  These endpoints are not implemented by Data Holders and Data Recipients. They are hosted by the Register for consumption by participants.
  Data Holders and Data Recipient Software Products are required to call these endpoints to obtain metadata that enables connection and registration between participants as well as obtaining the status of participants in the CDR.
  These statuses are provided authoritatively by the Register to allow participants to determine whether a connecting third-party is permitted to perform registration requests or data sharing requests.
</aside>



<table>
<tr><td><a href='./includes/swagger/cds_register.json'>Register OpenAPI Specification (JSON)</a></td></tr>
<tr><td><a href='./includes/swagger/cds_register.yaml'>Register OpenAPI Specification (YAML)</a></td></tr>
</table>



|API|Caller|Description|MTLS|TLS|Bearer Token|
|---|---|---|:---:|:---:|:---:|
| Get OpenId Provider Config | Data Recipient Brand or Software Product | Discovery of CDR Register OpenID Configuration. | | <i class="icon-check"></i> | |
| Get JWKS | Data Holder | Validate SSA and CDR Register authentication JWT signatures. | | <i class="icon-check"></i> | |
| Get Data Holder Brands | Data Recipient Brand or Software Product | Discovery of Data Holder Brands and their associated endpoints. | <i class="icon-check"></i> | | <i class="icon-check"></i> |
| Get Data Holder Brands Summary | Public Client | Discovery of Data Holder Brands and their associated public details. | | <i class="icon-check"></i> | |
| Get Software Statement Assertion (SSA)| Data Recipient Brand or Software Product | Get SSA for a Software Product to be used in [Dynamic Client Registration](#dynamic-client-registration). | <i class="icon-check"></i> | | <i class="icon-check"></i> |
| Get Data Holder Statuses | Data Recipient | Data Holder Statuses to check validity of Data Holder. | | <i class="icon-check"></i> | |
| Get Software Products Statuses | Data Holder Brand | Software Product Statuses to check validity of ADR requests. | | <i class="icon-check"></i> | |
| Get Data Recipients Statuses | Data Holder Brand | Data Recipient Statuses to check validity of ADR requests. | | <i class="icon-check"></i> | |
| Get Data Recipients | Data Holder Brand | Data Recipient, brand and product details to render Data Holder Consumer Dashboard. | | <i class="icon-check"></i> | |



### Base URLs:

|||
|---|---|
|**Production TLS**|https://api.cdr.gov.au|
|**Production MTLS**|https://secure.api.cdr.gov.au|

<%= partial "includes/cds_register.md" %>
