# Security

<aside class="notice">
The security profile for the standards is being developed by the Information Security Working Group.<br/>
<br/>
Where content is present it represents decisions that have been completed.<br/>
<br/>
Please refer to the latest version of the <a href="https://consumerdatastandardsaustralia.github.io/infosec">Information Security Profile</a> for more detailed information.
</aside>

<%= partial "includes/security/core.md" %>
<%= partial "includes/security/scopes.md" %>
