{
  "swagger" : "2.0",
  "info" : {
    "description" : "API sets created by the Australian Consumer Data Standards to meet the needs of the Consumer Data Right",
    "version" : "1",
    "title" : "Consumer Data Standards",
    "license" : {
      "name" : "MIT License",
      "url" : "https://opensource.org/licenses/MIT"
    }
  },
  "host" : "data.provider.com.au",
  "basePath" : "/cds-au/v1",
  "schemes" : [ "https" ],
  "consumes" : [ "application/json" ],
  "produces" : [ "application/json" ],
  "paths" : {
    "/banking/accounts" : {
      "get" : {
        "tags" : [ "BankingAccountsAPI" ],
        "summary" : "Get Accounts",
        "description" : "Obtain a list of accounts",
        "operationId" : "listAccounts",
        "parameters" : [ {
          "$ref" : "#/parameters/ParamAccountOpenStatus"
        }, {
          "$ref" : "#/parameters/ParamAccountIsOwned"
        }, {
          "$ref" : "#/parameters/ParamProductCategory"
        }, {
          "$ref" : "#/parameters/ParamPage"
        }, {
          "$ref" : "#/parameters/ParamPageSize"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful response for Get Accounts",
            "schema" : {
              "$ref" : "#/definitions/ResponseBankingAccountList"
            }
          },
          "401" : {
            "description" : "Authorization header missing or invalid token",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "403" : {
            "description" : "Token has incorrect scope or a security policy was violated.",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          }
        },
        "x-scopes" : [ "bank_basic_accounts" ],
        "x-version" : "1"
      }
    },
    "/banking/accounts/{accountId}" : {
      "get" : {
        "tags" : [ "BankingAccountsAPI" ],
        "summary" : "Get Account Detail",
        "description" : "Obtain detailed information on a single account",
        "operationId" : "getAccountDetail",
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "description" : "A tokenised identifier for the account which is unique but not shareable",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful response for Get Account Detail",
            "schema" : {
              "$ref" : "#/definitions/ResponseBankingAccountById"
            }
          },
          "401" : {
            "description" : "Authorization header missing or invalid token",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "403" : {
            "description" : "Token has incorrect scope or a security policy was violated.",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          }
        },
        "x-scopes" : [ "bank_detailed_accounts" ],
        "x-version" : "1"
      }
    },
    "/banking/accounts/{accountId}/transactions" : {
      "get" : {
        "tags" : [ "BankingAccountsAPI" ],
        "summary" : "Get Transactions For Account",
        "description" : "Obtain transactions for a specific account\nSome general notes that apply to all end points that retrieve transactions:\n\n- Where multiple transactions are returned transactions should be ordered according to effective date in descending order\n- As the date and time for a transaction can alter depending on status and transaction type two separate date/times are included in the payload. There are still some scenarios where neither of these time stamps is available. For the purpose of filtering and ordering it is expected that the provider will use the “effective” date/time which will be defined as:\n\t\t- Posted date/time if available, then\n\t\t- Execution date/time if available, then\n\t\t- A reasonable date/time nominated by the data provider using internal data structures\n- For transaction amounts it should be assumed that a negative value indicates a reduction of the available balance on the account while a positive value indicates an increase in the available balance on the account",
        "operationId" : "getTransactions",
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "description" : "ID of the account to get transactions for.  Must have previously been returned by one of the account list end points.",
          "required" : true,
          "type" : "string"
        }, {
          "$ref" : "#/parameters/ParamStartTime"
        }, {
          "$ref" : "#/parameters/ParamEndTime"
        }, {
          "$ref" : "#/parameters/ParamTransactionMinAmount"
        }, {
          "$ref" : "#/parameters/ParamTransactionMaxAmount"
        }, {
          "$ref" : "#/parameters/ParamTransactionText"
        }, {
          "$ref" : "#/parameters/ParamPage"
        }, {
          "$ref" : "#/parameters/ParamPageSize"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful response for Get Transactions For Account",
            "schema" : {
              "$ref" : "#/definitions/ResponseBankingTransactionList"
            }
          },
          "401" : {
            "description" : "Authorization header missing or invalid token",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "403" : {
            "description" : "Token has incorrect scope or a security policy was violated.",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          }
        },
        "x-scopes" : [ "bank_transactions" ],
        "x-version" : "1"
      }
    },
    "/banking/accounts/{accountId}/transactions/{transactionId}" : {
      "get" : {
        "tags" : [ "BankingAccountsAPI" ],
        "summary" : "Get Transaction Detail",
        "description" : "Obtain detailed information on a transaction for a specific account",
        "operationId" : "getTransactionDetail",
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "description" : "The account id token that is used to uniquely represent the account",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "transactionId",
          "in" : "path",
          "description" : "The unique identifier for the specific transaction for which details are being requested",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful response for Get Transaction Detail",
            "schema" : {
              "$ref" : "#/definitions/ResponseBankingTransactionById"
            }
          },
          "401" : {
            "description" : "Authorization header missing or invalid token",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "403" : {
            "description" : "Token has incorrect scope or a security policy was violated.",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          }
        },
        "x-scopes" : [ "bank_transactions" ],
        "x-version" : "1"
      }
    },
    "/banking/accounts/balances" : {
      "post" : {
        "tags" : [ "BankingAccountsAPI" ],
        "summary" : "Get Balances For Specific Accounts",
        "description" : "Obtain balances for a specified list of accounts",
        "operationId" : "listBalancesSpecificAccounts",
        "parameters" : [ {
          "in" : "body",
          "name" : "accountIds",
          "description" : "The list of account IDs to obtain information for",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/RequestAccountIds"
          }
        }, {
          "$ref" : "#/parameters/ParamPage"
        }, {
          "$ref" : "#/parameters/ParamPageSize"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful response for Get Balances For Specific Accounts",
            "schema" : {
              "$ref" : "#/definitions/ResponseBankingAccountsBalanceList"
            }
          },
          "401" : {
            "description" : "Authorization header missing or invalid token",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "403" : {
            "description" : "Token has incorrect scope or a security policy was violated.",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          }
        },
        "x-scopes" : [ "bank_basic_accounts" ],
        "x-version" : "1"
      }
    },
    "/banking/accounts/transactions" : {
      "post" : {
        "tags" : [ "BankingAccountsAPI" ],
        "summary" : "Get Transactions For Specific Accounts",
        "description" : "Obtain transactions for a specified list of transactions.",
        "operationId" : "listTransactionsSpecificAccounts",
        "parameters" : [ {
          "in" : "body",
          "name" : "accountIds",
          "description" : "The list of account IDs to obtain information for",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/RequestAccountIds"
          }
        }, {
          "$ref" : "#/parameters/ParamStartTime"
        }, {
          "$ref" : "#/parameters/ParamEndTime"
        }, {
          "$ref" : "#/parameters/ParamTransactionMinAmount"
        }, {
          "$ref" : "#/parameters/ParamTransactionMaxAmount"
        }, {
          "$ref" : "#/parameters/ParamTransactionText"
        }, {
          "$ref" : "#/parameters/ParamPage"
        }, {
          "$ref" : "#/parameters/ParamPageSize"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful response for Get Transactions For Specific Accounts",
            "schema" : {
              "$ref" : "#/definitions/ResponseBankingTransactionList"
            }
          },
          "401" : {
            "description" : "Authorization header missing or invalid token",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "403" : {
            "description" : "Token has incorrect scope or a security policy was violated.",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          }
        },
        "x-scopes" : [ "bank_transactions" ],
        "x-version" : "1"
      }
    },
    "/banking/accounts/{accountId}/direct-debits" : {
      "get" : {
        "tags" : [ "BankingDirectDebitsAPI" ],
        "summary" : "Get Direct Debits For Account",
        "description" : "Obtain direct debit authorisations for a specific account",
        "operationId" : "listDirectDebits",
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "description" : "ID of the account to get direct debit authorisations for.  Must have previously been returned by one of the account list end points.",
          "required" : true,
          "type" : "string"
        }, {
          "$ref" : "#/parameters/ParamPage"
        }, {
          "$ref" : "#/parameters/ParamPageSize"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful response for Get Direct Debits For Account",
            "schema" : {
              "$ref" : "#/definitions/ResponseBankingDirectDebitAuthorisationList"
            }
          },
          "401" : {
            "description" : "Authorization header missing or invalid token",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "403" : {
            "description" : "Token has incorrect scope or a security policy was violated.",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          }
        },
        "x-scopes" : [ "bank_detailed_accounts" ],
        "x-version" : "1"
      }
    },
    "/banking/accounts/direct-debits" : {
      "post" : {
        "tags" : [ "BankingDirectDebitsAPI" ],
        "summary" : "Get Direct Debits For Specific Accounts",
        "description" : "Obtain direct debit authorisations for a specified list of accounts",
        "operationId" : "listDirectDebitsSpecificAccounts",
        "parameters" : [ {
          "in" : "body",
          "name" : "accountIds",
          "description" : "The list of account IDs to obtain information for",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/RequestAccountIds"
          }
        }, {
          "$ref" : "#/parameters/ParamPage"
        }, {
          "$ref" : "#/parameters/ParamPageSize"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful response for Get Direct Debits For Specific Accounts",
            "schema" : {
              "$ref" : "#/definitions/ResponseBankingDirectDebitAuthorisationList"
            }
          },
          "401" : {
            "description" : "Authorization header missing or invalid token",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "403" : {
            "description" : "Token has incorrect scope or a security policy was violated.",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          }
        },
        "x-scopes" : [ "bank_detailed_accounts" ],
        "x-version" : "1"
      }
    },
    "/banking/payees" : {
      "get" : {
        "tags" : [ "BankingPayeesAPI" ],
        "summary" : "Get Payees",
        "description" : "Obtain a list of pre-registered payees",
        "operationId" : "listPayees",
        "parameters" : [ {
          "name" : "type",
          "in" : "query",
          "description" : "Filter on the payee type field.  In addition to normal type field values, ALL can be specified to retrieve all payees.  If absent the assumed value is ALL",
          "required" : false,
          "type" : "string",
          "default" : "ALL",
          "enum" : [ "ALL", "BILLER", "DOMESTIC", "INTERNATIONAL" ]
        }, {
          "$ref" : "#/parameters/ParamPage"
        }, {
          "$ref" : "#/parameters/ParamPageSize"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful response for Get Payees",
            "schema" : {
              "$ref" : "#/definitions/ResponseBankingPayeeList"
            }
          },
          "401" : {
            "description" : "Authorization header missing or invalid token",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "403" : {
            "description" : "Token has incorrect scope or a security policy was violated.",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          }
        },
        "x-scopes" : [ "bank_basic_accounts" ],
        "x-version" : "1"
      }
    },
    "/banking/payees/{payeeId}" : {
      "get" : {
        "tags" : [ "BankingPayeesAPI" ],
        "summary" : "Get Payee Detail",
        "description" : "Obtain detailed information on a single payee",
        "operationId" : "getPayeeDetail",
        "parameters" : [ {
          "name" : "payeeId",
          "in" : "path",
          "description" : "The ID used to locate the details of a particular payee",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful response for Get Payee Detail",
            "schema" : {
              "$ref" : "#/definitions/ResponseBankingPayeeById"
            }
          },
          "401" : {
            "description" : "Authorization header missing or invalid token",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "403" : {
            "description" : "Token has incorrect scope or a security policy was violated.",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          }
        },
        "x-scopes" : [ "bank_payees" ],
        "x-version" : "1"
      }
    },
    "/banking/products" : {
      "get" : {
        "tags" : [ "BankingProductsAPI" ],
        "summary" : "Get Products",
        "description" : "Obtain a list of products that are currently openly offered to the market\n\nNote that the results returned by this end point are expected to be ordered according to updated-since\n\n### Conventions\nIn the product reference payloads there are a number of recurring conventions that are explained here, in one place.\n\n#### Arrays Of Features\n\nIn the product detail payload there are a number of arrays articulating generic features, constraints, prices, etc. The intent of these arrays is as follows:\n\n- Each element in an array has the same structure so that clients can reliably interpret the payloads\n- Each element as a type element that is an enumeration of the specific aspect of a product being described, such as types of fees.\n- Each element has a field name additionalValue. This is a generic field with contents that will vary based on the type of object being described. The contents of this field for the ADDITIONAL_CARDS feature is the number of cards allowed while the contents of this field for the MAX_LIMIT constraint would be the maximum credit limit allowed for the product.\n- An element in these arrays of the same type may appear more than once. For instance, a product may offer two separate loyalty programs that the customer can select from. A fixed term mortgage may have different rates for different term lengths.\n- An element in these arrays may contain an additionalInfo and additionalInfoUri field. The additionalInfo field is used to provide displayable text clarifying the purpose of the element in some way when the product is presented to a customer. The additionalInfoUri provides a link to externally hosted information specifically relevant to that feature of the product.\n- Depending on the type of data being represented there may be additional specific fields.\n\n#### URIs To More Information\n\nAs the complexities and nuances of a financial product can not easily be fully expressed in a data structure without a high degree of complexity it is necessary to provide additional reference information that a potential customer can access so that they are fully informed of the features and implications of the product. The payloads for product reference therefore contain numerous fields that are provided to allow the product provider to describe the product more fully using a web page hosted on their on channels.\n\nThese URIs do not need to all link to different pages. If desired, they can all link to a single hosted page and use difference HTML anchors to focus on a specific topic such as eligibility or fees.\n\n#### Linkage To Accounts\nFrom the moment that a customer applies for a product and an account is created the account and the product that spawned it will diverge.  Rates and features of the product may change and a discount may be negotiated for the account.\n\nFor this reason, while productCategory is a common field between accounts and products, there is no specific ID that can be used to link an account to a product within the regime.\n\nSimilarly, many of the fields and objects in the product payload will appear in the account detail payload but the structures and semantics are not identical as one refers to a product that can potentially be originated and one refers to an account that actual has been instantiated and created along with the associated decisions inherent in that process.\n\n#### Dates\nIt is expected that data consumers needing this data will call relatively frequently to ensure the data they have is representative of the current offering from a bank.  To minimise the volume and frequency of these calls the ability to set a lastUpdated field with the date and time of the last update to this product is included.  A call for a list of products can then be filtered to only return products that have been updated since the last time that data was obtained using the updated-since query parameter.\n\nIn addition, the concept of effective date and time has also been included.  This allows for a product to be marked for obsolescence, or introduction, from a certain time without the need for an update to show that a product has been changed.  The inclusion of these dates also removes the need to represent deleted products in the payload.  Products that are no long offered can be marked not effective for a few weeks before they are then removed from the product set as an option entirely.",
        "operationId" : "listProducts",
        "parameters" : [ {
          "name" : "effective",
          "in" : "query",
          "description" : "Allows for the filtering of products based on whether the current time is within the period of time defined as effective by the effectiveFrom and effectiveTo fields. Valid values are ‘CURRENT’, ‘FUTURE’ and ‘ALL’. If absent defaults to &#39;CURRENT&#39;",
          "required" : false,
          "type" : "string",
          "default" : "CURRENT",
          "enum" : [ "ALL", "CURRENT", "FUTURE" ]
        }, {
          "name" : "updated-since",
          "in" : "query",
          "description" : "Only include products that have been updated after the specified date and time. If absent defaults to include all products",
          "required" : false,
          "type" : "string",
          "format" : "date-time"
        }, {
          "name" : "brand",
          "in" : "query",
          "description" : "Filter results based on a specific brand",
          "required" : false,
          "type" : "string"
        }, {
          "$ref" : "#/parameters/ParamProductCategory"
        }, {
          "$ref" : "#/parameters/ParamPage"
        }, {
          "$ref" : "#/parameters/ParamPageSize"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful response for Get Products",
            "schema" : {
              "$ref" : "#/definitions/ResponseBankingProductList"
            }
          }
        }
      }
    },
    "/banking/products/{productId}" : {
      "get" : {
        "tags" : [ "BankingProductsAPI" ],
        "summary" : "Get Product Detail",
        "description" : "Obtain detailed information on a single product offered openly to the market",
        "operationId" : "getProductDetail",
        "parameters" : [ {
          "name" : "productId",
          "in" : "path",
          "description" : "ID of the specific product requested",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful response for Get Product Detail",
            "schema" : {
              "$ref" : "#/definitions/ResponseBankingProductById"
            }
          }
        }
      }
    },
    "/common/customer" : {
      "get" : {
        "tags" : [ "CommonCustomerAPI" ],
        "summary" : "Get Customer",
        "description" : "Obtain basic information on the customer that has authorised the current session",
        "operationId" : "getCustomer",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "Successful response for Get Customer",
            "schema" : {
              "$ref" : "#/definitions/ResponseCommonCustomer"
            }
          },
          "401" : {
            "description" : "Authorization header missing or invalid token",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "403" : {
            "description" : "Token has incorrect scope or a security policy was violated.",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          }
        },
        "x-scopes" : [ "common_basic_customer" ],
        "x-version" : "1"
      }
    },
    "/common/customer/detail" : {
      "get" : {
        "tags" : [ "CommonCustomerAPI" ],
        "summary" : "Get Customer Detail",
        "description" : "Obtain detailed information on the authorised customer within the current session.",
        "operationId" : "getCustomerDetail",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "Successful response for Get Customer Detail",
            "schema" : {
              "$ref" : "#/definitions/ResponseCommonCustomerDetail"
            }
          },
          "401" : {
            "description" : "Authorization header missing or invalid token",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "403" : {
            "description" : "Token has incorrect scope or a security policy was violated.",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          }
        },
        "x-scopes" : [ "common_detailed_customer" ],
        "x-version" : "1"
      }
    }
  },
  "definitions" : {
    "AddressUType" : {
      "type" : "string",
      "description" : "The type of address object present",
      "enum" : [ "PAF", "SIMPLE" ]
    },
    "BalanceUType" : {
      "type" : "string",
      "description" : "The type of balance object provided for the account",
      "enum" : [ "DEPOSIT", "LENDING", "PURSES" ]
    },
    "BankingAccount" : {
      "type" : "object",
      "required" : [ "accountId", "displayName", "maskedNumber", "productCategory", "productName" ],
      "properties" : {
        "accountId" : {
          "type" : "string",
          "description" : "A unique ID of the account adhering to the standards for ID permanence"
        },
        "displayName" : {
          "type" : "string",
          "description" : "The display name of the account. If a customer provided nickname is available that value should be returned"
        },
        "isOwned" : {
          "type" : "boolean",
          "description" : "Flag indicating that the customer associated with the authorisation is an owner of the account.  Does not indicate sole ownership, however.  If no present then 'true' is assumed"
        },
        "maskedNumber" : {
          "type" : "string",
          "description" : "A masked version of the account. Whether BSB/Account Number, Credit Card PAN or another number this should be formatted with each digit masked and the last three digits unmasked"
        },
        "nickname" : {
          "type" : "string",
          "description" : "A customer supplied nick name for the account"
        },
        "openStatus" : {
          "$ref" : "#/definitions/OpenStatus"
        },
        "productCategory" : {
          "$ref" : "#/definitions/BankingEnumProductCategory"
        },
        "productName" : {
          "type" : "string",
          "description" : "A unique name or identifier for the account class for this account as defined by the account provider.  Not expected to be used for display"
        }
      },
      "x-conditional" : [ "deposit", "lending", "purses" ]
    },
    "BankingAccountDepositRate" : {
      "type" : "object",
      "required" : [ "depositRateType", "rate" ],
      "properties" : {
        "additionalInfo" : {
          "type" : "string",
          "description" : "Display text providing more information on the fee"
        },
        "additionalInfoUri" : {
          "type" : "string",
          "format" : "uri",
          "description" : "Link to a web page with more information on this fee",
          "x-cds-type" : "URIString"
        },
        "additionalValue" : {
          "type" : "string",
          "description" : "Generic field containing additional information relevant to the depositRateType specified. Whether mandatory or not is dependent on the value of depositRateType"
        },
        "applicationFrequency" : {
          "type" : "string",
          "description" : "The period after which the calculated amount(s) (see calculationFrequency) are 'applied' (i.e. debited or credited) to the account. Formatted according to [ISO 8601 Durations](https://en.wikipedia.org/wiki/ISO_8601#Durations)"
        },
        "calculationFrequency" : {
          "type" : "string",
          "description" : "The period after which the rate is applied to the balance to calculate the amount due for the period. Calculation of the amount is often daily (as balances may change) but accumulated until the total amount is 'applied' to the account (see applicationFrequency). Formatted according to [ISO 8601 Durations](https://en.wikipedia.org/wiki/ISO_8601#Durations)"
        },
        "depositRateType" : {
          "$ref" : "#/definitions/DepositRateType"
        },
        "rate" : {
          "type" : "string",
          "description" : "The rate to be applied"
        }
      },
      "x-conditional" : [ "additionalValue" ]
    },
    "BankingAccountDetail" : {
      "allOf" : [ {
        "$ref" : "#/definitions/BankingAccount"
      }, {
        "type" : "object",
        "properties" : {
          "accountNumber" : {
            "type" : "string",
            "description" : "The unmasked account number for the account.  Should not be supplied if the account number is a PAN requiring PCI compliance. Is expected to be formatted as digits only with leading zeros included and no punctuation or spaces"
          },
          "address" : {
            "$ref" : "#/definitions/CommonPhysicalAddress"
          },
          "bsb" : {
            "type" : "string",
            "description" : "The unmasked BSB for the account.  Is expected to be formatted as digits only with leading zeros included and no punctuation or spaces"
          },
          "bundleName" : {
            "type" : "string",
            "description" : "Optional field to indicate if this account is part of a bundle that is providing additional benefit for to the customer"
          },
          "creditCard" : {
            "$ref" : "#/definitions/BankingCreditCardAccount"
          },
          "depositRates" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/definitions/BankingAccountDepositRate"
            }
          },
          "features" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/definitions/BankingAccountFeature"
            }
          },
          "fees" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/definitions/BankingAccountFee"
            }
          },
          "lendingRates" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/definitions/BankingAccountLendingRate"
            }
          },
          "loan" : {
            "$ref" : "#/definitions/BankingLoanAccount"
          },
          "specificAccountUType" : {
            "$ref" : "#/definitions/SpecificAccountUType"
          },
          "termDeposit" : {
            "$ref" : "#/definitions/BankingTermDepositAccount"
          }
        }
      } ]
    },
    "BankingAccountDiscount" : {
      "type" : "object",
      "required" : [ "description", "discountType" ],
      "properties" : {
        "accruedRate" : {
          "type" : "string",
          "description" : "A discount rate calculated based on a proportion of the calculated interest accrued on the account. Note that the currency of the fee discount is expected to be the same as the currency of the fee itself. One of amount, balanceRate, transactionRate and accruedRate is mandatory. Unless noted in additionalInfo, assumes the application and calculation frequency are the same as the corresponding fee"
        },
        "additionalInfo" : {
          "type" : "string",
          "description" : "Display text providing more information on the discount"
        },
        "additionalInfoUri" : {
          "type" : "string",
          "format" : "uri",
          "description" : "Link to a web page with more information on this discount",
          "x-cds-type" : "URIString"
        },
        "additionalValue" : {
          "type" : "string",
          "description" : "Generic field containing additional information relevant to the discountType specified. Whether mandatory or not is dependent on the value of discountType"
        },
        "amount" : {
          "type" : "string",
          "description" : "Value of the discount. Note that the currency of the fee discount is expected to be the same as the currency of the fee itself. One of amount, balanceRate, transactionRate and accruedRate is mandatory"
        },
        "balanceRate" : {
          "type" : "string",
          "description" : "A discount rate calculated based on a proportion of the balance. Note that the currency of the fee discount is expected to be the same as the currency of the fee itself. One of amount, balanceRate, transactionRate and accruedRate is mandatory. Unless noted in additionalInfo, assumes the application and calculation frequency are the same as the corresponding fee"
        },
        "description" : {
          "type" : "string",
          "description" : "Description of the discount"
        },
        "discountType" : {
          "$ref" : "#/definitions/DiscountType"
        },
        "eligibility" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/BankingAccountDiscountEligibility"
          }
        },
        "transactionRate" : {
          "type" : "string",
          "description" : "A discount rate calculated based on a proportion of atransaction. Note that the currency of the fee discount is expected to be the same as the currency of the fee itself. One of amount, balanceRate, transactionRate and accruedRate is mandatory"
        }
      },
      "x-conditional" : [ "accruedRate", "additionalValue", "amount", "balanceRate", "transactionRate" ]
    },
    "BankingAccountDiscountEligibility" : {
      "type" : "object",
      "required" : [ "discountEligibilityType" ],
      "properties" : {
        "additionalInfo" : {
          "type" : "string",
          "description" : "Display text providing more information on this eligibility constraint"
        },
        "additionalInfoUri" : {
          "type" : "string",
          "format" : "uri",
          "description" : "Link to a web page with more information on this eligibility constraint",
          "x-cds-type" : "URIString"
        },
        "additionalValue" : {
          "type" : "string",
          "description" : "Generic field containing additional information relevant to the discountEligibilityType specified. Whether mandatory or not is dependent on the value of discountEligibilityType"
        },
        "discountEligibilityType" : {
          "$ref" : "#/definitions/DiscountEligibilityType"
        }
      },
      "x-conditional" : [ "additionalValue" ]
    },
    "BankingAccountFeature" : {
      "type" : "object",
      "required" : [ "featureType" ],
      "properties" : {
        "additionalInfo" : {
          "type" : "string",
          "description" : "Display text providing more information on the feature. Mandatory if the feature type is set to OTHER"
        },
        "additionalInfoUri" : {
          "type" : "string",
          "format" : "uri",
          "description" : "Link to a web page with more information on this feature",
          "x-cds-type" : "URIString"
        },
        "additionalValue" : {
          "type" : "string",
          "description" : "Generic field containing additional information relevant to the featureType specified. Whether mandatory or not is dependent on the value of featureType"
        },
        "featureType" : {
          "$ref" : "#/definitions/FeatureType"
        },
        "isActivated" : {
          "type" : "boolean",
          "description" : "True if the feature is already activated and false if the feature is available for activation.  Defaults to true if absent"
        }
      },
      "x-conditional" : [ "additionalInfo", "additionalValue" ]
    },
    "BankingAccountFee" : {
      "type" : "object",
      "required" : [ "feeType", "name" ],
      "properties" : {
        "accrualFrequency" : {
          "type" : "string",
          "description" : "The indicative frequency with which the fee is calculated on the account. Only applies if accruedRate is also present. Formatted according to [ISO 8601 Durations](https://en.wikipedia.org/wiki/ISO_8601#Durations)"
        },
        "accruedRate" : {
          "type" : "string",
          "description" : "A fee rate calculated based on a proportion of the calculated interest accrued on the account. One of amount, balanceRate, transactionRate and accruedRate is mandatory"
        },
        "additionalInfo" : {
          "type" : "string",
          "description" : "Display text providing more information on the fee"
        },
        "additionalInfoUri" : {
          "type" : "string",
          "format" : "uri",
          "description" : "Link to a web page with more information on this fee",
          "x-cds-type" : "URIString"
        },
        "additionalValue" : {
          "type" : "string",
          "description" : "Generic field containing additional information relevant to the feeType specified. Whether mandatory or not is dependent on the value of feeType"
        },
        "amount" : {
          "type" : "string",
          "description" : "The amount charged for the fee. One of amount, balanceRate, transactionRate and accruedRate is mandatory"
        },
        "balanceRate" : {
          "type" : "string",
          "description" : "A fee rate calculated based on a proportion of the balance. One of amount, balanceRate, transactionRate and accruedRate is mandatory"
        },
        "currency" : {
          "type" : "string",
          "description" : "The currency the fee will be charged in. Assumes AUD if absent"
        },
        "discounts" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/BankingAccountDiscount"
          }
        },
        "feeType" : {
          "$ref" : "#/definitions/FeeType"
        },
        "name" : {
          "type" : "string",
          "description" : "Name of the fee"
        },
        "transactionRate" : {
          "type" : "string",
          "description" : "A fee rate calculated based on a proportion of a transaction. One of amount, balanceRate, transactionRate and accruedRate is mandatory"
        }
      },
      "x-conditional" : [ "accruedRate", "additionalValue", "amount", "balanceRate", "transactionRate" ]
    },
    "BankingAccountLendingRate" : {
      "type" : "object",
      "required" : [ "lendingRateType", "rate" ],
      "properties" : {
        "additionalInfo" : {
          "type" : "string",
          "description" : "Display text providing more information on the fee."
        },
        "additionalInfoUri" : {
          "type" : "string",
          "format" : "uri",
          "description" : "Link to a web page with more information  on this fee",
          "x-cds-type" : "URIString"
        },
        "additionalValue" : {
          "type" : "string",
          "description" : "Information relevant to the lendingRateType specified.  Whether mandatory or not is dependent on the Generic field containing additional information relevant to the lendingRateType specified. Whether mandatory or not is dependent on the value of lendingRateType"
        },
        "applicationFrequency" : {
          "type" : "string",
          "description" : "The period after which the calculated amount(s) (see calculationFrequency) are 'applied' (i.e. debited or credited) to the account. Formatted according to [ISO 8601 Durations](https://en.wikipedia.org/wiki/ISO_8601#Durations)"
        },
        "calculationFrequency" : {
          "type" : "string",
          "description" : "The period after which the rate is applied to the balance to calculate the amount due for the period. Calculation of the amount is often daily (as balances may change) but accumulated until the total amount is 'applied' to the account (see applicationFrequency). Formatted according to [ISO 8601 Durations](https://en.wikipedia.org/wiki/ISO_8601#Durations)"
        },
        "interestPaymentDue" : {
          "$ref" : "#/definitions/InterestPaymentDue"
        },
        "lendingRateType" : {
          "$ref" : "#/definitions/LendingRateType"
        },
        "rate" : {
          "type" : "string",
          "description" : "The rate to be applied"
        }
      },
      "x-conditional" : [ "additionalValue" ]
    },
    "BankingAuthorisedEntity" : {
      "type" : "object",
      "required" : [ "financialInstitution", "name" ],
      "properties" : {
        "abn" : {
          "type" : "string",
          "description" : "Australian Business Number for the authorised entity"
        },
        "acn" : {
          "type" : "string",
          "description" : "Australian Business Number for the authorised entity"
        },
        "arbn" : {
          "type" : "string",
          "description" : "Australian Registered Body Number for the authorised entity"
        },
        "financialInstitution" : {
          "type" : "string",
          "description" : "Name of the financial institution through which the direct debit will be executed"
        },
        "name" : {
          "type" : "string",
          "description" : "Name of the authorised entity"
        }
      }
    },
    "BankingBalance" : {
      "type" : "object",
      "required" : [ "accountId", "balanceUType" ],
      "properties" : {
        "accountId" : {
          "type" : "string",
          "description" : "A unique ID of the account adhering to the standards for ID permanence"
        },
        "balanceUType" : {
          "$ref" : "#/definitions/BalanceUType"
        },
        "deposit" : {
          "$ref" : "#/definitions/BankingDepositBalance"
        },
        "lending" : {
          "$ref" : "#/definitions/BankingLendingBalance"
        },
        "purses" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/CommonCurrencyAmount"
          }
        }
      },
      "x-conditional" : [ "deposit", "lending", "purses" ]
    },
    "BankingBillerPayee" : {
      "type" : "object",
      "required" : [ "billerCode", "billerName" ],
      "properties" : {
        "billerCode" : {
          "type" : "string",
          "description" : "BPay Biller Code of the Biller"
        },
        "billerName" : {
          "type" : "string",
          "description" : "Name of the Biller"
        },
        "crn" : {
          "type" : "string",
          "description" : "BPay CRN of the Biller. If the contents of the CRN match the format of a Credit Card PAN then it should be masked using the rules applicable for the MaskedPANString common type"
        }
      },
      "x-conditional" : [ "crn" ]
    },
    "BankingCreditCardAccount" : {
      "type" : "object",
      "required" : [ "minPaymentAmount", "paymentDueAmount", "paymentDueDate" ],
      "properties" : {
        "minPaymentAmount" : {
          "type" : "string",
          "description" : "The minimum payment amount due for the next card payment"
        },
        "paymentCurrency" : {
          "type" : "string",
          "description" : "If absent assumes AUD"
        },
        "paymentDueAmount" : {
          "type" : "string",
          "description" : "The amount due for the next card payment"
        },
        "paymentDueDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "Date that the next payment for the card is due",
          "x-cds-type" : "DateString"
        }
      }
    },
    "BankingDepositBalance" : {
      "type" : "object",
      "required" : [ "availableBalance", "currentBalance" ],
      "properties" : {
        "availableBalance" : {
          "$ref" : "#/definitions/CommonCurrencyAmount"
        },
        "currentBalance" : {
          "$ref" : "#/definitions/CommonCurrencyAmount"
        }
      }
    },
    "BankingDirectDebit" : {
      "type" : "object",
      "required" : [ "accountId" ],
      "properties" : {
        "accountId" : {
          "type" : "string",
          "description" : "A unique ID of the account adhering to the standards for ID permanence."
        },
        "authorisedEntity" : {
          "$ref" : "#/definitions/BankingAuthorisedEntity"
        },
        "lastDebitAmount" : {
          "type" : "string",
          "description" : "The amount of the last debit executed under this authorisation"
        },
        "lastDebitDateTime" : {
          "type" : "string",
          "format" : "date-time",
          "description" : "The date and time of the last debit executed under this authorisation",
          "x-cds-type" : "DateTimeString"
        }
      }
    },
    "BankingDomesticPayee" : {
      "type" : "object",
      "required" : [ "payeeAccountUType" ],
      "properties" : {
        "account" : {
          "$ref" : "#/definitions/BankingDomesticPayeeAccount"
        },
        "card" : {
          "$ref" : "#/definitions/BankingDomesticPayeeCard"
        },
        "payId" : {
          "$ref" : "#/definitions/BankingDomesticPayeePayId"
        },
        "payeeAccountUType" : {
          "$ref" : "#/definitions/PayeeAccountUType"
        }
      },
      "x-conditional" : [ "account", "card", "payId" ]
    },
    "BankingDomesticPayeeAccount" : {
      "type" : "object",
      "required" : [ "accountName", "accountNumber", "bsb" ],
      "properties" : {
        "accountName" : {
          "type" : "string",
          "description" : "Name of the account to pay to"
        },
        "accountNumber" : {
          "type" : "string",
          "description" : "Number of the account to pay to"
        },
        "bsb" : {
          "type" : "string",
          "description" : "BSB of the account to pay to"
        }
      }
    },
    "BankingDomesticPayeeCard" : {
      "type" : "object",
      "required" : [ "cardNumber" ],
      "properties" : {
        "cardNumber" : {
          "type" : "string",
          "description" : "Name of the account to pay to"
        }
      }
    },
    "BankingDomesticPayeePayId" : {
      "type" : "object",
      "required" : [ "identifier", "type" ],
      "properties" : {
        "identifier" : {
          "type" : "string",
          "description" : "The identifier of the PayID (dependent on type)"
        },
        "name" : {
          "type" : "string",
          "description" : "The name assigned to the PayID by the owner of the PayID"
        },
        "type" : {
          "$ref" : "#/definitions/Type"
        }
      }
    },
    "BankingEnumProductCategory" : {
      "type" : "string",
      "description" : "The list of available product categories for categorising products and accounts.  See [here](#product-categories) for more details",
      "enum" : [ "CRED_AND_CHRG_CARDS", "LEASES", "MARGIN_LOANS", "PERS_LOANS", "REGULATED_TRUST_ACCOUNTS", "RESIDENTIAL_MORTGAGES", "TERM_DEPOSITS", "TRADE_FINANCE", "TRANS_AND_SAVINGS_ACCOUNTS", "TRAVEL_CARDS" ]
    },
    "BankingInternationalPayee" : {
      "type" : "object",
      "required" : [ "bankDetails", "beneficiaryDetails" ],
      "properties" : {
        "bankDetails" : {
          "$ref" : "#/definitions/BankingInternationalPayeeBankDetails"
        },
        "beneficiaryDetails" : {
          "$ref" : "#/definitions/BankingInternationalPayeeBeneficiaryDetails"
        }
      }
    },
    "BankingInternationalPayeeBankDetails" : {
      "type" : "object",
      "required" : [ "accountNumber", "country" ],
      "properties" : {
        "accountNumber" : {
          "type" : "string",
          "description" : "Account Targeted for payment"
        },
        "bankAddress" : {
          "$ref" : "#/definitions/BankingInternationalPayeeBankDetailsBankAddress"
        },
        "beneficiaryBankBIC" : {
          "type" : "string",
          "description" : "Swift bank code.  Aligns with standard [ISO 9362](https://www.iso.org/standard/60390.html)"
        },
        "chipNumber" : {
          "type" : "string",
          "description" : "Number for the Clearing House Interbank Payments System"
        },
        "country" : {
          "type" : "string",
          "description" : "Country of the recipient institution. A valid ISO 3166 Alpha-3 country code"
        },
        "fedWireNumber" : {
          "type" : "string",
          "description" : "Number for Fedwire payment (Federal Reserve Wire Network)"
        },
        "legalEntityIdentifier" : {
          "type" : "string",
          "description" : "The legal entity identifier (LEI) for the beneficiary.  Aligns with [ISO 17442](https://www.iso.org/standard/59771.html)"
        },
        "routingNumber" : {
          "type" : "string",
          "description" : "International bank routing number"
        },
        "sortCode" : {
          "type" : "string",
          "description" : "Sort code used for account identification in some jurisdictions"
        }
      }
    },
    "BankingInternationalPayeeBankDetailsBankAddress" : {
      "type" : "object",
      "required" : [ "address", "name" ],
      "properties" : {
        "address" : {
          "type" : "string",
          "description" : "Address of the recipient Bank"
        },
        "name" : {
          "type" : "string",
          "description" : "Name of the recipient Bank"
        }
      }
    },
    "BankingInternationalPayeeBeneficiaryDetails" : {
      "type" : "object",
      "required" : [ "country" ],
      "properties" : {
        "country" : {
          "type" : "string",
          "description" : "Country where the beneficiary resides. A valid ISO 3166 Alpha-3 country code"
        },
        "message" : {
          "type" : "string",
          "description" : "Response message for the payment"
        },
        "name" : {
          "type" : "string",
          "description" : "Name of the beneficiary"
        }
      }
    },
    "BankingLendingBalance" : {
      "type" : "object",
      "required" : [ "accountBalance", "availableBalance", "creditLimit" ],
      "properties" : {
        "accountBalance" : {
          "$ref" : "#/definitions/CommonCurrencyAmount"
        },
        "amortisedLimit" : {
          "$ref" : "#/definitions/CommonCurrencyAmount"
        },
        "availableBalance" : {
          "$ref" : "#/definitions/CommonCurrencyAmount"
        },
        "creditLimit" : {
          "$ref" : "#/definitions/CommonCurrencyAmount"
        }
      }
    },
    "BankingLoanAccount" : {
      "type" : "object",
      "properties" : {
        "loanEndDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "Date that the loan is due to be repaid in full",
          "x-cds-type" : "DateString"
        },
        "loanPurpose" : {
          "$ref" : "#/definitions/LoanPurpose"
        },
        "maxRedraw" : {
          "type" : "string",
          "description" : "Maximum amount of funds that can be redrawn. If not present redraw is not available even if the feature exists for the account"
        },
        "maxRedrawCurrency" : {
          "type" : "string",
          "description" : "If absent assumes AUD"
        },
        "minInstalmentAmount" : {
          "type" : "string",
          "description" : "Minimum amount of next instalment"
        },
        "minInstalmentCurrency" : {
          "type" : "string",
          "description" : "If absent assumes AUD"
        },
        "minRedraw" : {
          "type" : "string",
          "description" : "Minimum redraw amount"
        },
        "minRedrawCurrency" : {
          "type" : "string",
          "description" : "If absent assumes AUD"
        },
        "nextInstalmentDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "Next date that an instalment is required",
          "x-cds-type" : "DateString"
        },
        "offsetAccountEnabled" : {
          "type" : "boolean",
          "description" : "Set to true if one or more offset accounts are configured for this loan account"
        },
        "offsetAccountIds" : {
          "type" : "array",
          "description" : "The accountIDs of the configured offset accounts attached to this loan. Only offset accounts that can be accesses under the current authorisation should be included. It is expected behaviour that offsetAccountEnabled is set to true but the offsetAccountIds field is absent or empty. This represents a situation where an offset account exists but details can not be accessed under the current authorisation",
          "items" : {
            "type" : "string"
          }
        },
        "originalLoanAmount" : {
          "type" : "string",
          "description" : "Optional original loan value"
        },
        "originalLoanCurrency" : {
          "type" : "string",
          "description" : "If absent assumes AUD"
        },
        "originalStartDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "Optional original start date for the loan",
          "x-cds-type" : "DateString"
        },
        "repaymentFrequency" : {
          "type" : "string",
          "description" : "The expected or required repayment frequency. Formatted according to [ISO 8601 Durations](https://en.wikipedia.org/wiki/ISO_8601#Durations)"
        },
        "repaymentType" : {
          "type" : "string",
          "description" : "The reason for taking out the loan. The purpose generally affects the rate offered due to different risk profiles"
        }
      }
    },
    "BankingPayee" : {
      "type" : "object",
      "required" : [ "nickname", "payeeId", "type" ],
      "properties" : {
        "creationDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "The date the payee was created by the customer",
          "x-cds-type" : "DateString"
        },
        "description" : {
          "type" : "string",
          "description" : "A description of the payee provided by the customer"
        },
        "nickname" : {
          "type" : "string",
          "description" : "The short display name of the payee as provided by the customer"
        },
        "payeeId" : {
          "type" : "string",
          "description" : "ID of the payee adhering to the rules of ID permanence"
        },
        "type" : {
          "$ref" : "#/definitions/Type"
        }
      }
    },
    "BankingPayeeDetail" : {
      "allOf" : [ {
        "$ref" : "#/definitions/BankingPayee"
      }, {
        "type" : "object",
        "required" : [ "payeeUType" ],
        "properties" : {
          "biller" : {
            "$ref" : "#/definitions/BankingBillerPayee"
          },
          "domestic" : {
            "$ref" : "#/definitions/BankingDomesticPayee"
          },
          "international" : {
            "$ref" : "#/definitions/BankingInternationalPayee"
          },
          "payeeUType" : {
            "$ref" : "#/definitions/PayeeUType"
          }
        }
      } ]
    },
    "BankingProduct" : {
      "type" : "object",
      "required" : [ "brand", "description", "isTailored", "lastUpdated", "name", "productCategory", "productId" ],
      "properties" : {
        "additionalInformation" : {
          "$ref" : "#/definitions/BankingProductAdditionalInformation"
        },
        "applicationUri" : {
          "type" : "string",
          "format" : "uri",
          "description" : "A link to the an application web page where this product can be applied for.",
          "x-cds-type" : "URIString"
        },
        "brand" : {
          "type" : "string",
          "description" : "A label of the brand for the product. Able to be used for filtering. For data providers with single brands this value is still required"
        },
        "brandName" : {
          "type" : "string",
          "description" : "An optional display name of the brand"
        },
        "description" : {
          "type" : "string",
          "description" : "A description of the product"
        },
        "effectiveFrom" : {
          "type" : "string",
          "format" : "date-time",
          "description" : "The date and time from which this product is effective (ie. is available for origination).  Used to enable the articulation of products to the regime before they are available for customers to originate",
          "x-cds-type" : "DateTimeString"
        },
        "effectiveTo" : {
          "type" : "string",
          "format" : "date-time",
          "description" : "The date and time at which this product will be retired and will no longer be offered.  Used to enable the managed deprecation of products",
          "x-cds-type" : "DateTimeString"
        },
        "isTailored" : {
          "type" : "boolean",
          "description" : "Indicates whether the product is specifically tailored to a circumstance.  In this case fees and prices are significantly negotiated depending on context. While all products are open to a degree of tailoring this flag indicates that tailoring is expected and thus that the provision of specific fees and rates is not applicable"
        },
        "lastUpdated" : {
          "type" : "string",
          "format" : "date-time",
          "description" : "The last date and time that the information for this product was changed (or the creation date for the product if it has never been altered)",
          "x-cds-type" : "DateTimeString"
        },
        "name" : {
          "type" : "string",
          "description" : "The display name of the product"
        },
        "productCategory" : {
          "$ref" : "#/definitions/BankingEnumProductCategory"
        },
        "productId" : {
          "type" : "string",
          "description" : "A provider specific unique identifier for this product. This identifier must be unique to a product but does not otherwise need to adhere to ID permanence guidelines."
        }
      }
    },
    "BankingProductAdditionalInformation" : {
      "type" : "object",
      "properties" : {
        "bundleUri" : {
          "type" : "string",
          "format" : "uri",
          "description" : "Description of a bundle that this product can be part of",
          "x-cds-type" : "URIString"
        },
        "eligibilityUri" : {
          "type" : "string",
          "format" : "uri",
          "description" : "Eligibility rules and criteria for the product",
          "x-cds-type" : "URIString"
        },
        "feesAndPricingUri" : {
          "type" : "string",
          "format" : "uri",
          "description" : "Description of fees, pricing, discounts, exemptions and bonuses for the product",
          "x-cds-type" : "URIString"
        },
        "overviewUri" : {
          "type" : "string",
          "format" : "uri",
          "description" : "General overview of the product",
          "x-cds-type" : "URIString"
        },
        "termsUri" : {
          "type" : "string",
          "format" : "uri",
          "description" : "Terms and conditions for the product",
          "x-cds-type" : "URIString"
        }
      },
      "description" : "Object that contains links to additional information on specific topics"
    },
    "BankingProductBundle" : {
      "type" : "object",
      "required" : [ "description", "name", "productIds" ],
      "properties" : {
        "additionalInfo" : {
          "type" : "string",
          "description" : "Display text providing more information on the bundle"
        },
        "additionalInfoUri" : {
          "type" : "string",
          "format" : "uri",
          "description" : "Link to a web page with more information on the bundle criteria and benefits",
          "x-cds-type" : "URIString"
        },
        "description" : {
          "type" : "string",
          "description" : "Description of the bundle"
        },
        "name" : {
          "type" : "string",
          "description" : "Name of the bundle"
        },
        "productIds" : {
          "type" : "array",
          "description" : "Array of product IDs for products included in the bundle",
          "items" : {
            "type" : "string"
          }
        }
      }
    },
    "BankingProductConstraint" : {
      "type" : "object",
      "required" : [ "constraintType" ],
      "properties" : {
        "additionalInfo" : {
          "type" : "string",
          "description" : "Display text providing more information the constraint"
        },
        "additionalInfoUri" : {
          "type" : "string",
          "format" : "uri",
          "description" : "Link to a web page with more information on the constraint",
          "x-cds-type" : "URIString"
        },
        "additionalValue" : {
          "type" : "string",
          "description" : "Generic field containing additional information relevant to the constraintType specified.  Whether mandatory or not is dependent on the value of constraintType"
        },
        "constraintType" : {
          "$ref" : "#/definitions/ConstraintType"
        }
      },
      "x-conditional" : [ "additionalValue" ]
    },
    "BankingProductDepositRate" : {
      "type" : "object",
      "required" : [ "depositRateType", "rate" ],
      "properties" : {
        "additionalInfo" : {
          "type" : "string",
          "description" : "Display text providing more information on the rate"
        },
        "additionalInfoUri" : {
          "type" : "string",
          "format" : "uri",
          "description" : "Link to a web page with more information on this rate",
          "x-cds-type" : "URIString"
        },
        "additionalValue" : {
          "type" : "string",
          "description" : "Generic field containing additional information relevant to the depositRateType specified. Whether mandatory or not is dependent on the value of depositRateType"
        },
        "applicationFrequency" : {
          "type" : "string",
          "description" : "The period after which the calculated amount(s) (see calculationFrequency) are 'applied' (i.e. debited or credited) to the account. Formatted according to [ISO 8601 Durations](https://en.wikipedia.org/wiki/ISO_8601#Durations)"
        },
        "calculationFrequency" : {
          "type" : "string",
          "description" : "The period after which the rate is applied to the balance to calculate the amount due for the period. Calculation of the amount is often daily (as balances may change) but accumulated until the total amount is 'applied' to the account (see applicationFrequency). Formatted according to [ISO 8601 Durations](https://en.wikipedia.org/wiki/ISO_8601#Durations)"
        },
        "depositRateType" : {
          "$ref" : "#/definitions/DepositRateType"
        },
        "rate" : {
          "type" : "string",
          "description" : "The rate to be applied"
        },
        "tiers" : {
          "type" : "array",
          "description" : "Rate tiers applicable for this rate",
          "items" : {
            "$ref" : "#/definitions/BankingProductRateTier"
          }
        }
      },
      "x-conditional" : [ "additionalValue" ]
    },
    "BankingProductDetail" : {
      "allOf" : [ {
        "$ref" : "#/definitions/BankingProduct"
      }, {
        "type" : "object",
        "properties" : {
          "bundles" : {
            "type" : "array",
            "description" : "An array of bundles that this product participates in.  Each bundle is described by free form information but also by a list of product IDs of the other products that are included in the bundle.  It is assumed that the current product is included in the bundle also",
            "items" : {
              "$ref" : "#/definitions/BankingProductBundle"
            }
          },
          "constraints" : {
            "type" : "array",
            "description" : "Constraints on the application for or operation of the product such as minimum balances or limit thresholds",
            "items" : {
              "$ref" : "#/definitions/BankingProductConstraint"
            }
          },
          "depositRates" : {
            "type" : "array",
            "description" : "Interest rates available for deposits",
            "items" : {
              "$ref" : "#/definitions/BankingProductDepositRate"
            }
          },
          "eligibility" : {
            "type" : "array",
            "description" : "Eligibility criteria for the product",
            "items" : {
              "$ref" : "#/definitions/BankingProductEligibility"
            }
          },
          "features" : {
            "type" : "array",
            "description" : "Array of features available for the product",
            "items" : {
              "$ref" : "#/definitions/BankingProductFeature"
            }
          },
          "fees" : {
            "type" : "array",
            "description" : "Fees applicable for the product",
            "items" : {
              "$ref" : "#/definitions/BankingProductFee"
            }
          },
          "lendingRates" : {
            "type" : "array",
            "description" : "Interest rates charged against lending balances",
            "items" : {
              "$ref" : "#/definitions/BankingProductLendingRate"
            }
          }
        }
      } ]
    },
    "BankingProductDiscount" : {
      "type" : "object",
      "required" : [ "amount", "description", "discountType" ],
      "properties" : {
        "accruedRate" : {
          "type" : "string",
          "description" : "A discount rate calculated based on a proportion of the calculated interest accrued on the account. Note that the currency of the fee discount is expected to be the same as the currency of the fee itself. One of amount, balanceRate, transactionRate, accruedRate and feeRate is mandatory. Unless noted in additionalInfo, assumes the application and calculation frequency are the same as the corresponding fee"
        },
        "additionalInfo" : {
          "type" : "string",
          "description" : "Display text providing more information on the discount"
        },
        "additionalInfoUri" : {
          "type" : "string",
          "format" : "uri",
          "description" : "Link to a web page with more information on this discount",
          "x-cds-type" : "URIString"
        },
        "additionalValue" : {
          "type" : "string",
          "description" : "Generic field containing additional information relevant to the discountType specified. Whether mandatory or not is dependent on the value of discountType"
        },
        "amount" : {
          "type" : "string",
          "description" : "Value of the discount"
        },
        "balanceRate" : {
          "type" : "string",
          "description" : "A discount rate calculated based on a proportion of the balance. Note that the currency of the fee discount is expected to be the same as the currency of the fee itself. One of amount, balanceRate, transactionRate, accruedRate and feeRate is mandatory. Unless noted in additionalInfo, assumes the application and calculation frequency are the same as the corresponding fee"
        },
        "description" : {
          "type" : "string",
          "description" : "Description of the discount"
        },
        "discountType" : {
          "$ref" : "#/definitions/DiscountType"
        },
        "eligibility" : {
          "type" : "array",
          "description" : "Eligibility constraints that apply to this discount",
          "items" : {
            "$ref" : "#/definitions/BankingProductDiscountEligibility"
          }
        },
        "feeRate" : {
          "type" : "string",
          "description" : "A discount rate calculated based on a proportion of the fee to which this discount is attached. Note that the currency of the fee discount is expected to be the same as the currency of the fee itself. One of amount, balanceRate, transactionRate, accruedRate and feeRate is mandatory. Unless noted in additionalInfo, assumes the application and calculation frequency are the same as the corresponding fee"
        },
        "transactionRate" : {
          "type" : "string",
          "description" : "A discount rate calculated based on a proportion of a transaction. Note that the currency of the fee discount is expected to be the same as the currency of the fee itself. One of amount, balanceRate, transactionRate, accruedRate and feeRate is mandatory"
        }
      },
      "x-conditional" : [ "accruedRate", "additionalValue", "balanceRate", "feeRate", "transactionRate" ]
    },
    "BankingProductDiscountEligibility" : {
      "type" : "object",
      "required" : [ "discountEligibilityType" ],
      "properties" : {
        "additionalInfo" : {
          "type" : "string",
          "description" : "Display text providing more information on this eligibility constraint"
        },
        "additionalInfoUri" : {
          "type" : "string",
          "format" : "uri",
          "description" : "Link to a web page with more information on this eligibility constraint",
          "x-cds-type" : "URIString"
        },
        "additionalValue" : {
          "type" : "string",
          "description" : "Generic field containing additional information relevant to the discountEligibilityType specified. Whether mandatory or not is dependent on the value of discountEligibilityType"
        },
        "discountEligibilityType" : {
          "$ref" : "#/definitions/DiscountEligibilityType"
        }
      },
      "x-conditional" : [ "additionalValue" ]
    },
    "BankingProductEligibility" : {
      "type" : "object",
      "required" : [ "eligibilityType" ],
      "properties" : {
        "additionalInfo" : {
          "type" : "string",
          "description" : "Display text providing more information on the eligibility criteria. Mandatory if the eligibilityType field is set to OTHER"
        },
        "additionalInfoUri" : {
          "type" : "string",
          "format" : "uri",
          "description" : "Link to a web page with more information on this eligibility criteria",
          "x-cds-type" : "URIString"
        },
        "additionalValue" : {
          "type" : "string",
          "description" : "Generic field containing additional information relevant to the eligibilityType specified.  Whether mandatory or not is dependent on the value of eligibilityType"
        },
        "eligibilityType" : {
          "$ref" : "#/definitions/EligibilityType"
        }
      },
      "x-conditional" : [ "additionalInfo", "additionalValue" ]
    },
    "BankingProductFeature" : {
      "type" : "object",
      "required" : [ "featureType" ],
      "properties" : {
        "additionalInfo" : {
          "type" : "string",
          "description" : "Display text providing more information on the feature. Mandatory if the feature type is set to OTHER"
        },
        "additionalInfoUri" : {
          "type" : "string",
          "format" : "uri",
          "description" : "Link to a web page with more information on this feature",
          "x-cds-type" : "URIString"
        },
        "additionalValue" : {
          "type" : "string",
          "description" : "Generic field containing additional information relevant to the featureType specified. Whether mandatory or not is dependent on the value of featureType"
        },
        "featureType" : {
          "$ref" : "#/definitions/FeatureType"
        }
      },
      "x-conditional" : [ "additionalInfo", "additionalValue" ]
    },
    "BankingProductFee" : {
      "type" : "object",
      "required" : [ "amount", "feeType", "name" ],
      "properties" : {
        "accrualFrequency" : {
          "type" : "string",
          "description" : "The indicative frequency with which the fee is calculated on the account. Only applies if balanceRate or accruedRate is also present. Formatted according to [ISO 8601 Durations](https://en.wikipedia.org/wiki/ISO_8601#Durations)"
        },
        "accruedRate" : {
          "type" : "string",
          "description" : "A fee rate calculated based on a proportion of the calculated interest accrued on the account. One of amount, balanceRate, transactionRate and accruedRate is mandatory"
        },
        "additionalInfo" : {
          "type" : "string",
          "description" : "Display text providing more information on the fee"
        },
        "additionalInfoUri" : {
          "type" : "string",
          "format" : "uri",
          "description" : "Link to a web page with more information on this fee",
          "x-cds-type" : "URIString"
        },
        "additionalValue" : {
          "type" : "string",
          "description" : "Generic field containing additional information relevant to the feeType specified. Whether mandatory or not is dependent on the value of feeType"
        },
        "amount" : {
          "type" : "string",
          "description" : "The amount charged for the fee. One of amount, balanceRate, transactionRate and accruedRate is mandatory"
        },
        "balanceRate" : {
          "type" : "string",
          "description" : "A fee rate calculated based on a proportion of the balance. One of amount, balanceRate, transactionRate and accruedRate is mandatory"
        },
        "currency" : {
          "type" : "string",
          "description" : "The currency the fee will be charged in. Assumes AUD if absent"
        },
        "discounts" : {
          "type" : "array",
          "description" : "An optional list of discounts to this fee that may be available",
          "items" : {
            "$ref" : "#/definitions/BankingProductDiscount"
          }
        },
        "feeType" : {
          "$ref" : "#/definitions/FeeType"
        },
        "name" : {
          "type" : "string",
          "description" : "Name of the fee"
        },
        "transactionRate" : {
          "type" : "string",
          "description" : "A fee rate calculated based on a proportion of a transaction. One of amount, balanceRate, transactionRate and accruedRate is mandatory"
        }
      },
      "x-conditional" : [ "accruedRate", "additionalValue", "balanceRate", "transactionRate" ]
    },
    "BankingProductLendingRate" : {
      "type" : "object",
      "required" : [ "lendingRateType", "rate" ],
      "properties" : {
        "additionalInfo" : {
          "type" : "string",
          "description" : "Display text providing more information on the rate."
        },
        "additionalInfoUri" : {
          "type" : "string",
          "format" : "uri",
          "description" : "Link to a web page with more information on this rate",
          "x-cds-type" : "URIString"
        },
        "additionalValue" : {
          "type" : "string",
          "description" : "Generic field containing additional\ninformation relevant to the\nlendingRateType specified. Whether\nmandatory or not is dependent on the\nvalue of lendingRateType"
        },
        "applicationFrequency" : {
          "type" : "string",
          "description" : "The period after which the calculated amount(s) (see calculationFrequency) are 'applied' (i.e. debited or credited) to the account. Formatted according to [ISO 8601 Durations](https://en.wikipedia.org/wiki/ISO_8601#Durations)"
        },
        "calculationFrequency" : {
          "type" : "string",
          "description" : "The period after which the rate is applied to the balance to calculate the amount due for the period. Calculation of the amount is often daily (as balances may change) but accumulated until the total amount is 'applied' to the account (see applicationFrequency). Formatted according to [ISO 8601 Durations](https://en.wikipedia.org/wiki/ISO_8601#Durations)"
        },
        "comparisonRate" : {
          "type" : "string",
          "description" : "A comparison rate equivalent for this rate"
        },
        "interestPaymentDue" : {
          "$ref" : "#/definitions/InterestPaymentDue"
        },
        "lendingRateType" : {
          "$ref" : "#/definitions/LendingRateType"
        },
        "rate" : {
          "type" : "string",
          "description" : "The rate to be applied"
        },
        "tiers" : {
          "type" : "array",
          "description" : "Rate tiers applicable for this rate",
          "items" : {
            "$ref" : "#/definitions/BankingProductRateTier"
          }
        }
      },
      "x-conditional" : [ "additionalValue" ]
    },
    "BankingProductRateCondition" : {
      "type" : "object",
      "properties" : {
        "additionalInfo" : {
          "type" : "string",
          "description" : "Display text providing more information on the condition"
        },
        "additionalInfoUri" : {
          "type" : "string",
          "format" : "uri",
          "description" : "Link to a web page with more information on this condition",
          "x-cds-type" : "URIString"
        }
      },
      "description" : "Defines a condition for the applicability of a tiered rate"
    },
    "BankingProductRateTier" : {
      "type" : "object",
      "required" : [ "maximumValue", "minimumValue", "name", "unitOfMeasure" ],
      "properties" : {
        "applicabilityConditions" : {
          "$ref" : "#/definitions/BankingProductRateCondition"
        },
        "maximumValue" : {
          "type" : "number",
          "description" : "The number of tierUnitOfMeasure units that form the upper bound of the tier or band. For a tier with a discrete value (as opposed to a range of values e.g. 1 month) this must be the same as tierValueMinimum. Where this is the same as the tierValueMinimum value of the next-higher tier the referenced tier should be exclusive of this value. For example a term deposit of 2 months falls into the upper tier of the following tiers: (1 – 2 months, 2 – 3 months)"
        },
        "minimumValue" : {
          "type" : "number",
          "description" : "The number of tierUnitOfMeasure units that form the lower bound of the tier. The tier should be inclusive of this value"
        },
        "name" : {
          "type" : "string",
          "description" : "A display name for the tier"
        },
        "rateApplicationMethod" : {
          "$ref" : "#/definitions/RateApplicationMethod"
        },
        "subTier" : {
          "$ref" : "#/definitions/BankingProductRateTierSubTier"
        },
        "unitOfMeasure" : {
          "$ref" : "#/definitions/UnitOfMeasure"
        }
      },
      "description" : "Defines the criteria and conditions for which a rate applies"
    },
    "BankingProductRateTierSubTier" : {
      "type" : "object",
      "required" : [ "maximumValue", "minimumValue", "name", "unitOfMeasure" ],
      "properties" : {
        "applicabilityConditions" : {
          "$ref" : "#/definitions/BankingProductRateCondition"
        },
        "maximumValue" : {
          "type" : "number",
          "description" : "The number of tierUnitOfMeasure units that form the upper bound of the tier or band. For a tier with a discrete value (as opposed to a range of values e.g. 1 month) this must be the same as tierValueMinimum. Where this is the same as the tierValueMinimum value of the next-higher tier the referenced tier should be exclusive of this value. For example a term deposit of 2 months falls into the upper tier of the following tiers: (1 – 2 months, 2 – 3 months)"
        },
        "minimumValue" : {
          "type" : "number",
          "description" : "The number of tierUnitOfMeasure units that form the lower bound of the tier. The tier should be inclusive of this value"
        },
        "name" : {
          "type" : "string",
          "description" : "A display name for the tier"
        },
        "rateApplicationMethod" : {
          "$ref" : "#/definitions/RateApplicationMethod"
        },
        "unitOfMeasure" : {
          "$ref" : "#/definitions/UnitOfMeasure"
        }
      },
      "description" : "Defines the sub-tier criteria and conditions for which a rate applies"
    },
    "BankingTermDepositAccount" : {
      "type" : "object",
      "required" : [ "lodgementDate", "maturityDate", "maturityInstructions" ],
      "properties" : {
        "lodgementDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "The lodgement date of the original deposit",
          "x-cds-type" : "DateString"
        },
        "maturityAmount" : {
          "type" : "string",
          "description" : "Amount to be paid upon maturity. If absent it implies the amount to paid is variable and cannot currently be calculated"
        },
        "maturityCurrency" : {
          "type" : "string",
          "description" : "If absent assumes AUD"
        },
        "maturityDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "Maturity date for the term deposit",
          "x-cds-type" : "DateString"
        },
        "maturityInstructions" : {
          "$ref" : "#/definitions/MaturityInstructions"
        }
      }
    },
    "BankingTransaction" : {
      "type" : "object",
      "required" : [ "accountId", "description", "isDetailAvailable", "reference", "status", "type" ],
      "properties" : {
        "accountId" : {
          "type" : "string",
          "description" : "A unique ID of the account adhering to the standards for ID permanence"
        },
        "amount" : {
          "type" : "string",
          "description" : "The value of the transaction. Negative values mean money was outgoing from the account"
        },
        "apcaNumber" : {
          "type" : "string",
          "description" : "6 Digit APCA number for the initiating institution"
        },
        "billerCode" : {
          "type" : "string",
          "description" : "BPay Biller Code for the transaction (if available)"
        },
        "billerName" : {
          "type" : "string",
          "description" : "Name of the BPay biller for the transaction (if available)"
        },
        "crn" : {
          "type" : "string",
          "description" : "BPay CRN for the transaction (if available)"
        },
        "currency" : {
          "type" : "string",
          "description" : "The currency for the transaction amount. AUD assumed if not present"
        },
        "description" : {
          "type" : "string",
          "description" : "The transaction description as applied by the financial institution"
        },
        "executionDateTime" : {
          "type" : "string",
          "format" : "date-time",
          "description" : "The time the transaction was executed by the originating customer, if available",
          "x-cds-type" : "DateTimeString"
        },
        "isDetailAvailable" : {
          "type" : "boolean",
          "description" : "True if extended information is available using the transaction detail end point. False if extended data is not available"
        },
        "merchantCategoryCode" : {
          "type" : "string",
          "description" : "The merchant category code (or MCC) for an outgoing payment to a merchant"
        },
        "merchantName" : {
          "type" : "string",
          "description" : "Name of the merchant for an outgoing payment to a merchant"
        },
        "postingDateTime" : {
          "type" : "string",
          "format" : "date-time",
          "description" : "The time the transaction was posted. This field is mandatory if the transaction has status POSTED. This is the time that appears on a standard statement",
          "x-cds-type" : "DateTimeString"
        },
        "reference" : {
          "type" : "string",
          "description" : "The reference for the transaction provided by the originating institution.  Empty string if no data provided"
        },
        "status" : {
          "$ref" : "#/definitions/Status"
        },
        "transactionId" : {
          "type" : "string",
          "description" : "A unique ID of the transaction adhering to the standards for ID permanence. This is mandatory (through hashing if necessary) unless there are specific and justifiable technical reasons why a transaction cannot be uniquely identified for a particular account type"
        },
        "type" : {
          "$ref" : "#/definitions/Type"
        },
        "valueDateTime" : {
          "type" : "string",
          "format" : "date-time",
          "description" : "Date and time at which assets become available to the account owner in case of a credit entry, or cease to be available to the account owner in case of a debit transaction entry",
          "x-cds-type" : "DateTimeString"
        }
      },
      "x-conditional" : [ "postingDateTime", "transactionId" ]
    },
    "BankingTransactionDetail" : {
      "allOf" : [ {
        "$ref" : "#/definitions/BankingTransaction"
      }, {
        "type" : "object",
        "required" : [ "extendedData" ],
        "properties" : {
          "extendedData" : {
            "$ref" : "#/definitions/BankingTransactionDetailExtendedData"
          }
        }
      } ]
    },
    "BankingTransactionDetailExtendedData" : {
      "type" : "object",
      "properties" : {
        "extendedDescription" : {
          "type" : "string",
          "description" : "An extended string description. Only present if specified by the extensionUType field"
        },
        "extensionUType" : {
          "$ref" : "#/definitions/ExtensionUType"
        },
        "payee" : {
          "type" : "string",
          "description" : "Name or description of the target payee. Mandatory for an outbound payment"
        },
        "payer" : {
          "type" : "string",
          "description" : "Name or description of the originating payer.  Mandatory for inbound payment"
        },
        "serviceId" : {
          "$ref" : "#/definitions/ServiceId"
        }
      }
    },
    "CommonCurrencyAmount" : {
      "type" : "object",
      "required" : [ "amount" ],
      "properties" : {
        "amount" : {
          "type" : "string",
          "description" : "The current balance of the account at this time. Should align to the current balance available via other channels such as ATM balance enquiry or Internet Banking"
        },
        "currency" : {
          "type" : "string",
          "description" : "If not present assumes AUD"
        }
      }
    },
    "CommonEmailAddress" : {
      "type" : "object",
      "required" : [ "address", "isPreferred", "purpose" ],
      "properties" : {
        "address" : {
          "type" : "string",
          "description" : "A correctly formatted email address, as defined by the addr_spec format in RFC_5322"
        },
        "isPreferred" : {
          "type" : "boolean",
          "description" : "Required for one and only one email record in the collection. Denotes the default email address"
        },
        "purpose" : {
          "$ref" : "#/definitions/Purpose"
        }
      }
    },
    "CommonOrganisation" : {
      "type" : "object",
      "required" : [ "agentLastName", "agentRole", "businessName", "lastUpdateTime", "organisationType" ],
      "properties" : {
        "abn" : {
          "type" : "string",
          "description" : "Australian Business Number for the organisation"
        },
        "acn" : {
          "type" : "string",
          "description" : "Australian Company Number for the organisation. Required only if an ACN is applicable for the organisation type"
        },
        "agentFirstName" : {
          "type" : "string",
          "description" : "The first name of the individual providing access on behalf of the organisation. For people with single names this field need not be present.  The single name should be in the lastName field"
        },
        "agentLastName" : {
          "type" : "string",
          "description" : "The last name of the individual providing access on behalf of the organisation. For people with single names the single name should be in this field"
        },
        "agentRole" : {
          "type" : "string",
          "description" : "The role of the individual identified as the agent who is providing authorisation.  Expected to be used for display.  Default to “Unspecified” if the role is not known"
        },
        "businessName" : {
          "type" : "string",
          "description" : "Name of the organisation"
        },
        "establishmentDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "The date the organisation described was established",
          "x-cds-type" : "DateString"
        },
        "industryCode" : {
          "type" : "string",
          "description" : "[ANZSIC (2006)](http://www.abs.gov.au/anzsic) code for the organisation."
        },
        "isACNCRegistered" : {
          "type" : "boolean",
          "description" : "True if registered with the ACNC.  False if not. Absent or null if not confirmed."
        },
        "lastUpdateTime" : {
          "type" : "string",
          "format" : "date-time",
          "description" : "The date and time that this record was last updated by the customer. If no update has occurred then this date should reflect the initial creation date for the data",
          "x-cds-type" : "DateTimeString"
        },
        "legalName" : {
          "type" : "string",
          "description" : "Legal name, if different to the business name"
        },
        "organisationType" : {
          "$ref" : "#/definitions/OrganisationType"
        },
        "registeredCountry" : {
          "type" : "string",
          "description" : "Enumeration with values from ISO 3166 Alpha-3 country codes.  Assumed to be AUS if absent"
        },
        "shortName" : {
          "type" : "string",
          "description" : "Short name used for communication, if  different to the business name"
        }
      }
    },
    "CommonOrganisationDetail" : {
      "allOf" : [ {
        "$ref" : "#/definitions/CommonOrganisation"
      }, {
        "type" : "object",
        "required" : [ "physicalAddresses" ],
        "properties" : {
          "physicalAddresses" : {
            "type" : "array",
            "description" : "Must contain at least one address. One and only one address may have the purpose of REGISTERED. Zero or one, and no more than one, record may have the purpose of MAIL. If zero then the REGISTERED address is to be used for mail",
            "items" : {
              "$ref" : "#/definitions/CommonPhysicalAddressWithPurpose"
            }
          }
        }
      } ]
    },
    "CommonPAFAddress" : {
      "type" : "object",
      "required" : [ "localityName", "postcode", "state" ],
      "properties" : {
        "buildingName1" : {
          "type" : "string",
          "description" : "Building/Property name 1"
        },
        "buildingName2" : {
          "type" : "string",
          "description" : "Building/Property name 2"
        },
        "dpid" : {
          "type" : "string",
          "description" : "Unique identifier for an address as defined by Australia Post.  Also known as Delivery Point Identifier"
        },
        "flatUnitNumber" : {
          "type" : "string",
          "description" : "Unit number (including suffix, if applicable)"
        },
        "floorLevelNumber" : {
          "type" : "string",
          "description" : "Floor or level number (including alpha characters)"
        },
        "localityName" : {
          "type" : "string",
          "description" : "Full name of locality"
        },
        "lotNumber" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "Allotment number for the address"
        },
        "postalDeliveryNumber" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "Postal delivery number if the address is a postal delivery type"
        },
        "postalDeliveryNumberPrefix" : {
          "type" : "string",
          "description" : "Postal delivery number prefix related to the postal delivery number"
        },
        "postalDeliveryNumberSuffix" : {
          "type" : "string",
          "description" : "Postal delivery number suffix related to the postal delivery number"
        },
        "postalDeliveryType" : {
          "type" : "string",
          "description" : "Postal delivery type. (eg. PO BOX). Valid enumeration defined by Australia Post PAF code file"
        },
        "postcode" : {
          "type" : "string",
          "description" : "Postcode for the locality"
        },
        "state" : {
          "type" : "string",
          "description" : "State in which the address belongs. Valid enumeration defined by Australia Post PAF code file"
        },
        "streetName" : {
          "type" : "string",
          "description" : "The name of the street"
        },
        "streetSuffix" : {
          "type" : "string",
          "description" : "The street type suffix. Valid enumeration defined by Australia Post PAF code file"
        },
        "streetType" : {
          "type" : "string",
          "description" : "The street type. Valid enumeration defined by Australia Post PAF code file"
        },
        "thoroughfareNumber1" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "Thoroughfare number for a property (first number in a property ranged address)"
        },
        "thoroughfareNumber1Suffix" : {
          "type" : "string",
          "description" : "Suffix for the thoroughfare number. Only relevant is thoroughfareNumber1 is populated"
        },
        "thoroughfareNumber2" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "Second thoroughfare number (only used if the property has a ranged address eg 23-25)"
        },
        "thoroughfareNumber2Suffix" : {
          "type" : "string",
          "description" : "Suffix for the second thoroughfare number. Only relevant is thoroughfareNumber2 is populated"
        }
      },
      "description" : "Australian address formatted according to the file format defined by the [PAF file format](https://auspost.com.au/content/dam/auspost_corp/media/documents/australia-post-data-guide.pdf)"
    },
    "CommonPerson" : {
      "type" : "object",
      "required" : [ "lastName", "lastUpdateTime", "middleNames" ],
      "properties" : {
        "firstName" : {
          "type" : "string",
          "description" : "For people with single names this field need not be present.  The single name should be in the lastName field"
        },
        "lastName" : {
          "type" : "string",
          "description" : "For people with single names the single name should be in this field"
        },
        "lastUpdateTime" : {
          "type" : "string",
          "format" : "date-time",
          "description" : "The date and time that this record was last updated by the customer.  If no update has occurred then this date should reflect the initial creation date for the data",
          "x-cds-type" : "DateTimeString"
        },
        "middleNames" : {
          "type" : "array",
          "description" : "Field is mandatory but array may be empty",
          "items" : {
            "type" : "string"
          }
        },
        "occupationCode" : {
          "type" : "string",
          "description" : "Value is a valid [ANZCO v1.2](http://www.abs.gov.au/ANZSCO) Standard Occupation classification."
        },
        "prefix" : {
          "type" : "string",
          "description" : "Also known as title or salutation.  The prefix to the name (e.g. Mr, Mrs, Ms, Miss, Sir, etc)"
        },
        "suffix" : {
          "type" : "string",
          "description" : "Used for a trailing suffix to the name (e.g. Jr)"
        }
      }
    },
    "CommonPersonDetail" : {
      "allOf" : [ {
        "$ref" : "#/definitions/CommonPerson"
      }, {
        "type" : "object",
        "required" : [ "emailAddresses", "phoneNumbers", "physicalAddresses" ],
        "properties" : {
          "emailAddresses" : {
            "type" : "array",
            "description" : "May be empty",
            "items" : {
              "$ref" : "#/definitions/CommonEmailAddress"
            }
          },
          "phoneNumbers" : {
            "type" : "array",
            "description" : "At least one record is required",
            "items" : {
              "$ref" : "#/definitions/CommonPhoneNumber"
            }
          },
          "physicalAddresses" : {
            "type" : "array",
            "description" : "Must contain at least one address. One and only one address may have the purpose of REGISTERED. Zero or one, and no more than one, record may have the purpose of MAIL. If zero then the REGISTERED address is to be used for mail",
            "items" : {
              "$ref" : "#/definitions/CommonPhysicalAddressWithPurpose"
            }
          }
        }
      } ]
    },
    "CommonPhoneNumber" : {
      "type" : "object",
      "required" : [ "fullNumber", "number", "purpose" ],
      "properties" : {
        "areaCode" : {
          "type" : "string",
          "description" : "Required for non Mobile Phones, if field is present and refers to Australian code - the leading 0 should be omitted."
        },
        "countryCode" : {
          "type" : "string",
          "description" : "If absent, assumed to be Australia (+61). The + should be included"
        },
        "extension" : {
          "type" : "string",
          "description" : "An extension number (if applicable)"
        },
        "fullNumber" : {
          "type" : "string",
          "description" : "Fully formatted phone number with country code, area code, number and extension incorporated. Formatted according to section 5.1.4. of RFC 3966"
        },
        "isPreferred" : {
          "type" : "boolean",
          "description" : "Required to be true for one and only one entry to indicate the preferred phone number.  Assumed to be 'false' if not present"
        },
        "number" : {
          "type" : "string",
          "description" : "The actual phone number, with leading zeros as appropriate"
        },
        "purpose" : {
          "$ref" : "#/definitions/Purpose"
        }
      },
      "x-conditional" : [ "areaCode", "isPreferred" ]
    },
    "CommonPhysicalAddress" : {
      "type" : "object",
      "required" : [ "addressUType" ],
      "properties" : {
        "addressUType" : {
          "$ref" : "#/definitions/AddressUType"
        },
        "paf" : {
          "$ref" : "#/definitions/CommonPAFAddress"
        },
        "simple" : {
          "$ref" : "#/definitions/CommonSimpleAddress"
        }
      },
      "x-conditional" : [ "paf", "simple" ]
    },
    "CommonPhysicalAddressWithPurpose" : {
      "allOf" : [ {
        "$ref" : "#/definitions/CommonPhysicalAddress"
      }, {
        "type" : "object",
        "required" : [ "purpose" ],
        "properties" : {
          "purpose" : {
            "$ref" : "#/definitions/Purpose"
          }
        }
      } ]
    },
    "CommonSimpleAddress" : {
      "type" : "object",
[...]
